Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-45777][CORE] Support `spark.test.appId` in `LocalSchedulerBackend`
  core/src/main/scala/org/apache/spark/scheduler/local/LocalSchedulerBackend.scala
Due: language-matters

jira
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

[SPARK-45730][CORE] Make ReloadingX509TrustManagerSuite less flaky
  common/network-common/src/test/java/org/apache/spark/network/ssl/ReloadingX509TrustManagerSuite.java
Due: language-matters

Address comments
  core/src/main/scala/org/apache/spark/scheduler/local/LocalSchedulerBackend.scala
Due: language-matters

core src part
  common/utils/src/main/scala/org/apache/spark/util/MavenUtils.scala
  core/src/main/scala/org/apache/spark/ExecutorAllocationClient.scala
  core/src/main/scala/org/apache/spark/SparkConf.scala
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/main/scala/org/apache/spark/SparkEnv.scala
  core/src/main/scala/org/apache/spark/api/java/JavaRDDLike.scala
  core/src/main/scala/org/apache/spark/api/r/RRDD.scala
  core/src/main/scala/org/apache/spark/deploy/Client.scala
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
  core/src/main/scala/org/apache/spark/deploy/SparkSubmit.scala
  core/src/main/scala/org/apache/spark/deploy/StandaloneResourceUtils.scala
  core/src/main/scala/org/apache/spark/deploy/history/FsHistoryProvider.scala
  core/src/main/scala/org/apache/spark/deploy/master/FileSystemPersistenceEngine.scala
  core/src/main/scala/org/apache/spark/deploy/master/Master.scala
  core/src/main/scala/org/apache/spark/deploy/master/WorkerInfo.scala
  core/src/main/scala/org/apache/spark/executor/ProcfsMetricsGetter.scala
  core/src/main/scala/org/apache/spark/internal/io/SparkHadoopWriter.scala
  core/src/main/scala/org/apache/spark/rdd/CoalescedRDD.scala
  core/src/main/scala/org/apache/spark/rdd/HadoopRDD.scala
  core/src/main/scala/org/apache/spark/rdd/LocalRDDCheckpointData.scala
  core/src/main/scala/org/apache/spark/rdd/NewHadoopRDD.scala
  core/src/main/scala/org/apache/spark/rdd/PairRDDFunctions.scala
  core/src/main/scala/org/apache/spark/rdd/RDD.scala
  core/src/main/scala/org/apache/spark/resource/ResourceInformation.scala
  core/src/main/scala/org/apache/spark/resource/ResourceUtils.scala
  core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala
  core/src/main/scala/org/apache/spark/scheduler/MergeStatus.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/main/scala/org/apache/spark/status/AppStatusStore.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/BlockManagerMasterEndpoint.scala
  core/src/main/scala/org/apache/spark/storage/DiskBlockManager.scala
  core/src/main/scala/org/apache/spark/util/DependencyUtils.scala
  core/src/main/scala/org/apache/spark/util/HadoopFSUtils.scala
  core/src/main/scala/org/apache/spark/util/JsonProtocol.scala
  core/src/main/scala/org/apache/spark/util/Utils.scala
  core/src/main/scala/org/apache/spark/util/logging/RollingFileAppender.scala
Due: language-matters

fix missing code
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
Due: language-matters

Rename to spark.master.ui.historyServerUrl
  core/src/main/scala/org/apache/spark/deploy/master/Master.scala
  core/src/main/scala/org/apache/spark/internal/config/UI.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
Due: language-matters

[SPARK-45742][CORE][FOLLOWUP] Remove unnecessary null check from `ArrayImplicits.SparkArrayOps#toImmutableArraySeq`
  common/utils/src/main/scala/org/apache/spark/util/ArrayImplicits.scala
Due: language-matters

keep Long internal
  core/src/main/scala/org/apache/spark/deploy/master/WorkerInfo.scala
  core/src/main/scala/org/apache/spark/resource/ResourceAllocator.scala
  core/src/main/scala/org/apache/spark/scheduler/ExecutorResourcesAmounts.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskDescription.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSchedulerImpl.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSetManager.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/test/scala/org/apache/spark/executor/CoarseGrainedExecutorBackendSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/CoarseGrainedSchedulerBackendSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/ExecutorResourceInfoSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/ExecutorResourcesAmountsSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskDescriptionSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSchedulerImplSuite.scala
Due: language-matters

[SPARK-44843][TESTS] Double streamingTimeout for StateStoreMetricsTest to make RocksDBStateStore related streaming tests reliable
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StateStoreMetricsTest.scala
Due: language-matters

core test part
  core/src/test/scala/org/apache/spark/CheckpointSuite.scala
  core/src/test/scala/org/apache/spark/FileSuite.scala
  core/src/test/scala/org/apache/spark/PartitioningSuite.scala
  core/src/test/scala/org/apache/spark/ShuffleSuite.scala
  core/src/test/scala/org/apache/spark/SparkContextInfoSuite.scala
  core/src/test/scala/org/apache/spark/SparkContextSuite.scala
  core/src/test/scala/org/apache/spark/UnpersistSuite.scala
  core/src/test/scala/org/apache/spark/deploy/DecommissionWorkerSuite.scala
  core/src/test/scala/org/apache/spark/deploy/StandaloneDynamicAllocationSuite.scala
  core/src/test/scala/org/apache/spark/deploy/client/AppClientSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/EventLogFileWritersSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/HistoryServerSuite.scala
  core/src/test/scala/org/apache/spark/deploy/rest/StandaloneRestSubmitSuite.scala
  core/src/test/scala/org/apache/spark/rdd/DoubleRDDSuite.scala
  core/src/test/scala/org/apache/spark/rdd/PairRDDFunctionsSuite.scala
  core/src/test/scala/org/apache/spark/rdd/ParallelCollectionSplitSuite.scala
  core/src/test/scala/org/apache/spark/rdd/PartitionwiseSampledRDDSuite.scala
  core/src/test/scala/org/apache/spark/rdd/PipedRDDSuite.scala
  core/src/test/scala/org/apache/spark/rdd/RDDSuite.scala
  core/src/test/scala/org/apache/spark/rdd/SortingSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/DAGSchedulerSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/EventLoggingListenerSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/ExecutorResourceInfoSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskContextSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSetManagerSuite.scala
  core/src/test/scala/org/apache/spark/serializer/KryoSerializerSuite.scala
  core/src/test/scala/org/apache/spark/status/ListenerEventsTestHelper.scala
  core/src/test/scala/org/apache/spark/storage/BlockManagerDecommissionIntegrationSuite.scala
  core/src/test/scala/org/apache/spark/storage/BlockManagerSuite.scala
  core/src/test/scala/org/apache/spark/util/ClosureCleanerSuite.scala
  core/src/test/scala/org/apache/spark/util/MutableURLClassLoaderSuite.scala
Due: language-matters

sql api src part
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/JavaTypeInference.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/alreadyExistException.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/noSuchItemsExceptions.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/encoders/RowEncoder.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/expressions/rows.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/api/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
Due: language-matters

catalyst test part
  sql/catalyst/src/test/scala/org/apache/spark/sql/RandomDataGenerator.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/RowTest.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/CreateTablePartitioningValidationSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/HashExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/MutableProjectionSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/OrderingSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/UnsafeRowConverterSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/aggregate/ApproxCountDistinctForIntervalsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/codegen/GeneratedProjectionSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/statsEstimation/BasicStatsEstimationSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/GenericArrayDataBenchmark.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryAtomicPartitionTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryBaseTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTableWithV2Filter.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/expressions/TransformExtractorSuite.scala
Due: language-matters

[SPARK-45776][CORE] Remove the defensive null check for `MapOutputTrackerMaster#unregisterShuffle` added in SPARK-39553
  core/src/main/scala/org/apache/spark/MapOutputTracker.scala
Due: language-matters

update
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

style
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

minor patch and add ut
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/ExecuteEventsManager.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/ExecuteEventsManagerSuite.scala
Due: language-matters

minor patch
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/ExecuteEventsManager.scala
Due: language-matters

minor patch
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/ExecuteEventsManagerSuite.scala
Due: language-matters

correct my mistake
  sql/README.md
Due: language-matters, markdownlint

typo
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableDropPartitionSuiteBase.scala
Due: language-matters

propagate all threadlocals
  python/pyspark/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-33393][SQL] Support SHOW TABLE EXTENDED in v2
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExtendedExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTablesSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/ShowTablesSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/ShowTablesSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/ShowTablesSuite.scala
Due: language-matters

make it stable
  connector/connect/common/src/test/resources/query-tests/explain-results/function_count_if.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_substr.explain
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteWithExpression.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteWithExpressionSuite.scala
Due: language-matters

python lint
  python/pyspark/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45774][CORE][UI] Support `spark.master.ui.historyServerUrl` in `ApplicationPage`
  core/src/main/scala/org/apache/spark/deploy/master/Master.scala
  core/src/main/scala/org/apache/spark/deploy/master/ui/ApplicationPage.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/test/scala/org/apache/spark/deploy/master/ui/ApplicationPageSuite.scala
Due: language-matters

[SPARK-45688][SPARK-45693][CORE] Clean up the deprecated API usage related to `MapOps` & Fix `method += in trait Growable is deprecated`
  core/src/main/scala/org/apache/spark/deploy/SparkSubmit.scala
  core/src/main/scala/org/apache/spark/deploy/worker/CommandUtils.scala
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/scheduler/cluster/YarnClientSchedulerBackend.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/JoinEstimation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DescribeNamespaceExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalogSuite.scala
Due: language-matters

init
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

Fix Connect DF test
  python/pyspark/sql/tests/test_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45779][INFRA] Add a check step for jira issue ticket to be resolved
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Fix Scala DF test
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

init
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/xml/XSDToSchema.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/util/XSDToSchemaSuite.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
