Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-47196][CORE][BUILD] Fix `core` module to succeed SBT tests
  pom.xml
Due: language-matters

Add quotes to collated string datatype to fix parsing errors
  connector/connect/common/src/test/resources/query-tests/explain-results/select_collated_string.explain
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.json
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.proto.bin
  sql/api/src/main/scala/org/apache/spark/sql/types/DataType.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
Due: language-matters

remove warning category
  core/src/main/scala/org/apache/spark/util/collection/OpenHashSet.scala
Due: language-matters

Change to address Bhuwan's comments
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ExpiredTimerInfo.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessor.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ExpiredTimerInfoImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TimerStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDB.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithListStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateSuite.scala
Due: language-matters, provider-yamls, markdownlint

fix error class docs
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

Add quotes to collated string datatype
  python/pyspark/sql/types.py
  sql/api/src/main/scala/org/apache/spark/sql/types/DataType.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Increase timeout even more, and reduce the resource usage
  connector/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaContinuousSourceSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSchedulerImplSuite.scala
Due: language-matters

[SPARK-47197] Failed to connect HiveMetastore when using iceberg with HiveCatalog on spark-sql or spark-shell
  sql/hive/src/main/scala/org/apache/spark/sql/hive/security/HiveDelegationTokenProvider.scala
Due: language-matters

add failure test
  python/pyspark/sql/datasource.py
  python/pyspark/sql/worker/python_streaming_sink_runner.py
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonStreamingDataSourceSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add prefix into TemporaryDirectory to avoid flakiness
  dev/connect-check-protos.py
  python/pyspark/broadcast.py
  python/pyspark/context.py
  python/pyspark/files.py
  python/pyspark/ml/tests/connect/test_legacy_mode_classification.py
  python/pyspark/ml/tests/connect/test_legacy_mode_evaluation.py
  python/pyspark/ml/tests/connect/test_legacy_mode_feature.py
  python/pyspark/ml/tests/connect/test_legacy_mode_pipeline.py
  python/pyspark/ml/tests/connect/test_legacy_mode_tuning.py
  python/pyspark/ml/tests/test_als.py
  python/pyspark/rdd.py
  python/pyspark/sql/catalog.py
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/protobuf/functions.py
  python/pyspark/sql/readwriter.py
  python/pyspark/sql/session.py
  python/pyspark/sql/streaming/readwriter.py
  python/pyspark/sql/tests/connect/client/test_artifact.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/streaming/test_streaming.py
  python/pyspark/sql/tests/test_catalog.py
  python/pyspark/sql/tests/test_python_datasource.py
  python/pyspark/sql/tests/test_udf_profiler.py
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/tests/test_install_spark.py
  python/pyspark/tests/test_memory_profiler.py
  python/pyspark/tests/test_profiler.py
  python/pyspark/tests/test_shuffle.py
  python/pyspark/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

foreachbatch func error
  common/utils/src/main/resources/error/error-classes.json
  python/pyspark/sql/tests/streaming/test_streaming_foreach_batch.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/ForeachBatchSink.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/ForeachBatchSinkSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

err doc
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-45527][SPARK-47185][SS][TESTS][FOLLOW-UP] Increase timeout more, and reduce the resource usage
  connector/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaContinuousSourceSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSchedulerImplSuite.scala
Due: language-matters

Address comments
  sql/api/src/main/scala/org/apache/spark/sql/errors/QueryParsingErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
Due: language-matters

Address comments
  python/pyspark/sql/readwriter.py
  python/pyspark/sql/streaming/readwriter.py
  python/pyspark/sql/tests/streaming/test_streaming.py
  python/pyspark/tests/test_shuffle.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Change to address Bhuwan's comments
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/StatefulProcessorHandleSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-47196][CORE][BUILD][3.4] Fix `core` module to succeed SBT tests
  pom.xml
Due: language-matters

[SPARK-47186][DOCKER][TESTS] Add some timeouts options and logs to improve the debuggability for docker integration test
  connector/docker-integration-tests/README.md
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DockerJDBCIntegrationSuite.scala
Due: language-matters, markdownlint

[SPARK-45599][CORE][3.5] Use object equality in OpenHashSet
  core/src/main/scala/org/apache/spark/util/collection/OpenHashSet.scala
  core/src/test/scala/org/apache/spark/util/collection/OpenHashMapSuite.scala
  core/src/test/scala/org/apache/spark/util/collection/OpenHashSetSuite.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/ansi/literals.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/array.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/group-by.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/literals.sql.out
  sql/core/src/test/resources/sql-tests/inputs/array.sql
  sql/core/src/test/resources/sql-tests/inputs/group-by.sql
  sql/core/src/test/resources/sql-tests/inputs/literals.sql
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/ansi/literals.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
  sql/core/src/test/resources/sql-tests/results/group-by.sql.out
  sql/core/src/test/resources/sql-tests/results/literals.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

done
  python/pyspark/sql/pandas/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47201][PYTHON][CONNECT] sameSemantics` checks input types
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/tests/connect/test_parity_dataframe.py
  python/pyspark/sql/tests/test_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43255][SQL]Replace the error class _LEGACY_ERROR_TEMP_2020 by an internal error
  common/utils/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

improve
  docs/sql-ref-syntax-aux-show-tables.md
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableCatalog.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/functions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/views.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowFunctionsExec.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-46525][FOLLOWUP] Cleanup http client deps for spotify docker client
  connector/docker-integration-tests/pom.xml
Due: language-matters

[SPARK-47203][DOCKER][TEST] Use gvenzl/oracle-free:23.3-slim to reduce disk usage for docker it
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/OracleDatabaseOnDocker.scala
Due: language-matters

init
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

typo
  python/pyspark/sql/readwriter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47063][SQL] CAST long to timestamp has different behavior for codegen vs interpreted
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Cast.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastWithAnsiOffSuite.scala
Due: language-matters

test barrier mode for mapInPandas/mapInArrow
  python/pyspark/sql/tests/pandas/test_pandas_map.py
  python/pyspark/sql/tests/test_arrow_map.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

typo
  python/pyspark/sql/streaming/readwriter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47144][CONNECT][SQL][PYTHON] Fix Spark Connect collation error by adding collateId protobuf field
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/main/protobuf/spark/connect/types.proto
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/common/DataTypeProtoConverter.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/select_collated_string.explain
  connector/connect/common/src/test/resources/query-tests/queries/csv_from_dataset.json
  connector/connect/common/src/test/resources/query-tests/queries/csv_from_dataset.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_lit_array.json
  connector/connect/common/src/test/resources/query-tests/queries/function_lit_array.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_typedLit.json
  connector/connect/common/src/test/resources/query-tests/queries/function_typedLit.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/json_from_dataset.json
  connector/connect/common/src/test/resources/query-tests/queries/json_from_dataset.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.json
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.proto.bin
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
  python/pyspark/sql/connect/proto/types_pb2.py
  python/pyspark/sql/connect/proto/types_pb2.pyi
  sql/api/src/main/scala/org/apache/spark/sql/types/DataType.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47202][PYTHON] Fix typo breaking datetimes with tzinfo
  python/pyspark/sql/pandas/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46525][BUILD][TESTS][FOLLOWUP] Cleanup http client deps for spotify docker client
  connector/docker-integration-tests/pom.xml
Due: language-matters

[SPARK-47187][SQL][3.4] Fix hive compress output config does not work
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/V1WritesHiveUtils.scala
Due: language-matters

[SPARK-47191][SQL] Avoid unnecessary relation lookup when uncaching table/view
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Implicits.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/CacheManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/CommandUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/views.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/InsertIntoHiveTable.scala
Due: language-matters

[SPARK-47155] Fix Error Class Issue
  python/pyspark/errors/error_classes.py
  python/pyspark/sql/worker/create_data_source.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
