Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Try to fix build again
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/PathOutputCommitProtocol.scala
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/PathOutputNamingProtocol.scala
Due: language-matters

Fix package version in ``LICENSE`` file (#16514)
  LICENSE
Due: language-matters, check-apache-license

Chart: Support ``extraContainers`` and ``extraVolumes`` in flower (#16515)
  chart/templates/flower/flower-deployment.yaml
  chart/tests/test_flower.py
  chart/values.schema.json
  chart/values.yaml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, mypy, pylint, flake8

[SPARK-35678][ML][FOLLOWUP] softmax support offset and step
  mllib-local/src/main/scala/org/apache/spark/ml/impl/Utils.scala
  mllib/src/main/scala/org/apache/spark/ml/ann/LossFunction.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/NaiveBayes.scala
  mllib/src/main/scala/org/apache/spark/ml/optim/aggregator/MultinomialLogisticBlockAggregator.scala
Due: language-matters

Update RandomDataGenerator.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/RandomDataGenerator.scala
Due: language-matters

Update code
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropNamespaceExec.scala
Due: language-matters

comment
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AQEPropagateEmptyRelation.scala
Due: language-matters

increase jvm stack size to 128M for maven
  pom.xml
Due: language-matters

production code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
Due: language-matters

save for now
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
Due: language-matters

Update Watchtower version to 1.0.6 (#16469)
  docs/apache-airflow-providers-amazon/index.rst
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, mypy, pylint, flake8

Add footer and move multi-index check to base
  python/pyspark/pandas/base.py
  python/pyspark/pandas/data_type_ops/base.py
  python/pyspark/pandas/tests/data_type_ops/test_decimal_ops.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Revert "[SPARK-35678][ML][FOLLOWUP] softmax support offset and step"
  mllib-local/src/main/scala/org/apache/spark/ml/impl/Utils.scala
  mllib/src/main/scala/org/apache/spark/ml/ann/LossFunction.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/NaiveBayes.scala
  mllib/src/main/scala/org/apache/spark/ml/optim/aggregator/MultinomialLogisticBlockAggregator.scala
Due: language-matters

Don't fail the build if we cant run `apt clean` (#16510)
  scripts/ci/tools/ci_free_space_on_ci.sh
Due: language-matters, shellcheck, bats-tests

Allow null value for operator field in task_instance schema(REST API) (#16516)
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Due: lint-openapi, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix review findings
  sql/catalyst/src/main/scala/org/apache/spark/sql/util/ReuseMap.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ExplainUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/reuse/ReuseExchangeAndSubquery.scala
Due: language-matters

Address comment
  python/pyspark/pandas/base.py
  python/pyspark/pandas/window.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-35769][SQL] Truncate java.time.Period by fields of year-month interval type
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/CatalystTypeConverters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/RandomDataGenerator.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/CatalystTypeConvertersSuite.scala
Due: language-matters

Update CatalystTypeConvertersSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/CatalystTypeConvertersSuite.scala
Due: language-matters

Add docs index to README.md (#16495)
  README.md
Due: language-matters, markdownlint

Update meaasge
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/submit/KubernetesClientApplication.scala
Due: language-matters

Change the approach to pass relative path to commit protocol
  core/src/main/scala/org/apache/spark/internal/io/BatchFileNamingProtocol.scala
  core/src/main/scala/org/apache/spark/internal/io/FileCommitProtocol.scala
  core/src/main/scala/org/apache/spark/internal/io/FileNamingProtocol.scala
  core/src/main/scala/org/apache/spark/internal/io/HadoopMapReduceCommitProtocol.scala
  core/src/main/scala/org/apache/spark/internal/io/HadoopMapReduceNamingProtocol.scala
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/PathOutputCommitProtocol.scala
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/PathOutputNamingProtocol.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatDataWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/InsertIntoHadoopFsRelationCommand.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileWrite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FileStreamSink.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ManifestFileCommitProtocol.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingFileNamingProtocol.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/PartitionedWriteSuite.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFile.scala
Due: language-matters

isLocal should consider CommandResult
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

Try to fix unit test failure
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatDataWriter.scala
Due: language-matters

Add AWS DMS replication task operators (#15850)
  airflow/providers/amazon/aws/example_dags/example_dms_full_load_task.py
  airflow/providers/amazon/aws/hooks/dms.py
  airflow/providers/amazon/aws/operators/dms_create_task.py
  airflow/providers/amazon/aws/operators/dms_delete_task.py
  airflow/providers/amazon/aws/operators/dms_describe_tasks.py
  airflow/providers/amazon/aws/operators/dms_start_task.py
  airflow/providers/amazon/aws/operators/dms_stop_task.py
  airflow/providers/amazon/aws/sensors/dms_task.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/dms.rst
  docs/integration-logos/aws/AWS-Database-Migration-Service_64@5x.png
  docs/spelling_wordlist.txt
  tests/providers/amazon/aws/hooks/test_dms_task.py
  tests/providers/amazon/aws/operators/test_dms_create_task.py
  tests/providers/amazon/aws/operators/test_dms_delete_task.py
  tests/providers/amazon/aws/operators/test_dms_describe_tasks.py
  tests/providers/amazon/aws/operators/test_dms_start_task.py
  tests/providers/amazon/aws/operators/test_dms_stop_task.py
  tests/providers/amazon/aws/sensors/test_dms_task.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, mypy, pylint, flake8

Update code
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

[SPARK-35469][PYTHON] Fix disallow_untyped_defs mypy checks
  python/mypy.ini
  python/pyspark/pandas/accessors.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-35608][SQL] Support AQE optimizer side transformUpWithPruning
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AQEPropagateEmptyRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/LogicalQueryStage.scala
Due: language-matters

Update docs on setting up SMTP (#16523)
  docs/apache-airflow/howto/email-config.rst
Due: language-matters, provider-yamls

restore old exception
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderConsumer.scala
Due: language-matters

Refactor inheritable thread logic, and use it in codebase for pinned thread mode
  python/pyspark/context.py
  python/pyspark/ml/classification.py
  python/pyspark/ml/tuning.py
  python/pyspark/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-35185][SQL] Improve Distinct statistics estimation
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/BasicStatsPlanVisitor.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/SizeInBytesOnlyStatsPlanVisitor.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/statsEstimation/BasicStatsEstimationSuite.scala
Due: language-matters

follow comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/CatalystTypeConvertersSuite.scala
Due: language-matters

Deprecate DataFrame.to_spark_io
  python/pyspark/pandas/frame.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuite.scala
Due: language-matters

spark-2.4.3.1-SNAPSHOT from_json FAILFAST 测试通过
  R/pkg/tests/fulltests/test_sparkSQL.R
  build/spark-2.4.3
  docs/sql-migration-guide-upgrade.md
  external/kafka-0-10-sql/pom.xml
  pom.xml
  python/pyspark/sql/functions.py
  sql/catalyst/pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/jsonExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/FailureSafeParser.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/JsonExpressionsSuite.scala
  sql/core/pom.xml
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/csv/UnivocityParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/json/JsonDataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/json/JsonFileFormat.scala
  sql/core/src/test/resources/log4j.properties
  sql/core/src/test/resources/sql-tests/results/typeCoercion/native/stringCastAndExpressions.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/FailfastTest.scala
  sql/core/src/test/scala/org/apache/spark/sql/JsonFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

save for now
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
Due: language-matters
