Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-openapi, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, flake8, bat-tests, stylelint, mermaid, pre-commit-descriptions

Path conditions:
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/PROVIDERS_CHANGES_*| ^airflow/providers/apache/hive/README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/howto/connection/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^scripts/.*\.py$|^dev|^backport_packages
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$

Refactor `@provide_session` to do less "at runtime" (#12868)
  airflow/lineage/__init__.py
  airflow/utils/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

do not expose user data in error message
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/CharVarcharUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/CharVarcharTestSuite.scala
Due: language-matters

[SPARK-32910][SS]Remove UninterruptibleThread usage from KafkaOffsetReaderAdmin
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderAdmin.scala
  external/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaRelationSuite.scala
Due: language-matters

Improve support for special characters in DbApiHook.get_uri (#12775)
  airflow/hooks/dbapi_hook.py
  tests/hooks/test_dbapi_hook.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Bugfix: Entrypoint Import Exception masked by attribute error (#12862)
  airflow/plugins_manager.py
  airflow/utils/entry_points.py
  airflow/version.py
  setup.cfg
  tests/plugins/test_plugins_manager.py
Due: update-setup-cfg-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix reflection resolution failures
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/objects/objects.scala
Due: language-matters

Track exec pods better
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsSnapshot.scala
Due: language-matters

Add terminating state
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodStates.scala
Due: language-matters

More logging
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/BlockManagerDecommissioner.scala
  resource-managers/kubernetes/integration-tests/README.md
Due: language-matters

[SPARK-33641][SQL][DOC][FOLLOW-UP] Add migration guide for CHAR VARCHAR types
  docs/sql-migration-guide.md
Due: language-matters

[SPARK-33693][SQL] deprecate spark.sql.hive.convertCTAS
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

Neatened coalescing operations for product update expression
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Product.scala
Due: language-matters

Fix JavaHigherOrderFunctionsSuite
  sql/core/src/test/java/test/org/apache/spark/sql/JavaHigherOrderFunctionsSuite.java
Due: language-matters

[SPARK-33480][SQL][FOLLOWUP] do not expose user data in error message
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/CharVarcharUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/CharVarcharTestSuite.scala
Due: language-matters

[SPARK-33680][SQL][TESTS][FOLLOWUP] Fix more test suites to have explicit confs
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameJoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/BucketedReadSuite.scala
  sql/core/src/test/scala/org/apache/spark/status/api/v1/sql/SqlResourceWithActualMetricsSuite.scala
Due: language-matters

Switch
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

Make Migrations 1.10.14 Compatible (#12896)
  airflow/migrations/versions/cf5dc11e79ad_drop_user_and_chart.py
  airflow/migrations/versions/da3f683c3a5a_add_dag_hash_column_to_serialized_dag_.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Kubernetes worker pod doesn't use docker container entrypoint (#12766)
  UPGRADING_TO_2.0.md
  airflow/cli/commands/kubernetes_command.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod_generator.py
  airflow/models/taskinstance.py
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/tests/test_basic_helm_chart.py
  scripts/in_container/prod/entrypoint_prod.sh
  tests/kubernetes/test_pod_generator.py
  tests/models/test_renderedtifields.py
  tests/models/test_taskinstance.py
Due: shellcheck, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8, bat-tests

Use consistent style for detecting current DB type in migrations (#12898)
  airflow/migrations/versions/4addfa1236f1_add_fractional_seconds_to_mysql_tables.py
  airflow/migrations/versions/d2ae31099d61_increase_text_size_for_mysql.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Changes the type of source_code field in DagCode to MEDIUMTEXT (#12890)
  airflow/migrations/versions/4addfa1236f1_add_fractional_seconds_to_mysql_tables.py
  airflow/migrations/versions/e959f08ac86c_change_field_in_dagcode_to_mediumtext_.py
  airflow/models/dagcode.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix plugin macros not being exposed through airflow.macros (#12788)
  airflow/operators/python.py
  airflow/plugins_manager.py
  airflow/utils/python_virtualenv_script.jinja2
  tests/plugins/test_plugins_manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Minor changes in description of API docs (#12532)
  airflow/api_connexion/openapi/v1.yaml
Due: lint-openapi, language-matters

Move task handlers guides to provider docs (#12826)
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-amazon/logging/cloud-watch-task-handlers.rst
  docs/apache-airflow-providers-amazon/logging/index.rst
  docs/apache-airflow-providers-amazon/logging/s3-task-handler.rst
  docs/apache-airflow-providers-elasticsearch/logging.rst
  docs/apache-airflow-providers-google/logging/index.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-microsoft-azure/logging.rst
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
Due: language-matters

Upgrade to jackson to 2.10.5 and jackson-databind to 2.10.5.1
  pom.xml
Due: language-matters

[SPARK-33621][SQL] Add a way to inject data source rewrite rules
  sql/core/src/main/scala/org/apache/spark/sql/SparkSessionExtensions.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/core/src/test/scala/org/apache/spark/sql/SparkSessionExtensionSuite.scala
Due: language-matters

Fix Multiple Migrations Heads (#12901)
  airflow/migrations/versions/e38be357a868_update_schema_for_smart_sensor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Upgrade built-in Hive to 2.3.8
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  docs/building-spark.md
  docs/sql-data-sources-hive-tables.md
  docs/sql-migration-guide.md
  pom.xml
  project/SparkBuild.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2Suites.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/package.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveExternalCatalogVersionsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/test/TestHive.scala
Due: language-matters

Add docs for new scheduler "clean-up" tunables. (#12899)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/jobs/scheduler_job.py
  docs/apache-airflow/scheduler.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, mypy, pylint, flake8

update
  sql/core/src/main/scala/org/apache/spark/sql/execution/RemoveRedundantProjects.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/RemoveRedundantProjectsSuite.scala
Due: language-matters

fix
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/status/api/v1/sql/SqlResourceWithActualMetricsSuite.scala
Due: language-matters

Update manifest files.
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
Due: language-matters

Fix broken MySQL Migration (#12904)
  airflow/migrations/versions/e959f08ac86c_change_field_in_dagcode_to_mediumtext_.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Revert "Switch"
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

[SPARK-32320][PYSPARK] Remove mutable default arguments
  dev/sparktestsupport/modules.py
  dev/tox.ini
  python/mypy.ini
  python/pyspark/ml/regression.py
  python/pyspark/ml/tuning.py
  python/pyspark/ml/tuning.pyi
  python/pyspark/resource/profile.py
  python/pyspark/resource/profile.pyi
  python/pyspark/sql/avro/functions.py
  python/pyspark/sql/avro/functions.pyi
  python/pyspark/sql/functions.py
  python/pyspark/sql/functions.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

doc
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters
