Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Add the error class NON_FOLDABLE_ARGUMENT
  common/utils/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/mathExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/numberFormatExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/StringFunctionsSuite.scala
Due: language-matters

init
  python/pyspark/sql/tests/connect/test_parity_types.py
  python/pyspark/sql/tests/test_types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Re-gen a doc
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-45019][BUILD] Make workflow scala213 on container & clean env
  .github/workflows/build_and_test.yml
Due: language-matters

Re-gen sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/ceil-floor-with-scale-param.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/extract.sql.out
  sql/core/src/test/resources/sql-tests/results/ceil-floor-with-scale-param.sql.out
  sql/core/src/test/resources/sql-tests/results/extract.sql.out
Due: language-matters

Remove the legacy error class
  common/utils/src/main/resources/error/error-classes.json
Due: language-matters

[SPARK-44990][SQL] Reduce the frequency of get `spark.sql.legacy.nullValueWrittenAsQuotedEmptyStringCsv`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/UnivocityGenerator.scala
Due: language-matters

[SPARK-44239][SQL] Free memory allocated by large vectors when vectors are reset
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/java/org/apache/spark/sql/execution/vectorized/OffHeapColumnVector.java
  sql/core/src/main/java/org/apache/spark/sql/execution/vectorized/OnHeapColumnVector.java
  sql/core/src/main/java/org/apache/spark/sql/execution/vectorized/WritableColumnVector.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/vectorized/ColumnVectorSuite.scala
Due: language-matters

[SPARK-43923][CONNECT][FOLLOW-UP] Propagate extra tags to SparkListenerConnectOperationFinished
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/ExecuteEventsManager.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/ExecuteEventsManagerSuite.scala
Due: language-matters

[SPARK-45021][BUILD] Remove `antlr4-maven-plugin` configuration from `sql/catalyst/pom.xml`
  sql/catalyst/pom.xml
Due: language-matters

Add tests
  sql/core/src/test/scala/org/apache/spark/sql/CacheManagerSuite.scala
Due: language-matters

changes
  sql/core/src/main/scala/org/apache/spark/sql/execution/CacheManager.scala
Due: language-matters

case type match update
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
Due: language-matters

[SPARK-45005][CONNECT][PS][TESTS] Reducing the CI time by splitting the slow tests
  .github/workflows/build_and_test.yml
  dev/sparktestsupport/modules.py
  dev/sparktestsupport/utils.py
  python/pyspark/pandas/tests/connect/indexes/test_parity_base_slow.py
  python/pyspark/pandas/tests/connect/indexes/test_parity_datetime_property.py
  python/pyspark/pandas/tests/connect/test_parity_frame_interpolate.py
  python/pyspark/pandas/tests/connect/test_parity_frame_resample.py
  python/pyspark/pandas/tests/connect/test_parity_series_interpolate.py
  python/pyspark/pandas/tests/connect/test_parity_series_resample.py
  python/pyspark/pandas/tests/indexes/test_base.py
  python/pyspark/pandas/tests/indexes/test_base_slow.py
  python/pyspark/pandas/tests/indexes/test_datetime_property.py
  python/pyspark/pandas/tests/test_frame_interpolate.py
  python/pyspark/pandas/tests/test_frame_resample.py
  python/pyspark/pandas/tests/test_generic_functions.py
  python/pyspark/pandas/tests/test_resample.py
  python/pyspark/pandas/tests/test_series_interpolate.py
  python/pyspark/pandas/tests/test_series_resample.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Change error name and signature
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
Due: language-matters

Remove "new" keyword
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
Due: language-matters

[SPARK-44997][DOCS] Align example order (Python -> Scala/Java -> R) in all Spark Doc Content
  docs/_layouts/global.html
  docs/index.md
  docs/ml-pipeline.md
  docs/quick-start.md
  docs/rdd-programming-guide.md
  docs/sql-getting-started.md
  docs/sql-programming-guide.md
  docs/streaming-programming-guide.md
  docs/structured-streaming-programming-guide.md
Due: dont-use-safe-filter, language-matters, provider-yamls, markdownlint

[SPARK-45017][PYTHON] Add `CalendarIntervalType` to PySpark
  python/docs/source/reference/pyspark.sql/data_types.rst
  python/pyspark/sql/tests/connect/test_parity_types.py
  python/pyspark/sql/tests/test_types.py
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45016][PYTHON][CONNECT] Add missing `try_remote_functions` annotations
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44742][PYTHON][DOCS][FOLLOWUP] Upgrade `pydata_sphinx_theme` to 0.8.0 in `spark-rm` Dockerfile
  dev/create-release/spark-rm/Dockerfile
Due: lint-dockerfile, language-matters

Add catalog to the identifier
  sql/core/src/main/scala/org/apache/spark/sql/execution/CacheManager.scala
  sql/core/src/test/scala/org/apache/spark/sql/CacheManagerSuite.scala
Due: language-matters

fix test
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/create_view.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/create_view.sql.out
Due: language-matters

Fix sql/CachedTableSuite
  sql/core/src/test/scala/org/apache/spark/sql/CachedTableSuite.scala
Due: language-matters

Fix hive/cachedtableSuite
  sql/core/src/test/scala/org/apache/spark/sql/CachedTableSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/CachedTableSuite.scala
Due: language-matters

address comments
  examples/src/main/python/sql/udtf.py
  python/docs/source/user_guide/sql/python_udtf.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44971][PYTHON] StreamingQueryProgress event fromJson bug fix
  python/pyspark/sql/streaming/listener.py
  python/pyspark/sql/tests/connect/streaming/test_parity_listener.py
  python/pyspark/sql/tests/streaming/test_streaming_listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45015][PYTHON][DOCS] Refine DocStrings of `try_{add, subtract, multiply, divide, avg, sum}`
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

test sbt
  dev/appveyor-install-dependencies.ps1
  project/build.properties
Due: language-matters

init
  python/pyspark/sql/connect/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45025] Allow block manager memory store iterator to handle thread interrupt and perform task completion gracefully
  core/src/main/scala/org/apache/spark/storage/memory/MemoryStore.scala
Due: language-matters

[SPARK-45012][SQL] CheckAnalysis should throw inlined plan in AnalysisException
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/create_view.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/create_view.sql.out
Due: language-matters
