Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-36717][CORE] Incorrect order of variable initialization may lead incorrect behavior
  core/src/main/scala/org/apache/spark/broadcast/TorrentBroadcast.scala
Due: language-matters

Increase compile memory too
  pom.xml
Due: language-matters

Update ApplicationMaster.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
Due: language-matters

fix style issue
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Prepare documentation for RC2 Amazon Provider release for September (#18830)
  airflow/providers/amazon/CHANGELOG.rst
  docs/apache-airflow-providers-amazon/commits.rst
Due: language-matters, provider-yamls

update
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClient.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/client/VersionsSuite.scala
Due: language-matters

Update HiveExternalCatalog.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala
Due: language-matters

update
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClient.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
Due: language-matters

Add last items to changelog before 2.2.0rc1 (#18837)
  CHANGELOG.txt
Due: none

Removed duplicated code on S3ToRedshiftOperator (#18671)
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Update HiveClientImpl.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
Due: language-matters

Update InsertSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/InsertSuite.scala
Due: language-matters

Migrate CreateViewStatement to v2 command
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
Due: language-matters

Fixed header error
  python/docs/source/index.rst
Due: language-matters

fix code conflicts
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statements.scala
Due: language-matters

remove supportIndex
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/MySQLIntegrationSuite.scala
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
Due: language-matters

fix code style
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

split USE and USE NAMESPACE
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBase.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveCatalogs.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkSqlParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/SetNamespaceCommand.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
Due: language-matters

Add RedshiftSQLHook, RedshiftSQLOperator (#18447)
  airflow/providers/amazon/aws/example_dags/example_redshift.py
  airflow/providers/amazon/aws/hooks/redshift.py
  airflow/providers/amazon/aws/operators/redshift.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/connections/index.rst
  docs/apache-airflow-providers-amazon/connections/redshift.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-amazon/operators/redshift.rst
  docs/apache-airflow-providers-amazon/redirects.txt
  setup.py
  tests/providers/amazon/aws/hooks/test_redshift.py
  tests/providers/amazon/aws/operators/test_redshift.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, mypy, pylint, flake8

match scala style
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
Due: language-matters

sortBy
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
Due: language-matters

[SPARK-36913][SQL] Implement createIndex and IndexExists in DS V2 JDBC (MySQL dialect)
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/MySQLIntegrationSuite.scala
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/index/SupportsIndex.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlreadyExistException.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTableCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
Due: language-matters

Push down filters with ANSI intervals to ORC.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/dsl/package.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFilters.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/orc/OrcFilterSuite.scala
Due: language-matters

Inline type hints for pyspark.sql.dataframe
  python/pyspark/__init__.pyi
  python/pyspark/sql/__init__.pyi
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/dataframe.pyi
  python/pyspark/sql/observation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Use PEP526 style variable type hints
  python/pyspark/pandas/accessors.py
  python/pyspark/pandas/categorical.py
  python/pyspark/pandas/config.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/generic.py
  python/pyspark/pandas/groupby.py
  python/pyspark/pandas/indexes/base.py
  python/pyspark/pandas/indexes/multi.py
  python/pyspark/pandas/indexing.py
  python/pyspark/pandas/internal.py
  python/pyspark/pandas/mlflow.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/sql_processor.py
  python/pyspark/pandas/typedef/typehints.py
  python/pyspark/pandas/utils.py
  python/pyspark/pandas/window.py
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/pandas/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Use NamedTuple with variable type hints instead of namedtuple.
  python/pyspark/sql/catalog.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Address PR comments
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTablesSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/SQLTestUtils.scala
Due: language-matters

[SPARK-36944][PYTHON] Remove python/pyspark/sql/__init__.pyi
  python/pyspark/sql/__init__.pyi
Due: language-matters

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Product.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
Due: language-matters, markdownlint

Update VersionsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/client/VersionsSuite.scala
Due: language-matters

init
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

Add JIRA ID to the test for each new test.
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/orc/OrcFilterSuite.scala
Due: language-matters

[SPARK-36914][SQL] Implement dropIndex and listIndexes in JDBC (MySQL dialect)
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/MySQLIntegrationSuite.scala
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/index/SupportsIndex.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/index/TableIndex.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/NoSuchItemException.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
Due: language-matters

[SPARK-36897][PYTHON] Use NamedTuple with variable type hints instead of namedtuple
  python/pyspark/sql/catalog.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Respect Hadoop version configured in scheduled GitHub Actions jobs
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-36839][INFRA][FOLLOW-UP] Respect Hadoop version configured in scheduled GitHub Actions jobs
  .github/workflows/build_and_test.yml
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
