Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[MINOR][PYTHON][TESTS] Move a test out of parity tests
  python/pyspark/sql/tests/connect/test_connect_dataframe_property.py
  python/pyspark/sql/tests/connect/test_parity_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

respond to code review comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/FunctionTableSubqueryArgumentExpression.scala
Due: language-matters

?
  python/pyspark/sql/connect/streaming/query.py
  python/pyspark/sql/streaming/listener.py
  python/pyspark/sql/streaming/query.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

respond to code review comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

wip
  python/pyspark/sql/connect/streaming/query.py
  python/pyspark/sql/streaming/listener.py
  python/pyspark/sql/streaming/query.py
  python/pyspark/sql/tests/streaming/test_streaming.py
  python/pyspark/sql/tests/streaming/test_streaming_listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48012][SQL] SPJ: Support Transfrom Expressions for One Side Shuffle
  core/src/main/scala/org/apache/spark/Partitioner.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/V2ExpressionUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/KeyGroupedPartitioningSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/catalog/functions/transformFunctions.scala
Due: language-matters

Fix test cases
  core/src/main/scala/org/apache/spark/Partitioner.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/WriteDistributionAndOrderingSuite.scala
Due: language-matters

Revert unncessary changes
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/V2ExpressionUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/WriteDistributionAndOrderingSuite.scala
Due: language-matters

Scalafmt
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpression.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/WriteDistributionAndOrderingSuite.scala
Due: language-matters

Review comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
Due: language-matters

ready for CI, pending query.name fix
  python/pyspark/sql/streaming/listener.py
  python/pyspark/sql/tests/streaming/test_streaming.py
  python/pyspark/sql/tests/streaming/test_streaming_listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

done
  python/pyspark/sql/connect/streaming/readwriter.py
  python/pyspark/sql/streaming/query.py
  python/pyspark/sql/tests/streaming/test_streaming.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

more
  python/pyspark/sql/streaming/listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

minor
  python/pyspark/sql/streaming/listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Adds UT for custom location assigner
  connector/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaMicroBatchSourceSuite.scala
Due: language-matters

Fix golden files
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/results/ansi/string-functions.sql.out
  sql/core/src/test/resources/sql-tests/results/string-functions.sql.out
Due: language-matters, markdownlint

[Only Test] Test javadoc
  pom.xml
Due: language-matters

Refactor UT
  connector/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaMicroBatchSourceSuite.scala
Due: language-matters

address a comment
  python/pyspark/sql/streaming/listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixup
  python/pyspark/sql/streaming/listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48012][SQL] SPJ: Support Transfrom Expressions for One Side Shuffle
  core/src/main/scala/org/apache/spark/Partitioner.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/KeyGroupedPartitioningSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/catalog/functions/transformFunctions.scala
Due: language-matters

[SPARK-48560][SS][PYTHON] Make StreamingQueryListener.spark settable
  python/pyspark/sql/streaming/listener.py
  python/pyspark/sql/tests/streaming/test_streaming_listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

lint
  python/pyspark/sql/tests/streaming/test_streaming.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Initial commit
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationAwareUTF8String.java
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationSupport.java
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/CollationSupportSuite.java
  common/unsafe/src/test/scala/org/apache/spark/unsafe/types/CollationFactorySuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.json
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
  python/pyspark/sql/tests/test_types.py
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collationExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollationExpressionSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollationRegexpExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/MergeScalarSubqueriesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/UnsafeRowUtilsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/DataTypeSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/StructTypeSuite.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/analyzer-results/collations.sql.out
  sql/core/src/test/resources/sql-tests/inputs/collations.sql
  sql/core/src/test/resources/sql-tests/results/collations.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLExpressionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLRegexpSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/TPCDSCollationQueryTestSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/CollationBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/SaveIntoDataSourceCommandSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/StateSchemaCompatibilityCheckerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/SQLConfSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingDeduplicationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveExternalCatalogSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, markdownlint, mypy, pylint, flake8

Tests
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
Due: language-matters

Update CollationStringExpressionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
Due: language-matters

Add example walker
  sql/core/src/test/scala/org/apache/spark/sql/CollationExpressionWalkerSuite.scala
Due: language-matters

init
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/tests/connect/test_connect_dataframe_property.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

nit
  python/pyspark/sql/connect/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48311][SQL] Fix nested pythonUDF in groupBy and aggregate Binding Exception
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ExtractPythonUDFs.scala
Due: language-matters

Addressing comments vol3
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingLogicalOperators.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingParserSuite.scala
Due: language-matters

Initial commit
  sql/api/src/main/scala/org/apache/spark/sql/types/CharType.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/VarcharType.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

Fix CollationFactory
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
Due: language-matters

Fix CollationFactory
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
Due: language-matters

Rework
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
Due: language-matters

Add tests
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
Due: language-matters

Fix golden files
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.proto.bin
  sql/core/src/test/resources/sql-tests/results/collations.sql.out
Due: language-matters

[SPARK-48564][PYTHON][CONNECT] Propagate cached schema in set operations
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/tests/connect/test_connect_dataframe_property.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
