Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

respond to code review comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/BatchEvalPythonUDTFExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/EvalPythonUDTFExec.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/udtf/udtf.sql.out
  sql/core/src/test/resources/sql-tests/inputs/udtf/udtf.sql
  sql/core/src/test/resources/sql-tests/results/udtf/udtf.sql.out
Due: language-matters

add test for empty top level message
  connector/protobuf/src/test/scala/org/apache/spark/sql/protobuf/ProtobufFunctionsSuite.scala
Due: language-matters

add example for empty top level message
  connector/protobuf/src/main/scala/org/apache/spark/sql/protobuf/utils/ProtobufOptions.scala
Due: language-matters

[SPARK-46686][PYTHON][CONNECT] Basic support of SparkSession based Python UDF profiler
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecuteThreadRunner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
  core/src/main/scala/org/apache/spark/api/python/PythonRDD.scala
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerUtils.scala
  dev/sparktestsupport/modules.py
  python/pyspark/accumulators.py
  python/pyspark/profiler.py
  python/pyspark/sql/_typing.pyi
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/profiler.py
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/profiler.py
  python/pyspark/sql/session.py
  python/pyspark/sql/tests/connect/test_parity_udf_profiler.py
  python/pyspark/sql/tests/test_udf_profiler.py
  python/pyspark/worker.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/UserDefinedPythonDataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/AggregateInPandasExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ApplyInPandasWithStatePythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowPythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/BatchEvalPythonExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/BatchEvalPythonUDTFExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/CoGroupedArrowPythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/EvalPythonEvaluatorFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapCoGroupsInBatchExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapGroupsInBatchExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapGroupsInPandasWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/MapInBatchEvaluatorFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/MapInBatchExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonUDFRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/WindowInPandasEvaluatorFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/WindowInPandasExec.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46663][PYTHON][3.5] Disable memory profiler for pandas UDFs with iterators
  python/pyspark/sql/tests/test_udf_profiler.py
  python/pyspark/sql/udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46750][CONNECT][PYTHON] DataFrame APIs code clean up
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/group.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix test
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectServiceSuite.scala
Due: language-matters

fix tests
  sql/core/src/test/scala/org/apache/spark/sql/internal/SQLConfSuite.scala
Due: language-matters

[SPARK-46749][DOCS] Document `SPARK_LOG_*` and `SPARK_PID_DIR`
  docs/spark-standalone.md
Due: language-matters, provider-yamls, markdownlint

Skip test_datasource if PyArrow is not installed
  python/pyspark/sql/tests/test_python_datasource.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46744][SPARK-SHELL][SQL][CONNECT] Display clear exit command for all spark terminal
  R/pkg/inst/profile/shell.R
  python/pyspark/shell.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46748][CORE] Remove `*slave*.sh` scripts
  sbin/decommission-slave.sh
  sbin/slaves.sh
  sbin/start-slave.sh
  sbin/start-slaves.sh
  sbin/stop-slave.sh
  sbin/stop-slaves.sh
Due: language-matters, shellcheck, bats-tests

[SPARK-46751][PYTHON][TESTS] Skip test_datasource if PyArrow is not installed
  python/pyspark/sql/tests/test_python_datasource.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46752][SQL][TESTS] Use default ORC compression in data source benchmarks
  sql/core/benchmarks/BuiltInDataSourceWriteBenchmark-jdk21-results.txt
  sql/core/benchmarks/BuiltInDataSourceWriteBenchmark-results.txt
  sql/core/benchmarks/DataSourceReadBenchmark-jdk21-results.txt
  sql/core/benchmarks/DataSourceReadBenchmark-results.txt
  sql/core/benchmarks/FilterPushdownBenchmark-jdk21-results.txt
  sql/core/benchmarks/FilterPushdownBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/BuiltInDataSourceWriteBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/DataSourceReadBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/FilterPushdownBenchmark.scala
Due: language-matters

[SPARK-46644] Change add and merge in SQLMetric to use isZero
  sql/core/src/main/scala/org/apache/spark/sql/execution/metric/SQLMetrics.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/metric/SQLMetricsSuite.scala
Due: language-matters

[SPARK-46753][PYTHON][DOCS] Fix pypy3 python test
  .github/workflows/build_and_test.yml
  python/pyspark/sql/tests/pandas/test_pandas_udf_scalar.py
  python/pyspark/sql/tests/test_session.py
  python/pyspark/sql/tests/test_udf.py
  python/pyspark/sql/tests/test_udf_profiler.py
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/testing/sqlutils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45593][BUILD] Building a runnable distribution from master code running spark-sql raise error
  assembly/pom.xml
  connector/connect/client/jvm/pom.xml
  connector/connect/common/pom.xml
  connector/connect/server/pom.xml
Due: language-matters

[SPARK-46745][INFRA] Purge pip cache in dockerfile
  .github/workflows/build_and_test.yml
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

[SPARK-46754][SQL][AVRO] Fix compression code resolution in avro table definition
  connector/avro/src/main/scala/org/apache/spark/sql/avro/AvroUtils.scala
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroCodecSuite.scala
Due: language-matters

[SPARK-46755][K8S][INFRA][DOCS] Upgrade `Volcano` to 1.8.2
  .github/workflows/build_and_test.yml
  resource-managers/kubernetes/integration-tests/README.md
Due: language-matters, markdownlint

[SPARK-46754][SQL][AVRO] Fix compression code resolution in avro table definition
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroCodecSuite.scala
Due: language-matters

test
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

address comments
  connector/avro/src/main/scala/org/apache/spark/sql/avro/AvroUtils.scala
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroCodecSuite.scala
Due: language-matters

add test_utils
  python/pyspark/sql/tests/test_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46758][INFRA] Upgrade github cache action to v4
  .github/workflows/benchmark.yml
  .github/workflows/build_and_test.yml
  .github/workflows/maven_test.yml
  .github/workflows/publish_snapshot.yml
Due: language-matters

[MINOR][DOCS] Add zstandard as a candidate to fix the desc of spark.sql.avro.compression.codec
  docs/sql-data-sources-avro.md
Due: language-matters, provider-yamls, markdownlint

KE-43300 use crontab expression to periodicGC in KE (#726)
  core/src/main/scala/org/apache/spark/ContextCleaner.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
Due: language-matters

[SPARK-46757][INFRA] Reduce the number of layers of testing dockerfile
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

[SPARK-46618][SQL] Improve error messages for DATA_SOURCE_NOT_FOUND error
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-46754][SQL][AVRO] Fix compression code resolution in avro table definition and write options
  connector/avro/src/main/scala/org/apache/spark/sql/avro/AvroUtils.scala
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroCodecSuite.scala
Due: language-matters

exclude pyspark_testing when on pypy
  dev/sparktestsupport/modules.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

[SPARK-46623][CORE][MLLIB][SQL] Replace SimpleDateFormat with DateTimeFormatter
  connector/kafka-0-10-token-provider/src/main/scala/org/apache/spark/kafka010/KafkaTokenUtil.scala
  core/src/main/scala/org/apache/spark/deploy/master/Master.scala
  core/src/main/scala/org/apache/spark/deploy/worker/Worker.scala
  core/src/main/scala/org/apache/spark/internal/io/SparkHadoopWriterUtils.scala
  core/src/main/scala/org/apache/spark/rdd/HadoopRDD.scala
  core/src/main/scala/org/apache/spark/rdd/NewHadoopRDD.scala
  mllib/src/main/scala/org/apache/spark/mllib/pmml/export/PMMLModelExport.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/MetricsReporter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ProgressReporter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/continuous/ContinuousTextSocketSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/TextSocketSourceProvider.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/HiveTempPath.scala
Due: language-matters

[SPARK-46696][CORE] In ResourceProfileManager, function calls should occur after variable declarations
  core/src/main/scala/org/apache/spark/resource/ResourceProfileManager.scala
Due: language-matters

Scope aggregate columns in SparkConnectPlanner
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  sql/core/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
Due: language-matters

nit
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

test test_named_arguments
  python/pyspark/sql/tests/test_udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add rule to rewrite null safe equality join keys
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteNullSafeEqualityJoinKeys.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/planning/patterns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteNullSafeEqualityJoinKeysSuite.scala
Due: language-matters

[SPARK-46707][SQL] Added throwable field to expressions to improve predicate pushdown
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/FilterPushdownSuite.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
