Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

reorder
  .github/workflows/build_and_test.yml
Due: language-matters

Fix MiMa
  connector/connect/client/jvm/pom.xml
  connector/connect/common/pom.xml
Due: language-matters

[SPARK-44587] Increase Protobuf Marshaller Recursion Limit
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
Due: language-matters

Address comments
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
Due: language-matters

Show RUNNING as the state in the UI if the execution is active
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/ui/SparkConnectServerPage.scala
Due: language-matters

[SPARK-44588][CORE] Fix double encryption issue for migrated shuffle blocks
  core/src/main/scala/org/apache/spark/shuffle/IndexShuffleBlockResolver.scala
  core/src/test/scala/org/apache/spark/storage/BlockManagerSuite.scala
Due: language-matters

remove
  .github/workflows/build_and_test.yml
  .github/workflows/build_maven.yml
Due: language-matters

[SPARK-44590] Remove the arrow batch record limit for SqlCommandResult
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

Update
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

lint
  python/pyspark/sql/streaming/listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

moved logics to expireSession
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
Due: language-matters

add voluptuous pin
  dev/requirements.txt
  python/pyspark/version.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

lint
  python/pyspark/connect_streaming_foreachBatch.py
  python/pyspark/connect_streaming_listener.py
  python/pyspark/sql/connect/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Regenerate documentation
  docs/sql-error-conditions-duplicate-routine-parameter-assignment-error-class.md
Due: language-matters, provider-yamls, markdownlint

Redo stuff
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-44585][MLLIB] Fix warning condition in MLLib RankingMetrics ndcgAk
  mllib/src/main/scala/org/apache/spark/mllib/evaluation/RankingMetrics.scala
Due: language-matters

fix UDTF test
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/sql/tests/test_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Address issue where handler can be attached more than once
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/main/scala/org/apache/spark/ui/SparkUI.scala
  core/src/test/scala/org/apache/spark/ui/UISuite.scala
Due: language-matters

remove toPandas
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add connect support for string of df
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Migrate test_sql assert_eq to assertDataFrameEqual
  python/pyspark/pandas/tests/test_sql.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  .github/workflows/build_and_test.yml
Due: language-matters

Remove unnecessary type checks
  python/pyspark/errors/error_classes.py
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/pandasutils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44577][SQL] Fix INSERT BY NAME returns nonsensical error message
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TableOutputResolver.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLInsertTestSuite.scala
Due: language-matters

WIP : DEX-8725. BroadcastHashJoin keys being pushed down to scan level
  core/src/main/scala/org/apache/spark/broadcast/BroadcastManager.scala
  sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/bcVar/BroadcastedJoinKeysWrapper.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/JoinSelectionHelperSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTable.scala
  sql/core/src/main/java/org/apache/spark/sql/execution/joins/AbstractBroadcastReaperManager.java
  sql/core/src/main/java/org/apache/spark/sql/execution/joins/BroadcastJoinKeysReaper.java
  sql/core/src/main/java/org/apache/spark/sql/execution/joins/BroadcastedJoinKeysWrapperImpl.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/Columnar.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/InsertAdaptiveSparkPlan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastFilterPushdown.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastHashJoinUtil.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/HashedRelation.scala
  sql/core/src/test/scala/org/apache/spark/sql/TPCDSBase.scala
Due: language-matters

[SPARK-44574][SQL][CONNECT] Errors that moved into sq/api should also use AnalysisException
  sql/api/src/main/scala/org/apache/spark/sql/errors/DataTypeErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/StructTypeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CharVarcharTestSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/JsonFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/DataFrameReaderWriterSuite.scala
Due: language-matters

[SPARK-44595][CONNECT] Make the user session cache number and cache time be configurable in spark connect service
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/config/Connect.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-43744][CONNECT] Fix class loading problem caused by stub user classes not found on the server classpath
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/expressions/UserDefinedFunction.scala
  connector/connect/client/jvm/src/test/resources/StubClassDummyUdf.scala
  connector/connect/client/jvm/src/test/resources/udf2.12
  connector/connect/client/jvm/src/test/resources/udf2.12.jar
  connector/connect/client/jvm/src/test/resources/udf2.13
  connector/connect/client/jvm/src/test/resources/udf2.13.jar
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/UDFClassLoadingE2ESuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/util/IntegrationTestUtils.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/util/RemoteSparkSession.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/test/resources/udf
  connector/connect/server/src/test/resources/udf_noA.jar
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/artifact/StubClassLoaderSuite.scala
  core/src/main/java/org/apache/spark/util/ChildFirstURLClassLoader.java
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/util/StubClassLoader.scala
Due: language-matters

Update connector/connect/server/src/main/scala/org/apache/spark/sql/connect/config/Connect.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/config/Connect.scala
Due: language-matters

Throw error from the constructor
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/artifact/StubClassLoaderSuite.scala
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/util/StubClassLoader.scala
Due: language-matters

[SPARK-43838][SQL][FOLLOWUP] Add missing aggregate in `renewDuplicatedRelations`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/DeduplicateRelations.scala
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q14a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q14a/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q5a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q5a/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q64/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q77a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q77a/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q80a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q80a/explain.txt
Due: language-matters
