Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Remove unnecessary try
  python/pyspark/sql/pandas/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47094][SQL] SPJ : Dynamically rebalance number of buckets when they are not equal
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/functions/Reducer.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/functions/ReducibleFunction.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/KeyGroupedPartitioningSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/catalog/functions/transformFunctions.scala
Due: language-matters

Fix scalastyle and address review comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/KeyGroupedPartitioningSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/catalog/functions/transformFunctions.scala
Due: language-matters

Fix bug of using un-projected expression in sorting
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/KeyGroupedPartitioningSuite.scala
Due: language-matters

Fix compiler warning
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/functions/ReducibleFunction.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
Due: language-matters

Add licenses
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/functions/Reducer.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/functions/ReducibleFunction.java
Due: language-matters

[SPARK-47373][SQL] Match FileSourceScanLike to get metadata instead of FileSourceScanExec
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlanInfo.scala
Due: language-matters

make queryPersisted volatile
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

Add missing imports
  python/pyspark/sql/pandas/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
Due: language-matters

[SPARK-47368][SQL] Remove inferTimestampNTZ config check in ParquetRowConverter
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRowConverter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetSchemaConverter.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetQuerySuite.scala
Due: language-matters

Separate NOT from !
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
Due: language-matters

[SPARK-47340][SQL] Change "collate" in StringType typename to lowercase
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.json
  connector/connect/common/src/test/resources/query-tests/queries/select_collated_string.proto.bin
  python/pyspark/sql/tests/test_types.py
  python/pyspark/sql/types.py
  sql/api/src/main/scala/org/apache/spark/sql/types/DataType.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/collations.sql.out
  sql/core/src/test/resources/sql-tests/results/collations.sql.out
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47333][SQL] Use checkInputDataTypes to check the parameter types of the function `to_xml`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/xmlExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/XmlSuite.scala
Due: language-matters

[SPARK-47368][SQL]][3.5] Remove inferTimestampNTZ config check in ParquetRo…
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRowConverter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetSchemaConverter.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetQuerySuite.scala
Due: language-matters

fix test
  common/utils/src/main/scala/org/apache/spark/ErrorClassesJSONReader.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryListener.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/GrpcExceptionConverter.scala
  python/pyspark/sql/streaming/listener.py
  python/pyspark/sql/tests/streaming/test_streaming_listener.py
  sql/api/src/main/scala/org/apache/spark/sql/AnalysisException.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryListener.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47374][CONNECT][DOCS] Fix connect-repl `usage prompt` & `docs link`
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClientParser.scala
  docs/spark-connect-overview.md
Due: language-matters, provider-yamls, markdownlint

fix
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46761][SQL] Quoted strings in a JSON path should support ? characters
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/jsonExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/JsonExpressionsSuite.scala
Due: language-matters

Lockdown using StringType
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

[MINOR][INFRA] Update the link text and ref in notify_test_workflow.yml
  .github/workflows/notify_test_workflow.yml
Due: language-matters

[SPARK-47375][SQL] Add guidelines for timestamp mapping in JdbcDialect#getCatalystType
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
Due: language-matters

Revert "[SPARK-47342][SQL] Support TimestampNTZ for DB2 TIMESTAMP WITH TIME ZONE"
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DB2IntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DB2Dialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/PostgresDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

Potential tests fix
  R/pkg/tests/fulltests/test_sparkSQL.R
Due: language-matters

doc style
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
Due: language-matters

fix
  dev/sparktestsupport/modules.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/connect/test_connect_collection.py
  python/pyspark/sql/tests/connect/test_connect_creation.py
  python/pyspark/sql/tests/connect/test_connect_readwriter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Potential tests fix 2
  R/pkg/tests/fulltests/test_sparkSQL.R
Due: language-matters

Remove ResourceProfile.MEMORY_OVERHEAD_MIN_MIB
  core/src/main/scala/org/apache/spark/resource/ResourceProfile.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStepSuite.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicExecutorFeatureStepSuite.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/Client.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
Due: language-matters

reformat
  dev/sparktestsupport/modules.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Format Python
  python/pyspark/sql/pandas/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

scalastyle problems
  sql/core/src/test/scala/org/apache/spark/sql/DatasetCacheSuite.scala
Due: language-matters

[SPARK-47378][PROTOBUF][TESTS] Make related Protobuf UT run well in IDE
  connector/protobuf/src/test/scala/org/apache/spark/sql/protobuf/ProtobufTestBase.scala
Due: language-matters

Lockdown for regexpExpressions
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TypeCoercion.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/CollationTypeConstraints.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationRegexpExpressionsSuite.scala
Due: language-matters

[SPARK-46654][SQL][PYTHON] Make `to_csv` explicitly indicate that it does not support some types of data
  docs/sql-migration-guide.md
  python/pyspark/sql/functions/builtin.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/csvExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CsvFunctionsSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

Renaming and small fixes
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collationExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

[SPARK-47375][SQL] Add guidelines for timestamp mapping in `JdbcDialect#getCatalystType`
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
Due: language-matters
