Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

benchmark
  core/benchmarks/MapStatusesSerDeserBenchmark-jdk11-results.txt
  core/benchmarks/MapStatusesSerDeserBenchmark-results.txt
Due: language-matters

Fix test titles
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FileStreamSourceSuite.scala
Due: language-matters

[SPARK-36510][DOCS] Add spark.redaction.string.regex property to the docs
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

Update documentation regarding Python 3.9 support (#17611)
  docs/apache-airflow/installation.rst
Due: language-matters, provider-yamls

[SPARK-36508][SQL] ANSI type coercion: disallow binary operations between Interval and String literal
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/AnsiTypeCoercion.scala
  sql/core/src/test/resources/sql-tests/inputs/interval.sql
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
Due: language-matters

Update explain.txt
  sql/core/src/test/resources/tpch-plan-stability/q15/explain.txt
Due: language-matters

[SPARK-34952][SQL][FOLLOWUP] Normalize pushed down aggregate col name and group by col name
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Fix UISeleniumSuite in sql/hive-thriftserver.
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/UISeleniumSuite.scala
Due: language-matters

Make from_json/to_json to handle timestamp_ntz type properly.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonGenerator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/JsonFunctionsSuite.scala
Due: language-matters

Re-generate golden files.
  sql/core/src/test/resources/sql-tests/results/timestampNTZ/timestamp-ansi.sql.out
  sql/core/src/test/resources/sql-tests/results/timestampNTZ/timestamp.sql.out
Due: language-matters

Change SparkExecuteStatementOperation to recognize redaction config.
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkExecuteStatementOperation.scala
Due: language-matters

Fix test style
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

fix codegen
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Cast.scala
Due: language-matters

Update Spark key negotiation protocol
  common/network-common/pom.xml
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthClientBootstrap.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthEngine.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthMessage.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthRpcHandler.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/README.md
  common/network-common/src/main/java/org/apache/spark/network/crypto/ServerResponse.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthEngineSuite.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthMessagesSuite.java
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
Due: language-matters, markdownlint

Fix style
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Cast.scala
Due: language-matters

Add new LocalFilesystemToS3Operator under Amazon provider (#17168) (#17382)
  airflow/providers/amazon/aws/example_dags/example_local_to_s3.py
  airflow/providers/amazon/aws/transfers/local_to_s3.py
  tests/providers/amazon/aws/transfers/test_local_to_s3.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, mypy, pylint, flake8

[SPARK-35739][SQL] Add Java-compatible Dataset.join overloads
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameJoinSuite.scala
Due: language-matters

Fix redacting secrets in context exceptions. (#17618)
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Use gunicorn to serve logs generated by worker (#17591)
  airflow/utils/serve_logs.py
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
  tests/utils/test_serve_logs.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, mypy, pylint, flake8

Fix style
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/json/JacksonParserSuite.scala
Due: language-matters

Update test
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonSuite.scala
Due: language-matters

Fix unused import
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonSuite.scala
Due: language-matters

[SPARK-35320][SQL] Align error message for unsupported key types in MapType in Json reader
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExprUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/jsonExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamReader.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FileStreamSourceSuite.scala
Due: language-matters

SPARK-36328: Reuse the FileSystem delegation token while querying partitioned hive table.
  sql/hive/src/test/scala/org/apache/spark/sql/hive/security/HivePartitionedTableCredentialsSuite.scala
Due: language-matters

More correct results for GitHub Actions build link at README.md
  README.md
Due: language-matters, markdownlint

[MINOR][DOCS] More correct results for GitHub Actions build link at README.md
  README.md
Due: language-matters, markdownlint

Move worker_log_server_port option to the logging section (#17621)
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_test.cfg
  airflow/configuration.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/serve_logs.py
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, markdownlint, json-schema, mypy, pylint, flake8

Switch Alibaba OSS tests to us-east-1 (#17616)
  tests/providers/alibaba/cloud/hooks/test_oss.py
  tests/providers/alibaba/cloud/operators/test_oss.py
  tests/providers/alibaba/cloud/sensors/test_oss_key.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix spelling of Airflow (#17624)
  README.md
  docs/apache-airflow/start/docker-compose.yaml
Due: language-matters, provider-yamls, markdownlint

[SPARK-36514][SQL] support to set the meta conf in HiveMetastoreClient
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
Due: language-matters

update the default value of HIVE_METASTORE_METACONF_PREFIX
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveUtils.scala
Due: language-matters

Improve cross-links to operators and hooks references (#17622)
  docs/apache-airflow-providers/operators-and-hooks-ref/index.rst
  docs/apache-airflow/concepts/operators.rst
Due: language-matters, provider-yamls

Add Triggerer warning banner in UI (#17565)
  airflow/jobs/triggerer_job.py
  airflow/www/templates/airflow/main.html
  airflow/www/views.py
  tests/jobs/test_triggerer_job.py
  tests/www/views/test_views_base.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Force emulation on ARM platforms for Docker (#17627)
  scripts/ci/libraries/_initialization.sh
Due: language-matters, shellcheck, bats-tests

Fix style
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

address comments
  docs/structured-streaming-programming-guide.md
Due: language-matters, provider-yamls, markdownlint

comments
  docs/structured-streaming-programming-guide.md
Due: language-matters, provider-yamls, markdownlint
