Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-43063][SQL][FOLLOWUP] Add ToPrettyString expression for Dataset.show
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Cast.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ToPrettyString.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ToStringBase.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuiteBase.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

[SPARK-43248][SQL] Unnecessary serialize/deserialize of Path on parallel gather partition stats
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/ddl.scala
Due: language-matters

[SPARK-43219][SQL][DOCS] Add `INSERT INTO REPLACE WHERE` statement into website
  docs/sql-ref-syntax-dml-insert-table.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-43298][PYTHON][ML] predict_batch_udf with scalar input fails with batch size of one
  python/pyspark/ml/functions.py
  python/pyspark/ml/tests/test_functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43257][SQL] Replace the error class _LEGACY_ERROR_TEMP_2022 by an internal error
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

[SPARK-42192][FOLLOWUP][PYTHON] Refine improper error class and error type
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43134][CONNECT][SS] JVM client StreamingQuery exception() API
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQuery.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryException.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/streaming/query.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43076][PS][CONNECT] Removing the dependency on `grpcio` when remote session is not used
  python/pyspark/pandas/_typing.py
  python/pyspark/pandas/accessors.py
  python/pyspark/pandas/base.py
  python/pyspark/pandas/data_type_ops/base.py
  python/pyspark/pandas/data_type_ops/binary_ops.py
  python/pyspark/pandas/data_type_ops/boolean_ops.py
  python/pyspark/pandas/data_type_ops/date_ops.py
  python/pyspark/pandas/data_type_ops/num_ops.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/indexes/base.py
  python/pyspark/pandas/indexes/multi.py
  python/pyspark/pandas/indexing.py
  python/pyspark/pandas/internal.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/numpy_compat.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/spark/accessors.py
  python/pyspark/pandas/utils.py
  python/pyspark/sql/connect/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43265] Move Error framework to a common utils module
  common/utils/pom.xml
  common/utils/src/main/java/org/apache/spark/QueryContext.java
  common/utils/src/main/java/org/apache/spark/SparkThrowable.java
  common/utils/src/main/scala/org/apache/spark/ErrorClassesJSONReader.scala
  common/utils/src/main/scala/org/apache/spark/SparkException.scala
  common/utils/src/main/scala/org/apache/spark/SparkThrowableHelper.scala
  common/utils/src/main/scala/org/apache/spark/util/JsonUtils.scala
  core/pom.xml
  core/src/main/scala/org/apache/spark/SparkFileAlreadyExistsException.scala
  pom.xml
  project/MimaExcludes.scala
  project/SparkBuild.scala
Due: language-matters

[SPARK-43199][SQL] Make InlineCTE idempotent
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InlineCTE.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

[SPARK-43198][CONNECT] Fix "Could not initialise class ammonite..." error when using filter
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/application/ConnectRepl.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/expressions/UserDefinedFunction.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/application/ReplE2ESuite.scala
Due: language-matters

Revert "[SPARK-43298][PYTHON][ML] predict_batch_udf with scalar input fails with batch size of one"
  python/pyspark/ml/functions.py
  python/pyspark/ml/tests/test_functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43293][SQL] `__qualified_access_only` should be ignored in normal columns
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/package.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/LogicalPlan.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
Due: language-matters

[SPARK-31733][YARN][TESTS] Make `specify a more specific type for the application` in `ClientSuite` pass in Hadoop 3
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/ClientSuite.scala
Due: language-matters

[SPARK-43156][SPARK-43098][SQL] Extend scalar subquery count bug test with decorrelateInnerQuery disabled
  sql/core/src/test/resources/sql-tests/inputs/subquery/scalar-subquery/scalar-subquery-count-bug.sql
Due: language-matters

[SPARK-43156][SQL] Fix `COUNT(*) is null` bug in correlated scalar subquery
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/scalar-subquery/scalar-subquery-select.sql.out
  sql/core/src/test/resources/sql-tests/inputs/subquery/scalar-subquery/scalar-subquery-count-bug.sql
  sql/core/src/test/resources/sql-tests/inputs/subquery/scalar-subquery/scalar-subquery-select.sql
  sql/core/src/test/resources/sql-tests/results/subquery/scalar-subquery/scalar-subquery-count-bug.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/scalar-subquery/scalar-subquery-select.sql.out
Due: language-matters

[SPARK-43328][SS] Add latest timestamp on no-execution trigger for Idle event in streaming query listener
  python/pyspark/sql/streaming/listener.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ProgressReporter.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryListener.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43263][BUILD] Upgrade `FasterXML jackson` to 2.15.0
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JSONOptions.scala
Due: language-matters

[SPARK-43206][SS][CONNECT][FOLLOWUP] Remove unintended change on `StreamingQueryManager.scala`
  sql/core/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryManager.scala
Due: language-matters

[SPARK-42585][CONNECT] Streaming of local relations
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/ArtifactManager.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/util/ConvertToArrow.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/ArtifactSuite.scala
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectAddArtifactsHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectArtifactStatusesHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/artifact/ArtifactManagerSuite.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/ArtifactStatusesHandlerSuite.scala
  core/src/main/scala/org/apache/spark/storage/BlockId.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/base_pb2_grpc.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-42945][CONNECT][FOLLOW-UP] Add user_id and session_id when logging errors
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
Due: language-matters

[SPARK-42769][TEST][FOLLOWUP] Add missing `assert` in integration test
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/BasicTestsSuite.scala
Due: language-matters

[SPARK-43302][SQL] Make Python UDAF an AggregateFunction
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveLateralColumnAliasReference.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveReferencesInAggregate.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/AliasHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/PythonUDF.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/interfaces.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/PullOutGroupingExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RemoveRedundantAggregates.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/planning/patterns.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/package.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RemoveRedundantAggregatesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/plans/PlanTest.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/AggregateInPandasExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ExtractPythonUDFs.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/UserDefinedPythonFunction.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/WindowInPandasExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/window/WindowExecBase.scala
  sql/core/src/test/resources/sql-tests/results/udaf/udaf-group-by-ordinal.sql.out
  sql/core/src/test/resources/sql-tests/results/udaf/udaf-group-by.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/IntegratedUDFTestUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonUDFSuite.scala
Due: language-matters

[SPARK-43081][ML][CONNECT] Add torch distributor data loader that loads data from spark partition data
  dev/sparktestsupport/modules.py
  python/pyspark/ml/tests/connect/test_parity_torch_data_loader.py
  python/pyspark/ml/torch/data.py
  python/pyspark/ml/torch/distributor.py
  python/pyspark/ml/torch/tests/test_data_loader.py
  python/pyspark/ml/torch/tests/test_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43311][SS] Add RocksDB state store provider memory management enhancements
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDB.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBMemoryManager.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/StateStoreSuite.scala
Due: language-matters

[SPARK-43323][SQL][PYTHON] Fix DataFrame.toPandas with Arrow enabled to handle exceptions properly
  python/pyspark/errors/exceptions/captured.py
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/tests/connect/test_parity_arrow.py
  python/pyspark/sql/tests/test_arrow.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43206][SS][CONNECT] StreamingQuery exception() include stack trace
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQuery.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryException.scala
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/streaming/query.py
  sql/core/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryManager.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-16484][SQL] Add support for Datasketches HllSketch
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  dev/deps/spark-deps-hadoop-3-hive-2.3
  python/docs/source/reference/pyspark.sql/functions.rst
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/catalyst/pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/datasketchesAggregates.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datasketchesExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/aggregate/DatasketchesHllSketchSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, markdownlint, mypy, pylint, flake8

[SPARK-43143][SS][CONNECT] Scala StreamingQuery awaitTermination()
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQuery.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

[SPARK-43304][CONNECT][PYTHON] Migrate `NotImplementedError` into `PySparkNotImplementedError`
  python/pyspark/errors/error_classes.py
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/connect/streaming/readwriter.py
  python/pyspark/sql/pandas/typehints.py
  python/pyspark/sql/tests/pandas/test_pandas_udf_grouped_agg.py
  python/pyspark/sql/tests/test_arrow_python_udf.py
  python/pyspark/sql/types.py
  python/pyspark/sql/udf.py
  python/pyspark/sql/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-432265][CORE][FOLLOW-UP] Add Mima excludes of ErrorInfo and ErrorSubInfo for Scala 2.13
  project/MimaExcludes.scala
Due: language-matters

[SPARK-43307][PYTHON] Migrate PandasUDF value errors into error class
  python/pyspark/errors/error_classes.py
  python/pyspark/sql/pandas/functions.py
  python/pyspark/sql/tests/pandas/test_pandas_udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-42940][SS][CONNECT] Improve session management for streaming queries
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectStreamHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectStreamingQueryCache.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectPlannerSuite.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/plugin/SparkConnectPluginRegistrySuite.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/SparkConnectStreamingQueryCacheSuite.scala
Due: language-matters

[SPARK-43309][SPARK-38461][CORE] Extend INTERNAL_ERROR with categories and add error class INTERNAL_ERROR_BROADCAST
  common/utils/src/main/scala/org/apache/spark/SparkException.scala
  common/utils/src/main/scala/org/apache/spark/SparkThrowableHelper.scala
  core/src/main/resources/error/error-classes.json
  core/src/main/scala/org/apache/spark/broadcast/Broadcast.scala
  core/src/main/scala/org/apache/spark/broadcast/TorrentBroadcast.scala
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
  core/src/test/scala/org/apache/spark/broadcast/BroadcastSuite.scala
Due: language-matters

[SPARK-41766][CORE] Handle decommission request sent before executor registration
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/test/scala/org/apache/spark/scheduler/CoarseGrainedSchedulerBackendSuite.scala
Due: language-matters

[SPARK-43270][PYTHON] Implement `__dir__()` in `pyspark.sql.dataframe.DataFrame` to include columns
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43237][CORE] Handle null exception message in event log
  core/src/main/scala/org/apache/spark/util/JsonProtocol.scala
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
Due: language-matters

[SPARK-43270][PYTHON][CONNECT][FOLLOW-UP] Implement `__dir__` in PySpark Connect DataFrame
  python/pyspark/sql/connect/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43320][SQL][HIVE] Directly call Hive 2.3.9 API
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
