Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

applying review comments
  hadoop-cloud/README.md
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/AbortableStreamBasedCheckpointFileManager.scala
  hadoop-cloud/src/hadoop-3/test/scala/org/apache/spark/internal/io/cloud/AbortableStreamBasedCheckpointFileManagerSuite.scala
  hadoop-cloud/src/test/java/org/apache/spark/internal/io/cloud/abortable/AbortableFileSystem.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/CheckpointFileManagerSuite.scala
Due: language-matters, markdownlint

logging path at UnsupportedFileSystemException
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/AbortableStreamBasedCheckpointFileManager.scala
Due: language-matters

first
  hadoop-cloud/README.md
  hadoop-cloud/pom.xml
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/AbortableStreamBasedCheckpointFileManager.scala
  hadoop-cloud/src/hadoop-3/test/scala/org/apache/spark/internal/io/cloud/AbortableStreamBasedCheckpointFileManagerSuite.scala
  hadoop-cloud/src/test/java/org/apache/spark/internal/io/cloud/IntegrationTestSuite.java
  hadoop-cloud/src/test/java/org/apache/spark/internal/io/cloud/abortable/AbortableFileSystem.java
  hadoop-cloud/src/test/java/org/apache/spark/internal/io/cloud/abortable/AbstractAbortableFileSystem.java
  project/SparkBuild.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/CheckpointFileManager.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/CheckpointFileManagerSuite.scala
Due: language-matters, markdownlint

explicitly declaring the return type of checkLeakingCrcFiles()
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/CheckpointFileManagerSuite.scala
Due: language-matters

fix build issue
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/CheckpointFileManagerSuite.scala
Due: language-matters

[SPARK-33393][SQL] Support SHOW TABLE EXTENDED in v2
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExec.scala
Due: language-matters

[SPARK-39791][LAUNCHER] In Spark 3.0 standalone cluster mode, unable to customize driver JVM path
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
Due: language-matters

[SPARK-33393][SQL] Support SHOW TABLE EXTENDED in v
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExec.scala
Due: language-matters

[SPARK-40144][WEB UI] Standalone log-view can't load new
  core/src/main/scala/org/apache/spark/ui/UIUtils.scala
Due: language-matters

[MINOR] Remove useless configuration & extract common code
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/ParquetScan.scala
Due: language-matters

[SPARK-39832][PYTHON] Support column arguments in regexp_replace
  python/pyspark/sql/functions.py
  python/pyspark/sql/tests/test_functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Improve docstrings with examples
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-39925][SQL] Add array_sort(column, comparator) overload to DataFrame operations
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

Apply suggestions from code review
  python/pyspark/sql/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update python/pyspark/rdd.py
  python/pyspark/rdd.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-40111][PYTHON][DOCS] Make pyspark.rdd examples self-contained
  python/pyspark/context.py
  python/pyspark/rdd.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-40147][PYTHON][SQL] Make pyspark.sql.session examples self-contained
  python/docs/source/reference/pyspark.sql/core_classes.rst
  python/docs/source/reference/pyspark.sql/udf.rst
  python/pyspark/sql/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-40159] Aggregate should be group only after collapse project to aggregate
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/AggregateOptimizeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

[SPARK-40159] Aggregate should be group only after collapse project to aggregate
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
Due: language-matters

simplified unit test case
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/LocalDirsFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/LocalDirsFeatureStepSuite.scala
Due: language-matters

Simplified unit test case for randomization
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/LocalDirsFeatureStepSuite.scala
Due: language-matters

Return wider ANSI interval types from the percentile functions
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/percentiles.scala
  sql/core/src/test/resources/sql-tests/inputs/percentiles.sql
  sql/core/src/test/resources/sql-tests/results/percentiles.sql.out
Due: language-matters

init
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/spark/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-40162][BUILD] Upgrade RoaringBitmap from 0.9.30 to 0.9.31
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

[SPARK-40162][BUILD] Upgrade RoaringBitmap from 0.9.30 to 0.9.31
  core/benchmarks/MapStatusesSerDeserBenchmark-jdk11-results.txt
  core/benchmarks/MapStatusesSerDeserBenchmark-jdk17-results.txt
  core/benchmarks/MapStatusesSerDeserBenchmark-results.txt
Due: language-matters

to_proto version
  connector/avro/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  connector/avro/src/main/scala/org/apache/spark/sql/proto/CatalystDataToProto.scala
  connector/avro/src/main/scala/org/apache/spark/sql/proto/ProtoFileFormat.scala
  connector/avro/src/main/scala/org/apache/spark/sql/proto/ProtoSerializer.scala
  connector/avro/src/main/scala/org/apache/spark/sql/proto/SchemaConverters.scala
  connector/avro/src/main/scala/org/apache/spark/sql/proto/functions.scala
  connector/avro/src/main/scala/org/apache/spark/sql/v2/proto/ProtoDataSourceV2.scala
  connector/avro/src/main/scala/org/apache/spark/sql/v2/proto/ProtoPartitionReaderFactory.scala
  connector/avro/src/main/scala/org/apache/spark/sql/v2/proto/ProtoScan.scala
  connector/avro/src/main/scala/org/apache/spark/sql/v2/proto/ProtoScanBuilder.scala
  connector/avro/src/main/scala/org/apache/spark/sql/v2/proto/ProtoTable.scala
  connector/avro/src/main/scala/org/apache/spark/sql/v2/proto/ProtoWrite.scala
  connector/avro/src/test/scala/org/apache/spark/sql/proto/ProtoFunctionsSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
Due: language-matters

[SPARK-40161][PS] Make Series.mode apply PandasMode
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/spark/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-39833][SQL] Disable Parquet column index in DSv1 to fix a correctness issue in the case of overlapping partition and data columns
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetQuerySuite.scala
Due: language-matters

[SPARK-40165][BUILD] Update test plugins to latest versions
  pom.xml
Due: language-matters

Upgrade jline from 2.14.6 to 3.21.0
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  project/SparkBuild.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIDriver.scala
Due: language-matters

[SPARK-40162][BUILD] Upgrade RoaringBitmap from 0.9.30 to 0.9.31
  core/benchmarks/MapStatusesSerDeserBenchmark-jdk11-results.txt
  core/benchmarks/MapStatusesSerDeserBenchmark-jdk17-results.txt
  core/benchmarks/MapStatusesSerDeserBenchmark-results.txt
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters
