Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-45913][PYTHON] Hide the internal attributes from PySparkException.
  python/pyspark/errors/exceptions/base.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45899][CONNECT] Set errorClass in errorInfoToThrowable
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/GrpcExceptionConverter.scala
Due: language-matters

[SPARK-45870][INFRA] Upgrade action/checkout to v4
  .github/workflows/benchmark.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_infra_images_cache.yml
  .github/workflows/maven_test.yml
  .github/workflows/publish_snapshot.yml
Due: language-matters

[SPARK-45783][PYTHON][CONNECT] Improve error messages when Spark Connect mode is enabled but remote URL is not set
  python/pyspark/sql/session.py
  python/pyspark/sql/tests/test_session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45733][CONNECT][PYTHON] Support multiple retry policies
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/client/reattach.py
  python/pyspark/sql/connect/client/retries.py
  python/pyspark/sql/tests/connect/client/test_client.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45902][SQL] Remove unused function `resolvePartitionColumns` from `DataSource`
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
Due: language-matters

[SPARK-45770][SQL][PYTHON][CONNECT] Introduce plan `DataFrameDropColumns` for `Dataframe.drop`
  python/pyspark/sql/tests/test_dataframe.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDataFrameDropColumns.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45848][BUILD] Make `spark-version-info.properties` generated by `spark-build-info.ps1` include `docroot`
  build/spark-build-info.ps1
Due: language-matters

[SPARK-45857][SQL] Enforce the error classes in sub-classes of `AnalysisException`
  common/utils/src/main/resources/error/error-classes.json
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/GrpcExceptionConverter.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/NonEmptyException.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/alreadyExistException.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/noSuchItemsExceptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlreadyExistException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/NoSuchItemException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/InvalidUDFClassException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/H2Dialect.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Due: language-matters

[SPARK-45901][DOCS] Collect and update `spark-standalone.md` with new confs
  docs/configuration.md
  docs/spark-standalone.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-45886][SQL] Output full stack trace in `callSite` of DataFrame context
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/trees/QueryContexts.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryContextSuite.scala
Due: language-matters

[SPARK-45723][PYTHON][CONNECT][FOLLOWUP] Replace `toPandas` with `_to_table` in catalog methods
  python/pyspark/sql/connect/catalog.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][PYTHON] Better error message when Python worker crushes
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
Due: language-matters

[SPARK-45906][YARN] Fix error message extraction from ResourceNotFoundException
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ResourceRequestHelper.scala
Due: language-matters

[SPARK-45871][CONNECT] Optimizations collection conversion related to `.toBuffer` in the `connect` modules
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/ExecutePlanResponseReattachableIterator.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectExecutionManager.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/SparkConnectServerTest.scala
Due: language-matters

[SPARK-45655][SQL][SS] Allow non-deterministic expressions inside AggregateFunctions in CollectMetrics
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingQueryStatusAndProgressSuite.scala
Due: language-matters

[SPARK-45875][CORE] Remove `MissingStageTableRowData` from `core` module
  core/src/main/scala/org/apache/spark/ui/jobs/StageTable.scala
Due: language-matters

[MINOR][CONNECT][TESTS] Use `Some(())` instead of `Some()` for `Option[Unit]` return type
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/plugin/SparkConnectPluginRegistrySuite.scala
Due: language-matters

[SPARK-45896][SQL] Construct `ValidateExternalType` with the correct expected type
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/SerializerBuildHelper.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters

[SPARK-45830][CORE] Refactor `StorageUtils#bufferCleaner`
  core/src/main/scala/org/apache/spark/storage/StorageUtils.scala
Due: language-matters

[SPARK-45874][SQL] Remove Java version check from `IsolatedClientLoader`
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
Due: language-matters

[SPARK-45859][ML] Make UDF objects in ml.functions lazy
  mllib/src/main/scala/org/apache/spark/ml/functions.scala
  mllib/src/test/scala/org/apache/spark/ml/FunctionsLoadingSuite.scala
Due: language-matters

[SPARK-45907][CORE] Use Java9+ ProcessHandle APIs to computeProcessTree in ProcfsMetricsGetter
  core/src/main/scala/org/apache/spark/executor/ProcfsMetricsGetter.scala
  core/src/test/scala/org/apache/spark/executor/ProcfsMetricsGetterSuite.scala
Due: language-matters

[SPARK-45909][SQL] Remove `NumericType` cast if it can safely up-cast in `IsNotNull`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyCastsSuite.scala
Due: language-matters

[SPARK-45882][SQL] BroadcastHashJoinExec propagate partitioning should respect CoalescedHashPartitioning
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastHashJoinExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

[SPARK-45845][SS][UI] Add number of evicted state rows to streaming UI
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryStatisticsPage.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/ui/UISeleniumSuite.scala
Due: language-matters

[SPARK-45892][SQL] Refactor optimizer plan validation to decouple `validateSchemaOutput` and `validateExprIdUniqueness`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/LogicalPlan.scala
Due: language-matters

Address more internal features
  python/pyspark/errors/exceptions/captured.py
  python/pyspark/errors/exceptions/connect.py
  python/pyspark/sql/connect/udf.py
  python/pyspark/sql/connect/udtf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add
  binder/postBuild
  docs/cloud-integration.md
Due: language-matters, provider-yamls, markdownlint

[MINOR][DOCS] Correct additional Conda documentation URL to fix 404 errors
  python/docs/source/getting_started/install.rst
Due: language-matters

[SPARK-44733][PYTHON][DOCS] Add Python to Spark type conversion page to PySpark docs.
  docs/sql-ref-datatypes.md
  python/docs/source/user_guide/sql/index.rst
  python/docs/source/user_guide/sql/type_conversions.rst
Due: language-matters, provider-yamls, markdownlint

Attempt addressing comments.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters

fix
  sql/core/src/test/resources/sql-tests/analyzer-results/typeCoercion/native/mapZipWith.sql.out
  sql/core/src/test/resources/sql-tests/results/typeCoercion/native/mapZipWith.sql.out
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q36a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-query-results/v2_7/q36a.sql.out
Due: language-matters

add warnOnWastedResources for TaskResourceProfile
  core/src/test/scala/org/apache/spark/resource/ResourceUtilsSuite.scala
Due: language-matters

Fixes.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters
