Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

generated error class stuff
  docs/sql-error-conditions-unsupported-feature-error-class.md
Due: language-matters, provider-yamls, markdownlint

evicting from ttl column family
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreProvider.scala
Due: language-matters

everything compiles and passes?
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ListStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StateTypesEncoderUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ValueStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreProvider.scala
Due: language-matters

reverting unnecessary changes
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamTest.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateSuite.scala
Due: language-matters

comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/scalar-subquery/scalar-subquery-count-bug.sql.out
  sql/core/src/test/resources/sql-tests/inputs/subquery/scalar-subquery/scalar-subquery-count-bug.sql
  sql/core/src/test/resources/sql-tests/results/subquery/scalar-subquery/scalar-subquery-count-bug.sql.out
Due: language-matters

flag
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

need to support batch
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateWithInitialStateSuite.scala
Due: language-matters

clean up comments
  common/utils/src/main/resources/error/error-classes.json
  python/pyspark/sql/connect/utils.py
  python/pyspark/sql/datasource.py
  python/pyspark/sql/worker/python_streaming_sink_runner.py
  python/pyspark/sql/worker/write_into_data_source.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/PythonStreamingSinkCommitRunner.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix python lint issue
  python/pyspark/sql/datasource.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix code style
  python/pyspark/sql/streaming/python_streaming_source_runner.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Restructure MasterSuite
  core/src/test/scala/org/apache/spark/deploy/master/MasterSuite.scala
  core/src/test/scala/org/apache/spark/deploy/master/RecoverySuite.scala
  core/src/test/scala/org/apache/spark/deploy/master/ResourceProfilesSuite.scala
Due: language-matters

clear
  python/pyspark/sql/profiler.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

mock test
  python/pyspark/sql/tests/test_session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47252][DOCS] Clarify that pivot may trigger an eager computation
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/RelationalGroupedDataset.scala
  python/pyspark/sql/group.py
  sql/core/src/main/scala/org/apache/spark/sql/RelationalGroupedDataset.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update python/pyspark/sql/worker/create_data_source.py
  python/pyspark/sql/worker/create_data_source.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Changed schemOfXml to fail on DROPMALFORMED mode
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/xmlExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/XmlSuite.scala
Due: language-matters

respond to code review comments;
  examples/src/main/python/sql/udtf.py
  python/docs/source/user_guide/sql/python_udtf.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

respond to code review comments;
  python/docs/source/user_guide/sql/python_udtf.rst
Due: language-matters

done
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix UT
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryPartitionTableCatalog.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryRowLevelOperationTableCatalog.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTableWithV2FilterCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/LocalScanSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V1ReadFallbackSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/test/DataStreamTableAPISuite.scala
Due: language-matters

[SPARK-47177][SQL] Cached SQL plan do not display final AQE plan in explain string
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ExplainUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/InMemoryRelation.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/InMemoryRelationSuite.scala
Due: language-matters

Restructure more
  core/src/test/scala/org/apache/spark/deploy/master/MasterDecommisionSuite.scala
  core/src/test/scala/org/apache/spark/deploy/master/MasterSuite.scala
  core/src/test/scala/org/apache/spark/deploy/master/MasterWorkerUISuite.scala
  core/src/test/scala/org/apache/spark/deploy/master/RecoverySuite.scala
Due: language-matters

fix
  core/src/test/scala/org/apache/spark/deploy/master/MasterDecommisionSuite.scala
Due: language-matters

Update AnalysisHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/AnalysisHelper.scala
Due: language-matters

Update code
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
Due: language-matters

fix up
  core/src/test/scala/org/apache/spark/deploy/master/ResourceProfilesSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/WorkerDecommissionExtendedSuite.scala
Due: language-matters

Enable CAN_CHANGE_CACHED_PLAN_OUTPUT_PARTITIONING
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/InMemoryRelationSuite.scala
Due: language-matters

[SPARK-47146][CORE] Possible thread leak when doing sort merge join
  core/src/main/java/org/apache/spark/util/collection/unsafe/sort/UnsafeSorterSpillReader.java
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

lint'
  python/pyspark/sql/tests/test_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add withCommandResultOptimized
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

[SPARK-47176][SQL][FOLLOW-UP] resolveExpressions should have three versions which is the same as resolveOperators
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/AnalysisHelper.scala
Due: language-matters

Edit assert
  sql/core/src/test/scala/org/apache/spark/sql/execution/QueryExecutionSuite.scala
Due: language-matters

Reduce memory requests
  core/src/test/scala/org/apache/spark/deploy/master/MasterSuite.scala
  core/src/test/scala/org/apache/spark/deploy/master/MasterSuiteBase.scala
Due: language-matters

minor
  python/pyspark/sql/tests/test_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Implement contains for non-binary, non-lowercase collations
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

Rename _LEGACY_ERROR_TEMP_3253 to NONEXISTENT_FIELD_NAME_IN_LIST
  common/utils/src/main/resources/error/error-classes.json
  sql/api/src/main/scala/org/apache/spark/sql/types/StructType.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/StructTypeSuite.scala
Due: language-matters

[SPARK-47279][CORE]When the messageLoop encounter a fatal exception, such as oom, exit the JVM to avoid the driver hanging forever
  core/src/main/scala/org/apache/spark/rpc/netty/MessageLoop.scala
Due: language-matters
