Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

init
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41700][CONNECT][PYTHON] Remove `FunctionBuilder`
  python/pyspark/sql/connect/_typing.py
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/connect/expressions.py
  python/pyspark/sql/connect/function_builder.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41423][CORE] Protobuf serializer for StageDataWrapper
  core/src/main/scala/org/apache/spark/status/protobuf/StageDataWrapperSerializer.scala
Due: language-matters

init
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  connector/connect/common/src/main/protobuf/spark/connect/expressions.proto
  python/pyspark/sql/connect/proto/expressions_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41701][CONNECT][PYTHON] Make column op support `decimal`
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41702][CONNECT][PYTHON] Add invalid column ops
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41111][CONNECT][PYTHON][FOLLOWUP] Rename `numRows` in proto to follow proto style
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41334][CONNECT][PYTHON][FOLLOWUP] Add the missing `UNSPECIFIED` in enum
  connector/connect/common/src/main/protobuf/spark/connect/expressions.proto
  python/pyspark/sql/connect/proto/expressions_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41704][BUILD] Upgrade `sbt-assembly` from 2.0.0 to 2.1.0
  project/plugins.sbt
Due: language-matters

SPARK-41533
  connector/connect/README.md
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  dev/create-release/spark-rm/Dockerfile
  dev/infra/Dockerfile
  dev/lint-python
  dev/requirements.txt
  python/pyspark/sql/connect/client.py
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: lint-dockerfile, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, markdownlint, mypy, pylint, flake8

missing proto to string
  python/pyspark/sql/connect/client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[CONNECT][MINOR] Move generate_protos.sh to dev/
  connector/connect/README.md
  dev/check-codegen-python.py
  dev/generate_protos.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, markdownlint, flake8

Catalog plan definitions
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/common/src/main/protobuf/spark/connect/catalog.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectStreamHandler.scala
Due: language-matters

init
  connector/connect/common/src/main/protobuf/spark/connect/expressions.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/LiteralValueProtoConverter.scala
  python/pyspark/sql/connect/expressions.py
  python/pyspark/sql/connect/proto/expressions_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.pyi
  python/pyspark/sql/connect/types.py
  python/pyspark/sql/tests/connect/test_connect_column_expressions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41706][CONNECT][PYTHON] pyspark_types_to_proto_types should supports MapType
  python/pyspark/sql/connect/types.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/connect/test_connect_plan_only.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix lint
  python/pyspark/sql/connect/plan.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix 2
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Python implementation
  connector/connect/common/src/main/protobuf/spark/connect/catalog.proto
  dev/sparktestsupport/modules.py
  python/pyspark/sql/catalog.py
  python/pyspark/sql/connect/catalog.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/__init__.py
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/catalog_pb2.py
  python/pyspark/sql/connect/proto/catalog_pb2.pyi
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/session.py
  python/pyspark/sql/tests/connect/test_parity_catalog.py
  python/pyspark/sql/tests/test_catalog.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][SQL] Document AnalysisOnlyCommand
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/Command.scala
Due: language-matters

Explicitly define Seq to collection.Seq
  core/src/main/scala/org/apache/spark/status/api/v1/api.scala
  core/src/main/scala/org/apache/spark/status/protobuf/ApplicationEnvironmentInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/ApplicationInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/JobDataWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/RDDStorageInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/TaskDataWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/storeTypes.scala
Due: language-matters

sql module
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/SQLAppStatusStore.scala
  sql/core/src/main/scala/org/apache/spark/status/protobuf/sql/SQLExecutionUIDataSerializer.scala
Due: language-matters

fix
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix
  python/pyspark/sql/connect/plan.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

upgrade protobuf-java
  pom.xml
  project/SparkBuild.scala
Due: language-matters

Fix tests
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/tests/test_functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

build fail
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  python/pyspark/sql/connect/client.py
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41714][BUILD] Update maven-checkstyle-plugin from 3.1.2 to 3.2.0
  pom.xml
Due: language-matters

[SPARK-41703][CONNECT][PYTHON] Combine NullType and typed_null in Literal
  connector/connect/common/src/main/protobuf/spark/connect/expressions.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/LiteralValueProtoConverter.scala
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/expressions.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/expressions_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.pyi
  python/pyspark/sql/connect/types.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/connect/test_connect_column_expressions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Adding code mock for auto infer bucketing mode
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/createDataSourceTables.scala
Due: language-matters

Less changes
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/common/src/main/protobuf/spark/connect/catalog.proto
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectStreamHandler.scala
  python/pyspark/sql/connect/catalog.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/catalog_pb2.py
  python/pyspark/sql/connect/proto/catalog_pb2.pyi
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
  python/pyspark/sql/tests/connect/test_parity_catalog.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

avoid change public apis
  core/src/main/scala/org/apache/spark/status/api/v1/api.scala
  core/src/main/scala/org/apache/spark/status/protobuf/ApplicationEnvironmentInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/RDDStorageInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/TaskDataWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/storeTypes.scala
Due: language-matters

fix
  sql/core/benchmarks/RegexBenchmark-jdk17-results.txt
Due: language-matters

more
  core/src/main/scala/org/apache/spark/status/protobuf/JobDataWrapperSerializer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/SQLAppStatusListener.scala
Due: language-matters

[SPARK-41710][CONNECT][PYTHON] Implement `Column.between`
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

build update
  .github/workflows/build_and_test.yml
Due: language-matters

All tests pass
  connector/connect/common/src/main/protobuf/spark/connect/catalog.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/catalog.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/tests/test_catalog.py
  python/pyspark/testing/sqlutils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Exclude explicit cache API for now
  connector/connect/common/src/main/protobuf/spark/connect/catalog.proto
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/catalog.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/catalog_pb2.py
  python/pyspark/sql/connect/proto/catalog_pb2.pyi
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
  python/pyspark/sql/tests/connect/test_parity_catalog.py
  python/pyspark/sql/tests/test_catalog.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
