Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

fix lint
  python/pyspark/context.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix lint II
  python/pyspark/context.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-40083][SHUFFLE] Add shuffle index cache timebased expire policy
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/ExternalShuffleBlockResolver.java
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/ExternalShuffleBlockResolverSuite.java
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-40073][INFRA][BUILD][CORE][SQL][AVRO][PYTHON] Replace `external/{moduleName}` with `connector/{moduleName}`
  .github/labeler.yml
  LICENSE
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  connector/kinesis-asl/src/main/python/examples/streaming/kinesis_wordcount_asl.py
  dev/checkstyle-suppressions.xml
  dev/sparktestsupport/modules.py
  python/pyspark/sql/avro/functions.py
  python/pyspark/testing/streamingutils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-apache-license, mypy, pylint, flake8

Eliminate Sorts
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
Due: language-matters

[SPARK-40019][SQL] Refactor comment of ArrayType's containsNull and refactor the misunderstanding logics in collectionOperator's expression about `containsNull`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/complexTypeExtractors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/ArrayType.scala
Due: language-matters

[SPARK-39982][DOC] Add doc string to StructType.fromJson
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-39887][SQL][3.1] RemoveRedundantAliases should keep aliases that make the output of projection nodes unique
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RemoveRedundantAliasAndProjectSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/metric/SQLMetricsSuite.scala
Due: language-matters

fix doctest and python style error
  python/pyspark/sql/column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-40058][CORE] Avoid filter file path more than once in HadoopFSUtils
  core/src/main/scala/org/apache/spark/util/HadoopFSUtils.scala
Due: language-matters

Address comments
  core/src/main/scala/org/apache/spark/resource/ResourceProfileBuilder.scala
Due: language-matters

remove unused import
  python/pyspark/sql/column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add the SQL config spark.sql.error.messageFormat
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

use INTERNAL_ERROR error class instead of IllegalStateException to indicate bugs
  core/src/main/scala/org/apache/spark/SparkException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
Due: language-matters

fix test
  core/src/main/scala/org/apache/spark/util/JacksonUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/continuous/ContinuousRateStreamSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/continuous/ContinuousTextSocketSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/ContinuousMemoryStream.scala
Due: language-matters

Modify message in runningQueryError
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServerErrors.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkExecuteStatementOperation.scala
Due: language-matters

tmp fix
  sql/core/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryStatus.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/progress.scala
Due: language-matters

add comments
  common/network-common/src/main/java/org/apache/spark/network/shuffledb/DB.java
  common/network-common/src/main/java/org/apache/spark/network/shuffledb/StoreVersion.java
Due: language-matters

use ClassTagExtensions
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/JsonUtils.scala
Due: language-matters

SPARK-40087 Support multiple Column drop in R
  R/pkg/R/DataFrame.R
  R/pkg/R/generics.R
  R/pkg/tests/fulltests/test_sparkSQL.R
Due: language-matters

update removedSQLConfigs
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

Fix test
  R/pkg/tests/fulltests/test_sparkSQL.R
Due: language-matters

[SPARK-40064][SQL] Use V2 Filter in SupportsOverwrite
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableCapability.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/SupportsDynamicOverwrite.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/SupportsOverwriteV2.java
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryBaseTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTableWithV2Filter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2Writes.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DeleteFromTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V1WriteFallbackSuite.scala
Due: language-matters

[SPARK-40088][SQL][TESTS] Add SparkPlanWIthAQESuite
  sql/core/src/test/scala/org/apache/spark/sql/execution/SparkPlanSuite.scala
Due: language-matters

Add a test for the Thrift server
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
Due: language-matters

Update sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultColumns.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultColumns.scala
Due: language-matters

Update SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

SPARK-40034. reject newTaskTempFileAbsPath() when dynamic partition unsupported
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/internal/io/cloud/PathOutputCommitProtocol.scala
  hadoop-cloud/src/hadoop-3/test/scala/org/apache/spark/internal/io/cloud/CommitterBindingSuite.scala
Due: language-matters

update map.sql
  sql/core/src/test/resources/sql-tests/inputs/ansi/map.sql
  sql/core/src/test/resources/sql-tests/results/ansi/map.sql.out
Due: language-matters

upgrade
  bin/pyspark
  bin/pyspark2.cmd
  core/pom.xml
  core/src/main/scala/org/apache/spark/api/python/PythonUtils.scala
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  python/docs/Makefile
  python/docs/make2.bat
  python/docs/source/getting_started/install.rst
  python/lib/py4j-0.10.9.5-src.zip
  python/lib/py4j-0.10.9.7-src.zip
  python/setup.py
  sbin/spark-config.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, airflow-providers-available, mypy, pylint, flake8

[WIP] TO_BINARY implementation with error handling
  core/src/main/resources/error/error-classes.json
  core/src/main/scala/org/apache/spark/SparkException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TryEval.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

Apply suggestions from code review
  python/pyspark/context.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-40066][SQL] ANSI mode: always return null on invalid access to map column
  core/src/main/resources/error/error-classes.json
  docs/sql-migration-guide.md
  docs/sql-ref-ansi-compliance.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ProjectionOverSchema.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/SelectedField.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/complexTypeExtractors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ComplexTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollectionExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ComplexTypeSuite.scala
  sql/core/src/test/resources/sql-tests/inputs/ansi/array.sql
  sql/core/src/test/resources/sql-tests/inputs/ansi/map.sql
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/ansi/map.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionAnsiErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/SchemaPruningSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-40077][PYTHON][DOCS] Make pyspark.context examples self-contained
  python/pyspark/context.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Use padTo
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters

[SPARK-40009][PYTHON][DOCS] Add missing doc string info to DataFrame API
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
