Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, check-apache-license, mypy, pylint, pylint-tests, flake8, airflow-config-yaml

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  require_serial: true
  entry: tests/test_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false
  require_serial: true

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsitent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

base-operator:
  language: pygrep
  name: Make sure BaseOperator[Link] is imported from airflow.models outside of core
  entry: from airflow\.models\.baseoperator import.* BaseOperator
  pass_filenames: true

provide-create-sessions:
  language: pygrep
  name: Make sure provide_session and create_session are imported from airflow.utils.session
  entry: from airflow\.utils\.db import.* (provide_session|create_session)
  pass_filenames: true

check-apache-license:
  name: Check if licenses are OK for Apache
  entry: ./scripts/ci/pre_commit_check_license.sh
  language: system
  pass_filenames: false
  require_serial: true

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit_mypy.sh
  pass_filenames: true

pylint:
  name: Run pylint for main sources
  language: system
  entry: ./scripts/ci/pre_commit_pylint_main.sh
  pass_filenames: true
  require_serial: true

pylint-tests:
  name: Run pylint for tests
  language: system
  entry: ./scripts/ci/pre_commit_pylint_tests.sh
  pass_filenames: true
  require_serial: false

flake8:
  name: Run flake8
  language: system
  entry: ./scripts/ci/pre_commit_flake8.sh
  pass_filenames: true

airflow-config-yaml:
  name: Checks for consistency between config.yml and default_config.cfg
  language: python
  pass_filenames: false
  require_serial: false
  entry: scripts/ci/pre_commit_yaml_to_cfg.py
  additional_dependencies:
  - pyyaml

Pass hadoop conf to stream handlerfactory
  sql/core/src/main/scala/org/apache/spark/sql/internal/SharedState.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/SharedStateSuite.scala
Due: none

Fixing typos
  sql/core/src/test/scala/org/apache/spark/sql/internal/SharedStateSuite.scala
Due: none

Address review comments
  sql/core/src/test/scala/org/apache/spark/sql/internal/SharedStateSuite.scala
Due: none

Address review comments
  sql/core/src/main/scala/org/apache/spark/sql/internal/SharedState.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/SharedStateSuite.scala
Due: none

Fix failure: Linter checks
  sql/core/src/test/scala/org/apache/spark/sql/internal/SharedStateSuite.scala
Due: none

Update GoogleBaseHook to not follow 308 and use 60s timeout (#8816)
  airflow/providers/google/common/hooks/base_google.py
  tests/providers/google/common/hooks/test_base_google.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

address comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
Due: none

fix
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: none

[SPARK-31696][K8S] Support spark.kubernetes.driver.service.annotation
  docs/running-on-kubernetes.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/KubernetesConf.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/DriverServiceFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/KubernetesTestConf.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/DriverServiceFeatureStepSuite.scala
Due: none

[SPARK-21514][SQL] Changed parameter names to spark.sql.hive.supportedSchemesToUseNonBlobstore and spark.sql.hive.useBlobstoreAsScratchDir, and Refactored related codes based on the comments.
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFile.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFileSuite.scala
Due: none

Fix HistoryServer to set Content-Type
  core/src/main/scala/org/apache/spark/deploy/history/HistoryServer.scala
  core/src/test/scala/org/apache/spark/deploy/history/HistoryServerSuite.scala
Due: none

Fixed test case
  core/src/test/scala/org/apache/spark/deploy/history/HistoryServerSuite.scala
Due: none

[SPARK-21514][SQL] Merged two parameters into spark.sql.hive.supportedSchemesToUseNonBlobstore
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFile.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFileSuite.scala
Due: none

[SPARK-30654][WEBUI][FOLLOWUP] Remove bootstrap-tooltip.js which is no longer used
  core/src/main/resources/org/apache/spark/ui/static/bootstrap-tooltip.js
  dev/.rat-excludes
Due: none

[SPARK-21514][SQL] Refactoring based on comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFile.scala
Due: none

Fix Environment Variable in perf/scheduler_dag_execution_timing.py (#8847)
  scripts/perf/scheduler_dag_execution_timing.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, flake8

update
  mllib/src/main/scala/org/apache/spark/ml/feature/QuantileDiscretizer.scala
Due: none

Correctly pass sleep time from AWSAthenaOperator down to the hook. (#8845)
  airflow/providers/amazon/aws/operators/athena.py
  tests/providers/amazon/aws/operators/test_athena.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[SPARK-31697][WEBUI] HistoryServer should set Content-Type
  core/src/main/scala/org/apache/spark/deploy/history/HistoryServer.scala
  core/src/test/scala/org/apache/spark/deploy/history/HistoryServerSuite.scala
Due: none

The librabbitmq library stopped installing for python3.7 (#8853)
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/setup-3.6.md5
  requirements/setup-3.7.md5
  setup.py
Due: isort, setup-order, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/interfaces.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/HashAggregateExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: none

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/interfaces.scala
Due: none

address comment
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/HashAggregateExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: none

Bump up the minimum Arrow version as 0.15.1 in SparkR
  R/pkg/DESCRIPTION
  docs/sparkr.md
Due: none

refactor thriftserverPage
  core/src/main/scala/org/apache/spark/ui/PagedTable.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/ui/ThriftServerPage.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/ui/ThriftServerSessionPage.scala
Due: none

SPARK-30973 ScriptTransformationExec should wait for the termination of process when scriptOutputReader hasNext return false
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/ScriptTransformationExec.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/ScriptTransformationSuite.scala
Due: none

fix
  core/src/main/scala/org/apache/spark/ui/PagedTable.scala
Due: none

add ticket number to test
  sql/core/src/test/scala/org/apache/spark/sql/SparkSessionBuilderSuite.scala
Due: none

Convert tests/jobs/test_base_job.py to pytest (#8856)
  tests/jobs/test_base_job.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

Update README.md
  README.md
Due: none

health check
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
Due: none

[SPARK-31701][R][SQL] Bump up the minimum Arrow version as 0.15.1 in SparkR
  R/pkg/DESCRIPTION
  docs/sparkr.md
Due: none

add back the support of streaming update mode
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaSourceProvider.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/connector/SupportsStreamingUpdate.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/noop/NoopDataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/console.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/ForeachWriterTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/memory.scala
Due: none

Add metric for monitoring email notification failures (#8771)
  airflow/jobs/scheduler_job.py
  docs/metrics.rst
  tests/jobs/test_scheduler_job.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Relax Flask-Appbuilder version to ~=2.3.4 (#8857)
  Dockerfile.ci
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/setup-3.6.md5
  requirements/setup-3.7.md5
  setup.py
Due: lint-dockerfile, isort, setup-order, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Handle review comments: Add JIRA id to test name
  sql/core/src/test/scala/org/apache/spark/sql/internal/SharedStateSuite.scala
Due: none

Add AWS EMR System tests (#8618)
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  tests/providers/amazon/aws/operators/test_emr_system.py
  tests/test_utils/amazon_system_helpers.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$
