Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

tests
  python/pyspark/ml/connect/feature.py
  python/pyspark/ml/tests/connect/test_legacy_mode_feature.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

minor
  python/pyspark/sql/connect/client/artifact.py
  python/pyspark/sql/connect/client/core.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Make SparkConnectClosureCleaner private to not expose a new public object
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/expressions/UserDefinedFunction.scala
Due: language-matters

Make Mima happy about SparkConnectClosureCleaner
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
Due: language-matters

[SPARK-45250][CORE] Support stage level task resource profile for yarn cluster when dynamic allocation disabled
  core/src/main/scala/org/apache/spark/resource/ResourceProfileManager.scala
  core/src/test/scala/org/apache/spark/resource/ResourceProfileManagerSuite.scala
  docs/configuration.md
  docs/running-on-yarn.md
Due: language-matters, provider-yamls, markdownlint

update
  common/network-common/src/main/java/org/apache/spark/network/util/DBProvider.java
  core/src/main/scala/org/apache/spark/status/KVUtils.scala
Due: language-matters

[SPARK-36112][SQL] Support correlated EXISTS and IN subqueries using DecorrelateInnerQuery framework
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/DecorrelateInnerQuery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/ResolveSubquerySuite.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/exists-subquery/exists-aggregate.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/exists-subquery/exists-count-bug.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/exists-subquery/exists-joins-and-set-ops.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/exists-subquery/exists-orderby-limit.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/in-subquery/in-count-bug.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/in-subquery/in-group-by.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/in-subquery/in-limit.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/in-subquery/in-set-operations.sql.out
  sql/core/src/test/resources/sql-tests/inputs/subquery/exists-subquery/exists-count-bug.sql
  sql/core/src/test/resources/sql-tests/inputs/subquery/exists-subquery/exists-orderby-limit.sql
  sql/core/src/test/resources/sql-tests/inputs/subquery/in-subquery/in-count-bug.sql
  sql/core/src/test/resources/sql-tests/inputs/subquery/in-subquery/in-limit.sql
  sql/core/src/test/resources/sql-tests/results/join-lateral.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/exists-subquery/exists-aggregate.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/exists-subquery/exists-count-bug.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/exists-subquery/exists-joins-and-set-ops.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/exists-subquery/exists-orderby-limit.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/in-subquery/in-count-bug.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/in-subquery/in-group-by.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/in-subquery/in-limit.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/in-subquery/in-set-operations.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Due: language-matters

update
  python/pyspark/ml/connect/feature.py
  python/pyspark/ml/param/_shared_params_code_gen.py
  python/pyspark/ml/tests/connect/test_legacy_mode_feature.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/SparkConnectPlanExecution.scala
Due: language-matters

working
  common/network-common/src/main/java/org/apache/spark/network/util/TransportConf.java
  common/network-common/src/test/java/TransportConfSuite.java
  common/network-common/src/test/java/org/apache/spark/network/ssl/SslSampleConfigs.java
Due: language-matters

remove unneeded null check
  common/network-common/src/main/java/org/apache/spark/network/util/TransportConf.java
Due: language-matters

Address Wenchen's review comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
Due: language-matters

[SPARK-45423][SQL] Lower ParquetWriteSupport log level to debug
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetWriteSupport.scala
Due: language-matters

[SPARK-45408][CORE] Add RPC SSL settings to TransportConf
  common/network-common/src/main/java/org/apache/spark/network/util/TransportConf.java
  common/network-common/src/test/java/TransportConfSuite.java
  common/network-common/src/test/java/org/apache/spark/network/ssl/SslSampleConfigs.java
Due: language-matters

[SPARK-45231][INFRA] Remove unrecognized and meaningless command about `Ammonite` from the GA testing workflow
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-45423][SQL] Lower `ParquetWriteSupport` log level to debug
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetWriteSupport.scala
Due: language-matters

reformat
  python/pyspark/tests/test_pin_thread.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

save
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MsSqlServerDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

[SPARK-45400][SQL][DOCS] Refer to the unescaping rules from expression descriptions
  docs/sql-ref-literals.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
Due: language-matters, provider-yamls, markdownlint

[MINOR][SQL] Remove Scalac 2.12-specific code in InMemoryFileIndex
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/InMemoryFileIndex.scala
Due: language-matters

fix
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

refine
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

should use current plan's output in ScanOperation
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/planning/patterns.scala
Due: language-matters

address comments
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix docker test
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/MsSqlServerIntegrationSuite.scala
Due: language-matters

Change current_database() column alias to current_schema()
  python/pyspark/sql/functions.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/misc.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/analyzer-results/current_database_catalog.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/sql-session-variables.sql.out
  sql/core/src/test/resources/sql-tests/results/current_database_catalog.sql.out
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, markdownlint, mypy, pylint, flake8

fix
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/MsSqlServerIntegrationSuite.scala
Due: language-matters

[SPARK-45430] Fix for FramelessOffsetWindowFunction when IGNORE NULLS and offset > rowCount
  sql/core/src/main/scala/org/apache/spark/sql/execution/window/WindowFunctionFrame.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameWindowFunctionsSuite.scala
Due: language-matters

Address ArrayType for indexing
  python/pyspark/pandas/indexing.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43664][CONNECT][PS] Do not clear temp view for ps.sql with remote session
  python/pyspark/pandas/sql_formatter.py
  python/pyspark/pandas/tests/connect/test_parity_sql.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45396][PYTHON] Add doc entry for `pyspark.ml.connect` module, and adds `Evaluator` to `__all__` at `ml.connect`
  python/docs/source/reference/index.rst
  python/docs/source/reference/pyspark.ml.connect.rst
  python/pyspark/ml/connect/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45394][SPARK-45093][PYTHON][CONNECT] Add retries for artifact API. Improve error handling (follow-up to [])
  python/pyspark/sql/connect/client/artifact.py
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/tests/connect/client/test_artifact.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45421][SQL] Catch AnalysisException over InlineCTE
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
Due: language-matters

[SPARK-45432][CORE] Remove deprecated Hadoop-2 `LocatedFileStatus` constructor
  core/src/main/scala/org/apache/spark/util/HadoopFSUtils.scala
Due: language-matters

[SPARK-45290][INFRA][Launcher] Fix The return status is incorrect in standalone mode. The status of endevent is correct
  launcher/src/main/java/org/apache/spark/launcher/AbstractAppHandle.java
  launcher/src/main/java/org/apache/spark/launcher/SparkAppHandle.java
  launcher/src/test/java/org/apache/spark/launcher/LauncherServerSuite.java
Due: language-matters

update
  python/pyspark/ml/connect/feature.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44219][SQL] Adds extra per-rule validations for optimization rewrites
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExprUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/LogicalPlan.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/OptimizerSuite.scala
Due: language-matters

Reduce memory usage.
  mllib/src/test/scala/org/apache/spark/mllib/util/LocalClusterSparkContext.scala
Due: language-matters

rename to ArrayAssembler
  python/pyspark/ml/connect/feature.py
  python/pyspark/ml/tests/connect/test_legacy_mode_feature.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
