Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Add Unit type to explicitly return type of functions
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetAvroCompatibilitySuite.scala
Due: language-matters

reformat
  sql/core/src/test/scala/org/apache/spark/sql/streaming/ReportSinkMetricsSuite.scala
Due: language-matters

restore unwanted changes
  sql/core/src/test/resources/sql-tests/results/ansi/literals.sql.out
  sql/core/src/test/resources/sql-tests/results/literals.sql.out
Due: language-matters

Remove otherwise clause as it will not happen
  docs/sql-data-sources-avro.md
Due: language-matters, provider-yamls, markdownlint

Test result report for ANSI mode
  .github/workflows/build_and_test_ansi.yml
  .github/workflows/test_report.yml
Due: language-matters

update
  sql/core/src/main/scala/org/apache/spark/status/api/v1/sql/SqlResource.scala
Due: language-matters

Revert "[SPARK-38556][PYTHON] Disable Pandas usage logging for method calls inside @contextmanager functions"
  python/pyspark/instrumentation_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Rename KOALAS_USAGE_LOGGER to POS_USAGE_LOGGER
  python/pyspark/pandas/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Upgrade ffi to 1.15.5 with --enable-libffi-alloc
  docs/.bundle/config
  docs/Gemfile
  docs/Gemfile.lock
Due: language-matters, provider-yamls

[SPARK-38607][INFRA] Test result report for ANSI mode
  .github/workflows/build_and_test_ansi.yml
  .github/workflows/test_report.yml
Due: language-matters

[SPARK-38548][SQL] New SQL function: try_sum
  docs/sql-ref-ansi-compliance.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Sum.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/inputs/ansi/try_aggregates.sql
  sql/core/src/test/resources/sql-tests/inputs/try_aggregates.sql
  sql/core/src/test/resources/sql-tests/results/ansi/try_aggregates.sql.out
  sql/core/src/test/resources/sql-tests/results/try_aggregates.sql.out
Due: language-matters, provider-yamls, markdownlint

addressing comments
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/ReportsSinkMetrics.java
  sql/core/src/test/scala/org/apache/spark/sql/streaming/ReportSinkMetricsSuite.scala
Due: language-matters

clean up
  sql/catalyst/src/test/java/org/apache/spark/sql/connector/catalog/CatalogLoadingSuite.java
Due: language-matters

[SPARK-38609][PYTHON] Add `PYSPARK_PANDAS_USAGE_LOGGER` environment variable as an alias of `KOALAS_USAGE_LOGGER`
  python/pyspark/pandas/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix Inline type hint for duplicated.keep
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/series.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

check classifications
  mllib/src/main/scala/org/apache/spark/ml/classification/Classifier.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/DecisionTreeClassifier.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/FMClassifier.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/GBTClassifier.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/LinearSVC.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/MultilayerPerceptronClassifier.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/NaiveBayes.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/RandomForestClassifier.scala
  mllib/src/main/scala/org/apache/spark/ml/util/DatasetUtils.scala
  mllib/src/main/scala/org/apache/spark/mllib/classification/NaiveBayes.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/ClassifierSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/DecisionTreeClassifierSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/FMClassifierSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/GBTClassifierSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/LinearSVCSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/LogisticRegressionSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/MultilayerPerceptronClassifierSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/NaiveBayesSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/RandomForestClassifierSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/util/MLTest.scala
Due: language-matters

Update code
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/GeneralScalarExpression.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Predicate.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/AlwaysFalse.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/AlwaysTrue.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/And.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/BinaryComparison.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/BinaryFilter.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/EqualNullSafe.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/EqualTo.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Filter.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/GreaterThan.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/GreaterThanOrEqual.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/In.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/IsNotNull.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/IsNull.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/LessThan.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/LessThanOrEqual.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Not.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Or.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/StringContains.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/StringEndsWith.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/StringPredicate.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/StringStartsWith.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/util/V2ExpressionSQLBuilder.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/DataSourceScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushDownUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushedDownOperators.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
Due: language-matters

Update code
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/V2FiltersSuite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/util/V2ExpressionSQLBuilder.java
Due: language-matters

[SPARK-38432][SQL] Reactor framework so as JDBC dialect could compile filter by self way
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/GeneralScalarExpression.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Predicate.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownV2Filters.java
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/util/V2ExpressionBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/DataSourceScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushDownUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScanBuilder.scala
  sql/core/src/test/java/test/org/apache/spark/sql/connector/JavaAdvancedDataSourceV2WithV2Filter.java
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2Suite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2StrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Update coe
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/GeneralScalarExpression.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownV2Filters.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/util/V2ExpressionSQLBuilder.java
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/util/V2ExpressionBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2StrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/AlwaysFalse.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/AlwaysTrue.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/util/V2ExpressionSQLBuilder.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2StrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Or.java
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/GeneralScalarExpression.java
Due: language-matters

Update code
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScan.scala
Due: language-matters

Update code
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScan.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/util/V2ExpressionSQLBuilder.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
Due: language-matters

Update code
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/GeneralScalarExpression.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/And.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Not.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Or.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Predicate.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownV2Filters.java
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/util/V2ExpressionBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/DataSourceScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushDownUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScanBuilder.scala
  sql/core/src/test/java/test/org/apache/spark/sql/connector/JavaAdvancedDataSourceV2WithV2Filter.java
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2Suite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2StrategySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/AlwaysTrue.java
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/AlwaysFalse.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/AlwaysTrue.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/And.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Or.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Predicate.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/util/V2ExpressionSQLBuilder.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
Due: language-matters

Update code
  sql/catalyst/src/main/scala/org/apache/spark/sql/sources/filters.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/V2FiltersSuite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/filter/Predicate.java
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
