Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

doc
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

not in datetype suite
  sql/hive/src/test/scala/org/apache/spark/sql/hive/client/FiltersSuite.scala
Due: language-matters

Fix eager upgrade typo (#14694)
  Dockerfile.ci
Due: lint-dockerfile, language-matters

Prevent mixed case env vars from crashing processes like worker (#14380)
  airflow/configuration.py
  airflow/executors/celery_executor.py
  tests/core/test_configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Implement feedback from SPARK-34682
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

Fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/LimitPushdownThroughWindowSuite.scala
Due: language-matters

Replace quoteIdentifier with quoteIfNeeded.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/namedExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/NamedExpressionSuite.scala
Due: language-matters

Add a test
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/IntervalUtilsSuite.scala
Due: language-matters

Fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
Due: language-matters

Fix test title
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/IntervalUtilsSuite.scala
Due: language-matters

Set JIRA id in test's title
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/IntervalUtilsSuite.scala
Due: language-matters

Allow DESCRIBE FUNCTION and SHOW FUNCTION explain about || (String cocatenation operator)
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/functions.scala
Due: language-matters

[SPARK-34696][SQL][TESTS] Fix CodegenInterpretedPlanTest to generate correct test cases
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoderSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/plans/PlanTest.scala
Due: language-matters

address PR comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/views.scala
  sql/core/src/test/scala/org/apache/spark/sql/CachedTableSuite.scala
Due: language-matters

use fallback for all failures
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoderSuite.scala
Due: language-matters

Add support for worker persistence with KEDA v2.0.0 in helm chart (#13209)
  chart/templates/workers/worker-kedaautoscaler.yaml
  chart/tests/helm_template_generator.py
  chart/tests/test_keda.py
  docs/helm-chart/keda.rst
  docs/spelling_wordlist.txt
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, provider-yamls, mypy, pylint, flake8

Further modify tests.
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/DataSourceV2AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/EncoderResolutionSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ExpressionSQLBuilderSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/aggregate/ApproximatePercentileSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/aggregate/PercentileSuite.scala
  sql/core/src/test/resources/sql-tests/results/columnresolution-negative.sql.out
  sql/core/src/test/resources/sql-tests/results/group-by-filter.sql.out
  sql/core/src/test/resources/sql-tests/results/group-by.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/limit.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/select_having.sql.out
  sql/core/src/test/resources/sql-tests/results/struct.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/in-subquery/in-basic.sql.out
  sql/core/src/test/resources/sql-tests/results/subquery/negative-cases/invalid-correlation.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/postgreSQL/udf-select_having.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/udf-group-by.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/UDFSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/PrunePartitionSuiteBase.scala
Due: language-matters

[SPARK-34682][SQL] Use PrivateMethodTester instead of reflection
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

clean up
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/views.scala
Due: language-matters

Further modify tests.
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/EncoderResolutionSuite.scala
  sql/core/src/test/resources/sql-tests/results/group-by.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/udf-group-by.sql.out
Due: language-matters

Also update scala.version in parent POM when changing scala version
  dev/change-scala-version.sh
Due: language-matters, shellcheck, bats-tests

Add new datetime branch operator (#11964)
  airflow/example_dags/example_datetime_branch_operator.py
  airflow/operators/datetime_branch.py
  docs/apache-airflow/howto/operator/datetime_branch.rst
  docs/apache-airflow/howto/operator/index.rst
  tests/operators/test_datetime_branch.py
Due: pydevd, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, mypy, pylint, flake8

Separate out tests to cater of changes in Python 3.8.8 (#14698)
  tests/www/test_views.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add benchmark
  sql/core/src/test/scala/org/apache/spark/sql/execution/GenerateExecBenchmark.scala
Due: language-matters

Avoid unnecessary code generation in JoinCodegenSupport.genBuildSideVars
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastHashJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/JoinCodegenSupport.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/joins/ExistenceJoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/joins/InnerJoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/joins/OuterJoinSuite.scala
Due: language-matters

Overload sort
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Expressions.java
Due: language-matters

Address comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlreadyExistException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CannotReplaceMissingTableException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/NoSuchItemException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/QueryExecutionException.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileDataSourceV2.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FilePartitionReaderFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTableCatalog.scala
Due: language-matters

[SPARK-34507][BUILD] Update scala.version in parent POM when changing Scala version for cross-build
  dev/change-scala-version.sh
Due: language-matters, shellcheck, bats-tests

Update comment.
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/functions.scala
Due: language-matters

Fix Pandas error.
  python/pyspark/sql/tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix tests for all urllib versions with only '&' as separator (#14710)
  tests/www/test_views.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

HivePartitionFilteringSuite
  sql/hive/src/test/scala/org/apache/spark/sql/hive/client/HivePartitionFilteringSuite.scala
Due: language-matters

New UI GitHub integrations (#14702)
  .github/CODEOWNERS
  .github/boring-cyborg.yml
Due: language-matters

[SPARK-34703][PYSPARK][2.4] Fix pyspark test when using sort_values on Pandas
  python/pyspark/sql/tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-34710][SQL] Add isView for SHOW TABLES to distinguish view and tables
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExec.scala
  sql/core/src/test/resources/sql-tests/inputs/show-tables-legacy.sql
  sql/core/src/test/resources/sql-tests/results/show-tables.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTablesSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/ShowTablesSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/ShowTablesSuite.scala
Due: language-matters
