Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

initial support for hashing and comparison.
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
Due: language-matters

[SPARK-49896][K8S][DOCS] Drop K8s v1.28 Support
  docs/running-on-kubernetes.md
Due: language-matters, provider-yamls, markdownlint

deprecate uses trim collation.
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
Due: language-matters

add tests for actual unresolved column errors
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
Due: language-matters

add sanity check tests and fix error message
  common/utils/src/main/resources/error/error-conditions.json
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
Due: language-matters

add more sanity checks
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
Due: language-matters

address comment
  sql/core/src/main/scala/org/apache/spark/sql/artifact/ArtifactManager.scala
Due: language-matters

more python lint
  python/pyspark/sql/classic/dataframe.py
  python/pyspark/sql/connect/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Flip default, correct docs
  core/src/main/scala/org/apache/spark/internal/config/package.scala
Due: language-matters

add logs
  python/pyspark/sql/pandas/group_ops.py
  python/pyspark/sql/streaming/StateMessage_pb2.py
  python/pyspark/sql/streaming/StateMessage_pb2.pyi
  python/pyspark/sql/streaming/stateful_processor_api_client.py
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
  sql/core/src/main/java/org/apache/spark/sql/execution/streaming/StateMessage.proto
  sql/core/src/main/java/org/apache/spark/sql/execution/streaming/state/StateMessage.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/TransformWithStateInPandasStateServer.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

read init state per partition
  python/pyspark/sql/pandas/group_ops.py
  python/pyspark/sql/streaming/stateful_processor_api_client.py
  python/pyspark/sql/tests/pandas/test_pandas_transform_with_state.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/TransformWithStateInPandasStateServer.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

support deleteIfExists
  python/pyspark/sql/streaming/StateMessage_pb2.py
  python/pyspark/sql/streaming/StateMessage_pb2.pyi
  python/pyspark/sql/streaming/stateful_processor.py
  python/pyspark/sql/streaming/stateful_processor_api_client.py
  sql/core/src/main/java/org/apache/spark/sql/execution/streaming/StateMessage.proto
  sql/core/src/main/java/org/apache/spark/sql/execution/streaming/state/StateMessage.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/TransformWithStateInPandasStateServer.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/TransformWithStateInPandasStateServerSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

We like thread locals :)
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  project/MimaExcludes.scala
  sql/api/src/main/scala/org/apache/spark/sql/api/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
Due: language-matters

fix
  mllib/src/main/scala/org/apache/spark/ml/recommendation/logistic/local/Optimizer.scala
Due: language-matters

addressed comments raised by Gene
  sql/core/src/main/scala/org/apache/spark/sql/execution/DataSourceScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/metric/VariantConstructionMetrics.scala
Due: language-matters

[SPARK-49852][SQL] Fix deadlock caused by explain string generation
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
Due: language-matters

Update python/pyspark/sql/tests/test_column.py
  python/pyspark/sql/tests/test_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-49894][PYTHON][CONNECT] Refine the string representation of column field operations
  python/pyspark/sql/connect/expressions.py
  python/pyspark/sql/tests/test_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-49901][BUILD] Upgrade dropwizard metrics to 4.2.28
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

added bug fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLRegexpSuite.scala
Due: language-matters

[SPARK-49903][BUILD] Upgrade `Parquet` to 1.14.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

minor change
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLRegexpSuite.scala
Due: language-matters

Ignore unusable sessions.
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionE2ESuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionSuite.scala
  sql/api/src/main/scala/org/apache/spark/sql/api/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
Due: language-matters

Remove dumb comment
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionE2ESuite.scala
Due: language-matters

added codegen check
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLRegexpSuite.scala
Due: language-matters

Parse unresolved identifer to keep the behavior same
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/Dataset.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/internal/columnNodeSupport.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ColumnTestSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/internal/ColumnNodeToProtoConverterSuite.scala
  sql/api/src/main/scala/org/apache/spark/sql/Column.scala
  sql/api/src/main/scala/org/apache/spark/sql/internal/columnNodes.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/columnNodeSupport.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/ColumnNodeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/ColumnNodeToExpressionConverterSuite.scala
Due: language-matters

test datasketches-java 6.1.1 RC1
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  sql/catalyst/pom.xml
Due: language-matters

Use UNSUPPORTED_DATA_TYPE_FOR_DATASOURCE
  common/utils/src/main/resources/error/error-conditions.json
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: language-matters

fix style
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
Due: language-matters

MS SQL Server
  common/utils/src/main/resources/error/error-conditions.json
Due: language-matters

fixup
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/Dataset.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/internal/columnNodeSupport.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/internal/ColumnNodeToProtoConverterSuite.scala
  sql/api/src/main/scala/org/apache/spark/sql/Column.scala
  sql/api/src/main/scala/org/apache/spark/sql/internal/columnNodes.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/ColumnNodeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/ColumnNodeToExpressionConverterSuite.scala
Due: language-matters

[SPARK-49564][SQL] Add SQL pipe syntax for the JOIN operator
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/pipe-operators.sql.out
  sql/core/src/test/resources/sql-tests/inputs/pipe-operators.sql
  sql/core/src/test/resources/sql-tests/results/pipe-operators.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/SparkSqlParserSuite.scala
Due: language-matters

[SPARK-49904][SQL] Assign proper error condition for _LEGACY_ERROR_TEMP_2140
  common/utils/src/main/resources/error/error-conditions.json
  sql/api/src/main/scala/org/apache/spark/sql/errors/ExecutionErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/ScalaReflectionRelationSuite.scala
Due: language-matters

[SPARK-49889][PYTHON] Add argument `trim` for functions`trim/ltrim/rtrim`
  python/pyspark/sql/connect/functions/builtin.py
  python/pyspark/sql/functions/builtin.py
  sql/api/src/main/scala/org/apache/spark/sql/functions.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixup
  sql/api/src/main/scala/org/apache/spark/sql/internal/columnNodes.scala
Due: language-matters

Address comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingSymmetricHashJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingSymmetricHashJoinHelper.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDB.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/SymmetricHashJoinStateManager.scala
Due: language-matters

[SPARK-49905][SQL][SS] Use different ShuffleOrigin for the shuffle required from stateful operators
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/ShuffleExchangeExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

[SPARK-48155][FOLLOWUP][SQL] AQEPropagateEmptyRelation for left semi join should check if remain child is just BroadcastQueryStageExec
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/PropagateEmptyRelation.scala
Due: language-matters

add ut
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters
