Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-48710][PYTHON] Use NumPy 2.0 compatible types
  python/pyspark/core/rdd.py
  python/pyspark/ml/param/__init__.py
  python/pyspark/pandas/base.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/indexes/base.py
  python/pyspark/pandas/indexing.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/strings.py
  python/pyspark/pandas/tests/indexes/test_astype.py
  python/pyspark/pandas/tests/series/test_arg_ops.py
  python/pyspark/pandas/tests/series/test_as_of.py
  python/pyspark/pandas/tests/series/test_as_type.py
  python/pyspark/pandas/tests/series/test_string_ops_adv.py
  python/pyspark/pandas/tests/series/test_string_ops_basic.py
  python/pyspark/pandas/tests/test_typedef.py
  python/pyspark/pandas/typedef/typehints.py
  python/pyspark/sql/tests/test_arrow_python_udf.py
  python/pyspark/sql/tests/test_udf.py
  python/pyspark/sql/tests/test_udtf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48714][PYTHON] Implement `DataFrame.mergeInto` in PySpark
  python/pyspark/sql/classic/dataframe.py
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/merge.py
  python/pyspark/sql/readwriter.py
  python/pyspark/sql/tests/connect/test_parity_dataframe.py
  python/pyspark/sql/tests/test_dataframe.py
  python/pyspark/sql/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixup
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
Due: language-matters

[SPARK-48785][DOCS] Add a simple Python data source example in the user guide
  python/docs/source/user_guide/sql/python_data_source.rst
Due: language-matters

add task peak on/off heap memory metrics
  core/src/main/java/org/apache/spark/memory/TaskMemoryManager.java
  core/src/main/scala/org/apache/spark/InternalAccumulator.scala
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
  core/src/main/scala/org/apache/spark/memory/MemoryManager.scala
  core/src/test/scala/org/apache/spark/memory/MemoryManagerSuite.scala
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
Due: language-matters

remove ifExists logical
  docs/sql-ref-syntax-ddl-alter-table.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/ddl.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableUnsetTblPropertiesSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/AlterTableUnsetTblPropertiesSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableUnsetTblPropertiesSuite.scala
Due: language-matters, provider-yamls, markdownlint

Make HiveGenericUDF lazy
  sql/hive/src/main/scala/org/apache/spark/sql/hive/hiveUDFEvaluators.scala
Due: language-matters

style updates
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FileStreamSource.scala
Due: language-matters

[MINOR][TESTS] Replace `getResource` with `getWorkspaceFilePath` to enable `HiveUDFSuite` to run successfully in the IDE
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveUDFSuite.scala
Due: language-matters

[SPARK-48774][SQL] Use SparkSession in SQLImplicits
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
  mllib/src/test/scala/org/apache/spark/mllib/util/MLlibTestSparkContext.scala
  project/MimaExcludes.scala
  sql/core/src/main/scala/org/apache/spark/sql/SQLContext.scala
  sql/core/src/main/scala/org/apache/spark/sql/SQLImplicits.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/expressions/scalalang/typed.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/SQLTestData.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/SQLTestUtils.scala
Due: language-matters

[SPARK-48760][SQL] Introduce ALTER TABLE ... CLUSTER BY SQL syntax to change clustering columns
  docs/sql-ref-ansi-compliance.md
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableChange.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/interface.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2AlterTableCommands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Util.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTableCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
  sql/core/src/test/resources/sql-tests/results/ansi/keywords.sql.out
  sql/core/src/test/resources/sql-tests/results/keywords.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableClusterBySuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DescribeTableSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/AlterTableClusterBySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableClusterBySuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/AlterTableClusterBySuite.scala
Due: language-matters, provider-yamls, markdownlint

add test fix scalastyle (again)
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FileStreamSource.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FileStreamSourceSuite.scala
Due: language-matters

additional check to ensure unreadFiles contains files
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FileStreamSource.scala
Due: language-matters

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InlineCTE.scala
Due: language-matters

Update sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InlineCTE.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InlineCTE.scala
Due: language-matters

[SPARK-48790][TESTING] Use checkDatasetUnorderly in DeprecatedDatasetAggregatorSuite.
  sql/core/src/test/scala/org/apache/spark/sql/DeprecatedDatasetAggregatorSuite.scala
Due: language-matters

fmt
  sql/core/src/main/scala/org/apache/spark/sql/MergeIntoWriter.scala
Due: language-matters

fix test
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
Due: language-matters

fix
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
Due: language-matters

update
  sql/hive/src/main/scala/org/apache/spark/sql/hive/hiveUDFEvaluators.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/hiveUDFs.scala
Due: language-matters

[SPARK-48282][SQL][FOLLOWUP] Fix FindInSet code generation
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationSupport.java
Due: language-matters

update docs/sql-ref-syntax-ddl-alter-table.md
  docs/sql-ref-syntax-ddl-alter-table.md
Due: language-matters, provider-yamls, markdownlint

Added test for string pipe inside identifier clause.
  sql/core/src/test/resources/sql-tests/analyzer-results/identifier-clause.sql.out
  sql/core/src/test/resources/sql-tests/inputs/identifier-clause.sql
  sql/core/src/test/resources/sql-tests/results/identifier-clause.sql.out
Due: language-matters

[SPARK-48792][SQL] Fix bug for INSERT with partial column list to a table with char/varchar
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TableOutputResolver.scala
  sql/core/src/test/scala/org/apache/spark/sql/CharVarcharTestSuite.scala
Due: language-matters

Remove printing
  sql/core/src/test/scala/org/apache/spark/sql/CollationExpressionWalkerSuite.scala
Due: language-matters

[SPARK-48793][SQL][TESTS] Unify v1 and v2 `ALTER TABLE .. DROP (COLUMN | COLUMNS) ...` tests
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableDropColumnParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableDropColumnSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/AlterTableDropColumnSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableDropColumnSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/AlterTableDropColumnSuite.scala
Due: language-matters

[SPARK-48790][TESTING] Use checkDatasetUnorderly in DeprecatedDatasetAggregatorSuite
  sql/core/src/test/scala/org/apache/spark/sql/DeprecatedDatasetAggregatorSuite.scala
Due: language-matters

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TableOutputResolver.scala
  sql/core/src/test/scala/org/apache/spark/sql/CharVarcharTestSuite.scala
Due: language-matters

py
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/merge.py
  python/pyspark/sql/merge.py
  python/pyspark/sql/tests/connect/test_parity_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

comment
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fmt
  python/pyspark/sql/connect/merge.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

scalastyle fixes
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/XmlSuite.scala
Due: language-matters

nitfixies
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/FileSourceOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/CSVOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JSONOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/XmlOptions.scala
Due: language-matters

Fixes
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
Due: language-matters

Addressing comments vol4
  sql/core/src/main/scala/org/apache/spark/sql/scripting/SqlScriptingExecutionNode.scala
  sql/core/src/test/scala/org/apache/spark/sql/scripting/SqlScriptingInterpreterSuite.scala
Due: language-matters

tests pass
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ColumnFamilySchemaFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FlatMapGroupsWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateSchemaCompatibilityChecker.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateSchemaV3File.scala
Due: language-matters

Split CTE substitution in to first identify all CTE defs and do CTE resolution separately.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CTESubstitution.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
Due: language-matters

Added new analyzer rule.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveCTERelations.scala
Due: language-matters
