Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Misc fix
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/HDFSBackedStateStoreProvider.scala
Due: language-matters

address comment
  python/pyspark/sql/datasource.py
  python/pyspark/sql/streaming/python_streaming_source_runner.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonStreamingSourceRunner.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonDataSourceSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Added XmlFunctionsSuite
  sql/core/src/test/scala/org/apache/spark/sql/XmlFunctionsSuite.scala
Due: language-matters

Removed dev unit test
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/XmlSuite.scala
Due: language-matters

Prefer env vars over kubernetes backend attributes
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBackendSuite.scala
Due: language-matters

rm arrayOfStructs
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/TestXmlData.scala
Due: language-matters

rm unused test strings
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/TestXmlData.scala
Due: language-matters

SPARK-47320 : incorporate review comments
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAsOfJoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSelfJoinSuite.scala
Due: language-matters

Add SQL query test and minor improvements
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/executeImmediate.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/execute-immediate.sql.out
  sql/core/src/test/resources/sql-tests/inputs/execute-immediate.sql
  sql/core/src/test/resources/sql-tests/results/execute-immediate.sql.out
Due: language-matters, provider-yamls, markdownlint

Minor improvements
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/SparkIntervalUtils.scala
Due: language-matters

Change to address Jungtaeks' comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TimerStateImpl.scala
Due: language-matters

Fix test
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
Due: language-matters

rm unused strings
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/TestXmlData.scala
Due: language-matters

Address Jungtaek's comments
  sql/api/src/main/scala/org/apache/spark/sql/streaming/ExpiredTimerInfo.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ExpiredTimerInfoImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TimerStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
Due: language-matters

reformat python
  python/pyspark/sql/streaming/python_streaming_source_runner.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47327][SQL] Fix thread safety issue in ICU Collator
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

[SPARK-47341][CONNECT] Replace commands with relations in a few tests in SparkConnectClientSuite
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
Due: language-matters

[SPARK-47309][SQL][XML] Add schema inference unit tests
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/TestXmlData.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/XmlInferSchemaSuite.scala
Due: language-matters

Misc updates
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TimerStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreErrors.scala
Due: language-matters

fix valuestatesuite
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/MapStateSuite.scala
Due: language-matters

fix test
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

init
  dev/sparktestsupport/modules.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/connect/test_connect_session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

move clean implicitKey to after
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/MapStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
Due: language-matters

[MINOR] Remove the extra text on page sql-error-conditions-sqlstates
  docs/sql-error-conditions-sqlstates.md
Due: language-matters, provider-yamls, markdownlint

init
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/connect/test_connect_session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][DOCS] Remove the extra text on page sql-error-conditions-sqlstates
  docs/sql-error-conditions-sqlstates.md
Due: language-matters, provider-yamls, markdownlint

Fix misc issues
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/StatefulProcessorHandleSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-46043][SQL][FOLLOWUP] do not resolve v2 table provider with custom session catalog
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
Due: language-matters

[SPARK-47342][SQL] Support TimestampNTZ for DB2 TIMESTAMP WITH TIME ZONE
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DB2IntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DB2Dialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/PostgresDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

[SPARK-47342][SQL] Support TimestampNTZ for DB2 TIMESTAMP WITH TIME ZONE
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DB2IntegrationSuite.scala
Due: language-matters

[SPARK-46962][SS][PYTHON] Add interface for python streaming data source API and implement python worker to run python streaming data source
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  python/pyspark/errors/error_classes.py
  python/pyspark/sql/datasource.py
  python/pyspark/sql/streaming/python_streaming_source_runner.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/PythonMicroBatchStream.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/PythonScan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/UserDefinedPythonDataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonStreamingSourceRunner.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonDataSourceSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonStreamingDataSourceSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

fix test
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
Due: language-matters

[SPARK-47344] Extend INVALID_IDENTIFIER
  common/utils/src/main/resources/error/error-classes.json
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/parser/parsers.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/QueryParsingErrors.scala
Due: language-matters

[SPARK-47250][SS] Add additional validations and NERF changes for RocksDB state provider and use of column families
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/HDFSBackedStateStoreProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDB.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/StateStoreSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-47279][CORE]When the messageLoop encounter a fatal exception, such as oom, exit the JVM to avoid the driver hanging indefinitely
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/main/scala/org/apache/spark/rpc/netty/MessageLoop.scala
Due: language-matters

open debug
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/test/IntegrationTestUtils.scala
Due: language-matters

Regenerate golden files
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-47279][CORE]When the messageLoop encounter a fatal exception, such as oom, exit the JVM to avoid the driver hanging indefinitely
  core/src/main/scala/org/apache/spark/SparkContext.scala
Due: language-matters

Change error message and regerate docs
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/execute-immediate.sql.out
  sql/core/src/test/resources/sql-tests/results/execute-immediate.sql.out
Due: language-matters, provider-yamls, markdownlint

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
