Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

add docs + fix test
  docs/configuration.md
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
Due: language-matters, provider-yamls, markdownlint

correct version in docs
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

Add proper spark jira link
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStepSuite.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicExecutorFeatureStepSuite.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/ClientSuite.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
Due: language-matters

address comments
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/resource/ResourceProfile.scala
  core/src/test/scala/org/apache/spark/resource/ResourceProfileSuite.scala
  docs/configuration.md
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStep.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/Client.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/ClientSuite.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
Due: language-matters, provider-yamls, markdownlint

remove extra newlines
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
Due: language-matters

[SPARK-47370][DOC] Add migration doc: TimestampNTZ type inference on Parquet files
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

clean up
  python/pyspark/sql/connect/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47272][SS] Add MapState implementation for State API v2.
  sql/api/src/main/scala/org/apache/spark/sql/streaming/MapState.scala
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/MapStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StateTypesEncoderUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/MapStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithMapStateSuite.scala
Due: language-matters

Add unit test
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateSuite.scala
Due: language-matters

Add unit test
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
Due: language-matters

Remove redundant error class
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreErrors.scala
Due: language-matters, provider-yamls, markdownlint

Refine comments
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
Due: language-matters

clean up
  python/pyspark/sql/worker/plan_data_source_read.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/PythonMicroBatchStream.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/python/PythonScan.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonStreamingDataSourceSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Added timeout. Still need to test
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/util/ShutdownHookManager.scala
Due: language-matters

fix tests
  docs/sql-error-conditions.md
  sql/core/src/test/scala/org/apache/spark/sql/expressions/ExpressionInfoSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-47349][SQL][TESTS] Refactor string function `startsWith` and `endsWith` tests
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/UTF8StringWithCollationSuite.java
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

spark connect
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/datasource.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/tests/connect/test_parity_python_datasource.py
  python/pyspark/sql/tests/test_python_datasource.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

improve testing
  python/pyspark/sql/streaming/python_streaming_source_runner.py
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonStreamingDataSourceSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Ignore row tags found in CDATA
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/StaxXmlParser.scala
  sql/core/src/test/resources/test-data/xml-resources/commented-row.xml
  sql/core/src/test/resources/test-data/xml-resources/ignored-rows.xml
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/XmlSuite.scala
Due: language-matters

Fix misc issues
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TimerStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/StatefulProcessorHandleSuite.scala
Due: language-matters

address comments
  core/src/main/scala/org/apache/spark/SparkEnv.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
  core/src/test/scala/org/apache/spark/api/python/PythonWorkerFactorySuite.scala
Due: language-matters

address comments
  core/src/main/scala/org/apache/spark/SparkEnv.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
  core/src/main/scala/org/apache/spark/api/python/StreamingPythonRunner.scala
  core/src/test/scala/org/apache/spark/api/python/PythonWorkerFactorySuite.scala
Due: language-matters

use daemon
  core/src/main/scala/org/apache/spark/SparkEnv.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonPlannerRunner.scala
Due: language-matters

rebase
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonStreamingSourceRunner.scala
Due: language-matters

Misc fix
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TimerStateImpl.scala
Due: language-matters

[SPARK-47348][INFRA] Align the version of the ubuntu host machine where the GitHub workflow runs on
  .github/workflows/benchmark.yml
  .github/workflows/build_and_test.yml
  .github/workflows/notify_test_workflow.yml
  .github/workflows/update_build_status.yml
Due: language-matters

Change to address Chaoqin's comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/ForeachBatchSink.scala
Due: language-matters

test ga
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: language-matters

only test ga
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogManager.scala
Due: language-matters

Fix describe
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
Due: language-matters

Add note around usage of listTimers
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
Due: language-matters

[MINOR][TESTS] Enable nullability check in `test_create_dataframe_from_arrays`
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add _toArrow()
  python/pyspark/sql/pandas/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add empty_list_if_zero_records option to _collect_as_arrow()
  python/pyspark/sql/pandas/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
