Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, check-apache-license, mypy, pylint, pylint-tests, flake8, airflow-config-yaml

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$

[AIRFLOW-6699] Parameterize weekday sensor tests (#7316)
  tests/sensors/test_weekday_sensor.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

[AIRFLOW-6693] Make page titles distinguishable from another (#7305)
  airflow/www/templates/airflow/chart.html
  airflow/www/templates/airflow/code.html
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dag_code.html
  airflow/www/templates/airflow/dag_details.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/duration_chart.html
  airflow/www/templates/airflow/gantt.html
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6692] Generate excluded_patterns in docs/conf.py (#7304)
  airflow/providers/jenkins/example_dags/__init__.py
  airflow/providers/jenkins/example_dags/example_jenkins_job_trigger.py
  docs/conf.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6680] Last changes for AIP-21 (#7301)
  airflow/providers/mysql/operators/presto_to_mysql.py
  docs/concepts.rst
  docs/operators-and-hooks-ref.rst
  scripts/ci/pylint_todo.txt
  tests/operators/test_gcs_to_s3.py
  tests/operators/test_generic_transfer.py
  tests/operators/test_python.py
  tests/operators/test_virtualenv_operator.py
  tests/providers/apache/cassandra/hooks/test_cassandra.py
  tests/providers/apache/cassandra/sensors/record.py
  tests/providers/apache/cassandra/sensors/table.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/hive/operators/test_hive.py
  tests/providers/apache/hive/operators/test_mysql_to_hive.py
  tests/providers/google/cloud/operators/test_gcs_to_gcs_operator_system.py
  tests/providers/google/cloud/operators/test_gcs_to_gcs_system_helper.py
  tests/providers/google/cloud/operators/test_gcs_to_sftp_system.py
  tests/providers/google/cloud/operators/test_gcs_to_sftp_system_helper.py
  tests/providers/google/cloud/operators/test_postgres_to_gcs_system.py
  tests/providers/microsoft/msqql/__init__.py
  tests/providers/microsoft/msqql/operators/test_mssql.py
  tests/providers/mysql/hooks/test_mysql.py
  tests/providers/mysql/operators/test_mysql.py
  tests/providers/mysql/operators/test_presto_to_mysql.py
  tests/providers/postgres/operators/__init__.py
  tests/providers/postgres/operators/test_postgres.py
  tests/test_core_to_contrib.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

Fix to_timestamp description
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: none

[AIRFLOW-6715] Fix Google Cloud DLP Example DAG (#7337)
  airflow/providers/google/cloud/example_dags/example_dlp_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-4364] Make all code in airflow/providers/amazon pylint compatible (#7336)
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/hooks/redshift.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/emr_add_steps.py
  airflow/providers/amazon/aws/operators/mongo_to_s3.py
  airflow/providers/amazon/aws/operators/s3_to_redshift.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint.py
  airflow/providers/amazon/aws/operators/sagemaker_transform.py
  airflow/providers/amazon/aws/sensors/athena.py
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/amazon/aws/sensors/sagemaker_base.py
  airflow/providers/amazon/aws/sensors/sagemaker_training.py
  scripts/ci/pylint_todo.txt
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6613] center dag on graph view load (#7238)
  airflow/www/templates/airflow/graph.html
Due: none

[AIRFLOW-XXXX] Add cross-reference between connection and fernet (#7190)
  docs/howto/connection/index.rst
Due: none

[AIRFLOW-6717] Remove non-existent field from templated_fields (#7340)
  airflow/providers/google/cloud/operators/cloud_memorystore.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-XXXX] Fix Static Checks on CI (#7342)
  airflow/providers/amazon/aws/hooks/sagemaker.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6718] Fix more occurrences of utils.dates.days_ago (#7341)
  .pre-commit-config.yaml
  airflow/providers/amazon/aws/example_dags/example_datasync_1.py
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
  dags/test_dag.py
Due: yamllint, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6716] Fix AWS Datasync Example DAG (#7339)
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-6720] Enforce alphabetical order for CONN_TYPE_TO_HOOK (#7344)
  tests/models/test_connection.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

[AIRFLOW-4681] Make sensors module pylint compatible (#7309)
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/providers/apache/hdfs/sensors/web_hdfs.py
  airflow/providers/apache/hive/sensors/hive_partition.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/providers/http/sensors/http.py
  airflow/providers/jira/sensors/jira.py
  airflow/providers/qubole/sensors/qubole.py
  airflow/sensors/base_sensor_operator.py
  airflow/sensors/bash.py
  airflow/sensors/external_task_sensor.py
  scripts/ci/pylint_todo.txt
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

resolve missing commit from master
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
Due: none

add insert sql
  sql/core/src/test/resources/sql-tests/inputs/postgreSQL/window_part2.sql
  sql/core/src/test/resources/sql-tests/results/postgreSQL/window_part2.sql.out
Due: none

[MINOR][SPARKR][DOCS] Remove duplicate @name tags from read.df and read.stream
  R/pkg/R/SQLContext.R
Due: none

rename result -> isSuccess
  core/src/main/scala/org/apache/spark/storage/BlockManagerMasterEndpoint.scala
Due: none

refine code
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/HiveTableScanExec.scala
Due: none

[SPARK-30697][SQL] Handle database and namespace exceptions in catalog.isView
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2DataFrameSessionCatalogSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSessionCatalogSuite.scala
Due: none

[AIRFLOW-6691] Add tests that protect the deprecated packages (#7303)
  airflow/contrib/hooks/__init__.py
  airflow/contrib/operators/__init__.py
  airflow/contrib/sensors/__init__.py
  airflow/contrib/task_runner/__init__.py
  tests/test_project_structure.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[SPARK-29543][SS][FOLLOWUP] Move `spark.sql.streaming.ui.*` configs to StaticSQLConf
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/StaticSQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SharedState.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryStatusListener.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryTab.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/ui/StreamingQueryStatusListenerSuite.scala
Due: none

Remove `seconds precision`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: none

[AIRFLOW-6711] Drop plugin support for stat_name_handler (#7335)
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/plugins_manager.py
  airflow/stats.py
  docs/metrics.rst
  docs/plugins.rst
  setup.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_executor.py
  tests/executors/test_dask_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_executor.py
  tests/executors/test_sequential_executor.py
  tests/jobs/test_scheduler_job.py
  tests/plugins/test_plugin.py
  tests/test_stats.py
Due: yamllint, isort, setup-order, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8, airflow-config-yaml

Add SQL config `spark.sql.legacy.timeParser.enabled`
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: none

[AIRFLOW-6720] Detect missing tests for providers package (#7346)
  tests/test_project_structure.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

Add LegacyTimestampFormatter
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
Due: none

Add LegacyDateFormatter
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateFormatter.scala
Due: none

Support ansi nth_value window function
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/window/WindowExecBase.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/window/WindowFunctionFrame.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/resources/sql-tests/inputs/postgreSQL/window_part1.sql
  sql/core/src/test/resources/sql-tests/inputs/postgreSQL/window_part2.sql
  sql/core/src/test/resources/sql-tests/inputs/postgreSQL/window_part3.sql
  sql/core/src/test/resources/sql-tests/results/postgreSQL/window_part3.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameWindowFramesSuite.scala
Due: none

Check legacy parser in JsonInferSchemaSuite
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/json/JsonInferSchemaSuite.scala
Due: none

Add a test for to_timestamp
  sql/core/src/test/scala/org/apache/spark/sql/DateFunctionsSuite.scala
Due: none

Replace sparkR.newJObject with newJObject
  R/pkg/R/functions.R
Due: none

Replace callJStatic with handledCallJStatic
  R/pkg/R/functions.R
Due: none
