Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-37335][ML] Flesh out FPGrowth docs
  docs/ml-frequent-pattern-mining.md
Due: language-matters, provider-yamls, markdownlint

Fix
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/PushFoldableIntoBranchesSuite.scala
Due: language-matters

[SPARK-37146][PYTHON] Inline type hints for python/pyspark/__init__.py
  python/pyspark/__init__.py
  python/pyspark/__init__.pyi
  python/pyspark/sql/conf.py
  python/pyspark/sql/context.py
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Simplify code
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyConditionalsInPredicateSuite.scala
Due: language-matters

exhausive pattern match
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
Due: language-matters

update code to handle legacy time parsing
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
Due: language-matters

fix
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/tests/test_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

keep to_koalas
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

doc change
  python/docs/source/migration_guide/koalas_to_pyspark.rst
Due: language-matters

Support DayTimeIntervalType in createDataFrame and Python UDF
  python/docs/source/reference/pyspark.sql.rst
  python/pyspark/sql/tests/test_types.py
  python/pyspark/sql/tests/test_udf.py
  python/pyspark/sql/types.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/EvaluatePython.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add String type support for version
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBase.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

[SPARK-36876][SQL][TESTS][FOLLOW-UP] Remove unnecessary matching cases for hive table tests in DynamicPartitionPruningHiveScanSuite
  sql/hive/src/test/scala/org/apache/spark/sql/hive/DynamicPartitionPruningHiveScanSuite.scala
Due: language-matters

Method findNewStageTopPlans will exchange itself rather than it's child because ensureRequirements with requiredDistribution may bring extra shuffle if we just return child of exchange.
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/OptimizeSkewedJoin.scala
Due: language-matters

nit refactor
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
Due: language-matters

Fix test case
  python/docs/source/reference/pyspark.sql.rst
  python/pyspark/sql/tests/test_types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add test_connection method for sftp hook (#19609)
  airflow/providers/sftp/hooks/sftp.py
  tests/providers/sftp/hooks/test_sftp.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

[SPARK-37300][follow-up] check taskFinished inside the handleSuccessfulTask and handleFailedTask to ensure all the calls are covered
  core/src/main/scala/org/apache/spark/scheduler/TaskSchedulerImpl.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSetManager.scala
Due: language-matters

remove unused function taskFinished
  core/src/main/scala/org/apache/spark/scheduler/TaskSetManager.scala
Due: language-matters

[SPARK-37332][SQL] Allow ANSI intervals in `ALTER TABLE .. ADD COLUMNS`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2AlterTableCommands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TypeUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableAddColumnsSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/AlterTableAddColumnsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableAddColumnsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/AlterTableAddColumnsSuite.scala
Due: language-matters

address comments
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBase.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/expressions/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/SupportsCatalogOptionsSuite.scala
Due: language-matters

Add java.security.jgss/sun.security.krb5 to DEFAULT_MODULE_OPTIONS
  launcher/src/main/java/org/apache/spark/launcher/JavaModuleOptions.java
Due: language-matters

[SPARK-37344][SQL] spark-sql cli will keep `\` when match `\;` after Spark 3
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

add draft
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSessionCatalogSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTblPropertiesParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTblPropertiesSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/ShowTblPropertiesSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/ShowTblPropertiesSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveCommandSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/ShowTblPropertiesSuite.scala
Due: language-matters

fix up unit test. Before call busyTask.markTaskDone, should make sure busyTask was running
  core/src/test/scala/org/apache/spark/scheduler/TaskSchedulerImplSuite.scala
Due: language-matters

Support RowToColumnarExec to write to Arrow
  sql/catalyst/src/main/java/org/apache/spark/sql/vectorized/ArrowColumnVector.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/Columnar.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/arrow/ArrowConverters.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/arrow/ArrowConvertersSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/vectorized/ArrowColumnVectorSessionSuite.scala
Due: language-matters

[SPARK-37342][BUILD] Upgrade Apache Arrow to 6.0.0
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
Due: language-matters

Add a parameter to specify arrow as RowToColumnarExec backend
  sql/core/src/main/scala/org/apache/spark/sql/execution/Columnar.scala
Due: language-matters

Fix incorrect mocking in SFTPHook tests (#19617)
  tests/providers/sftp/hooks/test_sftp.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

remove dependecy on `spark.sql.execution.reuseSubquery`, remove unnecessary asInstanceOf
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/MergeScalarSubqueries.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/PlanAdaptiveSubqueries.scala
Due: language-matters

[SPARK-37346][DOC] Add migration guide link for structed streaming
  docs/structured-streaming-programming-guide.md
Due: language-matters, provider-yamls, markdownlint

pyspark pandas to read csv with latin-1 encoding
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/tests/test_csv.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix SPARK-37209
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/Client.scala
Due: language-matters

Declare data interval fields as serializable (#19616)
  airflow/operators/python.py
  tests/operators/test_python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37219][SQL] Add AS OF syntax support
  docs/sql-ref-ansi-compliance.md
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBase.g4
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/SupportsCatalogOptions.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableCatalog.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CTESubstitution.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveHints.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Util.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/expressions/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTableCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Utils.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/SupportsCatalogOptionsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/test/TestHive.scala
Due: language-matters, provider-yamls, markdownlint

Remove reference to deprecated operator in example_dataproc (#19619)
  airflow/providers/google/cloud/example_dags/example_dataproc.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, mypy, pylint, flake8

Remove unnecessary connection form customizations in Azure (#19595)
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Add Helm Chart 1.3.0 as an option in airflow_helmchart_bug_report.yml (#19621)
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
Due: language-matters

Add UT for ColumnarBatch to ArrowRecordBatch
  sql/catalyst/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/arrow/ArrowConverters.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/arrow/ArrowConvertersSuite.scala
Due: language-matters

Move scripts for prod image preparation to dev (#19623)
  dev/README_RELEASE_AIRFLOW.md
  dev/prepare_prod_docker_images.sh
Due: language-matters, shellcheck, bats-tests, markdownlint

[SPARK-37219][SQL] Make AS OF syntax more flexible
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBase.g4
Due: language-matters
