Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Add BroadcastHashJoinEvaluatorFactory
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastHashJoinEvaluatorFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastHashJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastNestedLoopJoinEvaluatorFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastNestedLoopJoinExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/joins/InnerJoinSuite.scala
Due: language-matters

move execution
  common/utils/src/main/resources/error/error-classes.json
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionE2ESuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecutePlanResponseObserver.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/SparkConnectPlanExecution.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/executionUtils.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/ExecutionHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectStreamHandler.scala
Due: language-matters

fix compile
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecutePlanResponseObserver.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/SparkConnectPlanExecution.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/ExecutionHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
Due: language-matters

renames
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/SparkConnectPlanExecution.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/ExecuteHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectStreamHandler.scala
Due: language-matters

Fix docstring, check_row_order
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Upated unit tests and added some docstrings
  python/pyspark/ml/torch/distributor.py
  python/pyspark/ml/torch/tests/test_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44315][SQL][CONNECT] Move DefinedByConstructorParams to sql/api
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/DefinedByConstructorParams.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/ScalaReflection.scala
Due: language-matters

Added docstring for the constructor, and introduced a variable to signal clean up. Have to implement the clean up process though
  python/pyspark/ml/torch/\
  python/pyspark/ml/torch/deepspeed/tests/test_deepspeed_distributor.py
  python/pyspark/ml/torch/deepspeed_disributed.py
  python/pyspark/ml/torch/distributor.py
  python/pyspark/ml/torch/tests/test_deepspeed_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Deleted irrelevant files that I pushed by accident
  python/pyspark/ml/torch/deepspeed/tests/test_deepspeed_distributor.py
  python/pyspark/ml/torch/deepspeed_disributed.py
  python/pyspark/ml/torch/tests/test_deepspeed_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Commented function + cleaning up some branching code
  python/pyspark/ml/torch/distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

raise an error if they want to pass in a function, as it isn't supported as of now
  python/pyspark/ml/torch/distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

further clarify why clamping is needed in PostgresDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/PostgresDialect.scala
Due: language-matters

add special case checks
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44326][SQL][CONNECT] Move utils that are used from Scala client to the common modules
  common/utils/src/main/scala/org/apache/spark/util/SparkSerDeserUtils.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/execution/streaming/Triggers.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/expressions/UserDefinedFunction.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  core/src/main/scala/org/apache/spark/util/Utils.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/SparkDateTimeUtils.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/SparkIntervalUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
Due: language-matters

update
  common/utils/src/main/scala/org/apache/spark/util/SparkSerDerseUtils.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/expressions/UserDefinedFunction.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  core/src/main/scala/org/apache/spark/util/Utils.scala
Due: language-matters

[SPARK-43660][CONNECT][PS] Enable `resample` with Spark Connect
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/pandas/resample.py
  python/pyspark/pandas/spark/functions.py
  python/pyspark/pandas/tests/connect/test_parity_resample.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44275][CONNECT] Add configurable retry mechanism to Scala Spark Connect
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/ArtifactManager.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/CustomSparkConnectBlockingStub.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/CustomSparkConnectStub.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/GrpcRetryHandler.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/ArtifactSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
Due: language-matters

[SPARK-44312][CONNECT][PYTHON] Allow to set a user agent with an environment variable
  python/pyspark/sql/connect/client/core.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44268][CORE][TEST][FOLLOWUP] Add test to generate `sql-error-conditions` doc automatic
  common/utils/src/main/resources/error/error-classes.json
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
  docs/sql-error-conditions-as-of-join-error-class.md
  docs/sql-error-conditions-datatype-mismatch-error-class.md
  docs/sql-error-conditions-inconsistent-behavior-cross-version-error-class.md
  docs/sql-error-conditions-insert-column-arity-mismatch-error-class.md
  docs/sql-error-conditions-insufficient-table-property-error-class.md
  docs/sql-error-conditions-invalid-boundary-error-class.md
  docs/sql-error-conditions-invalid-default-value-error-class.md
  docs/sql-error-conditions-invalid-format-error-class.md
  docs/sql-error-conditions-invalid-inline-table-error-class.md
  docs/sql-error-conditions-invalid-lambda-function-call-error-class.md
  docs/sql-error-conditions-invalid-limit-like-expression-error-class.md
  docs/sql-error-conditions-invalid-observed-metrics-error-class.md
  docs/sql-error-conditions-invalid-partition-operation-error-class.md
  docs/sql-error-conditions-invalid-schema-error-class.md
  docs/sql-error-conditions-invalid-sql-syntax-error-class.md
  docs/sql-error-conditions-invalid-time-travel-timestamp-expr-error-class.md
  docs/sql-error-conditions-invalid-write-distribution-error-class.md
  docs/sql-error-conditions-malformed-record-in-parsing-error-class.md
  docs/sql-error-conditions-missing-attributes-error-class.md
  docs/sql-error-conditions-not-a-constant-string-error-class.md
  docs/sql-error-conditions-not-allowed-in-from-error-class.md
  docs/sql-error-conditions-not-supported-in-jdbc-catalog-error-class.md
  docs/sql-error-conditions-unsupported-add-file-error-class.md
  docs/sql-error-conditions-unsupported-default-value-error-class.md
  docs/sql-error-conditions-unsupported-feature-error-class.md
  docs/sql-error-conditions-unsupported-insert-error-class.md
  docs/sql-error-conditions-unsupported-merge-condition-error-class.md
  docs/sql-error-conditions-unsupported-overwrite-error-class.md
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

init
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_any.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_len.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_any.json
  connector/connect/common/src/test/resources/query-tests/queries/function_any.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_len.json
  connector/connect/common/src/test/resources/query-tests/queries/function_len.proto.bin
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/StringFunctionsSuite.scala
Due: language-matters

fix
  python/pyspark/sql/tests/test_functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Align executor id
  core/src/main/scala/org/apache/spark/deploy/master/ApplicationInfo.scala
Due: language-matters

Fix tests.
  sql/core/src/test/resources/sql-tests/analyzer-results/csv-functions.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/json-functions.sql.out
  sql/core/src/test/resources/sql-tests/results/csv-functions.sql.out
  sql/core/src/test/resources/sql-tests/results/json-functions.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/JsonFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/LateralColumnAliasSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/ParametersSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLInsertTestSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SQLViewSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/InsertSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/UDFSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Due: language-matters

Update migration guide
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

update
  python/pyspark/ml/connect/io_utils.py
  python/pyspark/ml/connect/pipeline.py
  python/pyspark/ml/connect/tuning.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Don't get too clever.
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

[SPARK-44327][SQL][CONNECT] Add functions `any` and `len` to Scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_any.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_len.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_any.json
  connector/connect/common/src/test/resources/query-tests/queries/function_any.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_len.json
  connector/connect/common/src/test/resources/query-tests/queries/function_len.proto.bin
  python/pyspark/sql/tests/test_functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/StringFunctionsSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Remove AnalysisException from the parser.
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/trees/origin.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/AnalysisException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/parsers.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
Due: language-matters

Move EnhancedLogicalPlan out of ParserUtils
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/ParserUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/package.scala
Due: language-matters

[SPARK-44309][UI] Display Add/Remove Time of Executors on Executors Tab
  core/src/main/resources/org/apache/spark/ui/static/executorspage-template.html
  core/src/main/resources/org/apache/spark/ui/static/executorspage.js
  core/src/main/resources/org/apache/spark/ui/static/utils.js
Due: dont-use-safe-filter, language-matters

[SPARK-44334][SQL][UI] Status of execution w/ error and w/o jobs shall be FAILED not COMPLETED in SqlResource
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/AllExecutionsPage.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/SQLAppStatusStore.scala
  sql/core/src/main/scala/org/apache/spark/status/api/v1/sql/SqlResource.scala
  sql/core/src/test/scala/org/apache/spark/status/api/v1/sql/SqlResourceSuite.scala
Due: language-matters

more tests
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
Due: language-matters

typo
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionSuite.scala
Due: language-matters

misc
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionSuite.scala
Due: language-matters

misc
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
Due: language-matters

Update connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
Due: language-matters

Session-based files and archives in Spark Connect
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/artifact/ArtifactManagerSuite.scala
  core/src/main/scala/org/apache/spark/JobArtifactSet.scala
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskDescription.scala
  core/src/test/scala/org/apache/spark/JobArtifactSetSuite.scala
  core/src/test/scala/org/apache/spark/SparkContextSuite.scala
  core/src/test/scala/org/apache/spark/executor/ClassLoaderIsolationSuite.scala
  core/src/test/scala/org/apache/spark/executor/CoarseGrainedExecutorBackendSuite.scala
  core/src/test/scala/org/apache/spark/executor/ExecutorSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/CoarseGrainedSchedulerBackendSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/DAGSchedulerSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/FakeTask.scala
  core/src/test/scala/org/apache/spark/scheduler/NotSerializableFakeTask.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskContextSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskDescriptionSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSchedulerImplSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSetManagerSuite.scala
  python/pyspark/sql/tests/connect/client/test_artifact.py
  resource-managers/mesos/src/test/scala/org/apache/spark/scheduler/cluster/mesos/MesosFineGrainedSchedulerBackendSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SessionState.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

rename the attribute
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/RatePerMicroBatchProvider.scala
Due: language-matters
