Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-44503][SQL][FOLLOWUP] Simplify the test case for PARTITION BY and ORDER BY clause after TABLE arguments for TVF calls
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
Due: language-matters

[SPARK-44546] Add a dev utility to generate PySpark tests with LLM
  dev/test_generation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Fix.
  python/pyspark/sql/tests/test_udtf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix for 3.5
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/arrow/ArrowDeserializer.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/arrow/ArrowSerializer.scala
  sql/api/pom.xml
  sql/api/src/main/scala/org/apache/spark/sql/errors/ArrowErrors.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/DataTypeErrors.scala
  sql/api/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
  sql/catalyst/pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/arrow/ArrowWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/Columnar.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/AggregateInPandasExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonUDTFExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowPythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapCoGroupsInPandasExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapGroupsInPandasExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapGroupsInPandasWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/MapInBatchExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/WindowInPandasExec.scala
Due: language-matters

Fix.
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerUtils.scala
Due: language-matters

Revert "Fix."
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerUtils.scala
Due: language-matters

Fix verbatims
  sql/core/src/test/resources/sql-tests/analyzer-results/charvarchar.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/hll.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/null-handling.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/join.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/window_part3.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/udf/postgreSQL/udf-join.sql.out
  sql/core/src/test/resources/sql-tests/results/charvarchar.sql.out
  sql/core/src/test/resources/sql-tests/results/hll.sql.out
  sql/core/src/test/resources/sql-tests/results/null-handling.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/join.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/window_part3.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/postgreSQL/udf-join.sql.out
Due: language-matters

[SPARK-44548] Add support for pandas DataFrame assertDataFrameEqual
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/pandasutils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix Connect MiMa
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
Due: language-matters

added indents + init for the package
  python/pyspark/ml/deepspeed/__init__.py
  python/pyspark/ml/deepspeed/deepspeed_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

put this in separate pr
  python/pyspark/ml/deepspeed/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  python/pyspark/ml/deepspeed/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

license
  python/pyspark/ml/deepspeed/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

nit
  python/pyspark/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Hyukjin formatting for passing deepspeed args in example
  python/pyspark/ml/deepspeed/deepspeed_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix after review
  connector/connect/client/jvm/pom.xml
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/UDFClassLoadingE2ESuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/util/IntegrationTestUtils.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/util/RemoteSparkSession.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/artifact/StubClassLoaderSuite.scala
  core/src/main/java/org/apache/spark/util/ChildFirstURLClassLoader.java
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/util/StubClassLoader.scala
Due: language-matters

[SPARK-44530][CORE][CONNECT] Move SparkBuildInfo to common/util
  common/utils/pom.xml
  common/utils/src/main/scala/org/apache/spark/SparkBuildInfo.scala
  core/pom.xml
  core/src/main/scala/org/apache/spark/package.scala
  project/SparkBuild.scala
Due: language-matters

resolved conflicts + switched case to camelCase for public facing api
  python/pyspark/ml/deepspeed/deepspeed_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add assertPandasOnSparkEqual util
  dev/sparktestsupport/modules.py
  python/pyspark/errors/error_classes.py
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/__init__.py
  python/pyspark/testing/pandasutils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

revert error class change
  python/pyspark/errors/error_classes.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44509][CONNECT][FOLLOW-UP] Add inheritable support in new job cancellation API
  python/pyspark/sql/tests/connect/test_session.py
  python/pyspark/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43838][SQL][FOLLOWUP] Add missing aggregate in `renewDuplicatedRelations`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/DeduplicateRelations.scala
Due: language-matters

Fix ArrowStreamPandasUDFSerializer to accept no-column pandas DataFrame.
  python/pyspark/sql/pandas/serializers.py
  python/pyspark/sql/tests/pandas/test_pandas_udf_scalar.py
  python/pyspark/sql/tests/test_udtf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix.
  python/pyspark/sql/worker/analyze_udtf.py
  python/pyspark/worker.py
  python/pyspark/worker_util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  dev/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

del conda install
  .github/workflows/build_and_test.yml
Due: language-matters

add packaging test back
  .github/workflows/build_and_test.yml
  dev/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

refine
  .github/workflows/build_and_test.yml
  dev/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

del exports
  .github/workflows/build_and_test.yml
Due: language-matters

Update documentation
  python/pyspark/pandas/datetimes.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/JoinEliminationSuite.scala
Due: language-matters

fix test
  sql/core/src/test/scala/org/apache/spark/sql/execution/BroadcastExchangeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
Due: language-matters

Rewrite the join to filter if one side maximum number of rows is 1
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/JoinEliminationSuite.scala
Due: language-matters

Finish move of classes
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/arrow/ArrowDeserializer.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/arrow/ArrowSerializer.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/MathUtils.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/ArrowErrors.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/DataTypeErrors.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/DataTypeErrorsBase.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/ExecutionErrors.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/QueryParsingErrors.scala
  sql/api/src/main/scala/org/apache/spark/sql/internal/SqlApiConf.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/numerics.scala
  sql/api/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/Columnar.scala
Due: language-matters

simplify
  .github/workflows/build_and_test.yml
  dev/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

add comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
Due: language-matters

Fix legacy policy
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CTESubstitution.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/CSVOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/UnivocityParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JSONOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/arrow/ArrowWriter.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/DateFormatterSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/TimestampFormatterSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetReadSupport.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetWriteSupport.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/ParquetScanBuilder.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/DateTimeRebaseBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFilterSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRebaseDatetimeSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/sources/HadoopFsRelationTest.scala
Due: language-matters
