Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-openapi, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, flake8, bat-tests, stylelint, mermaid, pre-commit-descriptions

Path conditions:
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/PROVIDERS_CHANGES_*| ^airflow/providers/apache/hive/README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/howto/connection/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^scripts/.*\.py$|^dev|^backport_packages
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$

Add R variants
  R/pkg/NAMESPACE
  R/pkg/R/functions.R
  R/pkg/tests/fulltests/test_sparkSQL.R
Due: language-matters

Fix session_lifetime_minutes config docs (#12628)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Due: language-matters, airflow-config-yaml

Fix build
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
Due: language-matters

[SPARK-26645][PYTHON] Support decimals with negative scale when parsing datatype
  python/pyspark/sql/tests.py
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

cleanup
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/InferFiltersFromGenerateSuite.scala
Due: language-matters

Update comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/complexTypeCreator.scala
Due: language-matters

Fix compilation
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
Due: language-matters

Actually run against the version of the DB we select in the matrix. (#12591)
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, language-matters, bat-tests

Add test
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

Fix benchmark case name.
  sql/core/benchmarks/SubExprEliminationBenchmark-jdk11-results.txt
  sql/core/benchmarks/SubExprEliminationBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/SubExprEliminationBenchmark.scala
Due: language-matters

[SPARK-33525][SQL] Update hive-service-rpc to 3.1.2
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/CLIService.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/GetInfoType.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/ICLIService.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/thrift/ThriftBinaryCLIService.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/thrift/ThriftCLIService.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/thrift/ThriftCLIServiceClient.java
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIService.scala
Due: language-matters

fix db migration downgrade actions (#12608)
  airflow/migrations/versions/3c20cacc0044_add_dagrun_run_type.py
  airflow/migrations/versions/bbf4a7ad0465_remove_id_column_from_xcom.py
  airflow/migrations/versions/bef4f3d11e8b_drop_kuberesourceversion_and_.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix tests
  sql/core/src/test/resources/sql-tests/results/show_columns.sql.out
Due: language-matters

remove python3.8 and fix breakage
  python/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

change 3.8 to 3.6
  python/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Ensure that the `prohibit_commit` guard only applies to _one_ session. (#12575)
  airflow/utils/sqlalchemy.py
  tests/utils/test_sqlalchemy.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update trait name and add assert
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/complexTypeCreator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
Due: language-matters

Finish updating CreateNonNullCollection
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/complexTypeCreator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
Due: language-matters

revert pom changes
  pom.xml
Due: language-matters

py36 instead of 38
  python/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

handle DropTableExec & RefreshTableExec
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropTableExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RefreshTableExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V1FallbackWriters.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala
Due: language-matters

[SPARK-26645][PYTHON][2.4] Support decimals with negative scale when parsing datatype
  python/pyspark/sql/tests.py
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-33565][BUILD][PYTHON] remove python3.8 and fix breakage
  python/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-33523][SQL][TEST][FOLLOWUP] Fix benchmark case name in SubExprEliminationBenchmark
  sql/core/benchmarks/SubExprEliminationBenchmark-jdk11-results.txt
  sql/core/benchmarks/SubExprEliminationBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/SubExprEliminationBenchmark.scala
Due: language-matters

Fix tests
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2Suites.scala
Due: language-matters

[SPARK-33565][PYTHON][BUILD][3.0] Remove py38 spark3
  python/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Replace assertEquals
  python/pyspark/sql/tests/test_arrow.py
  python/pyspark/sql/tests/test_catalog.py
  python/pyspark/sql/tests/test_dataframe.py
  python/pyspark/sql/tests/test_datasources.py
  python/pyspark/sql/tests/test_functions.py
  python/pyspark/sql/tests/test_pandas_cogrouped_map.py
  python/pyspark/sql/tests/test_pandas_grouped_map.py
  python/pyspark/sql/tests/test_pandas_map.py
  python/pyspark/sql/tests/test_pandas_udf_grouped_agg.py
  python/pyspark/sql/tests/test_pandas_udf_scalar.py
  python/pyspark/sql/tests/test_pandas_udf_window.py
  python/pyspark/sql/tests/test_udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Replace pandas.util.testing
  python/pyspark/sql/tests/test_arrow.py
  python/pyspark/sql/tests/test_dataframe.py
  python/pyspark/sql/tests/test_pandas_cogrouped_map.py
  python/pyspark/sql/tests/test_pandas_grouped_map.py
  python/pyspark/sql/tests/test_pandas_udf_grouped_agg.py
  python/pyspark/sql/tests/test_pandas_udf_typehints.py
  python/pyspark/sql/tests/test_pandas_udf_window.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Replace assertRaisesRegexp
  python/pyspark/ml/tests/test_feature.py
  python/pyspark/ml/tests/test_image.py
  python/pyspark/ml/tests/test_param.py
  python/pyspark/ml/tests/test_persistence.py
  python/pyspark/ml/tests/test_tuning.py
  python/pyspark/ml/tests/test_wrapper.py
  python/pyspark/sql/tests/test_arrow.py
  python/pyspark/sql/tests/test_catalog.py
  python/pyspark/sql/tests/test_column.py
  python/pyspark/sql/tests/test_conf.py
  python/pyspark/sql/tests/test_dataframe.py
  python/pyspark/sql/tests/test_datasources.py
  python/pyspark/sql/tests/test_functions.py
  python/pyspark/sql/tests/test_pandas_cogrouped_map.py
  python/pyspark/sql/tests/test_pandas_grouped_map.py
  python/pyspark/sql/tests/test_pandas_udf.py
  python/pyspark/sql/tests/test_pandas_udf_grouped_agg.py
  python/pyspark/sql/tests/test_pandas_udf_scalar.py
  python/pyspark/sql/tests/test_pandas_udf_window.py
  python/pyspark/sql/tests/test_types.py
  python/pyspark/sql/tests/test_udf.py
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/tests/test_profiler.py
  python/pyspark/tests/test_rdd.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

follow comment
  core/src/main/scala/org/apache/spark/Heartbeater.scala
  core/src/main/scala/org/apache/spark/executor/ExecutorMetricsPoller.scala
Due: language-matters

Keep the test coverage with Python 3.8 in GitHub Actions
  dev/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

[SPARK-33562][UI] Improve the style of the checkbox in executor page
  core/src/main/resources/org/apache/spark/ui/static/executorspage.js
  core/src/main/resources/org/apache/spark/ui/static/webui.css
Due: language-matters

[SPARK-33565][INFRA][FOLLOW-UP] Keep the test coverage with Python 3.8 in GitHub Actions
  dev/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

fix test
  sql/core/src/test/scala/org/apache/spark/sql/execution/metric/SQLMetricsSuite.scala
Due: language-matters

nit
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

Throw an error on window redefinition
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/core/src/test/resources/sql-tests/inputs/window.sql
  sql/core/src/test/resources/sql-tests/results/window.sql.out
Due: language-matters

Rename variable
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
Due: language-matters

add more tests and fix bugs
  docs/sql-ref-datatypes.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolvePartitionSpec.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/CharVarcharUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DataType.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CharVarcharTestSuite.scala
Due: language-matters

[SPARK-33565][INFRA][FOLLOW-UP][3.0] Keep the test coverage with Python 3.8 in GitHub Actions
  dev/run-tests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8
