Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

refactor
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
Due: language-matters

Update cloud-integration.md
  docs/cloud-integration.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-36693][REPL] Use a finally block to make sure the timer is started even if an interpreter exception occurs
  repl/src/main/scala-2.12/org/apache/spark/repl/SparkILoop.scala
  repl/src/main/scala-2.13/org/apache/spark/repl/SparkILoop.scala
Due: language-matters

Allow core Triggerer loops to yield control (#18552)
  airflow/jobs/triggerer_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Doc: Fix typo in Triggerer docs (#18560)
  docs/apache-airflow/concepts/overview.rst
Due: language-matters, provider-yamls

Fetch PR labels from API for Build Images workflow (#18572)
  .github/workflows/build-images.yml
Due: language-matters

Give MSSQL container more time to start up (#18476)
  scripts/ci/docker-compose/backend-mssql.yml
Due: language-matters, json-schema

Fix flaky redis tests (#18537)
  tests/providers/redis/sensors/test_redis_pub_sub.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix rendering nested task fields (#18516)
  airflow/models/taskinstance.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

make SupportsIndex extend Table
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/index/SupportsIndex.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/index/TableIndex.java
Due: language-matters

Adding `task_group` to the BaseOperator docstring (#18564)
  airflow/models/baseoperator.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Allow airflow standard images to run in openshift utilising the official helm chart #18136 (#18147)
  chart/templates/rbac/security-context-constraint-rolebinding.yaml
  chart/tests/test_scc_rolebinding.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/production-guide.rst
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, provider-yamls, json-schema, mypy, pylint, flake8

Change location of bucket creation for Datastore (#18569)
  tests/providers/google/cloud/operators/test_datastore_system.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update s3_list.py (#18561)
  airflow/providers/amazon/aws/operators/s3_list.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

[SPARK-36848][SQL][FOLLOWUP] Simplify SHOW CURRENT NAMESPACE command
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkSqlParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/ShowCurrentNamespaceCommand.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLParserSuite.scala
Due: language-matters

getSqlState and isInternalError should have default implementations
  core/src/main/java/org/apache/spark/SparkThrowable.java
  core/src/main/resources/error/README.md
  core/src/main/scala/org/apache/spark/SparkException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/AnalysisException.scala
Due: language-matters, markdownlint

fix "since"
  python/pyspark/__init__.pyi
Due: language-matters

type hints for functions.py
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

imports order
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add a test
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFilterSuite.scala
Due: language-matters

Respect config by ParquetScanBuilder
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/ParquetScanBuilder.scala
Due: language-matters

Move FABs base Security Manager into Airflow. (#16647)
  .pre-commit-config.yaml
  NOTICE
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/config_templates/default_webserver_config.py
  airflow/www/fab_security/__init__.py
  airflow/www/fab_security/manager.py
  airflow/www/fab_security/sqla/__init__.py
  airflow/www/fab_security/sqla/manager.py
  airflow/www/security.py
  tests/test_utils/www.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names, mypy, pylint, flake8

address comments
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/index/SupportsIndex.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/index/TableIndex.java
Due: language-matters

Remove unsupportedOperationCheck setting for test.
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/TextSocketStreamSuite.scala
Due: language-matters

Operator help code optimisation (#18571)
  airflow/utils/operator_helpers.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add in Bidnamic to INTHEWILD.md (#18589)
  INTHEWILD.md
Due: language-matters, sort-in-the-wild, markdownlint

Influxdb Hook (#17068)
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/influxdb/CHANGELOG.rst
  airflow/providers/influxdb/__init__.py
  airflow/providers/influxdb/example_dags/__init__.py
  airflow/providers/influxdb/example_dags/example_influxdb.py
  airflow/providers/influxdb/hooks/__init__.py
  airflow/providers/influxdb/hooks/influxdb.py
  airflow/providers/influxdb/provider.yaml
  docs/apache-airflow-providers-influxdb/commits.rst
  docs/apache-airflow-providers-influxdb/connections/influxdb.rst
  docs/apache-airflow-providers-influxdb/index.rst
  docs/apache-airflow-providers-influxdb/installing-providers-from-sources.rst
  docs/apache-airflow-providers-influxdb/operators/influxdb.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/influxdb/__init__.py
  tests/providers/influxdb/hooks/__init__.py
  tests/providers/influxdb/hooks/test_influxdb.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, provider-yamls, airflow-providers-available, mypy, pylint, flake8

Add Macquarie Group to the list of companies using Airflow (#18591)
  INTHEWILD.md
Due: language-matters, sort-in-the-wild, markdownlint

Fixing flaky test that fails when run with other test that leave a trace (#18586)
  tests/cli/commands/test_user_command.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Small typo in JdbcOperator (#18593)
  docs/apache-airflow-providers-jdbc/connections/jdbc.rst
Due: language-matters, provider-yamls

TYPE_CHECKING
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix test failure
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
Due: language-matters

[SPARK-36846][PYTHON] Inline most of type hint files under pyspark/sql/pandas folder
  python/pyspark/sql/pandas/_typing/protocols/frame.pyi
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/pandas/conversion.pyi
  python/pyspark/sql/pandas/group_ops.py
  python/pyspark/sql/pandas/group_ops.pyi
  python/pyspark/sql/pandas/map_ops.py
  python/pyspark/sql/pandas/map_ops.pyi
  python/pyspark/sql/pandas/typehints.py
  python/pyspark/sql/pandas/types.py
  python/pyspark/sql/pandas/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-36813][SQL][PYTHON] Propose an infrastructure of as-of join and imlement ps.merge_asof
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/tests/test_reshape.py
  python/pyspark/sql/dataframe.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/DeduplicateRelations.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteAsOfJoin.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/joinTypes.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteAsOfJoinSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAsOfJoinSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][SS][TEST] Remove unsupportedOperationCheck setting for TextSocketStreamSuite
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/TextSocketStreamSuite.scala
Due: language-matters

Mention other Python dependency tools in documentation
  docs/quick-start.md
  docs/rdd-programming-guide.md
  docs/submitting-applications.md
Due: language-matters, provider-yamls, markdownlint

Modify the reference document
  python/docs/source/reference/pyspark.sql.rst
Due: language-matters

address comment
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/CoalesceShufflePartitionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

Add versionadded directive to the doc
  python/pyspark/sql/column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Inline type hints for pyspark.sql.session
  python/pyspark/__init__.pyi
  python/pyspark/sql/session.py
  python/pyspark/sql/session.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
