Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-35726][SPARK-35769][SQL][FOLLOWUP] Call periodToMonths and durationToMicros in HiveResult should add endField
  sql/core/src/main/scala/org/apache/spark/sql/execution/HiveResult.scala
Due: language-matters

Reflect review comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/MergingSessionsIterator.scala
Due: language-matters

Fix tasks in an infinite slots pool were never scheduled (#15247)
  airflow/models/pool.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_pool.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-35799][SS] Fix the allUpdatesTimeMs metric measuring in FlatMapGroupsWithStateExec
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FlatMapGroupsWithStateExec.scala
Due: language-matters

Merge contents and remove obsolete pages in Getting Started section
  python/docs/source/getting_started/index.rst
  python/docs/source/getting_started/install.rst
  python/docs/source/getting_started/ps_install.rst
  python/docs/source/getting_started/ps_videos_blogs.rst
Due: language-matters

Initial upload
  core/src/main/scala/org/apache/spark/storage/BlockManagerMasterEndpoint.scala
  core/src/test/scala/org/apache/spark/storage/BlockManagerInfoSuite.scala
Due: language-matters

imporve error message
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/test/resources/sql-tests/results/datetime-legacy.sql.out
Due: language-matters

Update 7132f8b501
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
Due: language-matters

fix checkstyle
  core/src/test/scala/org/apache/spark/storage/BlockManagerInfoSuite.scala
Due: language-matters

fix avro and hive-thriftserver
  external/avro/pom.xml
  sql/hive-thriftserver/pom.xml
Due: language-matters

[SPARK-35855][SQL] Unify reuse map data structures in non-AQE and AQE rules (`ReuseExchangeAndSubquery`, `ReuseAdaptiveSubquery`) to a simple `Map[<canonicalized plan>, <plan>]`
  sql/catalyst/src/main/scala/org/apache/spark/sql/util/ReuseMap.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/util/ReuseMapSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/reuse/ReuseExchangeAndSubquery.scala
Due: language-matters

regenerate the golden files
  sql/core/src/test/resources/sql-tests/results/ansi/datetime.sql.out
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime-legacy.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/typeCoercion/native/promoteStrings.sql.out
Due: language-matters

Docs: Fix Taskflow API docs (#16574)
  docs/apache-airflow/concepts/taskflow.rst
Due: language-matters, provider-yamls

rename
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

Exclude ``yarn.lock`` from built Python wheel file (#16577)
  Dockerfile
  MANIFEST.in
Due: lint-dockerfile, language-matters

move test cases
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/AnsiCastSuiteBase.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuiteBase.scala
Due: language-matters

Fix pylint error in tests/ (#16585)
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Ensure that `dag_run.conf` is a dict (#15057)
  airflow/www/api/experimental/endpoints.py
  airflow/www/templates/airflow/trigger.html
  airflow/www/views.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/views/test_views_trigger_dag.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

remove 's'
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/AnsiCastSuiteBase.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuite.scala
Due: language-matters

use DateAdd instead of TimeAdd for DateType + INTERVAL DAY
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

Throw an error if version and timestamp are used together in DataFrame.to_delta
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/tests/test_namespace.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Switch to GitHub Container Registry by default (#16586)
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CI.rst
  IMAGES.rst
  breeze-complete
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Due: update-breeze-file, language-matters, check-integrations, shellcheck, bats-tests, pre-commit-descriptions

[SPARK-35838][BUILD][TESTS] Ensure all modules can be maven test independently in Scala 2.13
  external/avro/pom.xml
  external/kafka-0-10-sql/pom.xml
  sql/hive-thriftserver/pom.xml
Due: language-matters

Add back-compat layer to clear_task_instances (#16582)
  airflow/models/taskinstance.py
  airflow/typing_compat.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-35727][SQL] Return INTERVAL DAY from dates subtraction
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/core/src/test/resources/sql-tests/results/ansi/datetime.sql.out
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime-legacy.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/typeCoercion/native/promoteStrings.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/ColumnExpressionSuite.scala
Due: language-matters

update result
  sql/core/src/test/resources/sql-tests/results/ansi/datetime.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime.sql.out
Due: language-matters

更新文档
  sql/core/src/test/scala/org/apache/spark/sql/FailfastTest.scala
Due: language-matters

remove distributionManagement
  pom.xml
Due: language-matters

Remove Shell scripts under ``airflow/www`` from releases (#16588)
  MANIFEST.in
Due: language-matters

Fix Java code snippet
  sql/core/src/main/scala/org/apache/spark/sql/streaming/TestGroupState.scala
Due: language-matters

Update Java unit tests; Update TestGroupState doc code snippet
  sql/core/src/main/scala/org/apache/spark/sql/streaming/TestGroupState.scala
  sql/core/src/test/java/test/org/apache/spark/sql/JavaDatasetSuite.java
Due: language-matters

reformat
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/jsonExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/csv/UnivocityParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/json/JsonDataSource.scala
Due: language-matters

Update IntervalUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
Due: language-matters

Address review comments
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroSerializer.scala
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroUtils.scala
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSchemaHelperSuite.scala
  external/avro/src/test/scala/org/apache/spark/sql/execution/benchmark/AvroWriteBenchmark.scala
Due: language-matters

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuite.scala
Due: language-matters

make ansi flag static
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/StreamingJoinHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Cast.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/UnwrapCastInBinaryComparison.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/QueryPlanConstraints.scala
Due: language-matters

Use AQE helper to simplify the code in CollectMetricsExec
  sql/core/src/main/scala/org/apache/spark/sql/execution/CollectMetricsExec.scala
Due: language-matters

[SPARK-35854][SQL] Improve the error message of to_timestamp_ntz with invalid format pattern
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/test/resources/sql-tests/results/ansi/datetime.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime-legacy.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime.sql.out
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
