Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-43899][BUILD] Upgrade protobuf-java to 3.23.2
  pom.xml
  project/SparkBuild.scala
Due: language-matters

[SPARK-43867][SQL] Improve suggested candidates for unresolved attribute
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/StringUtilsSuite.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/columnresolution-negative.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/group-by-all.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/join-lateral.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/aggregates_part1.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/join.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/udf/postgreSQL/udf-aggregates_part1.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/udf/postgreSQL/udf-join.sql.out
  sql/core/src/test/resources/sql-tests/results/columnresolution-negative.sql.out
  sql/core/src/test/resources/sql-tests/results/group-by-all.sql.out
  sql/core/src/test/resources/sql-tests/results/join-lateral.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/aggregates_part1.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/join.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/postgreSQL/udf-aggregates_part1.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/postgreSQL/udf-join.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/DatasetUnpivotSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
Due: language-matters

[SPARK-43910][SQL] Strip `__auto_generated_subquery_name` from ids in errors
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryErrorsBase.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/natural-join.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/pivot.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/udf/udf-pivot.sql.out
  sql/core/src/test/resources/sql-tests/results/natural-join.sql.out
  sql/core/src/test/resources/sql-tests/results/pivot.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/udf-pivot.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
Due: language-matters

[SPARK-43896][TESTS][PS][CONNECT] Enable `test_iterrows` and `test_itertuples` on Connect
  python/pyspark/pandas/tests/connect/indexes/test_parity_indexing.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43892][PYTHON] Add autocomplete support for `df[|]` in `pyspark.sql.dataframe.DataFrame`
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43895][CONNECT][GO] Prepare the go package path
  connector/connect/common/src/main/protobuf/buf.yaml
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/common/src/main/protobuf/spark/connect/catalog.proto
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/common/src/main/protobuf/spark/connect/common.proto
  connector/connect/common/src/main/protobuf/spark/connect/example_plugins.proto
  connector/connect/common/src/main/protobuf/spark/connect/expressions.proto
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/common/src/main/protobuf/spark/connect/types.proto
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/catalog_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/common_pb2.py
  python/pyspark/sql/connect/proto/example_plugins_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/types_pb2.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43894][PYTHON] Fix bug in df.cache()
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43775][SQL] DataSource V2: Allow representing updates as deletes and inserts
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/SupportsDelta.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteRowLevelCommand.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteUpdateTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryRowLevelOperationTable.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DeltaBasedUpdateAsDeleteAndInsertTableSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/UpdateTableSuiteBase.scala
Due: language-matters

[SPARK-43804][PYTHON][TESTS] Test on nested structs support in Pandas UDF
  python/pyspark/sql/tests/connect/test_parity_pandas_udf.py
  python/pyspark/sql/tests/pandas/test_pandas_udf_scalar.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43030][SQL][FOLLOWUP] Fix DeduplicateRelations with duplicate aliases
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/DeduplicateRelations.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/QueryPlan.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
Due: language-matters

[SPARK-41593][FOLLOW-UP][ML] Torch distributor log streaming server: Avoid duplicated log to stdout redirection
  python/pyspark/ml/torch/distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43888][CORE] Relocate Logging to common/utils
  common/utils/pom.xml
  common/utils/src/main/scala/org/apache/spark/internal/Logging.scala
  core/pom.xml
Due: language-matters

[SPARK-43882][SQL] Assign name to _LEGACY_ERROR_TEMP_2122
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
Due: language-matters

[SPARK-43504][K8S] Mounts the hadoop config map on the executor pod
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/HadoopConfDriverFeatureStep.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/HadoopConfExecutorFeatureStep.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBuilder.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/HadoopConfExecutorFeatureStepSuite.scala
Due: language-matters

[SPARK-43792][SQL][PYTHON][CONNECT] Add optional pattern for Catalog.listCatalogs
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/catalog/Catalog.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/CatalogSuite.scala
  connector/connect/common/src/main/protobuf/spark/connect/catalog.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  project/MimaExcludes.scala
  python/pyspark/sql/catalog.py
  python/pyspark/sql/connect/catalog.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/catalog_pb2.py
  python/pyspark/sql/connect/proto/catalog_pb2.pyi
  sql/core/src/main/scala/org/apache/spark/sql/catalog/Catalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalog/interface.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/CatalogSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43917][PS][INFRA] Upgrade `pandas` to 2.0.2
  dev/infra/Dockerfile
  python/pyspark/pandas/supported_api_gen.py
Due: lint-dockerfile, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43267][JDBC] Handle postgres unknown user-defined column as string in array
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/PostgresIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/PostgresDialect.scala
Due: language-matters

[SPARK-43973][SS][UI] Structured Streaming UI should display failed queries correctly
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryStatusListener.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/ui/StreamingQueryStatusListenerSuite.scala
Due: language-matters

[SPARK-43962][SQL] Improve error messages: `CANNOT_DECODE_URL`, `CANNOT_MERGE_INCOMPATIBLE_DATA_TYPE`, `CANNOT_PARSE_DECIMAL`, `CANNOT_READ_FILE_FOOTER`, `CANNOT_RECOGNIZE_HIVE_TYPE`
  core/src/main/resources/error/error-classes.json
Due: language-matters

[SPARK-43380][SQL] Fix Avro data type conversion issues to avoid producing incorrect results
  connector/avro/src/main/scala/org/apache/spark/sql/avro/AvroDeserializer.scala
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  core/src/main/resources/error/error-classes.json
  docs/sql-migration-guide.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-43960][PS][TESTS] DataFrameConversionTestsMixin is not tested properly
  python/pyspark/pandas/tests/test_dataframe_conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43516][ML][PYTHON] Update MLv2 Transformer interfaces
  python/pyspark/mlv2/base.py
  python/pyspark/mlv2/feature.py
  python/pyspark/mlv2/tests/test_feature.py
  python/pyspark/mlv2/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43955][BUILD] Upgrade `scalafmt` from 3.7.3 to 3.7.4
  dev/.scalafmt.conf
Due: language-matters

Revert "[SPARK-43911][SQL] Use toSet to deduplicate the iterator data to prevent the creation of large Array"
  sql/core/src/main/scala/org/apache/spark/sql/execution/SubqueryBroadcastExec.scala
Due: language-matters

[SPARK-43904][BUILD] Upgrade jackson to 2.15.2
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

[SPARK-42299] Assign name to _LEGACY_ERROR_TEMP_2206
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

[SPARK-43949][PYTHON] Upgrade cloudpickle to 2.2.1
  python/pyspark/cloudpickle/__init__.py
  python/pyspark/cloudpickle/cloudpickle_fast.py
  python/pyspark/cloudpickle/compat.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43936][SQL] Fix bug for toSQLId
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryErrorsBase.scala
Due: language-matters

[SPARK-43510][YARN] Fix YarnAllocator internal state when adding running executor after processing completed containers
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnAllocator.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
Due: language-matters

[SPARK-43945][SQL][TESTS] Fix bug for `SQLQueryTestSuite` when run on local env
  sql/core/src/test/resources/sql-tests/results/identifier-clause.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/SQLQueryTestHelper.scala
Due: language-matters

[SPARK-43516][ML][FOLLOW-UP] Drop vector type support in Distributed ML for spark connect
  python/pyspark/mlv2/base.py
  python/pyspark/mlv2/tests/test_feature.py
  python/pyspark/mlv2/tests/test_summarizer.py
  python/pyspark/mlv2/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43956][SQL] Fix the bug doesn't display column's sql for Percentile[Cont|Disc]
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/percentiles.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/percentiles.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/aggregates_part4.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/udf/postgreSQL/udf-aggregates_part4.sql.out
  sql/core/src/test/resources/sql-tests/results/percentiles.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/aggregates_part4.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/postgreSQL/udf-aggregates_part4.sql.out
Due: language-matters

[SPARK-43957][SQL][TESTS] Use `checkError()` to check `Exception` in `*Insert*Suite`
  sql/core/src/test/scala/org/apache/spark/sql/SQLInsertTestSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DeltaBasedUpdateAsDeleteAndInsertTableSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/InsertSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/InsertSuite.scala
Due: language-matters

[SPARK-43783][SPARK-43784][SPARK-43788][ML] Make MLv2 (ML on spark connect) supports pandas >= 2.0
  python/pyspark/mlv2/summarizer.py
  python/pyspark/mlv2/tests/test_feature.py
  python/pyspark/mlv2/tests/test_summarizer.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43948][SQL] Assign names to the error class _LEGACY_ERROR_TEMP_[0050|0057|0058|0059]
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryParsingErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkSqlParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableReplaceColumnsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/InsertSuite.scala
Due: language-matters

[SPARK-43063][SQL][FOLLOWUP] Add a space between `->` and value
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ToStringBase.scala
Due: language-matters

[SPARK-43953][CONNECT] Remove `pass`
  python/pyspark/sql/connect/plan.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43911][SQL] Use toSet to deduplicate the iterator data to prevent the creation of large Array
  sql/core/src/main/scala/org/apache/spark/sql/execution/SubqueryBroadcastExec.scala
Due: language-matters

[SPARK-42626][CONNECT] Add Destructive Iterator for SparkResult
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/Dataset.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkResult.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
Due: language-matters

[SPARK-43950][BUILD] Upgrade `kubernetes-client` to 6.7.0
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
