Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

EliminateInnerJoin
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/InnerJoinEliminationSuite.scala
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q14a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q14a.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q14b.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q14b.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q14.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q14.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q14a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q14a.sf100/simplified.txt
Due: language-matters

[SPARK-37864][SQL] Support vectorized read boolean values use RLE encoding with Parquet DataPage V2
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedColumnReader.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedRleValuesReader.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetEncodingSuite.scala
Due: language-matters

Preparing Spark release v3.1.3-rc2
  R/pkg/DESCRIPTION
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  docs/_config.yml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  python/pyspark/version.py
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, mypy, pylint, flake8

Preparing development version 3.1.4-SNAPSHOT
  R/pkg/DESCRIPTION
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  docs/_config.yml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  python/pyspark/version.py
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-config-yaml, provider-yamls, mypy, pylint, flake8

AwsAthenaOperator: do not generate ``client_request_token`` if not provided (#20854)
  airflow/providers/amazon/aws/operators/athena.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

[SPARK-37900][CORE] Use SparkMasterRegex.KUBERNETES_REGEX in SecurityManager
  core/src/main/scala/org/apache/spark/SecurityManager.scala
Due: language-matters

cleaning ShuffleBlockResolver
  core/src/main/scala/org/apache/spark/shuffle/IndexShuffleBlockResolver.scala
  core/src/main/scala/org/apache/spark/shuffle/ShuffleBlockResolver.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
Due: language-matters

Add Listener Plugin API that tracks TaskInstance state changes (#20443)
  airflow/jobs/local_task_job.py
  airflow/listeners/__init__.py
  airflow/listeners/events.py
  airflow/listeners/listener.py
  airflow/listeners/spec.py
  airflow/plugins_manager.py
  docs/apache-airflow/index.rst
  docs/apache-airflow/integration.rst
  docs/apache-airflow/listeners.rst
  docs/apache-airflow/plugins.rst
  setup.cfg
  tests/cli/commands/test_plugins_command.py
  tests/listeners/__init__.py
  tests/listeners/empty_listener.py
  tests/listeners/full_listener.py
  tests/listeners/partial_listener.py
  tests/listeners/test_listeners.py
  tests/listeners/throwing_listener.py
  tests/plugins/test_plugin.py
  tests/plugins/test_plugins_manager.py
Due: setup-order, update-setup-cfg-file, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, mypy, pylint, flake8

Replace Iterable import from collections with collections.abc
  python/pyspark/pandas/typedef/typehints.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Check repl log level in correct way
  core/src/main/scala/org/apache/spark/internal/Logging.scala
Due: language-matters

Resolve typing issues detected by mypy==0.931
  python/pyspark/pandas/base.py
  python/pyspark/sql/tests/test_pandas_udf_typehints.py
  python/pyspark/sql/tests/test_pandas_udf_typehints_with_future_annotations.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix Scheduler crash when executing task instances of missing DAG (#20349)
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update ``INTHEWILD.md`` to add Breezeline (#20855)
  INTHEWILD.md
Due: language-matters, sort-in-the-wild, markdownlint

[SPARK-37900][CORE] Use `SparkMasterRegex.KUBERNETES_REGEX` in `SecurityManager`
  core/src/main/scala/org/apache/spark/SecurityManager.scala
Due: language-matters

Docs: Wordings fix in CONTRIBUTING doc (#20861)
  CONTRIBUTING.rst
Due: update-extras, language-matters

Replace string_typehints with get_type_hints.
  python/pyspark/pandas/datetimes.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/indexes/datetimes.py
  python/pyspark/pandas/indexes/timedelta.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/strings.py
  python/pyspark/pandas/tests/test_categorical.py
  python/pyspark/pandas/tests/test_typedef.py
  python/pyspark/pandas/typedef/string_typehints.py
  python/pyspark/pandas/typedef/typehints.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37887][CORE] Fix the check of repl log level
  core/src/main/scala/org/apache/spark/internal/Logging.scala
Due: language-matters

Indentation
  core/src/test/scala/org/apache/spark/SparkFunSuite.scala
Due: language-matters

[SPARK-37879][INFRA] Show test report in GitHub Actions builds from PRs
  .github/workflows/notify_test_workflow.yml
Due: language-matters

[MINOR][PYTHON] Replace Iterable import from collections with collections.abc
  python/pyspark/pandas/typedef/typehints.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Drop leftover Any import
  python/pyspark/sql/tests/test_pandas_udf_typehints.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

comments + refactor
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/SchemaPruning.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/objects.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/SchemaPruningSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/SchemaPruning.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushDownUtils.scala
Due: language-matters

[SPARK-37903][PYTHON] Replace string_typehints with get_type_hints
  python/pyspark/pandas/datetimes.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/indexes/datetimes.py
  python/pyspark/pandas/indexes/timedelta.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/strings.py
  python/pyspark/pandas/tests/test_categorical.py
  python/pyspark/pandas/tests/test_typedef.py
  python/pyspark/pandas/typedef/string_typehints.py
  python/pyspark/pandas/typedef/typehints.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix drop subset inline type hint
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37627][SQL][FOLLOWUP] Separate SortedBucketTransform from BucketTransform
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Implicits.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/expressions/expressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/expressions/TransformExtractorSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

Refactor on OpsTestCase
  python/pyspark/pandas/tests/data_type_ops/test_binary_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_boolean_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_categorical_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_complex_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_date_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_datetime_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_null_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_num_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_string_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_timedelta_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_udt_ops.py
  python/pyspark/pandas/tests/data_type_ops/testing_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

further comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/namedExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/SchemaPruning.scala
Due: language-matters

Convert inner join to left semi join
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala
Due: language-matters

Revert "update"
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
Due: language-matters

Revert "Follow comment"
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/PartitionPruning.scala
Due: language-matters

follow comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/PartitionPruning.scala
Due: language-matters

fix compile
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetEncodingSuite.scala
Due: language-matters

[SPARK-37859][SQL] Do not check for metadata during schema comparison
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/TableScanSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/DataFrameReaderWriterSuite.scala
Due: language-matters

[SPARK-37893][CORE][TESTS] Avoid ConcurrentModificationException related to SparkFunSuite.LogAppender#_threshold"
  core/src/test/scala/org/apache/spark/SparkFunSuite.scala
Due: language-matters

Update follow comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/PartitionPruning.scala
Due: language-matters

[SPARK-37880][BUILD] Upgrade Scala to 2.13.8
  pom.xml
Due: language-matters

Update code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Average.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

[SPARK-37905][INFRA] Make `merge_spark_pr.py` set primary author from the first commit in case of ties
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
