Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

fixed UT failure Check schemas for expression examples
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
Due: language-matters, markdownlint

remove ordering check and also updated UTs
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollectionExpressionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

added new line at EOF
  sql/core/src/test/resources/sql-tests/inputs/array.sql
Due: language-matters

fix compile issues
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
Due: language-matters

fix nit
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters

Remove apply
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
Due: language-matters

Implement RuntimeReplaceable and use ArrayFilter
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollectionExpressionsSuite.scala
Due: language-matters

slice array only if it has null elements
  python/docs/source/reference/pyspark.sql/functions.rst
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters

Implement RuntimeReplaceable and use ArrayFilter
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollectionExpressionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

Review comments fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/core/src/test/resources/sql-tests/inputs/array.sql
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

Fix UT issues
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters

Revert InheritAnalysisRules
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

init
  python/pyspark/sql/connect/_typing.py
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][PYTHON][DOCS] Correct the return type of `_to_java_cols`
  python/pyspark/sql/window.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Deduplicate docstrings in pyspark.sql.connect.session
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41364][CONNECT][PYTHON] Implement `broadcast` function
  python/pyspark/sql/connect/_typing.py
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

use only placeholder files
  connector/connect/client/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
  connector/connect/client/src/main/scala/org/apache/spark/sql/connect/client/SparkSession.scala
  connector/connect/client/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
Due: language-matters

[SPARK-41660][SQL] Only propagate metadata columns if they are used
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/MetadataColumnSuite.scala
Due: language-matters

[SPARK-41509][SQL] Only execute `Murmur3Hash` on aggregate expressions for semi-join runtime filter
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InjectRuntimeFilter.scala
Due: language-matters

[SPARK-41565][SQL] Add the error class `UNRESOLVED_ROUTINE`
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/LookupFunctionsSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
  sql/core/src/test/resources/sql-tests/results/ansi/double-quoted-identifiers-disabled.sql.out
  sql/core/src/test/resources/sql-tests/results/ansi/double-quoted-identifiers-enabled.sql.out
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/double-quoted-identifiers.sql.out
  sql/core/src/test/resources/sql-tests/results/inline-table.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/window_part3.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/udf-inline-table.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/UDFSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2FunctionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveUDFSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Due: language-matters

Support parameterized SQL by PySpark sql
  python/pyspark/sql/session.py
  python/pyspark/sql/sql_formatter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix whitespace
  core/src/test/scala/org/apache/spark/status/protobuf/KVStoreProtobufSerializerSuite.scala
Due: language-matters

whitespace
  core/src/test/scala/org/apache/spark/status/protobuf/KVStoreProtobufSerializerSuite.scala
Due: language-matters

Quickfix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

Python lint fix
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

[SPARK-41667][K8S] Expose env var SPARK_DRIVER_POD_NAME in Driver Pod
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Constants.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStepSuite.scala
Due: language-matters

move client into jvm directory
  connector/connect/client/jvm/pom.xml
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
  connector/connect/client/jvm/src/test/resources/log4j2.properties
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
  pom.xml
  project/SparkBuild.scala
Due: language-matters

[SPARK-41644][CORE][UI] Introducing `ProtobufSerDe` to make other modules easy to register `ProtoBufSerializer`
  core/src/main/resources/META-INF/services/org.apache.spark.status.protobuf.ProtobufSerDe
  core/src/main/scala/org/apache/spark/status/protobuf/ApplicationEnvironmentInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/ApplicationInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/ExecutorStageSummaryWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/JobDataWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/KVStoreProtobufSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/ProtobufSerDe.scala
  core/src/main/scala/org/apache/spark/status/protobuf/RDDStorageInfoWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/ResourceProfileWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/TaskDataWrapperSerializer.scala
Due: language-matters

Fix coding style of sql_formatter.py
  python/pyspark/sql/sql_formatter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

address comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/KeyGroupedPartitioningSuite.scala
Due: language-matters

update
  sql/core/src/main/scala/org/apache/spark/sql/util/MapperRowCounter.scala
  sql/core/src/test/scala/org/apache/spark/sql/util/MapperRowCounterSuite.scala
Due: language-matters

optimize
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/WideSchemaBenchmark.scala
Due: language-matters

[SPARK-41615][CONNECT] Support Catalog.listDatabases.a
  dev/sparktestsupport/modules.py
  python/pyspark/sql/connect/catalog.py
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/tests/connect/test_connect_catalog.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

DECODE function returns wrong results when passed NULL
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/core/src/test/resources/sql-tests/inputs/string-functions.sql
  sql/core/src/test/resources/sql-tests/results/ansi/string-functions.sql.out
  sql/core/src/test/resources/sql-tests/results/string-functions.sql.out
Due: language-matters

use new implementation
  core/src/main/resources/META-INF/services/org.apache.spark.status.protobuf.ProtobufSerDe
  core/src/main/scala/org/apache/spark/status/protobuf/SpeculationStageSummaryWrapperSerializer.scala
Due: language-matters

Fix more typos in streaming programming guide
  docs/streaming-programming-guide.md
Due: language-matters, provider-yamls, markdownlint

Update SpeculationStageSummaryWrapperSerializer.scala
  core/src/main/scala/org/apache/spark/status/protobuf/SpeculationStageSummaryWrapperSerializer.scala
Due: language-matters

update implementation
  core/src/main/resources/META-INF/services/org.apache.spark.status.protobuf.ProtobufSerDe
  core/src/main/scala/org/apache/spark/status/protobuf/ProcessSummaryWrapperSerializer.scala
Due: language-matters

update implementation
  core/src/main/resources/META-INF/services/org.apache.spark.status.protobuf.ProtobufSerDe
  core/src/main/scala/org/apache/spark/status/protobuf/RDDOperationGraphWrapperSerializer.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
