Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-openapi, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, flake8, bat-tests, stylelint, mermaid, pre-commit-descriptions

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsitent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

base-operator:
  language: pygrep
  name: Make sure BaseOperator[Link] is imported from airflow.models outside of core
  entry: from airflow\.models\.baseoperator import.* BaseOperator
  pass_filenames: true

provide-create-sessions:
  language: pygrep
  name: To avoid import cycles make sure provide_session and create_session are imported from airflow.utils.session
  entry: from airflow\.utils\.db import.* (provide_session|create_session)
  pass_filenames: true

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_mypy.sh
  require_serial: true

Proposal: remove -serviceaccount suffix from KSA names in helm chart (#10892)
  chart/files/pod-template-file.yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/templates/rbac/pod-cleanup-rolebinding.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/templates/workers/worker-serviceaccount.yaml
Due: language-matters

Try to optimize nth_value
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/window/WindowExecBase.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/window/WindowFunctionFrame.scala
Due: language-matters

Fix the method defaults for _construct_volume (#10948)
  airflow/kubernetes/worker_configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update
  core/src/main/scala/org/apache/spark/deploy/DeployMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
Due: language-matters

replace test-2.13.jar
  sql/hive/src/test/resources/regression-test-SPARK-8489/test-2.13.jar
Due: language-matters

orc table column name supports special characters.
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Due: language-matters

[SPARK-32874][SQL][TEST] Enhance result set meta data check for execute statement operation with thrift server
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SparkThriftServerProtocolVersionsSuite.scala
Due: language-matters

Remove test dependency from TestApiKerberos (#10950)
  tests/www/api/experimental/test_kerberos_endpoints.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fixes retrieval of correct branch in non-master related builds (#10912)
  .github/workflows/build-images-workflow-run.yml
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, language-matters, bat-tests

[SPARK-31448][PYTHON] Fix storage level used in persist() in dataframe.py
  python/pyspark/sql/dataframe.py
  python/pyspark/storagelevel.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32827][SQL] Add spark.sql.maxMetadataStringLength config
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/DataSourceScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileScan.scala
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: language-matters

create Decimal.fromString and Decimal.fromStringANSI
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Cast.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Decimal.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/DecimalSuite.scala
Due: language-matters

Address comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Decimal.scala
Due: language-matters

[SPARK-32892][CORE][SQL] Fix hash functions on big-endian platforms.
  common/sketch/src/main/java/org/apache/spark/util/sketch/Murmur3_x86_32.java
  common/unsafe/src/main/java/org/apache/spark/unsafe/hash/Murmur3_x86_32.java
  sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/expressions/XXH64.java
  sql/catalyst/src/test/java/org/apache/spark/sql/catalyst/expressions/XXH64Suite.java
Due: language-matters

nit
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/rules.scala
Due: language-matters

Change blacklist to use exclude
  core/src/main/java/org/apache/spark/SparkFirehoseListener.java
  core/src/main/scala/org/apache/spark/deploy/history/BasicEventFilterBuilder.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/scheduler/BlacklistTracker.scala
  core/src/main/scala/org/apache/spark/scheduler/EventLoggingListener.scala
  core/src/main/scala/org/apache/spark/scheduler/HealthTracker.scala
  core/src/main/scala/org/apache/spark/scheduler/SparkListener.scala
  core/src/main/scala/org/apache/spark/scheduler/SparkListenerBus.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSchedulerImpl.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSetExcludeList.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSetManager.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/main/scala/org/apache/spark/status/AppStatusListener.scala
  core/src/test/scala/org/apache/spark/HeartbeatReceiverSuite.scala
  core/src/test/scala/org/apache/spark/deploy/StandaloneDynamicAllocationSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/BasicEventFilterSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/EventLogFileCompactorSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/BlacklistTrackerSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/CoarseGrainedSchedulerBackendSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/HealthTrackerIntegrationSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/HealthTrackerSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSchedulerImplSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSetBlacklistSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSetExcludelistSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSetManagerSuite.scala
  core/src/test/scala/org/apache/spark/status/AppStatusListenerSuite.scala
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
  resource-managers/mesos/src/test/scala/org/apache/spark/scheduler/cluster/mesos/MesosCoarseGrainedSchedulerBackendSuite.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnAllocator.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnAllocatorNodeHealthTracker.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/config.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/scheduler/cluster/YarnSchedulerBackend.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorHealthTrackerSuite.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/scheduler/cluster/YarnSchedulerBackendSuite.scala
Due: language-matters

[SPARK-32738][CORE] Should reduce the number of active threads if fatal error happens in `Inbox.process`
  core/src/main/scala/org/apache/spark/rpc/netty/Inbox.scala
  core/src/test/scala/org/apache/spark/rpc/netty/InboxSuite.scala
Due: language-matters

fix compile
  core/src/main/scala/org/apache/spark/rpc/netty/Inbox.scala
  core/src/test/scala/org/apache/spark/rpc/netty/InboxSuite.scala
Due: language-matters

Fix case of GitHub. (#10955)
  .github/SECURITY.rst
  CHANGELOG.txt
  CI.rst
  CONTRIBUTING.rst
  IMAGES.rst
  airflow/providers/dingding/example_dags/example_dingding.py
  airflow/www/security.py
  dev/BACKPORT_PACKAGES.md
  dev/airflow-github
  docs/project.rst
  scripts/ci/constraints/ci_commit_constraints.sh
  scripts/ci/libraries/_build_images.sh
  scripts/in_container/run_ci_tests.sh
  scripts/in_container/update_quarantined_test_status.py
  tests/providers/dingding/hooks/test_dingding.py
  tests/test_utils/mock_operators.py
Due: shellcheck, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, mypy, pylint, flake8, bat-tests

address comments
  sql/core/src/test/scala/org/apache/spark/sql/execution/RemoveRedundantProjectsSuite.scala
Due: language-matters

Fix ExternalTaskMarker serialized fields (#10924)
  airflow/models/taskinstance.py
  airflow/sensors/external_task_sensor.py
  tests/models/test_taskinstance.py
  tests/sensors/test_external_task_sensor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add a message
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
Due: language-matters

[SPARK-32481][SQL][TESTS][FOLLOW-UP] Skip the test if trash directory cannot be created
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
Due: language-matters

Add a default for DagModel.default_view (#10897)
  airflow/models/dag.py
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  tests/models/test_dag.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Enhance user document about header flag and RDD as path.
  python/pyspark/sql/readwriter.py
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

address comments
  core/src/main/resources/org/apache/spark/ui/static/timeline-view.js
Due: language-matters

add config
  sql/core/src/test/resources/sql-tests/inputs/explain.sql
Due: language-matters

Fix more docs spellings (#10965)
  CHANGELOG.txt
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/hooks/gdm.py
  airflow/providers/google/cloud/operators/datacatalog.py
  docs/spelling_wordlist.txt
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

For comments.
  python/pyspark/sql/readwriter.py
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

typo.
  python/pyspark/sql/readwriter.py
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32704][SQL][TESTS] Check if any physical rule was applied instead of a specific rule
  sql/core/src/test/scala/org/apache/spark/sql/execution/QueryExecutionSuite.scala
Due: language-matters

Update interface.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/interface.scala
Due: language-matters

change to check isEmpty
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSchemaInferenceSuite.scala
Due: language-matters

remove :
  sql/core/src/test/resources/sql-tests/results/explain.sql.out
Due: language-matters

[SPARK-32704][SQL][TESTS][FOLLOW-UP] Check any physical rule instead of a specific rule in the test
  sql/core/src/test/scala/org/apache/spark/sql/execution/QueryExecutionSuite.scala
Due: language-matters

[SPARK-32688][SQL][TEST] Add special values to LiteralGenerator for float and double
  sql/catalyst/src/test/scala/org/apache/spark/sql/RandomDataGenerator.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/LiteralGenerator.scala
Due: language-matters

Path conditions:
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/PROVIDERS_CHANGES_*| ^airflow/providers/apache/hive/README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/howto/connection/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^scripts/.*\.py$|^dev|^backport_packages
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
