Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Update code
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
Due: language-matters

[SPARK-37930][PYTHON] Fix DataFrame select subset with duplicated columns
  python/pyspark/pandas/internal.py
  python/pyspark/pandas/tests/test_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Serialize mapped tasks and task groups (#20743)
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/taskmixin.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/task_group.py
  tests/serialization/test_dag_serialization.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, json-schema, mypy, pylint, flake8

Fix task ID deduplication in @task_group (#20870)
  airflow/decorators/base.py
  tests/utils/test_task_group.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Rewrite the task decorator as a composition (#20868)
  airflow/decorators/__init__.py
  airflow/decorators/__init__.pyi
  airflow/decorators/base.py
  airflow/decorators/python.py
  airflow/decorators/python_virtualenv.py
  airflow/models/dag.py
  airflow/providers/docker/decorators/docker.py
  docs/apache-airflow/howto/create-custom-decorator.rst
  docs/spelling_wordlist.txt
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, mypy, pylint, flake8

[SPARK-37953][SQL] Improve the implement of `UnevaluableAggregate`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/CountIf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/RegrCount.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/UnevaluableAggs.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/finishAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
Due: language-matters

follow comment
  sql/core/src/test/resources/test-data/field_with_invalid_char.snappy.parquet
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/finishAnalysis.scala
Due: language-matters

change code style for V2ScanRelationPushDown
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
Due: language-matters

Check free space python version for Breeze2 (#20701)
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_ci/__init__.py
  dev/breeze/src/airflow_ci/freespace.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

isWiderCast
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyCastsSuite.scala
  sql/core/src/test/resources/sql-tests/results/typeCoercion/native/concat.sql.out
Due: language-matters

Update ImageDataSource.scala
  mllib/src/main/scala/org/apache/spark/ml/source/image/ImageDataSource.scala
Due: language-matters

update
  sql/core/src/test/resources/test-data/field_with_invalid_char.snappy.parquet
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

Update DataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
Due: language-matters

Update ValidateRequirementsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/exchange/ValidateRequirementsSuite.scala
Due: language-matters

Fix a test case inside tests/models that leaves a trace in the DB (#20881)
  tests/models/test_dagbag.py
  tests/test_utils/db.py
  tests/test_utils/permissions.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Setting up python uses default python version (#20926)
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
Due: language-matters

add unit test
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/submit/KubernetesClientApplication.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/submit/ClientSuite.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackendSuite.scala
Due: language-matters

Fixing MyPy issues inside tests providers google cloud hooks (#20895)
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/hooks/test_tasks.py
Due: build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixing test
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaMicroBatchStream.scala
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaSource.scala
Due: language-matters

Fix errors thrown by some versions of Bash v4 (#20932)
  scripts/ci/testing/ci_run_airflow_testing.sh
Due: language-matters, shellcheck, bats-tests

wip
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ApplyFunctionExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/objects/objects.scala
  sql/core/src/test/java/test/org/apache/spark/sql/connector/catalog/functions/JavaRandomAdd.java
  sql/core/src/test/java/test/org/apache/spark/sql/connector/catalog/functions/JavaStrLen.java
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2FunctionSuite.scala
Due: language-matters

Introduce notification_sent to SlaMiss view (#20923)
  airflow/www/views.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Correctly specify overloads for TaskFlow API for type-hinting (#20933)
  airflow/decorators/__init__.pyi
  docs/apache-airflow/howto/create-custom-decorator.rst
Due: language-matters, provider-yamls

Remove all "fake" stub files (#20936)
  airflow/providers/alibaba/cloud/example_dags/example_oss_bucket.py
  airflow/providers/alibaba/cloud/example_dags/example_oss_object.py
  airflow/providers/alibaba/cloud/operators/oss.pyi
  airflow/providers/amazon/aws/example_dags/example_eks_templated.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_fargate_in_one_step.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_fargate_profile.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_nodegroup_in_one_step.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_nodegroups.py
  airflow/providers/amazon/aws/example_dags/example_s3_bucket.py
  airflow/providers/amazon/aws/example_dags/example_s3_bucket_tagging.py
  airflow/providers/amazon/aws/example_dags/example_s3_to_redshift.py
  airflow/providers/amazon/aws/example_dags/example_s3_to_sftp.py
  airflow/providers/amazon/aws/example_dags/example_salesforce_to_s3.py
  airflow/providers/amazon/aws/operators/eks.pyi
  airflow/providers/amazon/aws/operators/s3.pyi
  airflow/providers/amazon/aws/sensors/eks.pyi
  airflow/providers/apache/cassandra/example_dags/example_cassandra_dag.py
  airflow/providers/apache/cassandra/sensors/record.pyi
  airflow/providers/apache/cassandra/sensors/table.pyi
  airflow/providers/asana/example_dags/example_asana.py
  airflow/providers/asana/operators/asana_tasks.pyi
  airflow/providers/microsoft/azure/example_dags/example_azure_blob_to_gcs.py
  airflow/providers/microsoft/azure/example_dags/example_azure_cosmosdb.py
  airflow/providers/microsoft/azure/example_dags/example_local_to_wasb.py
  airflow/providers/microsoft/azure/operators/cosmos.pyi
  airflow/providers/microsoft/azure/operators/wasb_delete_blob.pyi
  airflow/providers/microsoft/azure/sensors/cosmos.pyi
  airflow/providers/microsoft/azure/sensors/wasb.pyi
  airflow/providers/microsoft/azure/transfers/azure_blob_to_gcs.pyi
  airflow/providers/microsoft/azure/transfers/local_to_wasb.pyi
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, airflow-providers-available, mypy, pylint, flake8

[SPARK-37956] Add to documentation Java and Python examples of Parquet Encryption in Spark SQL.
  docs/sql-data-sources-parquet.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-37850][PYTHON][INFRA] Enable flake's E731 rule in PySpark
  dev/tox.ini
  python/pyspark/pandas/accessors.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/groupby.py
  python/pyspark/pandas/missing/common.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/tests/test_groupby.py
  python/pyspark/pandas/tests/test_ops_on_diff_frames_groupby.py
  python/pyspark/pandas/tests/test_series_string.py
  python/pyspark/pandas/utils.py
  python/pyspark/rdd.py
  python/pyspark/sql/session.py
  python/pyspark/sql/tests/test_pandas_udf_scalar.py
  python/pyspark/sql/tests/test_udf.py
  python/pyspark/sql/types.py
  python/pyspark/streaming/dstream.py
  python/pyspark/tests/test_rdd.py
  python/pyspark/tests/test_serializers.py
  python/pyspark/worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

code style
  sql/core/src/test/java/test/org/apache/spark/sql/connector/catalog/functions/JavaRandomAdd.java
Due: language-matters

[SPARK-36180][SQL] Support TimestampNTZ type in Hive
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DataType.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Due: language-matters

Update code
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Due: language-matters

Update code
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
Due: language-matters

store a utf8string
  sql/core/src/main/java/org/apache/spark/sql/execution/vectorized/ConstantColumnVector.java
Due: language-matters

addressing comments
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaMicroBatchStream.scala
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaSource.scala
  external/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaMicroBatchSourceSuite.scala
Due: language-matters

update
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceUtils.scala
Due: language-matters

Update FileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormat.scala
Due: language-matters

[SPARK-36879][SQL][FOLLOWUP] Support Parquet v2 data page encodings for the vectorized path
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedDeltaBinaryPackedReader.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRebaseDatetimeSuite.scala
Due: language-matters
