Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[MINOR][K8S][DOCS] Fix all dead links for K8s doc
  docs/running-on-kubernetes.md
Due: language-matters, provider-yamls, markdownlint

[MINOR][DOCS] Remove double quote to fix link
  python/pyspark/ml/fpm.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43928][SQL][PYTHON][CONNECT] Add bit operations to Scala, Python and Connect API
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_bit_and.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_bit_count.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_bit_get.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_bit_or.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_bit_xor.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_getbit.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_and.json
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_and.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_count.json
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_count.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_get.json
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_get.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_or.json
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_or.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_xor.json
  connector/connect/common/src/test/resources/query-tests/queries/function_bit_xor.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_getbit.json
  connector/connect/common/src/test/resources/query-tests/queries/function_getbit.proto.bin
  python/docs/source/reference/pyspark.sql/functions.rst
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44052][CONNECT][PS] Add util to get proper Column or DataFrame class for Spark Connect
  python/pyspark/pandas/data_type_ops/base.py
  python/pyspark/pandas/data_type_ops/boolean_ops.py
  python/pyspark/pandas/data_type_ops/date_ops.py
  python/pyspark/pandas/data_type_ops/num_ops.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/indexes/base.py
  python/pyspark/pandas/indexes/multi.py
  python/pyspark/pandas/indexing.py
  python/pyspark/pandas/internal.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/spark/accessors.py
  python/pyspark/pandas/tests/connect/indexes/test_parity_base.py
  python/pyspark/pandas/utils.py
  python/pyspark/sql/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update
  python/pyspark/mlv2/tests/test_classification.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix format
  python/pyspark/mlv2/pipeline.py
  python/pyspark/mlv2/tests/test_pipeline.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43942][CONNECT][PYTHON] Add string functions to Scala and Python - part 1
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  python/pyspark/sql/functions.py
  python/pyspark/sql/tests/test_functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43944][CONNECT][PYTHON] Add string functions to Scala and Python - part 2
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_replace_with_specified_string.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_replace_with_specified_string.json
  connector/connect/common/src/test/resources/query-tests/queries/function_replace_with_specified_string.proto.bin
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

[SPARK-43928][SQL][PYTHON][CONNECT][FOLLOWUP] Update excludedSqlFunctions of DataFrameFunctionsSuite
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

[SPARK-44085][BUILD] Update some maven plugins to newest version
  pom.xml
Due: language-matters

[SPARK-43928][SQL][CONNECT][PYTHON][FOLLOWUP] Fix bug for DataFrameFunctionsSuite
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

[SPARK-43928][SQL][PYTHON][CONNECT][FOLLOWUP] Update `excludedSqlFunctions` of `DataFrameFunctionsSuite`
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

init
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

test java 17
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-43097][FOLLOW-UP][ML] Improve logistic regression model saving
  python/pyspark/mlv2/classification.py
  python/pyspark/mlv2/tests/test_classification.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Extend args by List
  python/pyspark/sql/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Reformat
  python/pyspark/sql/session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Parameterized sql_formatter.sql() with Any constants
  python/pyspark/pandas/sql_formatter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

revert KafkaSinkSuite
  connector/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaSinkSuite.scala
Due: language-matters

[SPARK-43832][BUILD] Upgrade Scala to 2.12.18
  dev/deps/spark-deps-hadoop-3-hive-2.3
  docs/_config.yml
  pom.xml
Due: language-matters, airflow-config-yaml, provider-yamls

[SPARK-44086][SQL][TESTS] Move `DataFrameFunctionsSuite` to `sql - slow`
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

revert change of AlterTableRenamePartitionSuite
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableRenamePartitionSuite.scala
Due: language-matters

[SPARK-43835][INFRA] Add `build_java21.yml` Github Action Daily Job
  .github/workflows/build_java21.yml
Due: language-matters

revert build and test yml
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-44088][BUILD] Remove jdk.incubator.foreign usage in Java 21
  project/SparkBuild.scala
Due: language-matters

remove
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableRenamePartitionSuite.scala
Due: language-matters

[SPARK-39740][UI]: Upgrade vis timeline to 7.7.2 to fix CVE-2020-28487
  core/src/main/resources/org/apache/spark/ui/static/timeline-view.js
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.css
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.css.map
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.js
  core/src/main/resources/org/apache/spark/ui/static/vis-timeline-graph2d.min.js.map
  dev/.rat-excludes
  licenses-binary/LICENSE-vis-timeline.txt
  licenses/LICENSE-vis-timeline.txt
Due: language-matters, check-apache-license

[SPARK-44088][BUILD] Remove `jdk.incubator.foreign` usage in Java 21
  project/SparkBuild.scala
Due: language-matters

[SPARK-44092][CORE] Fix UtilsSuite Failure in Java 21
  core/src/main/scala/org/apache/spark/util/Utils.scala
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Due: language-matters

[SPARK-44093][SQL][TESTS] Make `catalyst` module passes in Java 21
  sql/catalyst/src/test/java/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtilsSuite.scala
Due: language-matters

[SPARK-44094][BUILD] Upgrade Apache Arrow to 12.0.1
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

Rename variable
  sql/catalyst/src/test/java/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtilsSuite.scala
Due: language-matters

[SPARK-43929][SQL][PYTHON][CONNECT] Add date time functions to Scala, Python and Connect API - part 1
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_date_diff.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_date_from_unix_date.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_dateadd.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_day.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_date_diff.json
  connector/connect/common/src/test/resources/query-tests/queries/function_date_diff.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_date_from_unix_date.json
  connector/connect/common/src/test/resources/query-tests/queries/function_date_from_unix_date.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_dateadd.json
  connector/connect/common/src/test/resources/query-tests/queries/function_dateadd.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_day.json
  connector/connect/common/src/test/resources/query-tests/queries/function_day.proto.bin
  python/docs/source/reference/pyspark.sql/functions.rst
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DateFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/DateTimeBenchmark.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
