Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-45992][BUILD] Switch from `fgrep` to `grep -F`
  dev/make-distribution.sh
Due: language-matters, shellcheck, bats-tests

description_file
  python/setup.cfg
Due: language-matters

SPARK-45959.
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

Adding in kubernetes compile warning
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorRollPlugin.scala
Due: language-matters

Fixing scalastyle problem
  core/src/test/scala/org/apache/spark/benchmark/Benchmark.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
Due: language-matters

[SPARK-45988][SPARK-45989][PYTHON] Fix typehints to handle `list` GenericAlias in Python 3.11+
  python/pyspark/pandas/typedef/typehints.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix `pyspark.ml.torch.tests.test_distributor` in Python 3.11
  python/pyspark/ml/torch/tests/test_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Upgrade R version from 4.3.1 to 4.3.2 in AppVeyor
  dev/appveyor-install-dependencies.ps1
Due: language-matters

[SPARK-45994][PYTHON] Change `description-file` to `description_file`
  python/setup.cfg
Due: language-matters

Show proper dependency requirement messages for Spark Connect
  dev/requirements.txt
  python/docs/source/getting_started/install.rst
  python/pyspark/sql/connect/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Show proper dependency requirement messages for Spark Connect
  python/pyspark/sql/connect/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

linter
  python/pyspark/sql/connect/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45986][ML][PYTHON] Fix `pyspark.ml.torch.tests.test_distributor` in Python 3.11
  python/pyspark/ml/torch/tests/test_distributor.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45995][R][INFRA] Upgrade R version from 4.3.1 to 4.3.2 in AppVeyor
  dev/appveyor-install-dependencies.ps1
Due: language-matters

Set env flag
  dev/sparktestsupport/modules.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Fix ClassNotFoundException when running kinesis tests with JDK17
  connector/kinesis-asl/pom.xml
  pom.xml
Due: language-matters

Test github workflow
  .github/workflows/build_and_test.yml
Due: language-matters

Revert "Fix ClassNotFoundException when running kinesis tests with JDK17"
  connector/kinesis-asl/pom.xml
  pom.xml
Due: language-matters

Avoid increasing the number of job runs
  .github/workflows/build_and_test.yml
Due: language-matters

Remove deprecated APIs from legacy Koalas
  python/docs/source/migration_guide/koalas_to_pyspark.rst
  python/docs/source/migration_guide/pyspark_upgrade.rst
  python/docs/source/reference/pyspark.sql/dataframe.rst
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/series.py
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  .github/workflows/build_and_test.yml
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

update
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

syntax
  docs/core-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

init
  core/src/main/scala/org/apache/spark/shuffle/ShuffleBlockPusher.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/QueryPlan.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/StaxXmlParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/StaxXmlParserUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/XmlInferSchema.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/compression/compressionSchemes.scala
Due: language-matters

[SPARK-45942][CORE] Only do the thread interruption check for putIterator on executors
  core/src/main/scala/org/apache/spark/storage/memory/MemoryStore.scala
Due: language-matters

[SPARK-45861][PYTHON][DOCS] Add user guide for dataframe creation
  python/docs/source/user_guide/10min.rst
  python/docs/source/user_guide/index.rst
Due: language-matters

[SPARK-45764][FOLLOWUP][BUILD] Use latest sphinx-copybutton from CI
  .github/workflows/build_and_test.yml
  dev/create-release/spark-rm/Dockerfile
Due: lint-dockerfile, language-matters

[SPARK-45861][PYTHON][DOCS] Add user guide for dataframe creation
  python/docs/source/user_guide/dataframe_creation.rst
  python/docs/source/user_guide/index.rst
Due: language-matters

Restore console progress bar
  core/src/main/scala/org/apache/spark/ui/ConsoleProgressBar.scala
Due: language-matters

[SPARK-45996][PYTHON][CONNECT] Show proper dependency requirement messages for Spark Connect
  dev/requirements.txt
  python/docs/source/getting_started/install.rst
  python/pyspark/sql/connect/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45682][CORE][FOLLOW-UP] Restore console progress bar in Spark shells
  core/src/main/scala/org/apache/spark/ui/ConsoleProgressBar.scala
Due: language-matters

[SPARK-45982][INFRA] re-org R package installations
  .github/workflows/build_and_test.yml
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

restore
  dev/create-release/spark-rm/Dockerfile
Due: lint-dockerfile, language-matters

[SPARK-45997][PS][PYTHON][CONNECT][DOCS] Remove deprecated APIs from legacy Koalas
  python/docs/source/migration_guide/koalas_to_pyspark.rst
  python/docs/source/migration_guide/pyspark_upgrade.rst
  python/docs/source/reference/pyspark.sql/dataframe.rst
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/series.py
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  core/src/main/resources/org/apache/spark/ui/static/flamegraph.js
  core/src/main/resources/org/apache/spark/ui/static/package.json
  core/src/main/resources/org/apache/spark/ui/static/utils.js
  ui-test/package-lock.json
  ui-test/package.json
  ui-test/tests/flamegraph.test.js
  ui-test/tests/utils.test.js
Due: language-matters

init
  python/pyspark/pandas/generic.py
  python/pyspark/pandas/series.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  python/pyspark/pandas/series.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
