Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-48771][SQL] Speed up `LogicalPlanIntegrity.validateExprIdUniqueness` for large query plans
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/LogicalPlan.scala
Due: language-matters

update
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/MergingSessionsIterator.scala
Due: language-matters

[SPARK-48816][SQL] Shorthand for interval converters in UnivocityParser
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/UnivocityParser.scala
  sql/core/benchmarks/CSVBenchmark-jdk21-results.txt
  sql/core/benchmarks/CSVBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVBenchmark.scala
Due: language-matters

SPARK-33902: Throw error for CREATE TABLE LIKE in V2 tables
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveTableSpec.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkSqlParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/charvarchar.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLParserSuite.scala
Due: language-matters

[SPARK-48826][BUILD] Upgrade `fasterxml.jackson` to 2.17.2
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

fix
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
Due: language-matters

remove local externalAccums in fromAccumulators
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
Due: language-matters

return immutable Seq for externalAccums
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
Due: language-matters

address comments
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
Due: language-matters

Add v2 test
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

[SPARK-48841][SQL] Include `collationName` to `sql()` of `Collate`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collationExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLRegexpSuite.scala
Due: language-matters

add test for array and map deser
  python/pyspark/sql/tests/test_types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48840][INFRA] Remove unnecessary existence check for `./dev/free_disk_space_container`
  .github/workflows/build_and_test.yml
Due: language-matters

refine code
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveShim.scala
Due: language-matters

[SPARK-48743][SQL][SS] MergingSessionIterator should better handle when getStruct returns null
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/MergingSessionsIterator.scala
Due: language-matters

[MINOR][DOCS] Fix some typos in docs
  connector/profiler/README.md
  docs/running-on-kubernetes.md
  docs/sql-ref-syntax-qry-star.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-48831][CONNECT] Make default column name of `cast` compatible with Spark Classic
  connector/connect/common/src/test/resources/query-tests/explain-results/function_atan2.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_base64.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_crc32.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_decode.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_md5.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_sha1.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_sha2.explain
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix tests
  python/pyspark/sql/tests/test_types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add test with no label specified
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingParserSuite.scala
Due: language-matters

[SPARK-48844][SQL] Avoid throwing UNSUPPORTED_DATASOURCE_FOR_DIRECT_QUERY when path is empty
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/rules.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/sql-on-files.sql.out
  sql/core/src/test/resources/sql-tests/inputs/sql-on-files.sql
  sql/core/src/test/resources/sql-tests/results/sql-on-files.sql.out
Due: language-matters

fix some ut
  connector/connect/common/src/test/resources/query-tests/explain-results/function_collate.explain
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/analyzer-results/collations.sql.out
  sql/core/src/test/resources/sql-tests/results/collations.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/CollationExpressionWalkerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters, markdownlint

check if script exists
  .github/workflows/build_and_test.yml
Due: language-matters

More tests + case insensitive label support
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingLogicalOperators.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/SqlScriptingParserSuite.scala
Due: language-matters

generic udf catch exception from child udf
  sql/hive/src/main/scala/org/apache/spark/sql/hive/hiveUDFEvaluators.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/hiveUDFs.scala
  sql/hive/src/test/java/org/apache/spark/sql/hive/execution/UDFCatchException.java
  sql/hive/src/test/java/org/apache/spark/sql/hive/execution/UDFException.java
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveUDFSuite.scala
Due: language-matters

update docs
  python/pyspark/sql/functions/builtin.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

restart CI
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveUDFSuite.scala
Due: language-matters

Sync with the latest changes
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
Due: language-matters

Move label error to correct position
  common/utils/src/main/resources/error/error-conditions.json
Due: language-matters

reformat python
  python/pyspark/sql/tests/test_types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix error in AstBuilder
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
Due: language-matters

[SPARK-48760][SQL][DOCS][FOLLOWUP] Add `CLUSTER BY` to doc `sql-ref-syntax-ddl-alter-table.md`
  docs/sql-ref-syntax-ddl-alter-table.md
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableClusterByParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableClusterBySuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/AlterTableClusterBySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableClusterBySuite.scala
Due: language-matters, provider-yamls, markdownlint

Fix import order
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
Due: language-matters

special case arr/map types
  python/pyspark/sql/tests/test_types.py
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update `sql.functions.col` docstring to indicate `sql.functions.column` is an alias
  python/pyspark/sql/functions/builtin.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46625] CTE with Identifier clause as reference
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CTESubstitution.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveIdentifierClause.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/identifier-clause.sql.out
  sql/core/src/test/resources/sql-tests/inputs/identifier-clause.sql
  sql/core/src/test/resources/sql-tests/results/identifier-clause.sql.out
Due: language-matters

update
  dev/requirements.txt
Due: language-matters

[SPARK-48843] Prevent infinite loop with BindParameters
  python/pyspark/sql/tests/connect/test_connect_basic.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/parameters.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update python/pyspark/sql/functions/builtin.py
  python/pyspark/sql/functions/builtin.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

feedback
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ColumnFamilySchemaUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/IncrementalExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingSymmetricHashJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/SchemaHelper.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateSchemaCompatibilityChecker.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateSchemaV3File.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStore.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/StateStoreSuite.scala
Due: language-matters

update
  python/pyspark/sql/functions/builtin.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
