Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

addressing comments
  common/utils/src/main/resources/error/error-classes.json
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/selectExcept.sql.out
  sql/core/src/test/resources/sql-tests/inputs/selectExcept.sql
  sql/core/src/test/resources/sql-tests/results/selectExcept.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

init
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

to 10
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

add RESOLVED_SUBQUERY_TAG to mark resolved subquery node
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

first
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/HashJoin.scala
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

address comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InlineCTE.scala
Due: language-matters

address comments
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

### What changes were proposed in this pull request?
  core/src/main/scala/org/apache/spark/deploy/history/EventLogFileWriters.scala
  core/src/main/scala/org/apache/spark/deploy/history/FsHistoryProvider.scala
  core/src/main/scala/org/apache/spark/internal/config/History.scala
  core/src/main/scala/org/apache/spark/scheduler/EventLoggingListener.scala
Due: language-matters

Address comments
  core/src/main/scala/org/apache/spark/deploy/history/EventLogFileWriters.scala
  core/src/main/scala/org/apache/spark/deploy/history/FsHistoryProvider.scala
  core/src/main/scala/org/apache/spark/internal/config/History.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/scheduler/EventLoggingListener.scala
Due: language-matters

[SPARK-45533][CORE] Use j.l.r.Cleaner instead of finalize for RocksDBIterator/LevelDBIterator
  common/kvstore/pom.xml
  common/kvstore/src/main/java/org/apache/spark/util/kvstore/LevelDB.java
  common/kvstore/src/main/java/org/apache/spark/util/kvstore/LevelDBIterator.java
  common/kvstore/src/main/java/org/apache/spark/util/kvstore/RocksDB.java
  common/kvstore/src/main/java/org/apache/spark/util/kvstore/RocksDBIterator.java
  common/kvstore/src/test/java/org/apache/spark/util/kvstore/LevelDBSuite.java
  common/kvstore/src/test/java/org/apache/spark/util/kvstore/RocksDBSuite.java
Due: language-matters

Update Spark version in config definition
  core/src/main/scala/org/apache/spark/internal/config/History.scala
Due: language-matters

[SPARK][CORE] Fix method tryCompleteWith in trait Promise is deprecated
  core/src/main/scala/org/apache/spark/FutureAction.scala
Due: language-matters

PR feedback: Removing from sbt
  project/SparkBuild.scala
Due: language-matters

PR feedback: make avg more accurate
  core/src/test/scala/org/apache/spark/benchmark/Benchmark.scala
Due: language-matters

[SPARK-46033][SQL][TESTS] Fix flaky ArithmeticExpressionSuite
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ArithmeticExpressionSuite.scala
Due: language-matters

[SPARK-46031][SQL] Replace `!Optional.isPresent()` with `Optional.isEmpty()`
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/orc/OrcColumnarBatchReader.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/ParquetColumnVector.java
  sql/core/src/main/java/org/apache/spark/sql/execution/vectorized/WritableColumnVector.java
Due: language-matters

[SPARK-46019][SQL][TESTS] Fix `HiveThriftServer2ListenerSuite` and `ThriftServerPageSuite` to create `java.io.tmpdir` if it doesn't exist
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ui/HiveThriftServer2ListenerSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ui/ThriftServerPageSuite.scala
Due: language-matters

Fixing some formatting
  common/utils/src/main/scala/org/apache/spark/SparkException.scala
Due: language-matters

[SPARK-46028][CONNECT][PYTHON] Make `Column.__getitem__` accept input column
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/tests/test_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

minor: Relax excludedTpcdsQueries scope in TPCDSBase
  sql/core/src/test/scala/org/apache/spark/sql/TPCDSBase.scala
Due: language-matters

[SPARK-44973][SQL] Fix `ArrayIndexOutOfBoundsException` in `conv()`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/NumberConverter.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/NumberConverterSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/MathFunctionsSuite.scala
Due: language-matters

change scope
  python/pyspark/sql/tests/test_python_datasource.py
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SessionState.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SharedState.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

style
  python/pyspark/sql/tests/test_python_datasource.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix tests
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonDataSourceSuite.scala
Due: language-matters

[SPARK-46039][BUILD][CONNECT] Upgrade `grpcio*` to 1.59.3
  .github/workflows/build_and_test.yml
  connector/connect/common/pom.xml
  connector/connect/common/src/main/buf.gen.yaml
  dev/create-release/spark-rm/Dockerfile
  dev/infra/Dockerfile
  dev/requirements.txt
  pom.xml
  project/SparkBuild.scala
  python/docs/source/getting_started/install.rst
  python/setup.py
Due: lint-dockerfile, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

[MINOR][TEST] Relax `excludedTpcdsQueries` scope in `TPCDSBase`
  sql/core/src/test/scala/org/apache/spark/sql/TPCDSBase.scala
Due: language-matters

Recover grpc-stubs
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-46012][CORE][FOLLOWUP] Invoke fs.listStatus once and reuse the result
  core/src/main/scala/org/apache/spark/deploy/history/EventLogFileReaders.scala
Due: language-matters

Add comment
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

[SPARK-45957]
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/utils/MetricGenerator.scala
  python/pyspark/sql/tests/streaming/test_streaming.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
