Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

More
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters

[SPARK-46673][PYTHON][DOCS] Refine docstring `aes_encrypt/aes_decrypt/try_aes_decrypt`
  python/pyspark/sql/functions/builtin.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46789][K8S][TESTS] Add `VolumeSuite` to K8s IT
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/KubernetesSuite.scala
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/VolumeSuite.scala
Due: language-matters

Revert "exclude eclipse-collections"
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

[SPARK-46738][CONNECT] `Cast` displayed different results between Regular Spark and Spark Connect
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

Support coalesce partition through cartesian product
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/CoalesceShufflePartitionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

[SPARK-46777][SS] Refactor `StreamingDataSourceV2Relation` catalyst structure to be more on-par with the batch version
  connector/kafka-0-10-sql/src/test/scala/org/apache/spark/sql/kafka010/KafkaMicroBatchSourceSuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/streaming/StreamingRelationV2.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Relation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/MicroBatchExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ProgressReporter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/continuous/ContinuousExecution.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/RateStreamProviderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/TextSocketStreamSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamTest.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingQueryManagerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/test/DataStreamTableAPISuite.scala
Due: language-matters

Fix import order
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetTypeWideningSuite.scala
Due: language-matters

[SPARK-46791][SQL] Support Java Set in JavaTypeInference
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/JavaTypeInference.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/objects/objects.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/JavaTypeInferenceSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ObjectExpressionsSuite.scala
  sql/core/src/test/java/test/org/apache/spark/sql/JavaDatasetSuite.java
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters

[SPARK-46738][CONNECT] Cast displayed different results between Regular Spark and Spark Connect
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_atan2.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_base64.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_crc32.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_decode.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_md5.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_sha1.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_sha2.explain
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
Due: language-matters

channel builder
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/tests/connect/client/test_artifact.py
  python/pyspark/sql/tests/connect/client/test_client.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/connect/test_session.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

done
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Support for proper collation names. Keeping fixed collation table in the collator factory.
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollatorFactory.java
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/UTF8StringSuite.java
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ToStringBase.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/hash.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/UTF8StringBenchmark.scala
Due: language-matters

[SPARK-46417][SQL][FOLLOWUP] Log error message when calling hive.getTable throw HiveException and throwException is false
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveShim.scala
Due: language-matters

[SPARK-46738][CONNECT] Make the display of cast in Regular Spark and Spark Connect consistent
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
Due: language-matters

[SPARK-46794][SQL] Remove subqueries from LogicalRDD constraints
  sql/core/src/main/scala/org/apache/spark/sql/execution/ExistingRDD.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

tests for ucs_basic/ucs_basic_lcase.
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollatorFactory.java
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

Don't read unsigned integers as decimals
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/ParquetVectorUpdaterFactory.java
Due: language-matters

Replace the exception w/o args
  common/utils/src/main/resources/error/error-classes.json
  sql/core/src/main/scala/org/apache/spark/sql/artifact/ArtifactManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/UnsafeRowSerializer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/WholeStageCodegenExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/GenerateColumnAccessor.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/HashedRelation.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2Suite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/TableCapabilityCheckSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V1ReadFallbackSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/ColumnarDataTypeUtils.scala
Due: language-matters

Port other exceptions
  common/utils/src/main/resources/error/error-classes.json
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/SortAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/FlatMapGroupsInPandasWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/AcceptsLatestSeenOffsetHandler.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/AvailableNowMicroBatchStreamWrapper.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/AvailableNowSourceWrapper.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/GroupStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/RatePerMicroBatchProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/RatePerMicroBatchStream.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/HDFSBackedStateStoreMap.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DB2Dialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/H2Dialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/OracleDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/util/MapperRowCounter.scala
Due: language-matters

[SPARK-35878][CORE] Revert S3A endpoint fixup logic of SPARK-35878
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
  core/src/test/scala/org/apache/spark/deploy/SparkHadoopUtilSuite.scala
Due: language-matters

Remove connector.setStopTimeout as Jetty rely on graceful shutdown instead
  core/src/main/scala/org/apache/spark/ui/JettyUtils.scala
Due: language-matters

Discard stdout / stderr of test Spark connect server if not isDebug
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/test/RemoteSparkSession.scala
Due: language-matters

[SPARK-46758][INFRA] Upgrade github cache action to v4
  .github/workflows/benchmark.yml
  .github/workflows/build_and_test.yml
  .github/workflows/maven_test.yml
  .github/workflows/publish_snapshot.yml
Due: language-matters

Address Eric's comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ValueStateImpl.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
Due: language-matters

[SPARK-46779][SQL] `InMemoryRelation` instances of the same cached plan should be semantically equivalent
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/InMemoryRelation.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/InMemoryRelationSuite.scala
Due: language-matters

[SS] [SPARK-46796] Ensure the correct remote files (mentioned in metadata.zip) are used on RocksDB version load
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDB.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBFileManager.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
Due: language-matters

[SPARK-46797][CORE] Rename spark.deploy.spreadOut to spark.deploy.spreadOutApps
  core/src/main/scala/org/apache/spark/internal/config/Deploy.scala
  docs/spark-standalone.md
Due: language-matters, provider-yamls, markdownlint

[MINOR][DOCS] Fix SQL Error links and link anchors
  docs/_data/menu-sql.yaml
  docs/sql-error-conditions-cannot-update-field-error-class.md
  docs/sql-error-conditions-insufficient-table-property-error-class.md
  docs/sql-error-conditions-internal-error-metadata-catalog-error-class.md
  docs/sql-error-conditions-invalid-cursor-error-class.md
  docs/sql-error-conditions-invalid-handle-error-class.md
  docs/sql-error-conditions-missing-attributes-error-class.md
  docs/sql-error-conditions-not-supported-in-jdbc-catalog-error-class.md
  docs/sql-error-conditions-unsupported-add-file-error-class.md
  docs/sql-error-conditions-unsupported-default-value-error-class.md
  docs/sql-error-conditions-unsupported-deserializer-error-class.md
  docs/sql-error-conditions-unsupported-feature-error-class.md
  docs/sql-error-conditions-unsupported-save-mode-error-class.md
  docs/sql-error-conditions-unsupported-subquery-expression-category-error-class.md
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

[MINOR][DOCS] Miscellaneous link and anchor fixes
  docs/cloud-integration.md
  docs/ml-guide.md
  docs/mllib-evaluation-metrics.md
  docs/rdd-programming-guide.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-46781][PYTHON][TESTS] Test custom data source and input partition (pyspark.sql.datasource)
  python/pyspark/sql/tests/test_datasources.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Introduce randomness to take only some queries per test case, so it doesnt time out
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/querytest/GeneratedSubquerySuite.scala
Due: language-matters

[SPARK-46797][CORE] Rename `spark.deploy.spreadOut` to `spark.deploy.spreadOutApps`
  core/src/main/scala/org/apache/spark/internal/config/Deploy.scala
  docs/spark-standalone.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-46799][CORE][TESTS] Improve `MasterSuite` to use nanoTime-based appIDs and workerIDs
  core/src/test/scala/org/apache/spark/deploy/master/MasterSuite.scala
Due: language-matters
