Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-33393][SQL] Support SHOW TABLE EXTENDED in v2
  common/utils/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveCatalogs.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Implicits.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExtendedExec.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/show-tables.sql.out
  sql/core/src/test/resources/sql-tests/results/show-tables.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTablesParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTablesSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/ShowTablesSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/ShowTablesSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/ShowTablesSuite.scala
Due: language-matters

fix
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/state/StateDataSourceTestBase.scala
Due: language-matters

use min executor
  core/src/main/scala/org/apache/spark/deploy/ExecutorFailureTracker.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/SchedulerBackendUtils.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsAllocator.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsAllocatorSuite.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/scheduler/cluster/YarnSchedulerBackend.scala
Due: language-matters

Comments
  core/src/main/scala/org/apache/spark/deploy/master/WorkerInfo.scala
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/resource/ResourceAllocator.scala
  core/src/main/scala/org/apache/spark/scheduler/ExecutorResourcesAmounts.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskDescription.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSchedulerImpl.scala
  core/src/test/scala/org/apache/spark/executor/CoarseGrainedExecutorBackendSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/CoarseGrainedSchedulerBackendSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/ExecutorResourceInfoSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/ExecutorResourcesAmountsSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskDescriptionSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSchedulerImplSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSetManagerSuite.scala
Due: language-matters

[SPARK-45946] Fix use of deprecated FileUtils write to pass default charset in RocksDBSuite
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
Due: language-matters

AL-8374 add api get task result by batch (#695)
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/protocol/BlockTransferMessage.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/protocol/FetchBlockSegment.java
  core/src/main/scala/org/apache/spark/SparkEnv.scala
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/network/BlockTransferService.scala
  core/src/main/scala/org/apache/spark/network/netty/NettyBlockRpcServer.scala
  core/src/main/scala/org/apache/spark/rdd/RDD.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskResult.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskResultGetter.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSchedulerImpl.scala
  core/src/main/scala/org/apache/spark/scheduler/TaskSetManager.scala
  core/src/main/scala/org/apache/spark/serializer/IteratorSerializerUtils.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/DiskStore.scala
  core/src/main/scala/org/apache/spark/util/io/ChunkedByteBuffer.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskResultGetterSuite.scala
  core/src/test/scala/org/apache/spark/storage/PartiallySerializedBlockSuite.scala
  sql/core/src/main/java/org/apache/spark/sql/execution/SizeLimitingByteBufferUnsafeRowsConverter.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
Due: language-matters

KE-42300[FOLLOWUP] fix incorrect data result
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExchangeExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitSourcePartition.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SplitSourcePartitionSuite.scala
Due: language-matters

KE-42300 support split source partition
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/QueryExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/split/SplitSourcePartition.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SplitSourcePartitionSuite.scala
Due: language-matters

KE-42896 upgrade tomcat embed core version to 9.0.82 (#702)
  pom.xml
Due: language-matters

[SPARK-41958][CORE][3.3] Disallow arbitrary custom classpath with proxy user in cluster mode (#706)
  core/src/main/scala/org/apache/spark/deploy/SparkSubmit.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  docs/core-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

AL-9236 Replace guava ordering with guava32 code snippet to resolve performace issue (#712) (#713)
  core/src/main/java/org/apache/spark/util/collection/GuavaOrderingSnippet.java
  core/src/main/scala/org/apache/spark/util/collection/Utils.scala
Due: language-matters

[SPARK-45948][K8S] Make single-pod spark jobs respect spark.app.id
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterManager.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterManagerSuite.scala
Due: language-matters

[SPARK-45938][INFRA] Add `utils` to the dependencies of the `core/unsafe/network_common` module in `module.py`
  dev/sparktestsupport/modules.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

[SPARK-45949][INFRA] Upgrade `pyarrow` to 14
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

[SPARK-45919][CORE][SQL] Use Java 16 `record` to simplify Java class definition
  common/network-common/src/main/java/org/apache/spark/network/client/TransportResponseHandler.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthEngine.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthMessage.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthRpcHandler.java
  common/network-common/src/main/java/org/apache/spark/network/protocol/StreamChunkId.java
  common/network-common/src/main/java/org/apache/spark/network/server/ChunkFetchRequestHandler.java
  common/network-common/src/test/java/org/apache/spark/network/RpcIntegrationSuite.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthEngineSuite.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthMessagesSuite.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/ExternalShuffleBlockResolver.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/RemoteBlockPushResolver.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/ShuffleIndexRecord.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/ShuffleTransportContext.java
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/ShuffleIndexInformationSuite.java
  common/network-shuffle/src/test/java/org/apache/spark/network/shuffle/ShuffleTransportContextSuite.java
  common/network-yarn/src/main/java/org/apache/spark/network/yarn/YarnShuffleServiceMetrics.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/Aggregation.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/ParquetReadState.java
Due: language-matters

init
  dev/sparktestsupport/modules.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

[SPARK-45948][K8S] Make single-pod spark jobs respect `spark.app.id`
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterManager.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterManagerSuite.scala
Due: language-matters

[SPARK-45920][SQL] group by ordinal should be idempotent
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/SubstituteUnresolvedOrdinalsSuite.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/group-by-ordinal.sql.out
Due: language-matters

[SPARK-45764][PYTHON][DOCS][3.5] Make code block copyable
  .github/workflows/build_and_test.yml
  LICENSE
  dev/create-release/spark-rm/Dockerfile
  dev/requirements.txt
  licenses/LICENSE-copybutton.txt
  python/docs/source/_static/copybutton.js
  python/docs/source/conf.py
Due: lint-dockerfile, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-apache-license, mypy, pylint, flake8

init
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45935][PYTHON][DOCS] Fix RST files link substitutions error
  python/docs/source/conf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45920][SQL] group by ordinal should be idempotent
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/SubstituteUnresolvedOrdinalsSuite.scala
Due: language-matters

fix test
  common/utils/src/main/scala/org/apache/spark/util/IvyTestUtils.scala
Due: language-matters

[SPARK-45945][CONNECT] Add a helper function for `parser`
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

[SPARK-45764][PYTHON][DOCS][3.4] Make code block copyable
  .github/workflows/build_and_test.yml
  LICENSE
  dev/create-release/spark-rm/Dockerfile
  dev/requirements.txt
  licenses/LICENSE-copybutton.txt
  python/docs/source/_static/copybutton.js
  python/docs/source/conf.py
Due: lint-dockerfile, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-apache-license, mypy, pylint, flake8

[SPARK-45764][PYTHON][DOCS][3.3] Make code block copyable
  .github/workflows/build_and_test.yml
  LICENSE
  dev/create-release/spark-rm/Dockerfile
  dev/requirements.txt
  licenses/LICENSE-copybutton.txt
  python/docs/source/_static/copybutton.js
  python/docs/source/conf.py
Due: lint-dockerfile, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-apache-license, mypy, pylint, flake8

this commit used for discuss with wencheng
  common/utils/src/main/resources/error/error-classes.json
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/api/src/main/scala/org/apache/spark/sql/errors/QueryParsingErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExprUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Mode.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/group-by.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/mode.sql.out
  sql/core/src/test/resources/sql-tests/inputs/group-by.sql
  sql/core/src/test/resources/sql-tests/inputs/mode.sql
  sql/core/src/test/resources/sql-tests/results/group-by.sql.out
  sql/core/src/test/resources/sql-tests/results/mode.sql.out
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45851][CONNECT][SCALA] Support multiple policies in scala client
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/ArtifactSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/test/RemoteSparkSession.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/CustomSparkConnectBlockingStub.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/ExecutePlanResponseReattachableIterator.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/GrpcRetryHandler.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/RetriesExceeded.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/RetryPolicy.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectStubState.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/SparkConnectServerTest.scala
Due: language-matters

fix
  sql/core/src/main/scala/org/apache/spark/sql/execution/QueryExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/RemoveRedundantShuffles.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/RemoveRedundantShufflesSuite.scala
Due: language-matters

[SPARK-45955][UI] Collapse Support for Flamegraph and thread dump details
  core/src/main/resources/org/apache/spark/ui/static/flamegraph.js
  core/src/main/resources/org/apache/spark/ui/static/table.js
  core/src/main/scala/org/apache/spark/ui/exec/ExecutorThreadDumpPage.scala
Due: language-matters

[SPARK-45951][INFRA] Upgrade `buf` to v1.28.1
  .github/workflows/build_and_test.yml
  python/docs/source/development/contributing.rst
Due: language-matters
