Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-45113][PYTHON][DOCS] Refine docstrings of `collect_list/collect_set`
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45114][PYTHON][DOCS] Adjust the `versionadded` and `versionchanged` information to the parameters
  python/pyspark/sql/catalog.py
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45069][SQL] SQL variable should always be resolved after outer reference
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ColumnResolutionHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveReferencesInAggregate.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveReferencesInSort.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/sql-session-variables.sql.out
  sql/core/src/test/resources/sql-tests/inputs/sql-session-variables.sql
  sql/core/src/test/resources/sql-tests/results/sql-session-variables.sql.out
Due: language-matters

[SPARK-43251][SQL] Replace the error class `_LEGACY_ERROR_TEMP_2015` with an internal error
  common/utils/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

[SPARK-45111][BUILD] Upgrade maven to 3.9.4
  dev/appveyor-install-dependencies.ps1
  docs/building-spark.md
  pom.xml
Due: language-matters, provider-yamls, markdownlint

Revert "[SPARK-45075][SQL] Fix alter table with invalid default value will not report error"
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableChange.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2AlterTableCommands.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Due: language-matters

[SPARK-45109][SQL][CONNECT][FOLLOWUP] Fix log function in Connect
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_log.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_log.json
  connector/connect/common/src/test/resources/query-tests/queries/function_log.proto.bin
Due: language-matters

[SPARK-45109][SQL][CONNECT][3.4] Fix log function in Connect
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_log.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_log.json
  connector/connect/common/src/test/resources/query-tests/queries/function_log.proto.bin
Due: language-matters

[SPARK-44647][SQL] Support SPJ where join keys are less than cluster keys
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/KeyGroupedPartitioningSuite.scala
Due: language-matters

Refactor converters for complex types to short cut when the element types don't need converters.
  dev/sparktestsupport/modules.py
  python/pyspark/sql/pandas/types.py
  python/pyspark/sql/tests/pandas/test_types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

tests
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/DecorrelateInnerQuerySuite.scala
Due: language-matters

dump
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecuteGrpcResponseSender.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecuteResponseObserver.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectExecutionManager.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/SparkConnectServerTest.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/execution/ReattachableExecuteSuite.scala
Due: language-matters

[SPARK-44915][CORE] Validate checksum of remounted PVC's shuffle data before recovery
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/shuffle/KubernetesLocalDiskShuffleExecutorComponents.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/shuffle/ShuffleChecksumUtilsSuite.scala
Due: language-matters

refine docstring
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update resource-managers/kubernetes/core/src/main/scala/org/apache/spark/shuffle/KubernetesLocalDiskShuffleExecutorComponents.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/shuffle/KubernetesLocalDiskShuffleExecutorComponents.scala
Due: language-matters

Update resource-managers/kubernetes/core/src/test/scala/org/apache/spark/shuffle/ShuffleChecksumUtilsSuite.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/shuffle/ShuffleChecksumUtilsSuite.scala
Due: language-matters

build
  .github/workflows/build_and_test.yml
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
Due: language-matters

minor
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
Due: language-matters

add missing method
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CanonicalizeSuite.scala
Due: language-matters

Nits
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
Due: language-matters

[SPARK-45075][SQL][3.4] Fix alter table with invalid default value will not report error
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableChange.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2AlterTableCommands.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Due: language-matters

Update sql/core/src/main/scala/org/apache/spark/sql/execution/SQLExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SQLExecution.scala
Due: language-matters

[SPARK-45075][SQL][3.4] Fix alter table with invalid default value will not report error
  sql/core/src/test/scala/org/apache/spark/sql/connector/AlterTableTests.scala
Due: language-matters

[SPARK-43252][SQL] Replace the error class with an internal error
  common/utils/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

test fix
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeBlockSuite.scala
Due: language-matters

resolve comment
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeBlockSuite.scala
Due: language-matters

[SPARK-45120][UI] Upgrade d3 from v3 to v7(v7.8.5) and apply api changes in UI
  core/src/main/resources/org/apache/spark/ui/static/d3.min.js
  core/src/main/resources/org/apache/spark/ui/static/spark-dag-viz.js
  core/src/main/resources/org/apache/spark/ui/static/streaming-page.js
  core/src/main/resources/org/apache/spark/ui/static/structured-streaming-page.js
  sql/core/src/main/resources/org/apache/spark/sql/execution/ui/static/spark-sql-viz.js
Due: language-matters

Fix linter
  python/pyspark/pandas/generic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45121][CONNECT][PS] Support Series.empty for Spark Connect.
  python/pyspark/pandas/base.py
  python/pyspark/pandas/tests/series/test_series.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45120][UI] Upgrade d3 from v3 to v7(v7.8.5) and apply api changes in UI
  core/src/main/resources/org/apache/spark/ui/static/structured-streaming-page.js
Due: language-matters

[SPARK-43123][PS] Raise TypeError for DataFrame.interpolate when all columns are object-dtype.
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/tests/test_frame_interpolate.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Do not use local user ID for Local Relations
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45122][DOCS] Automate updating versions.json
  dev/create-release/release-build.sh
  dev/create-release/release-tag.sh
  dev/create-release/utils-update-docs-versions.py
  docs/_plugins/copy_api_dirs.rb
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, flake8

[SPARK-45125][INFRA] Remove dev/github_jira_sync.py in favor of ASF jira_options
  .github/labeler.yml
  dev/github_jira_sync.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

style
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
Due: language-matters

change streaming module to connect?
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-45124][CONNET] Do not use local user ID for Local Relations
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
