Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

update function examples to use single quotes for strings
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/complexTypeCreator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

Revert "[SPARK-38563][PYTHON] Upgrade to Py4J 0.10.9.4"
  bin/pyspark
  bin/pyspark2.cmd
  core/pom.xml
  core/src/main/scala/org/apache/spark/api/python/PythonUtils.scala
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  docs/job-scheduling.md
  python/docs/Makefile
  python/docs/make2.bat
  python/docs/source/getting_started/install.rst
  python/lib/py4j-0.10.9.3-src.zip
  python/lib/py4j-0.10.9.4-src.zip
  python/pyspark/context.py
  python/pyspark/util.py
  python/setup.py
  sbin/spark-config.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, airflow-providers-available, markdownlint, mypy, pylint, flake8

handled no viable alternative, missing and extraneous input cases; modified most testcases
  core/src/main/resources/error/error-classes.json
  docs/sql-distributed-sql-engine-spark-sql-cli.md
  docs/sql-ref-identifier.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/ParseDriver.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/SparkParserErrorStrategy.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/ErrorParserSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/ExpressionParserSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/TableIdentifierParserSuite.scala
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/ansi/literals.sql.out
  sql/core/src/test/resources/sql-tests/results/csv-functions.sql.out
  sql/core/src/test/resources/sql-tests/results/cte.sql.out
  sql/core/src/test/resources/sql-tests/results/grouping_set.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/json-functions.sql.out
  sql/core/src/test/resources/sql-tests/results/literals.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/window_part3.sql.out
  sql/core/src/test/resources/sql-tests/results/transform.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableRecoverPartitionsParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCWriteSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
Due: language-matters, provider-yamls, markdownlint

Add some more test cases and separate configuration for injecting NULL values when the INSERT INTO statement provides fewer values than the table expects.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/DefaultColumns.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultColumns.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveInlineTables.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/ResolveInlineTablesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/catalog/ExternalCatalogSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalogSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/rules.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/InsertSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/InsertSuite.scala
Due: language-matters

Cleanup
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultColumns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/ResolveInlineTablesSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/rules.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/InsertSuite.scala
Due: language-matters

fix typo
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

fix regression
  sql/core/src/test/resources/sql-tests/results/ansi/timestamp.sql.out
Due: language-matters

[SPARK-37425][PYTHON] Inline type hints for python/pyspark/mllib/recommendation.py
  python/pyspark/mllib/recommendation.py
  python/pyspark/mllib/recommendation.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-38194] Followup: Fix k8s memory overhead passing to executor pods
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStepSuite.scala
Due: language-matters

Add permission changing back to temp shuffle block
  core/src/main/scala/org/apache/spark/storage/DiskBlockManager.scala
Due: language-matters

More
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ProgressReporter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingQueryStatusAndProgressSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingSessionWindowSuite.scala
Due: language-matters

Fix typo
  sql/core/src/test/scala/org/apache/spark/sql/sources/InsertSuite.scala
Due: language-matters

Update comment
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
Due: language-matters

Revert "[SPARK-38563][PYTHON] Upgrade to Py4J 0.10.9.4"
  bin/pyspark
  bin/pyspark2.cmd
  core/pom.xml
  core/src/main/scala/org/apache/spark/api/python/PythonUtils.scala
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  docs/job-scheduling.md
  python/docs/Makefile
  python/docs/make2.bat
  python/docs/source/getting_started/install.rst
  python/lib/py4j-0.10.9.3-src.zip
  python/lib/py4j-0.10.9.4-src.zip
  python/pyspark/context.py
  python/pyspark/util.py
  python/setup.py
  sbin/spark-config.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, airflow-providers-available, markdownlint, mypy, pylint, flake8

Bump up to 0.10.9.5
  bin/pyspark
  bin/pyspark2.cmd
  core/pom.xml
  core/src/main/scala/org/apache/spark/api/python/PythonUtils.scala
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  docs/job-scheduling.md
  python/docs/Makefile
  python/docs/make2.bat
  python/docs/source/getting_started/install.rst
  python/lib/py4j-0.10.9.3-src.zip
  python/lib/py4j-0.10.9.5-src.zip
  python/pyspark/context.py
  python/pyspark/util.py
  python/setup.py
  sbin/spark-config.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, airflow-providers-available, markdownlint, mypy, pylint, flake8

address comments
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/KubernetesUtils.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStep.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicExecutorFeatureStep.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/DriverCommandFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/KubernetesUtilsSuite.scala
Due: language-matters

fix code style error
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/SparkConfPropagateSuite.scala
Due: language-matters

Fix mima
  project/MimaExcludes.scala
Due: language-matters

use sql functions
  mllib/src/main/scala/org/apache/spark/ml/classification/LinearSVC.scala
  mllib/src/main/scala/org/apache/spark/ml/util/DatasetUtils.scala
Due: language-matters

check nan
  mllib/src/main/scala/org/apache/spark/ml/util/DatasetUtils.scala
Due: language-matters

update error msg
  mllib/src/main/scala/org/apache/spark/ml/util/DatasetUtils.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/LinearSVCSuite.scala
Due: language-matters

nit
  mllib/src/main/scala/org/apache/spark/ml/util/DatasetUtils.scala
Due: language-matters

Fix tests
  sql/core/src/test/resources/sql-tests/results/datetime-legacy.sql.out
Due: language-matters

add more ut
  mllib/src/test/scala/org/apache/spark/ml/classification/LinearSVCSuite.scala
Due: language-matters

move into clone
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
Due: language-matters

address comments
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/KubernetesUtilsSuite.scala
Due: language-matters

[SPARK-38593][SS] Carry over the metric of the number of dropped late events into SessionWindowStateStoreSaveExec
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingSessionWindowSuite.scala
Due: language-matters

[SPARK-38563][PYTHON] Upgrade to Py4J 0.10.9.5
  bin/pyspark
  bin/pyspark2.cmd
  core/pom.xml
  core/src/main/scala/org/apache/spark/api/python/PythonUtils.scala
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  docs/job-scheduling.md
  python/docs/Makefile
  python/docs/make2.bat
  python/docs/source/getting_started/install.rst
  python/lib/py4j-0.10.9.3-src.zip
  python/lib/py4j-0.10.9.5-src.zip
  python/pyspark/context.py
  python/pyspark/util.py
  python/setup.py
  sbin/spark-config.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, airflow-providers-available, markdownlint, mypy, pylint, flake8

[SPARK-38563][PYTHON] Upgrade to Py4J 0.10.9.5
  bin/pyspark
  bin/pyspark2.cmd
  core/pom.xml
  core/src/main/scala/org/apache/spark/api/python/PythonUtils.scala
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  docs/job-scheduling.md
  python/docs/Makefile
  python/docs/make2.bat
  python/docs/source/getting_started/install.rst
  python/lib/py4j-0.10.9.3-src.zip
  python/lib/py4j-0.10.9.5-src.zip
  python/pyspark/context.py
  python/pyspark/util.py
  python/setup.py
  sbin/spark-config.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, airflow-providers-available, markdownlint, mypy, pylint, flake8

[SPARK-38583][SQL] Restore the behavior of `to_timestamp` that allows numeric types
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/core/src/test/resources/sql-tests/inputs/timestamp.sql
  sql/core/src/test/resources/sql-tests/results/ansi/timestamp.sql.out
  sql/core/src/test/resources/sql-tests/results/datetime-legacy.sql.out
  sql/core/src/test/resources/sql-tests/results/timestamp.sql.out
  sql/core/src/test/resources/sql-tests/results/timestampNTZ/timestamp-ansi.sql.out
  sql/core/src/test/resources/sql-tests/results/timestampNTZ/timestamp.sql.out
Due: language-matters

change to use NettyUtils
  core/src/main/scala/org/apache/spark/api/r/RBackend.scala
Due: language-matters

fix import
  core/src/main/scala/org/apache/spark/api/r/RBackend.scala
Due: language-matters

Revert "Remove obsolete case from AnalysisErrorSuite"
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
Due: language-matters
