Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/EliminateSortsSuite.scala
Due: language-matters

SPARK-40119 Change alias
  R/pkg/R/DataFrame.R
Due: language-matters

add ut
  core/src/main/scala/org/apache/spark/scheduler/dynalloc/ExecutorMonitor.scala
  core/src/test/scala/org/apache/spark/scheduler/TaskSetManagerSuite.scala
Due: language-matters

SPARK-40119 Add drop,ANY,ANY-method alias
  R/pkg/R/DataFrame.R
Due: language-matters

[SPARK-40114][R] Arrow 9.0.0 support with SparkR
  R/pkg/R/serialize.R
  appveyor.yml
Due: language-matters

fix a bug
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileStatusCache.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SessionState.scala
Due: language-matters

[SPARK-39799][SQL] DataSourceV2: View catalog interface
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/View.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/ViewCatalog.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/ViewChange.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlreadyExistException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/NoSuchItemException.scala
Due: language-matters

SPARK-40119 Add param for methods
  core/src/main/scala/org/apache/spark/SparkContext.scala
Due: language-matters

[SPARK-39800][SQL][WIP] DataSourceV2: View Support
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/ViewCatalog.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveCatalogs.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/V2ViewDescription.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/v2ResolutionPlans.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Implicits.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Util.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/CreateViewAnalysis.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/views.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AlterViewExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateViewExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DescribeViewExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropViewExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RefreshViewExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RenameViewExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowCreateViewExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowViewPropertiesExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
Due: language-matters

Update sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

Refixed sql-migration-guide.md
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

update test name
  core/src/test/scala/org/apache/spark/SparkContextSuite.scala
Due: language-matters

fix test name
  core/src/test/scala/org/apache/spark/SparkContextSuite.scala
Due: language-matters

SPARK-40128 Make the VectorizedColumnReader recognize t DELTA_LENGTH_BYTE_ARRAY as a standalone encong column encoding.
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedColumnReader.java
  sql/core/src/test/resources/test-data/delta_length_byte_array.parquet
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetIOSuite.scala
Due: language-matters

legacy -> LEGACY
  core/src/main/scala/org/apache/spark/SparkThrowableHelper.scala
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

update workerHost
  core/src/main/scala/org/apache/spark/scheduler/cluster/StandaloneSchedulerBackend.scala
Due: language-matters

update config name
  core/src/main/scala/org/apache/spark/internal/config/package.scala
Due: language-matters

fix
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
Due: language-matters, markdownlint

[SPARK-38954][CORE] Implement sharing of cloud credentials among driver and executors
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
  core/src/main/scala/org/apache/spark/deploy/security/cloud/CloudCredentials.scala
  core/src/main/scala/org/apache/spark/deploy/security/cloud/CloudCredentialsManager.scala
  core/src/main/scala/org/apache/spark/deploy/security/cloud/CloudCredentialsProvider.scala
  core/src/main/scala/org/apache/spark/deploy/security/cloud/README.md
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/test/resources/META-INF/services/org.apache.spark.deploy.security.cloud.CloudCredentialsProvider
  core/src/test/resources/META-INF/services/org.apache.spark.scheduler.ExternalClusterManager
  core/src/test/scala/org/apache/spark/deploy/security/cloud/CloudCredentialsManagerSuite.scala
  hadoop-cloud/src/hadoop-3/main/resources/META-INF/services/org.apache.spark.deploy.security.cloud.CloudCredentialsProvider
  hadoop-cloud/src/hadoop-3/main/scala/org/apache/spark/deploy/security/cloud/AWSRenewableCredentialsProvider.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/mesos/src/main/scala/org/apache/spark/scheduler/cluster/mesos/MesosCoarseGrainedSchedulerBackend.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/scheduler/cluster/YarnSchedulerBackend.scala
Due: language-matters, markdownlint

[SPARK-38954][CORE] Refactor cloud credentials manager to reduce code duplication
  core/src/main/scala/org/apache/spark/deploy/SparkHadoopUtil.scala
  core/src/main/scala/org/apache/spark/deploy/security/HadoopDelegationTokenManager.scala
  core/src/main/scala/org/apache/spark/deploy/security/ServiceCredentialsConfig.scala
  core/src/main/scala/org/apache/spark/deploy/security/ServiceCredentialsManager.scala
  core/src/main/scala/org/apache/spark/deploy/security/cloud/CloudCredentialsManager.scala
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/main/scala/org/apache/spark/security/HadoopDelegationTokenProvider.scala
  core/src/main/scala/org/apache/spark/security/ServiceCredentialsProvider.scala
  core/src/test/scala/org/apache/spark/deploy/security/cloud/CloudCredentialsManagerSuite.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/mesos/src/main/scala/org/apache/spark/scheduler/cluster/mesos/MesosCoarseGrainedSchedulerBackend.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/scheduler/cluster/YarnSchedulerBackend.scala
Due: language-matters

Include jira id in the test description.
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetIOSuite.scala
Due: language-matters

Backport to 3.1
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollectionExpressionsSuite.scala
Due: language-matters

[SPARK-40109][SQL] New SQL function: get()
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/inputs/array.sql
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
Due: language-matters, markdownlint

[SPARK-40110][SQL][TESTS] Add JDBCWithAQESuite
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

Add missing license header
  core/src/test/resources/META-INF/services/org.apache.spark.deploy.security.cloud.CloudCredentialsProvider
  hadoop-cloud/src/hadoop-3/main/resources/META-INF/services/org.apache.spark.deploy.security.cloud.CloudCredentialsProvider
Due: language-matters

[SPARK-40128][SQL] Make the VectorizedColumnReader recognize DELTA_LENGTH_BYTE_ARRAY as a standalone column encoding
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedColumnReader.java
  sql/core/src/test/resources/test-data/delta_length_byte_array.parquet
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetIOSuite.scala
Due: language-matters

fix ut
  core/src/test/scala/org/apache/spark/scheduler/TaskSetManagerSuite.scala
Due: language-matters

fix(): format message
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/AnalysisException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/RegexpExpressionsSuite.scala
  sql/core/src/test/resources/sql-tests/results/regexp-functions.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
Due: language-matters

Restore rawPredictionCol to MultilayerPerceptronClassifier.setParams
  python/pyspark/ml/classification.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/types/DataTypes.java
  sql/catalyst/src/main/java/org/apache/spark/sql/util/MoreMath.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Decimal128.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Decimal128Type.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Int128.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/DataTypeSuite.scala
Due: language-matters

[SPARK-40121][PYTHON][SQL] Initialize projection used for Python UDF
  python/pyspark/sql/tests/test_udf.py
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/EvalPythonExec.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-38946][PYTHON][PS] Generates a new dataframe instead of operating inplace in setitem
  python/docs/source/migration_guide/pyspark_3.3_to_3.4.rst
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/tests/test_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Up to date
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q34.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q34.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q34/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q34/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q6.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q6.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q6/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q6/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q64.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q64.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q64/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q64/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q74.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q74.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q74/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q74/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q75.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q75.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q75/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q75/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q78.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q78.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q78/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q78/simplified.txt
Due: language-matters

feat: config(map)
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/test/java/test/org/apache/spark/sql/JavaSparkSessionSuite.java
  sql/core/src/test/scala/org/apache/spark/sql/SparkSessionBuilderSuite.scala
Due: language-matters

[SPARK-40132][ML] Restore rawPredictionCol to MultilayerPerceptronClassifier.setParams
  python/pyspark/ml/classification.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

regenerateGoldenFiles
  core/src/test/scala/org/apache/spark/SparkFunSuite.scala
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/ExpressionsSchemaSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/PlanStabilitySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLQueryTestSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/TPCDSBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/TPCDSQueryTestSuite.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
