Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Fix styling (line was more than 100 chars)
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-36554][PYTHON] Expose make_date expr in functions.scala
  python/pyspark/sql/functions.py
  python/pyspark/sql/tests/test_functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Code review update: change make_date typing from Column to ColumnOrName
  python/pyspark/sql/functions.py
  python/pyspark/sql/tests/test_functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Navigate directly to DAG when selecting from search typeahead list (#18991)
  airflow/www/static/js/dags.js
  airflow/www/templates/airflow/dags.html
Due: dont-use-safe-filter, language-matters

update
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/AlterTableRenamePartitionSuite.scala
Due: language-matters

Close current iterator before advancing to next one
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
Due: language-matters

Prevent iterator leak due to RecordReaderIterator#map()
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/RecordReaderIterator.scala
Due: language-matters

Avoid reading file in close() (fixes AvroV1Suite)
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
Due: language-matters

Add newline at end of file ByteArray.java
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/ByteArray.java
Due: language-matters

Update INTWILD.md to add Retailink (#19115)
  INTHEWILD.md
Due: language-matters, sort-in-the-wild, markdownlint

Fix doctest
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Added Wayfair to the list of companies using Apache Airflow (#19162)
  INTHEWILD.md
Due: language-matters, sort-in-the-wild, markdownlint

[SPARK-37084][SQL] Set spark.sql.files.openCostInBytes to bytesConf
  core/src/test/scala/org/apache/spark/internal/config/ConfigEntrySuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

use original limit number for each JDBC partition
  docs/sql-data-sources-jdbc.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters, provider-yamls, markdownlint

Upgrading SystemRequirements to include Java <= 17
  R/pkg/DESCRIPTION
Due: language-matters

In class ShuffleBlockPusher, use config instead of key
  core/src/main/scala/org/apache/spark/shuffle/ShuffleBlockPusher.scala
Due: language-matters

[SPARK-37091][R] SystemRequirements to be Java < 18
  R/pkg/DESCRIPTION
Due: language-matters

Add migration job resources (#19175)
  chart/UPDATING.rst
  chart/templates/jobs/migrate-database-job.yaml
  chart/tests/test_migrate_database_job.py
  chart/values.schema.json
  chart/values.yaml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, json-schema, mypy, pylint, flake8

[SPARK-37056][CORE] Remove unused code in HistoryServer'ss unit test
  core/src/test/scala/org/apache/spark/deploy/history/HistoryServerSuite.scala
  core/src/test/scala/org/apache/spark/deploy/history/RealBrowserUIHistoryServerSuite.scala
Due: language-matters

Fix airflow jobs check cmd for TriggererJob (#19185)
  airflow/jobs/__init__.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Prepare yaml files
  python/test_typing_data/ml/test_classification.yml
  python/test_typing_data/ml/test_evaluation.yml
  python/test_typing_data/ml/test_feature.yml
  python/test_typing_data/ml/test_param.yml
  python/test_typing_data/ml/test_readable.yml
  python/test_typing_data/ml/test_regression.yml
  python/test_typing_data/sql/test_column.yml
  python/test_typing_data/sql/test_dataframe.yml
  python/test_typing_data/sql/test_pandas_compatibility.yml
  python/test_typing_data/sql/test_readwriter.yml
  python/test_typing_data/sql/test_session.yml
  python/test_typing_data/sql/test_udf.yml
  python/test_typing_data/test_core.yml
  python/test_typing_data/test_rdd.yml
  python/test_typing_data/test_resultiterable.yml
Due: language-matters

Add data test runner and example tests
  .github/workflows/build_and_test.yml
  dev/lint-python
  python/test_typing_data/test_context.yml
Due: language-matters

Add license to test_context.yml
  python/test_typing_data/test_context.yml
Due: language-matters

Move data tests to typing subdirectory of the tests of the corresponding package
  dev/lint-python
  python/pyproject.toml
  python/pyspark/ml/tests/typing/test_classification.yml
  python/pyspark/ml/tests/typing/test_evaluation.yml
  python/pyspark/ml/tests/typing/test_feature.yml
  python/pyspark/ml/tests/typing/test_param.yml
  python/pyspark/ml/tests/typing/test_readable.yml
  python/pyspark/ml/tests/typing/test_regression.yml
  python/pyspark/sql/tests/typing/test_column.yml
  python/pyspark/sql/tests/typing/test_dataframe.yml
  python/pyspark/sql/tests/typing/test_pandas_compatibility.yml
  python/pyspark/sql/tests/typing/test_readwriter.yml
  python/pyspark/sql/tests/typing/test_session.yml
  python/pyspark/sql/tests/typing/test_udf.yml
  python/pyspark/tests/typing/test_context.yml
  python/pyspark/tests/typing/test_core.yml
  python/pyspark/tests/typing/test_rdd.yml
  python/pyspark/tests/typing/test_resultiterable.yml
Due: language-matters

Replace * import from pyspark.sql.types
  python/test_typing_data/test_rdd.yml
Due: language-matters

Update pytest-mypy-plugins hash
  .github/workflows/build_and_test.yml
Due: language-matters

Address @ueshin's requests
  dev/lint-python
Due: language-matters

Set explicit cache dir for base mypy run
  dev/lint-python
Due: language-matters

Add future tests for overloaded varargs functions
  python/pyspark/sql/tests/typing/test_functions.yml
Due: language-matters

Use PYTHON_EXECUTABLE
  dev/lint-python
Due: language-matters

Drop unused variables
  dev/lint-python
Due: language-matters

Check pytest plugin through imports
  dev/lint-python
Due: language-matters

Update SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
