Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

White space
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/xmlExpressions.scala
Due: language-matters

SQL encoder
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ListStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StateTypesEncoderUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ValueStateImpl.scala
  sql/core/src/test/java/org/apache/spark/sql/execution/streaming/state/POJOTestClass.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithListStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateSuite.scala
Due: language-matters

add doc string
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ListStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ValueStateImpl.scala
Due: language-matters

done
  core/src/main/scala/org/apache/spark/api/python/StreamingPythonRunner.scala
Due: language-matters

resolve comments, add more test cases
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StateTypesEncoderUtils.scala
  sql/core/src/test/java/org/apache/spark/sql/execution/streaming/state/POJOTestClass.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
Due: language-matters

java style
  sql/core/src/test/java/org/apache/spark/sql/execution/streaming/state/POJOTestClass.java
Due: language-matters

backward compat
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/ForeachBatchSink.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/ForeachBatchSinkSuite.scala
Due: language-matters, provider-yamls, markdownlint

scala style - Add a new empty line
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StateTypesEncoderUtils.scala
Due: language-matters

Delete unused imports
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
Due: language-matters

Code style compliance refactoring
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
Due: language-matters

Error-classes format change
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions-invalid-datetime-pattern-error-class.md
  docs/sql-error-conditions.md
  mllib/src/test/scala/org/apache/spark/ml/tuning/CrossValidatorSuite.scala
  sql/api/src/main/scala/org/apache/spark/sql/types/StructType.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/csv/UnivocityParserSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/IntervalUtilsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/StructTypeSuite.scala
Due: language-matters, provider-yamls, markdownlint

Change INVALID_INTERVAL_FORMAT.ARITHMETIC_EXCEPTION error msg
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions-invalid-interval-format-error-class.md
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/SparkIntervalUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/IntervalUtilsSuite.scala
Due: language-matters, provider-yamls, markdownlint

Change bad test in sparkR
  R/pkg/tests/fulltests/test_streaming.R
Due: language-matters

Fix test to use bucketing
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

fix test
  python/pyspark/resource/tests/test_connect_resources.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[WIP] Test checkStyle 10.14.0
  pom.xml
  project/plugins.sbt
Due: language-matters

[SPARK-47335][BUILD] Upgrade mvn-scalafmt to 1.1.1684076452.9f83818
  pom.xml
Due: language-matters

update scalafmt core
  dev/.scalafmt.conf
Due: language-matters

fix it
  launcher/src/main/java/org/apache/spark/launcher/SparkAppHandle.java
Due: language-matters

[MINOR][SQL][TEST] Moving tests to related suites
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTableCatalogSuite.scala
Due: language-matters

[SPARK-47218][SQL] XML: Changed SchemaOfXml to fail on DROPMALFORMED mode
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/xmlExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/xml/XmlSuite.scala
Due: language-matters

[SPARK-47200][SS] Make Foreach batch sink user function error handling backward compatible
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/sources/ForeachBatchSink.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/ForeachBatchSinkSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-47325][INFRA] Use the latest `buf-setup-action` in github workflow
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-47334][SQL] Make `withColumnRenamed` reuse the implementation of `withColumnsRenamed`
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

[SPARK-47035][SS][CONNECT][FOLLOWUP] Additional protobuf change to client side listener
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][DOCS][SQL] Fix doc comment for coalescePartitions.parallelismFirst
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

[SPARK-47331][SS] Serialization using case classes/primitives/POJO based on SQL encoder for Arbitrary State API v2
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessorHandle.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ListStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StateTypesEncoderUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ValueStateImpl.scala
  sql/core/src/test/java/org/apache/spark/sql/execution/streaming/state/POJOTestClass.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/ValueStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithListStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateSuite.scala
Due: language-matters

[SPARK-47324][SQL] Add missing timestamp conversion for JDBC nested types
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/PostgresIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
Due: language-matters

[SPARK-44953][CORE] Log a warning when shuffle tracking is enabled along side another DA supported mechanism
  core/src/main/scala/org/apache/spark/ExecutorAllocationManager.scala
Due: language-matters

remove unused import
  core/src/main/scala/org/apache/spark/api/python/StreamingPythonRunner.scala
Due: language-matters

use Command to create ResourceProfile
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectBuildResourceProfileHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  python/pyspark/resource/tests/test_connect_resources.py
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/base_pb2_grpc.py
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/resource/profile.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

support check other mechanism
  core/src/main/scala/org/apache/spark/ExecutorAllocationManager.scala
Due: language-matters

add
  sql/api/src/main/java/org/apache/spark/sql/types/DataTypes.java
Due: language-matters

fix comment
  sql/api/src/main/java/org/apache/spark/sql/types/DataTypes.java
Due: language-matters

Revert rename changes
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/EventTimeWatermarkExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/FlatMapGroupsWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ListStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StateTypesEncoderUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StatefulProcessorHandleImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingSymmetricHashJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingSymmetricHashJoinHelper.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TimerValuesImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/TransformWithStateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ValueStateImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StreamingAggregationStateManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StreamingSessionWindowStateManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/SymmetricHashJoinStateManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/streamingLimits.scala
Due: language-matters

[SPARK-47337][SQL][DOCKER] Upgrade DB2 Docker version to 11.5.8.0
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DB2DatabaseOnDocker.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DB2IntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DB2KrbIntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/DB2IntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/DB2NamespaceSuite.scala
Due: language-matters

[SPARK-46654][SQL][Python] Make to_csv explicitly indicate that it does not support some types of data
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions-datatype-mismatch-error-class.md
  docs/sql-migration-guide.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/csvExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CsvFunctionsSuite.scala
Due: language-matters, provider-yamls, markdownlint

Fix ArrayType(StringType, _) casting in findWiderCommonType
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/AnsiTypeCoercion.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TypeCoercion.scala
Due: language-matters

Fix type mismatch error
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TypeCoercion.scala
Due: language-matters
