Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Fix: Fix lint errors
  sql/core/src/test/scala/org/apache/spark/sql/execution/WholeStageCodegenSuite.scala
Due: language-matters

fix: Address review comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/GenerateExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/WholeStageCodegenSuite.scala
Due: language-matters

Fix: fix tests
  sql/core/src/main/scala/org/apache/spark/sql/execution/GenerateExec.scala
Due: language-matters

Fix: Fix test name
  sql/core/src/test/scala/org/apache/spark/sql/execution/WholeStageCodegenSuite.scala
Due: language-matters

[SPARK-33084][SQL][TEST][FOLLOW-ON] Add ResetSystemProperties trait to SQLQuerySuite and use newer Ivy property for local directory override.
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

address comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/predicates.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
Due: language-matters

[SPARK-34528][CORE] named explicitly field in struct of a view
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalogSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
Due: language-matters

[SPARK-34560][SQL] Generate unique output attributes in the `SHOW TABLES` logical node
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/ShowTablesSuiteBase.scala
Due: language-matters

Remove unused imports
  sql/core/src/test/scala/org/apache/spark/sql/execution/WholeStageCodegenSuite.scala
Due: language-matters

Update test
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

Minor doc fixes (#14547)
  docs/apache-airflow/installation.rst
  docs/apache-airflow/start/local.rst
Due: language-matters, provider-yamls

clean up gantt js (#14545)
  airflow/www/.eslintignore
  airflow/www/static/js/gantt.js
  airflow/www/static/js/gantt_chart_d3v2.js
  airflow/www/templates/airflow/gantt.html
  airflow/www/webpack.config.js
Due: dont-use-safe-filter, language-matters

[SPARK-34503][DOCS][FOLLOWUP] Document available codecs for event log compression
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

Disable health checks for ad-hoc containers (#14536)
  docs/apache-airflow/production-deployment.rst
  docs/apache-airflow/start/airflow.sh
  scripts/in_container/prod/entrypoint_prod.sh
Due: language-matters, shellcheck, bats-tests, provider-yamls, bats-in-container-tests

Add more tips about health checks (#14537)
  docs/apache-airflow/logging-monitoring/check-health.rst
  docs/apache-airflow/production-deployment.rst
Due: language-matters, provider-yamls

resolve merge conflicts, enough to compile at least
  dev/deps/spark-deps-hadoop-2.7
  dev/deps/spark-deps-hadoop-3.2
  dev/run-tests.py
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedColumnReader.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedParquetRecordReader.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFilters.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetReadSupport.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRecordMaterializer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRowConverter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/ParquetPartitionReaderFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/ParquetScanBuilder.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/DataSourceReadBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/InMemoryColumnarQuerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/HadoopFsRelationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetEncodingSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFilterSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetIOSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetInteroperabilitySuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Fixup
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
Due: language-matters

Simplify configuration/legibility of Webpack entries (#14551)
  airflow/www/webpack.config.js
Due: language-matters

Fix truncate test
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Implicits.scala
Due: language-matters

Add CollectionInfo in all Collections that have total_entries (#14366)
  airflow/api_connexion/openapi/v1.yaml
Due: lint-openapi, language-matters

Fix scala style
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CannotReplaceMissingTableException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/StagingInMemoryTableCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTableCatalog.scala
Due: language-matters

[SPARK-34417] - Use UnsupportedOperationException instead of IllegalArgumentException and include column name in the error message.
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameNaFunctions.scala
Due: language-matters

Fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/LimitPushdownThroughWindowSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

follow comment
  docs/sql-migration-guide.md
  docs/sql-ref-syntax-ddl-alter-table.md
  docs/sql-ref-syntax-dml-insert-into.md
  docs/sql-ref-syntax-dml-insert-overwrite-table.md
  sql/core/src/test/scala/org/apache/spark/sql/SQLInsertTestSuite.scala
Due: language-matters, provider-yamls, markdownlint

nit
  sql/core/src/test/scala/org/apache/spark/sql/SparkSessionBuilderSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSharedStateSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSparkSubmitSuite.scala
Due: language-matters

[SPARK-34576][SQL] Fix drop/add columns to a dataset of `DESCRIBE COLUMN`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

formatting
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/BooleanSimplificationSuite.scala
Due: language-matters

revert inital fix and regenerate blockIds
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/OneForOneBlockFetcher.java
Due: language-matters

[SPARK-34585][SQL] Remove no longer needed BatchWriteHelper
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala
Due: language-matters

clean up
  .github/workflows/build_and_test.yml
  common/tags/src/test/java/org/apache/spark/tags/DedicatedJVMTest.java
  pom.xml
  project/SparkBuild.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/orc/OrcEncryptionSuite.scala
Due: language-matters

Replaces map and getOrElse(false/true) with exists/forall
  core/src/main/scala/org/apache/spark/deploy/security/HadoopDelegationTokenManager.scala
  core/src/main/scala/org/apache/spark/storage/RDDInfo.scala
  core/src/main/scala/org/apache/spark/ui/SparkUI.scala
  core/src/main/scala/org/apache/spark/ui/WebUI.scala
  core/src/main/scala/org/apache/spark/ui/jobs/StagePage.scala
  core/src/main/scala/org/apache/spark/util/JsonProtocol.scala
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderAdmin.scala
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderConsumer.scala
  repl/src/main/scala/org/apache/spark/repl/Signaling.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/CSVOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/conditionalExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JSONOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/EstimationUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/JoinEstimation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/CommandUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowNamespacesExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/MicroBatchExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/console.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStore.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreCoordinator.scala
  streaming/src/test/scala/org/apache/spark/streaming/CheckpointSuite.scala
Due: language-matters

Replaces map and getOrElse(false/true) with exists/forall
  core/src/main/scala/org/apache/spark/deploy/security/HadoopDelegationTokenManager.scala
  core/src/main/scala/org/apache/spark/storage/RDDInfo.scala
  core/src/main/scala/org/apache/spark/ui/SparkUI.scala
  core/src/main/scala/org/apache/spark/ui/WebUI.scala
  core/src/main/scala/org/apache/spark/ui/jobs/StagePage.scala
  core/src/main/scala/org/apache/spark/util/JsonProtocol.scala
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderAdmin.scala
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaOffsetReaderConsumer.scala
  repl/src/main/scala/org/apache/spark/repl/Signaling.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/CSVOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/conditionalExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JSONOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/EstimationUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/JoinEstimation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowNamespacesExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/MicroBatchExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/console.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStore.scala
  streaming/src/test/scala/org/apache/spark/streaming/CheckpointSuite.scala
Due: language-matters

fix format
  streaming/src/test/scala/org/apache/spark/streaming/CheckpointSuite.scala
Due: language-matters

fix fomrat
  streaming/src/test/scala/org/apache/spark/streaming/CheckpointSuite.scala
Due: language-matters

[SPARK-34573][SQL] Avoid global locking in SQLConf object for sqlConfEntries map
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

Replaces map and getOrElse(false/true) with exists/forall
  core/src/main/scala/org/apache/spark/deploy/security/HadoopDelegationTokenManager.scala
  core/src/main/scala/org/apache/spark/storage/RDDInfo.scala
  core/src/main/scala/org/apache/spark/ui/SparkUI.scala
  core/src/main/scala/org/apache/spark/ui/WebUI.scala
  core/src/main/scala/org/apache/spark/ui/jobs/StagePage.scala
  core/src/main/scala/org/apache/spark/util/JsonProtocol.scala
  repl/src/main/scala/org/apache/spark/repl/Signaling.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/CSVOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/conditionalExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JSONOptions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/EstimationUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statsEstimation/JoinEstimation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowNamespacesExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowTablesExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/MicroBatchExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/console.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStore.scala
  streaming/src/test/scala/org/apache/spark/streaming/CheckpointSuite.scala
Due: language-matters

https://github.com/apache/spark/pull/31696#discussion_r585292404
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
Due: language-matters

Unify v1 v2 DescribeColumnCommand
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
