Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Revert "[SPARK-42702][SPARK-42623][SQL] Support parameterized query in subquery and CTE"
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/test/scala/org/apache/spark/sql/ParametersSuite.scala
Due: language-matters

fix
  dev/create-release/release-tag.sh
Due: language-matters, shellcheck, bats-tests

[SPARK-42725][CONNECT][PYTHON] Make LiteralExpression support array params
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/expressions/LiteralProtoConverter.scala
  connector/connect/common/src/main/protobuf/spark/connect/expressions.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/LiteralValueProtoConverter.scala
  python/pyspark/sql/connect/expressions.py
  python/pyspark/sql/connect/proto/expressions_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.pyi
  python/pyspark/sql/tests/connect/test_connect_column.py
  python/pyspark/sql/tests/connect/test_connect_plan.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

support parameterized query in subquery and CTE
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/parameters.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/test/scala/org/apache/spark/sql/ParametersSuite.scala
Due: language-matters

fix tests
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
Due: language-matters

address comments
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/parameters.scala
  sql/core/src/test/scala/org/apache/spark/sql/ParametersSuite.scala
Due: language-matters

fix
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/test/scala/org/apache/spark/sql/ParametersSuite.scala
Due: language-matters

fix compilation
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
Due: language-matters

[SPARK-42739][BUILD] Ensure release tag to be pushed to release branch
  dev/create-release/release-tag.sh
Due: language-matters, shellcheck, bats-tests

AL-8065 [SPARK-39927][BUILD] Upgrade to Avro 1.11.1 (#599)
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  docs/sql-data-sources-avro.md
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroOptions.scala
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
  pom.xml
  project/SparkBuild.scala
Due: language-matters, provider-yamls, markdownlint

Write without path or table
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientE2ETestSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
Due: language-matters

Use the new spark-connect script to make the IT tests run with a single command
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/util/RemoteSparkSession.scala
  project/SparkBuild.scala
Due: language-matters

Make AQE support InMemoryTableScanExec
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/InsertAdaptiveSparkPlan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/QueryStageExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/InMemoryRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/InMemoryTableScanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/SparkPlanGraph.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

[SPARK-42740][SQL] Fix the bug that pushdown offset or paging is invalid for some built-in dialect
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/DB2IntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/MsSqlServerIntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/MySQLIntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/OracleIntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/PostgresIntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/v2/V2JDBCTest.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DB2Dialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/H2Dialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MsSqlServerDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/OracleDialect.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/PostgresDialect.scala
Due: language-matters

Update code
  docs/sql-data-sources-jdbc.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-42702][SPARK-42623][SQL] Support parameterized query in subquery and CTE
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/test/scala/org/apache/spark/sql/ParametersSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
Due: language-matters

[SPARK-42702][SPARK-42623][SQL] Support parameterized query in subquery and CTE
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/parameters.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/test/scala/org/apache/spark/sql/ParametersSuite.scala
Due: language-matters

fix
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/MLHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/Serializer.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/ml/SummaryUtils.scala
  python/pyspark/sql/connect/ml/base.py
  python/pyspark/sql/connect/ml/serializer.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

support Int/Byte/Short
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/DataFrameStatFunctions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/DataFrameStatSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/util/IntegrationTestUtils.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

Fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/UnwrapCastInBinaryComparison.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/UnwrapCastInBinaryComparisonSuite.scala
Due: language-matters

SPARK-42597
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/UnwrapCastInBinaryComparison.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/UnwrapCastInBinaryComparisonSuite.scala
Due: language-matters

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/UnwrapCastInBinaryComparison.scala
  sql/core/src/test/scala/org/apache/spark/sql/UnwrapCastInComparisonEndToEndSuite.scala
Due: language-matters

address comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/QueryStageExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/InMemoryRelation.scala
Due: language-matters

fix test
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

KE-40948 Add rowGroup filters info (#596)
  core/src/main/scala/org/apache/spark/InternalAccumulator.scala
  core/src/main/scala/org/apache/spark/executor/InputMetrics.scala
  core/src/main/scala/org/apache/spark/executor/TaskMetrics.scala
  core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala
  core/src/main/scala/org/apache/spark/scheduler/SparkListener.scala
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
  pom.xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
Due: language-matters

[SPARK_42742]access apiserver by pod env
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterManager.scala
Due: language-matters

address comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
Due: language-matters

support string
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/DataFrameStatSuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/BloomFilterAggregate.scala
Due: language-matters

support string
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/BloomFilterAggregate.scala
Due: language-matters

change to check numBits
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/DataFrameStatFunctions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/util/IntegrationTestUtils.scala
Due: language-matters

support analyze TimestampNTZ column
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/interface.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/AnalyzeColumnCommand.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/CommandUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/StatisticsCollectionTestBase.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/StatisticsSuite.scala
Due: language-matters

address comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/QueryStageExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/InMemoryRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/InMemoryTableScanExec.scala
Due: language-matters

[SPARK_42744] delete uploaded file when job finish for k8s
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/KubernetesUtils.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStep.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
Due: language-matters

tmp fix
  common/sketch/src/main/java/org/apache/spark/util/sketch/BloomFilter.java
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/DataFrameStatFunctions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/DataFrameStatSuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

[SPARK-42745][SQL] Improved AliasAwareOutputExpression works with DSv2
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/AliasAwareOutputExpression.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Due: language-matters
