Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[MINOR][DOCS] Add table_identifier in sql-migration-guide for SHOW CREATE TABLE
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-34473][SQL] Avoid NPE in DataFrameReader.schema(StructType)
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamReader.scala
Due: language-matters

fix
  sql/core/src/test/resources/sql-tests/results/explain-aqe.sql.out
  sql/core/src/test/resources/sql-tests/results/explain-cbo.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Due: language-matters

[SPARK-34415][ML] ScalaStyle violation.
  mllib/src/test/scala/org/apache/spark/ml/tuning/RandomRangesSuite.scala
Due: language-matters

[SPARK-34496][BUILD] Upgrade ZSTD-JNI to 1.4.8-5 for better API compatibility
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
Due: language-matters

[MINOR][SQL] Fix the comment for CalendarIntervalType about comparability
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/CalendarIntervalType.scala
Due: language-matters

[SPARK-34497][SQL] Fix built-in JDBC connection providers to restore JVM security context changes
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/DB2ConnectionProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/MSSQLConnectionProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/MariaDBConnectionProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/OracleConnectionProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/PostgresConnectionProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/SecureConnectionProvider.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/ConnectionProviderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/ConnectionProviderSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/DB2ConnectionProviderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/MSSQLConnectionProviderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/MariaDBConnectionProviderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/OracleConnectionProviderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/jdbc/connection/PostgresConnectionProviderSuite.scala
Due: language-matters

Pprint default args and wrap (#14345)
  airflow/www/templates/airflow/dag_details.html
  airflow/www/templates/airflow/task.html
Due: dont-use-safe-filter, language-matters

Use attr"" rather than attr()
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/dsl/package.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/EncoderResolutionSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ComplexTypeSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ObjectExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasingSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/ReplaceNullWithFalseInPredicateSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyCastsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyConditionalSuite.scala
Due: language-matters

fix test
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

Fix test.
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/SimplifyCastsSuite.scala
Due: language-matters

Add DayTimeIntervalType
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DayTimeIntervalType.scala
Due: language-matters

Add YearMonthIntervalType
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/YearMonthIntervalType.scala
Due: language-matters

Fix comments in DayTimeIntervalType
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DayTimeIntervalType.scala
Due: language-matters

Add methods to DataTypes
  sql/catalyst/src/main/java/org/apache/spark/sql/types/DataTypes.java
Due: language-matters

improve the expression dsl
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/dsl/package.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/ResolveAliasesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/RegexpExpressionsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/CombiningLimitsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/EliminateSortsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/LimitPushdownSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFilterSuite.scala
Due: language-matters

Check default values
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/DataTypeSuite.scala
Due: language-matters

Fix spelling in "ignorable" (#14348)
  airflow/models/taskinstance.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/base_ti_dep.py
  airflow/ti_deps/deps/dag_ti_slots_available_dep.py
  airflow/ti_deps/deps/dag_unpaused_dep.py
  airflow/ti_deps/deps/dagrun_exists_dep.py
  airflow/ti_deps/deps/dagrun_id_dep.py
  airflow/ti_deps/deps/exec_date_after_start_date_dep.py
  airflow/ti_deps/deps/not_in_retry_period_dep.py
  airflow/ti_deps/deps/not_previously_skipped_dep.py
  airflow/ti_deps/deps/pool_slots_available_dep.py
  airflow/ti_deps/deps/prev_dagrun_dep.py
  airflow/ti_deps/deps/ready_to_reschedule.py
  airflow/ti_deps/deps/runnable_exec_date_dep.py
  airflow/ti_deps/deps/task_concurrency_dep.py
  airflow/ti_deps/deps/task_not_running_dep.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  airflow/ti_deps/deps/valid_state_dep.py
  docs/spelling_wordlist.txt
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, mypy, pylint, flake8

address formatting comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/BooleanSimplificationSuite.scala
Due: language-matters

Replace symbol literals in example.
  examples/src/main/scala/org/apache/spark/examples/sql/SimpleTypedAggregator.scala
Due: language-matters

Replace symbol literals in docs.
  docs/sql-data-sources-avro.md
Due: language-matters, provider-yamls, markdownlint

Split webserver config from configmap (#14353)
  chart/templates/configmaps/webserver-configmap.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/tests/test_webserver_deployment.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, helm-lint, mypy, pylint, flake8

Remove testfixtures module that is only used once (#14318)
  setup.py
  tests/providers/amazon/aws/hooks/test_glacier.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Replace symbol literals in ScalaDoc.
  sql/core/src/main/scala/org/apache/spark/sql/Column.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/expressions/Window.scala
  sql/core/src/main/scala/org/apache/spark/sql/expressions/WindowSpec.scala
Due: language-matters

Fix caching of python images during builds (#14347)
  CI.rst
  breeze
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/selective_ci_checks.sh
Due: update-breeze-file, language-matters, shellcheck, bats-tests

[MINOR][DOCS] Replace http to https when possible in PySpark documentation
  python/docs/source/development/contributing.rst
  python/docs/source/getting_started/index.rst
  python/docs/source/migration_guide/index.rst
  python/docs/source/user_guide/arrow_pandas.rst
  python/docs/source/user_guide/index.rst
Due: language-matters

[SPARK-34500][DOCS][EXAMPLES] Replace symbol literals with $"" in examples and documents
  docs/sql-data-sources-avro.md
  examples/src/main/scala/org/apache/spark/examples/sql/SimpleTypedAggregator.scala
  sql/core/src/main/scala/org/apache/spark/sql/Column.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/expressions/Window.scala
  sql/core/src/main/scala/org/apache/spark/sql/expressions/WindowSpec.scala
Due: language-matters, provider-yamls, markdownlint

Optimize code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveHints.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

Move to separate rule.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RemoveNoopUnionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSetOperationsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
Due: language-matters

[MINOR][SQL] Remove unused parameters
  sql/core/src/main/scala/org/apache/spark/sql/execution/bucketing/CoalesceBucketsInJoin.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/CartesianProductExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/ShuffledHashJoinExec.scala
Due: language-matters

Revert View signature change
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/interface.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisTest.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/ResolveHintsSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalogSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/views.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
Due: language-matters

reduce churn
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters

reduce churn
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
Due: language-matters

[SPARK-34503][CORE] Use zstd for spark.eventLog.compression.codec by default
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/test/scala/org/apache/spark/deploy/history/EventLogFileWritersSuite.scala
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

add more comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
Due: language-matters
