Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-openapi, lint-dockerfile, isort, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$

Python Lint and Docs
  docs/sql-data-sources-generic-options.md
  examples/src/main/java/org/apache/spark/examples/sql/JavaSQLDataSourceExample.java
  examples/src/main/python/sql/datasource.py
  examples/src/main/scala/org/apache/spark/examples/sql/SQLDataSourceExample.scala
  python/pyspark/sql/readwriter.py
  python/pyspark/sql/streaming.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix typo in test_views.py (#9522)
  tests/www/test_views.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

fix time zone test issue
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Silly missing line
  python/pyspark/sql/streaming.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

YAML file format in LocalFilesystemBackend (#9477)
  airflow/secrets/local_filesystem.py
  docs/howto/use-alternative-secrets-backend.rst
  tests/secrets/test_local_filesystem.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Fix Doc Linting Issues
  python/pyspark/sql/readwriter.py
  python/pyspark/sql/streaming.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Use regular mock method, see if that helps against classloading issues
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SparkExecuteStatementOperationSuite.scala
Due: language-matters

Sphinx / Doc Build linting updates
  examples/src/main/java/org/apache/spark/examples/sql/JavaSQLDataSourceExample.java
  python/pyspark/sql/readwriter.py
  python/pyspark/sql/streaming.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32104][SQL]Avoid full outer join OOM on skewed dataset
  sql/core/src/main/scala/org/apache/spark/sql/execution/FileBasedAppendOnlyUnsafeRowArray.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/SortMergeJoinExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

Extract common date log logic in _run_raw_task (#9512)
  airflow/models/taskinstance.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix test with deep stubs
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SparkExecuteStatementOperationSuite.scala
Due: language-matters

Follow comment only refactor this pr
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlanner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/script/ScriptTransformationExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/script/ScriptTransformbase.scala
  sql/core/src/test/resources/test_script.py
  sql/core/src/test/scala/org/apache/spark/sql/execution/script/ScriptTrnasformationExecSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/script/TestUncaughtexceptionHandler.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/script/HiveScriptTransformationExec.scala
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Gunicorn works better if temporary folder uses tmpfs (#9534)
  Dockerfile
Due: lint-dockerfile, language-matters

Update HiveScriptTransformationExec.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/HiveScriptTransformationExec.scala
Due: language-matters

fix
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveStrategies.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveScriptTransformationSuite.scala
Due: language-matters

Add RushOwl to Airflow users (#9536)
  README.md
Due: language-matters

Add read-only Config endpoint (#9497)
  airflow/api_connexion/endpoints/config_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/config_schema.py
  tests/api_connexion/endpoints/test_config_endpoint.py
  tests/api_connexion/schemas/test_config_schema.py
Due: yamllint, lint-openapi, isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

[SPARK-19939][ML] Add support for association rules in ML
  R/pkg/R/mllib_fpm.R
  R/pkg/tests/fulltests/test_mllib_fpm.R
  mllib/src/main/scala/org/apache/spark/ml/fpm/FPGrowth.scala
  mllib/src/main/scala/org/apache/spark/mllib/fpm/AssociationRules.scala
  mllib/src/test/scala/org/apache/spark/ml/fpm/FPGrowthSuite.scala
  python/pyspark/ml/fpm.py
  python/pyspark/ml/tests/test_algorithms.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-20249][ML][PYSPARK] Add training summary for LinearSVCModel
  mllib/src/main/scala/org/apache/spark/ml/classification/LinearSVC.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/LinearSVCSuite.scala
  python/pyspark/ml/classification.py
  python/pyspark/ml/tests/test_training_summary.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix typo of resultBackendConnection in chart README (#9537)
  chart/README.md
Due: language-matters

[SPARK-32088][PYTHON] Pin the timezone in timestamp_seconds doctest
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32099][DOCS] Remove broken link in cloud integration documentation
  docs/cloud-integration.md
Due: language-matters

[SPARK-31845][CORE][TESTS] Refactor DAGSchedulerSuite by introducing completeAndCheckAnswer and using completeNextStageWithFetchFailure
  core/src/test/scala/org/apache/spark/scheduler/DAGSchedulerSuite.scala
Due: language-matters

[SPARK-32058][BUILD] Use Apache Hadoop 3.2.0 dependency by default
  dev/create-release/release-build.sh
  dev/run-tests.py
  pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
Due: shellcheck, isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8, bat-tests

[SPARK-32013][SQL] Support query execution before/after reading/writing over JDBC.
  docs/sql-data-sources-jdbc.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcRelationProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCWriteSuite.scala
Due: language-matters

[SPARK-32021][SQL] Increase precision of seconds and fractions of `make_interval`
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
Due: language-matters

[SPARK-21514] Modified method name. Added hive version check.
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFile.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SaveAsHiveFileSuite.scala
Due: language-matters

[SPARK-32039][YARN][WEBUI][Master] Adding Check to not to set UI port (spark.ui.port) property if mentioned explicitly
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
Due: language-matters

Avoid coalescing shuffle partitions if join condition has inequality predicate
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/hints.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/OptimizeSkewedJoin.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/SortMergeJoinExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

Fix indentations and JIRA ticket name
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/CommandUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/InMemoryFileIndex.scala
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/FileIndexSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FileStreamSourceSuite.scala
Due: language-matters

Fix newline at end of file
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/InMemoryFileIndex.scala
Due: language-matters

Make Production Dockerfile OpenShift-compatible (#9545)
  Dockerfile
  IMAGES.rst
  scripts/ci/libraries/_build_images.sh
  scripts/prod/entrypoint_prod.sh
Due: shellcheck, lint-dockerfile, language-matters, bat-tests

Show "Task Reschedule" table in Airflow Webserver (#9521)
  airflow/www/extensions/init_views.py
  airflow/www/views.py
  tests/www/test_views.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

show correct duration on graph view for running task (#8311) (#8675)
  airflow/www/static/js/task-instances.js
Due: language-matters

Deprecate contrib modules (#9540)
  airflow/contrib/__init__.py
  airflow/contrib/utils/__init__.py
  tests/deprecated_classes.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Bump Pylint to 2.5.3 (#9294)
  .github/workflows/ci.yml
  airflow/api_connexion/schemas/connection_schema.py
  airflow/executors/debug_executor.py
  airflow/executors/local_executor.py
  airflow/jobs/local_task_job.py
  airflow/models/pool.py
  airflow/providers/google/cloud/example_dags/example_bigquery_dts.py
  airflow/providers/google/cloud/hooks/functions.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/sensors/base_sensor_operator.py
  airflow/utils/orm_event_handlers.py
  airflow/utils/timeout.py
  airflow/www/security.py
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/requirements-python3.8.txt
  requirements/setup-3.6.md5
  requirements/setup-3.7.md5
  requirements/setup-3.8.md5
  setup.py
  tests/executors/test_celery_executor.py
  tests/plugins/test_plugins_manager.py
  tests/test_core.py
  tests/test_utils/fake_datetime.py
Due: yamllint, isort, setup-order, build-providers-dependencies, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

put findSummaryModel in super class
  mllib/src/main/scala/org/apache/spark/ml/classification/Classifier.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/ProbabilisticClassifier.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/RandomForestClassifier.scala
Due: language-matters

[SPARK-23631][ML][PySpark] Add summary to RandomForestClassificationModel
  mllib/src/main/scala/org/apache/spark/ml/classification/ClassificationSummary.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/classification/RandomForestClassifier.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/LogisticRegressionSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/RandomForestClassifierSuite.scala
  python/pyspark/ml/classification.py
  python/pyspark/ml/tests/test_training_summary.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32071][SQL][TESTS] Add `make_interval` benchmark
  sql/core/benchmarks/IntervalBenchmark-jdk11-results.txt
  sql/core/benchmarks/IntervalBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/IntervalBenchmark.scala
Due: language-matters
