Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Revert changes in unrelated files
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/csv/CSVDataSource.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
Due: language-matters

Make ArrowDeserializers work with OuterScopes
  common/utils/src/main/scala/org/apache/spark/util/SparkClassUtils.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/arrow/ArrowDeserializer.scala
  core/src/main/scala/org/apache/spark/util/Utils.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/encoders/OuterScopes.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/ExecutionErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

Add tests
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/application/ReplE2ESuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/arrow/ArrowEncoderSuite.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/encoders/OuterScopes.scala
Due: language-matters

Improve OuterScopes
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/encoders/OuterScopes.scala
Due: language-matters

Fix
  core/pom.xml
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  sql/hive-thriftserver/pom.xml
Due: language-matters

HADOOP-17612. Upgrade Zookeeper to 3.6.3 and Curator to 5.2.0
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

Fixing pipelineTime metric for WholeStageCodegen
  sql/core/src/main/scala/org/apache/spark/sql/execution/WholeStageCodegenEvaluatorFactory.scala
Due: language-matters

[SPARK-44773][SQL] Code-gen CodegenFallback expression in WholeStageCodegen if possible
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/EquivalentExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodegenFallback.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/WholeStageCodegenExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

bug fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
Due: language-matters

bug fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

bug fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodegenFallback.scala
Due: language-matters

Fix code style
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

Consolidate whole stage and non whole stage codegen code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeGenerator.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/SubexpressionEliminationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/AggregateCodegenSupport.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/HashAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Due: language-matters

[SPARK-42621][PS] Add inclusive parameter for pd.date_range
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/tests/test_namespace.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44581][YARN] Fix the bug that ShutdownHookManager gets wrong UGI from SecurityManager of ApplicationMaster
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
Due: language-matters

[SPARK-43709][PS] Remove `closed` parameter from `ps.date_range` & enable test
  python/docs/source/migration_guide/pyspark_upgrade.rst
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/tests/test_namespace.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43979][SQL][FOLLOWUP] transformUpWithNewOutput` should only be used with new outputs
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
Due: language-matters

Revert "[SPARK-43660][CONNECT][PS][FOLLOWUP] Remove JVM dependency for resample"
  python/pyspark/pandas/resample.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43429][CONNECT] Deflake SparkSessionSuite
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionSuite.scala
Due: language-matters

[SPARK-44720][CONNECT] Make Dataset use Encoder instead of AgnosticEncoder
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/Dataset.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/KeyValueGroupedDataset.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
Due: language-matters

[SPARK-44551][SQL] Fix behavior of null IN (empty list) in expression execution
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/predicates.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/PredicateSuite.scala
  sql/core/src/test/resources/sql-tests/inputs/subquery/in-subquery/in-null-semantics.sql
  sql/core/src/test/resources/sql-tests/results/subquery/in-subquery/in-null-semantics.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/EmptyInSuite.scala
Due: language-matters

[SPARK-44745][DOCS][K8S] Document shuffle data recovery from the remounted K8s PVCs
  docs/running-on-kubernetes.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-44726][CORE] Improve `HeartbeatReceiver` config validation error message
  core/src/main/scala/org/apache/spark/HeartbeatReceiver.scala
  core/src/test/scala/org/apache/spark/HeartbeatReceiverSuite.scala
Due: language-matters

[MINOR][BUILD] Skip `deepspeed` in requirements on MacOS
  dev/requirements.txt
Due: language-matters

[SPARK-44738][PYTHON][CONNECT] Add missing client metadata to calls
  python/pyspark/sql/connect/client/reattach.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44503][SQL] Project any PARTITION BY expressions not already returned from Python UDTF TABLE arguments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/FunctionTableSubqueryArgumentExpression.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonUDTFSuite.scala
Due: language-matters

[SPARK-44461][SS][PYTHON][CONNECT] Verify Python Version for spark connect streaming workers
  core/src/main/scala/org/apache/spark/api/python/StreamingPythonRunner.scala
  python/pyspark/sql/connect/streaming/query.py
  python/pyspark/sql/connect/streaming/readwriter.py
  python/pyspark/sql/connect/streaming/worker/foreachBatch_worker.py
  python/pyspark/sql/connect/streaming/worker/listener_worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-42620][PS] Add `inclusive` parameter for (DataFrame|Series).between_time
  python/docs/source/migration_guide/pyspark_upgrade.rst
  python/pyspark/errors/error_classes.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/tests/frame/test_reindexing.py
  python/pyspark/pandas/tests/series/test_compute.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44691][SQL][CONNECT] Move Subclasses of AnalysisException to sql/api
  sql/api/src/main/java/org/apache/spark/sql/connector/catalog/Identifier.java
  sql/api/src/main/java/org/apache/spark/sql/connector/catalog/IdentifierImpl.java
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/NonEmptyException.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/alreadyExistException.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/analysis/noSuchItemsExceptions.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/QuotingUtils.scala
  sql/api/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/api/src/main/scala/org/apache/spark/sql/errors/DataTypeErrorsBase.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlreadyExistException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/NoSuchItemException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/package.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Implicits.scala
Due: language-matters

[SPARK-44740][CONNECT] Support specifying `session_id` in SPARK_REMOTE connection string
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClient.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/connect/client/SparkConnectClientParser.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientBuilderParseTestSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/SparkConnectClientSuite.scala
  connector/connect/docs/client-connection-string.md
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/tests/connect/client/test_client.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, markdownlint, mypy, pylint, flake8

[SPARK-44701][PYTHON][TESTS][FOLLOWUP] Keep `torch` in 3.5 daily GA
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-43245][SPARK-43705][PS] Type match for `DatetimeIndex`/`TimedeltaIndex` with pandas 2
  python/docs/source/migration_guide/pyspark_upgrade.rst
  python/pyspark/pandas/datetimes.py
  python/pyspark/pandas/indexes/timedelta.py
  python/pyspark/pandas/tests/indexes/test_datetime.py
  python/pyspark/pandas/tests/indexes/test_timedelta.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44747][CONNECT] Add missing SparkSession.Builder methods
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionE2ESuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SparkSessionSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
Due: language-matters

[SPARK-44554][INFRA][FOLLOWUP] Install `IPython` for the Python linter check in the daily test for branch-3.3
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-43660][CONNECT][PS][FOLLOWUP] Remove JVM dependency for resample
  python/pyspark/pandas/resample.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43032][FOLLOWUP][SS][CONNECT] StreamingQueryManager bug fix
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/ClientStreamingQuerySuite.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/tests/streaming/test_streaming.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44770][WEBUI] Add a displayOrder variable to WebUITab to specify the order in which tabs appear
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/ui/SparkConnectServerTab.scala
  core/src/main/scala/org/apache/spark/ui/WebUI.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/SQLTab.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryTab.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/ui/ThriftServerTab.scala
Due: language-matters

[SPARK-44625][CONNECT] SparkConnectExecutionManager to track all executions
  common/utils/src/main/resources/error/error-classes.json
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/config/Connect.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecuteGrpcResponseSender.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecuteResponseObserver.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/ExecuteHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectExecutePlanHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectExecutionManager.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectReattachExecuteHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectReleaseExecuteHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/utils/ErrorUtils.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectPlannerSuite.scala
  docs/sql-error-conditions-invalid-handle-error-class.md
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/base_pb2_grpc.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8
