Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Fix the test to not set secret when authentication is disabled
  resource-managers/yarn/src/test/scala/org/apache/spark/network/yarn/YarnShuffleServiceSuite.scala
Due: language-matters

tearDownClass
  python/pyspark/sql/tests/connect/test_parity_arrow_python_udf.py
  python/pyspark/sql/tests/test_arrow_python_udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

rmv f from _create_arrow_py_udf
  python/pyspark/sql/connect/udf.py
  python/pyspark/sql/udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Updated the docs
  common/network-yarn/src/main/java/org/apache/spark/network/yarn/YarnShuffleService.java
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  docs/configuration.md
  docs/running-on-yarn.md
  docs/security.md
Due: language-matters, provider-yamls, markdownlint

done?
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamReader.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

UserWarning
  python/pyspark/sql/connect/udf.py
  python/pyspark/sql/udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

2.
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

finally super tearDownClass
  python/pyspark/sql/tests/connect/test_parity_arrow_python_udf.py
  python/pyspark/sql/tests/test_arrow_python_udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Disallow multi-part attribute names in DSL expressions
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/dsl/package.scala
Due: language-matters

[SPARK-43202][YARN] Replace reflection w/ direct calling for YARN Resource API
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ResourceRequestHelper.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnAllocator.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/ClientSuite.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/ResourceRequestHelperSuite.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/ResourceRequestTestHelper.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnAllocatorSuite.scala
Due: language-matters

Reformat SparkConnectArtifactManager and SparkConnectPlanner
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

[SPARK-43211][HIVE] Remove Hadoop2 support in IsolatedClientLoader
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/client/HadoopVersionInfoSuite.scala
Due: language-matters

Remove invalid functions, check lgConfigK values, add hll_union test
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/datasketchesAggregates.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

fallback to regular udf
  python/pyspark/sql/connect/udf.py
  python/pyspark/sql/udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

minor
  python/pyspark/sql/pandas/serializers.py
  python/pyspark/sql/pandas/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

wip
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

done
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

address comments
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamReader.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

add options for table
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamReader.scala
Due: language-matters

Fix hll_sketch_estimate example
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datasketchesExpressions.scala
Due: language-matters

Fix deduplicate field names.
  python/pyspark/sql/connect/conversion.py
  python/pyspark/sql/tests/test_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-42960][CONNECT][SS] Add await_termination() and exception() API for Streaming Query in Python
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/streaming/query.py
  python/pyspark/sql/streaming/query.py
  python/pyspark/sql/tests/connect/streaming/test_parity_streaming.py
  python/pyspark/sql/tests/streaming/test_streaming.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

option test
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
Due: language-matters

generate golden file
  connector/connect/common/src/test/resources/query-tests/queries/streaming_table_API_with_options.json
Due: language-matters

minor
  connector/connect/common/src/test/resources/query-tests/queries/streaming_table_API_with_options.json
Due: language-matters

[SPARK-43124][SQL] Dataset.show projects CommandResults locally
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters

Fixed unsynced generated files
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/catalog_pb2.py
  python/pyspark/sql/connect/proto/catalog_pb2.pyi
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/proto/common_pb2.py
  python/pyspark/sql/connect/proto/example_plugins_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.py
  python/pyspark/sql/connect/proto/expressions_pb2.pyi
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
  python/pyspark/sql/connect/proto/types_pb2.py
  python/pyspark/sql/connect/proto/types_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Revert [SPARK-39203][SQL] Rewrite table location to absolute URI based on database URI
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveExternalCatalogSuite.scala
Due: language-matters

Fix.
  python/pyspark/sql/connect/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][CONNECT][PYTHON][DOCS] Fix the doc of parameter `num` in `DataFrame.offset`
  python/pyspark/sql/connect/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add to api reference
  python/docs/source/reference/pyspark.sql/dataframe.rst
Due: language-matters

[SPARK-41660][SQL][3.3] Only propagate metadata columns if they are used
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/MetadataColumnSuite.scala
Due: language-matters

[SPARK-43219] Add `INSERT INTO REPLACE WHERE` statement into website
  docs/sql-ref-syntax-dml-insert-table.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-43191][CORE][FOLLOWUP] Use renamed import statement for Hadoop classes
  core/src/main/scala/org/apache/spark/util/Utils.scala
  core/src/test/scala/org/apache/spark/util/UtilsSuite.scala
Due: language-matters

remove isHadooop3
  core/src/main/scala/org/apache/spark/util/VersionUtils.scala
Due: language-matters

[SPARK-43119][SQL] Support Get SQL Keywords Dynamically Thru JDBC API and TVF
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/generators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/SQLKeywordUtils.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/ansi/keywords.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/keywords.sql.out
  sql/core/src/test/resources/sql-tests/inputs/ansi/keywords.sql
  sql/core/src/test/resources/sql-tests/inputs/keywords.sql
  sql/core/src/test/resources/sql-tests/results/ansi/keywords.sql.out
  sql/core/src/test/resources/sql-tests/results/keywords.sql.out
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIService.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
Due: language-matters
