Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-openapi, lint-dockerfile, isort, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$

Fix ReuseExchange issues when subqueries are involved
  sql/core/src/main/scala/org/apache/spark/sql/execution/QueryExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/Exchange.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/subquery.scala
  sql/core/src/test/scala/org/apache/spark/sql/ReuseExchangeAndSubquerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
Due: language-matters

Support UTF8String literals
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/ScalaReflection.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/literals.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/LiteralExpressionSuite.scala
Due: language-matters

[SPARK-20249][ML][PYSPARK] Add summary for LinearSVCModel
  mllib/src/main/scala/org/apache/spark/ml/classification/LinearSVC.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/LinearSVCSuite.scala
  python/pyspark/ml/classification.py
  python/pyspark/ml/tests/test_training_summary.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add PyDocstyle Precommit Hook (#9456)
  .pre-commit-config.yaml
  airflow/cli/commands/info_command.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod_generator.py
  airflow/models/dagcode.py
  airflow/utils/dag_processing.py
  airflow/utils/platform.py
  airflow/utils/strings.py
  backport_packages/refactor_backport_packages.py
  metastore_browser/hive_metastore.py
  scripts/ci/pre_commit_check_order_setup.py
  scripts/perf/dags/elastic_dag.py
  scripts/perf/dags/sql_perf_dag.py
  scripts/perf/perf_kit/__init__.py
  scripts/perf/scheduler_dag_execution_timing.py
  scripts/perf/scheduler_ops_metrics.py
  scripts/perf/sql_queries.py
Due: yamllint, isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Enable & Fix "Missing docstring in public module" PyDocStyle check (#9457)
  .pre-commit-config.yaml
  airflow/configuration.py
  airflow/migrations/versions/cc1e65623dc7_add_max_tries_column_to_task_instance.py
  airflow/models/crypto.py
  airflow/models/dag.py
  airflow/models/kubernetes.py
  airflow/stats.py
  airflow/www/utils.py
  airflow/www/views.py
Due: yamllint, isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Enable & Fix Whitespace related PyDocStyle Checks (#9458)
  .pre-commit-config.yaml
  airflow/api/common/experimental/mark_tasks.py
  airflow/contrib/hooks/azure_container_instance_hook.py
  airflow/contrib/operators/awsbatch_operator.py
  airflow/contrib/operators/oracle_to_oracle_transfer.py
  airflow/contrib/operators/pubsub_operator.py
  airflow/contrib/operators/vertica_to_hive.py
  airflow/contrib/operators/vertica_to_mysql.py
  airflow/contrib/sensors/gcp_transfer_sensor.py
  airflow/contrib/sensors/hdfs_sensor.py
  airflow/contrib/utils/mlengine_prediction_summary.py
  airflow/executors/local_executor.py
  airflow/migrations/versions/74effc47d867_change_datetime_to_datetime2_6_on_mssql_.py
  airflow/operators/google_api_to_s3_transfer.py
  airflow/operators/hive_to_druid.py
  airflow/operators/hive_to_mysql.py
  airflow/operators/mssql_to_hive.py
  airflow/operators/presto_to_mysql.py
  airflow/operators/redshift_to_s3_operator.py
  airflow/operators/s3_to_redshift_operator.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint_config.py
  airflow/providers/amazon/aws/operators/sagemaker_model.py
  airflow/providers/amazon/aws/transfers/s3_to_sftp.py
  airflow/providers/amazon/aws/transfers/sftp_to_s3.py
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/providers/google/cloud/_internal_client/secret_manager_client.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/operators/automl.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/cloud/operators/tasks.py
  airflow/providers/google/marketing_platform/hooks/analytics.py
  airflow/providers/redis/sensors/redis_pub_sub.py
  airflow/providers/sqlite/hooks/sqlite.py
  airflow/secrets/local_filesystem.py
  airflow/serialization/serialized_objects.py
Due: yamllint, isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Select Checks to exclude instead of include for PyDocStyle (#9459)
  .pre-commit-config.yaml
Due: yamllint, language-matters

Enable & Fix "Docstring Content Issues" PyDocStyle Check (#9460)
  .pre-commit-config.yaml
  airflow/models/baseoperator.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/batch_waiters.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/operators/slack.py
  airflow/security/utils.py
  airflow/utils/log/logging_mixin.py
Due: yamllint, isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Remove DELETE /importErrors/{import_error_id} endpoint (#9325)
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_import_error_endpoint.py
Due: yamllint, lint-openapi, isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Add pydocstyle to Breeze Autocomplete (#9462)
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
Due: shellcheck, update-breeze-file, language-matters, check-integrations, bat-tests

Set version 3.1.0 for the SQL config spark.sql.json.filterPushdown.enabled
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

Add an assert to `skipRow()`
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JsonFilters.scala
Due: language-matters

Avoid decimal op in makeInterval
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
Due: language-matters

Avoid decimal op in toMicros
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
Due: language-matters

Re-gen MakeDateTimeBenchmark-jdk11-results.txt
  sql/core/benchmarks/MakeDateTimeBenchmark-jdk11-results.txt
Due: language-matters

Re-gen MakeDateTimeBenchmark-results.txt
  sql/core/benchmarks/MakeDateTimeBenchmark-results.txt
Due: language-matters

Rename variables in test.
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

fix typing error for utils.dates.date_range usage (#9429)
  airflow/models/dag.py
  airflow/models/variable.py
  airflow/utils/dates.py
  airflow/utils/timezone.py
  airflow/www/api/experimental/endpoints.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/test_utils/mock_process.py
Due: isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

More user-friendly message on incorrect configuration (#9436)
  airflow/configuration.py
  airflow/utils/serve_logs.py
  tests/test_configuration.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

add test
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

fix comments
  core/src/main/scala/org/apache/spark/deploy/history/HistoryServerDiskManager.scala
  core/src/test/scala/org/apache/spark/deploy/history/HistoryServerDiskManagerSuite.scala
Due: language-matters

another fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/SchemaPruning.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

Fix function name in airflow/stats.py (#9466)
  airflow/stats.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32044][SS] Kakfa continuous processing print mislead initial offsets log
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaContinuousReader.scala
Due: language-matters

Move modules in `airflow.contrib.utils.log` to `airflow.utils.log` (#9395)
  UPDATING.md
  airflow/contrib/utils/log/__init__.py
  airflow/contrib/utils/log/task_handler_with_custom_formatter.py
  airflow/utils/log/task_handler_with_custom_formatter.py
  tests/deprecated_classes.py
  tests/utils/test_task_handler_with_custom_formatter.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

[SPARK-32034][SQL] Port HIVE-14817: Shutdown the SessionManager timeoutChecker thread properly upon shutdown
  sql/hive-thriftserver/v1.2/src/main/java/org/apache/hive/service/cli/session/SessionManager.java
  sql/hive-thriftserver/v2.3/src/main/java/org/apache/hive/service/cli/session/SessionManager.java
Due: language-matters

[SPARK-31798][SHUFFLE][API] Shuffle Writer API changes to return custom map output metadata
  core/src/main/java/org/apache/spark/shuffle/api/ShuffleMapOutputWriter.java
  core/src/main/java/org/apache/spark/shuffle/api/metadata/MapOutputCommitMessage.java
  core/src/main/java/org/apache/spark/shuffle/api/metadata/MapOutputMetadata.java
  core/src/main/java/org/apache/spark/shuffle/sort/BypassMergeSortShuffleWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/UnsafeShuffleWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskShuffleMapOutputWriter.java
  core/src/main/scala/org/apache/spark/shuffle/sort/SortShuffleWriter.scala
  core/src/test/scala/org/apache/spark/shuffle/sort/io/LocalDiskShuffleMapOutputWriterSuite.scala
Due: language-matters

For comment.
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/AggUtils.scala
Due: language-matters

[SPARK-32034][SQL][2.4] Port HIVE-14817: Shutdown the SessionManager timeoutChecker thread properly upon shutdown
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/session/SessionManager.java
Due: language-matters

Remove unused import.
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/AggUtils.scala
Due: language-matters

Adjust code.
  core/src/test/scala/org/apache/spark/scheduler/DAGSchedulerSuite.scala
Due: language-matters

update comment
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/BaseAggregateExec.scala
Due: language-matters

[SPARK-32039][YARN][WEBUI][Master] Adding Check to not to set UI port (spark.ui.port) property if mentioned explicitly
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
Due: language-matters

[SPARK-XXX][BUILD] Upgrade to Apache Commons Lang 3.10
  dev/deps/spark-deps-hadoop-2.7-hive-1.2
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  pom.xml
Due: language-matters

Update expression description of ArrayFilter and ArrayExists to include examples of IS NULL and IS NOT null predicate
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/higherOrderFunctions.scala
Due: language-matters

fix ut
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

fix resolve
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/LookupCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
Due: language-matters

brush functions
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/functions.scala
Due: language-matters
