Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-openapi, lint-dockerfile, isort, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$

[SPARK-31970][CORE] Make MDC configuration step be consistent between setLocalProperty and log4j.properties
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  docs/configuration.md
Due: language-matters

[SPARK-24634][SS][FOLLOWUP] Rename the variable from "numLateInputs" to "numDropppedRowsByWatermark"
  docs/structured-streaming-programming-guide.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/progress.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/EventTimeWatermarkSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StateStoreMetricsTest.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingQueryStatusAndProgressSuite.scala
Due: language-matters

[SPARK-31642][FOLLOWUP] Fix Sorting for duration column and make Status column sortable
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryPage.scala
Due: language-matters

[SPARK-29152][CORE][2.4] Executor Plugin shutdown when dynamic allocation is enabled
  core/src/main/scala/org/apache/spark/executor/Executor.scala
Due: language-matters

Fix scalastyle
  sql/core/src/test/scala/org/apache/spark/sql/streaming/EventTimeWatermarkSuite.scala
Due: language-matters

Update DateTimeRebaseBenchmark-jdk11-results.txt
  sql/core/benchmarks/DateTimeRebaseBenchmark-jdk11-results.txt
Due: language-matters

Make experimental/endpoints.py Pylint compatible (#9287)
  airflow/models/dagrun.py
  airflow/www/api/experimental/endpoints.py
  scripts/ci/pylint_todo.txt
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

nit
  sql/core/src/test/scala/org/apache/spark/sql/streaming/EventTimeWatermarkSuite.scala
Due: language-matters

fix
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
Due: language-matters

modify objectiveHistory docstring
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  python/pyspark/ml/classification.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix
  mllib/src/test/java/org/apache/spark/ml/classification/JavaLogisticRegressionSuite.java
Due: language-matters

[SPARK-31925][ML] Summary.totalIterations greater than maxIters
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/regression/LinearRegression.scala
  mllib/src/test/scala/org/apache/spark/ml/classification/LogisticRegressionSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/regression/LinearRegressionSuite.scala
  python/pyspark/ml/tests/test_training_summary.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

[SPARK-31983][WEBUI][3.0] Fix sorting for duration column in structured streaming tab
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryPage.scala
Due: language-matters

Revert "[SPARK-29152][CORE][2.4] Executor Plugin shutdown when dynamic allocation is enabled"
  core/src/main/scala/org/apache/spark/executor/Executor.scala
Due: language-matters

[SPARK-27633][SQL] Remove redundant aliases in NestedColumnAliasing
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasing.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasingSuite.scala
Due: language-matters

Fix style
  core/src/test/scala/org/apache/spark/MapOutputTrackerSuite.scala
Due: language-matters

Revert "Fix"
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

Revert
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

[SPARK-21514][SQL] Added description for supported Hive version.
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

improve test queality
  sql/hive/src/test/resources/golden/constant null testing-0-6a01a94ef1b0d29152c88cd3083fd70b
  sql/hive/src/test/resources/golden/constant null testing-0-dce645ca43d2bf888c4d75c456e42f3
  sql/hive/src/test/resources/golden/timestamp cast #3-0-89ef5480d0dd001cec4642de58f8632f
  sql/hive/src/test/resources/golden/timestamp cast #3-0-dce645ca43d2bf888c4d75c456e42f3
  sql/hive/src/test/resources/golden/timestamp cast #3-1-732ed232ac592c5e7f7c913a88874fd2
  sql/hive/src/test/resources/golden/timestamp cast #4-0-5a1f6c48122aae7d90b30df172fa9e5b
  sql/hive/src/test/resources/golden/timestamp cast #4-0-dce645ca43d2bf888c4d75c456e42f3
  sql/hive/src/test/resources/golden/timestamp cast #4-1-6d2da5cfada03605834e38bc4075bc79
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
Due: language-matters

review
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/TableIdentifierParserSuite.scala
Due: language-matters

[SPARK-31926][SQL][TEST-HIVE1.2][TEST-MAVEN] Fix concurrency issue for ThriftCLIService to getPortNumber
  project/SparkBuild.scala
  sql/hive-thriftserver/src/test/resources/log4j.properties
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SharedThriftServer.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerQueryTestSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
  sql/hive-thriftserver/v1.2/src/main/java/org/apache/hive/service/cli/thrift/ThriftBinaryCLIService.java
  sql/hive-thriftserver/v1.2/src/main/java/org/apache/hive/service/cli/thrift/ThriftCLIService.java
  sql/hive-thriftserver/v1.2/src/main/java/org/apache/hive/service/cli/thrift/ThriftHttpCLIService.java
  sql/hive-thriftserver/v2.3/src/main/java/org/apache/hive/service/cli/thrift/ThriftBinaryCLIService.java
  sql/hive-thriftserver/v2.3/src/main/java/org/apache/hive/service/cli/thrift/ThriftCLIService.java
  sql/hive-thriftserver/v2.3/src/main/java/org/apache/hive/service/cli/thrift/ThriftHttpCLIService.java
Due: language-matters

Make airflow/models/errors.py Pylint compatible (#9288)
  airflow/models/errors.py
  scripts/ci/pylint_todo.txt
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-31992][SQL] Benchmark the EXCEPTION rebase mode
  sql/core/benchmarks/DateTimeRebaseBenchmark-jdk11-results.txt
  sql/core/benchmarks/DateTimeRebaseBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/DateTimeRebaseBenchmark.scala
Due: language-matters

Rename numDroppedRowsByWatermark to numRowsDroppedByWatermark
  docs/structured-streaming-programming-guide.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/progress.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/EventTimeWatermarkSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StateStoreMetricsTest.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingQueryStatusAndProgressSuite.scala
Due: language-matters

Fix test
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/RebaseDateTimeSuite.scala
Due: language-matters

Send Celery tasks from main process when sync_parallelism is 1 (#9253)
  airflow/executors/celery_executor.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

SPARK-31994 Docker image should use `https` urls for only deb.debian.org mirrors.
  resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile
Due: language-matters

Fix tree view if config contains " (#9250)
  airflow/www/templates/airflow/tree.html
Due: language-matters

Wait for pipeline state in Data Fusion operators (#8954)
  airflow/providers/google/cloud/example_dags/example_datafusion.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/operators/datafusion.py
  tests/providers/google/cloud/hooks/test_datafusion.py
  tests/providers/google/cloud/operators/test_datafusion.py
  tests/providers/google/cloud/operators/test_datafusion_system.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Due: isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

fix ut failure
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/StreamingQueryStatusStore.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/ui/StreamingQueryPage.scala
Due: language-matters

Resolve upstream tasks when template field is XComArg (#8805)
  airflow/example_dags/example_xcomargs.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/providers/google/cloud/operators/sql_to_gcs.py
  airflow/serialization/serialized_objects.py
  tests/models/test_baseoperator.py
  tests/serialization/test_dag_serialization.py
Due: isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Include some missing RBAC roles on User and Viewer roles (#9133)
  airflow/www/security.py
  tests/www/test_views.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Remove duplicated log line from `db upgrade` (#9305)
  airflow/utils/db.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add /version endpoint (#9296)
  airflow/api_connexion/endpoints/version_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/version_schema.py
  airflow/utils/platform.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_version_endpoint.py
  tests/api_connexion/schemas/test_version_schema.py
Due: yamllint, lint-openapi, isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

address comment
  python/pyspark/sql/types.py
  sql/hive/src/test/scala/org/apache/spark/sql/hive/orc/HiveOrcSourceSuite.scala
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-31925][ML] Summary.totalIterations greater than maxIters
  mllib/src/main/scala/org/apache/spark/ml/classification/LogisticRegression.scala
  mllib/src/main/scala/org/apache/spark/ml/regression/LinearRegression.scala
  mllib/src/test/java/org/apache/spark/ml/classification/JavaLogisticRegressionSuite.java
  mllib/src/test/scala/org/apache/spark/ml/classification/LogisticRegressionSuite.scala
  mllib/src/test/scala/org/apache/spark/ml/regression/LinearRegressionSuite.scala
  python/pyspark/ml/classification.py
  python/pyspark/ml/tests/test_training_summary.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
