Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-openapi, lint-dockerfile, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, flake8, bat-tests, stylelint, mermaid, pre-commit-descriptions

Path conditions:
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/PROVIDERS_CHANGES_*| ^airflow/providers/apache/hive/README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/howto/connection/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^scripts/.*\.py$|^dev|^backport_packages
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$

Check for TaskGroup in _PythonDecoratedOperator (#12312)
  airflow/operators/python.py
  docs/concepts.rst
  tests/operators/test_python.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

All kubernetes tests use the same host python version (#12374)
  .github/workflows/ci.yml
  TESTING.rst
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
Due: shellcheck, language-matters, bat-tests

Addressed comments
  python/pyspark/streaming/kinesis.py
  python/pyspark/streaming/kinesis.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

RuntimeException when querying a view on a partitioned parquet table
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveShim.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/client/HivePartitionFilteringSuite.scala
Due: language-matters

Add DataflowJobStatusSensor and support non-blocking execution of jobs (#11726)
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/sensors/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow_system.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
  tests/providers/google/cloud/sensors/test_dataflow.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, mypy, pylint, flake8

Proper exit status for failed CLI requests (#12375)
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/variable_command.py
  tests/cli/commands/test_connection_command.py
  tests/cli/commands/test_variable_command.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add end-to-end test for subexpression elimination.
  sql/core/src/test/resources/sql-tests/inputs/subexp-elimination.sql
  sql/core/src/test/resources/sql-tests/results/subexp-elimination.sql.out
Due: language-matters

Make review changes
  docs/running-on-mesos.md
  resource-managers/mesos/src/main/scala/org/apache/spark/deploy/mesos/config.scala
  resource-managers/mesos/src/main/scala/org/apache/spark/scheduler/cluster/mesos/MesosClusterScheduler.scala
  resource-managers/mesos/src/test/scala/org/apache/spark/scheduler/cluster/mesos/MesosClusterSchedulerSuite.scala
Due: language-matters

Revert annotation changes
  python/pyspark/context.pyi
  python/pyspark/resource/requests.pyi
Due: language-matters

Put default value again
  resource-managers/mesos/src/main/scala/org/apache/spark/scheduler/cluster/mesos/MesosClusterScheduler.scala
Due: language-matters

[SPARK-33358][SQL] Return code when command process failed
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLCLIDriver.scala
Due: language-matters

[SPARK-33254][PYTHON][DOCS] Migration to NumPy documentation style in Core (pyspark.*, pyspark.resource.*, etc.)
  python/docs/source/reference/pyspark.rst
  python/pyspark/__init__.py
  python/pyspark/accumulators.py
  python/pyspark/broadcast.py
  python/pyspark/conf.py
  python/pyspark/context.py
  python/pyspark/install.py
  python/pyspark/java_gateway.py
  python/pyspark/profiler.py
  python/pyspark/rdd.py
  python/pyspark/resource/information.py
  python/pyspark/resource/profile.py
  python/pyspark/resource/requests.py
  python/pyspark/serializers.py
  python/pyspark/shuffle.py
  python/pyspark/statcounter.py
  python/pyspark/taskcontext.py
  python/pyspark/testing/mlutils.py
  python/pyspark/testing/streamingutils.py
  python/pyspark/testing/utils.py
  python/pyspark/util.py
  python/pyspark/worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

skip sort after limit
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/CombiningLimitsSuite.scala
Due: language-matters

golden file
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q16.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q16.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q16/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q16/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q92.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q92.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q92/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q92/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q94.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q94.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q94/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q94/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q95.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q95.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q95/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q95/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q96.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q96.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q96/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q96/simplified.txt
Due: language-matters

Fixes pull error on building tagged image (#12378)
  scripts/ci/images/ci_build_dockerhub.sh
Due: shellcheck, language-matters, bat-tests

Add extra info when starting extra actions in Breeze (#12377)
  scripts/in_container/check_environment.sh
Due: shellcheck, language-matters, bat-tests

fix YarnSparkHadoopUtil.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnSparkHadoopUtil.scala
Due: language-matters

[SPARK-33451][DOCS] Change to 'spark.sql.adaptive.skewJoin.skewedPartitionThresholdInBytes' in documentation
  docs/sql-performance-tuning.md
Due: language-matters

[SPARK-33253][PYTHON][DOCS] Migration to NumPy documentation style in Streaming (pyspark.streaming.*)
  python/pyspark/streaming/context.py
  python/pyspark/streaming/context.pyi
  python/pyspark/streaming/dstream.py
  python/pyspark/streaming/dstream.pyi
  python/pyspark/streaming/kinesis.py
  python/pyspark/streaming/kinesis.pyi
  python/pyspark/streaming/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix YarnSparkHadoopUtilSuite
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnSparkHadoopUtilSuite.scala
Due: language-matters

Self-contained test
  data/dummy_module.py
  python/pyspark/util.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Simplify the exception message from Python UDFs
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  data/dummy_module.py
  python/pyspark/util.py
  python/pyspark/worker.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowPythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/CoGroupedArrowPythonRunner.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/PythonUDFRunner.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Hive partition pruning support Contains, StartsWith and EndsWith predicate
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveShim.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/client/HivePartitionFilteringSuite.scala
Due: language-matters

添加注释
  bin/beeline
  bin/beeline.cmd
  bin/docker-image-tool.sh
  bin/find-spark-home
  bin/find-spark-home.cmd
  bin/load-spark-env.cmd
  bin/load-spark-env.sh
  bin/pyspark
  bin/pyspark.cmd
  bin/pyspark2.cmd
  bin/run-example
  bin/run-example.cmd
  bin/spark-class
  bin/spark-class.cmd
  bin/spark-class2.cmd
  bin/spark-shell
  bin/spark-shell.cmd
  bin/spark-shell2.cmd
  bin/spark-sql
  bin/spark-sql.cmd
  bin/spark-sql2.cmd
  bin/spark-submit
  bin/spark-submit.cmd
  bin/spark-submit2.cmd
  bin/sparkR
  bin/sparkR.cmd
  bin/sparkR2.cmd
  sql/core/src/main/scala/org/apache/spark/sql/SQLContext.scala
Due: shellcheck, language-matters, bat-tests

Address review comments
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala
  core/src/main/scala/org/apache/spark/storage/BlockManagerMasterEndpoint.scala
Due: language-matters

[SPARK-33288][YARN][FOLLOW-UP][TEST-HADOOP2.7] Fix type mismatch error
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnAllocator.scala
Due: language-matters

fix strategy for handling ... names in mutate
  R/pkg/R/DataFrame.R
Due: language-matters

handle another usage of deparse in attach
  R/pkg/R/DataFrame.R
  R/pkg/R/backports.R
Due: language-matters

need license header in new file
  R/pkg/R/backports.R
Due: language-matters

syntax typo
  R/pkg/R/backports.R
Due: language-matters

need to add new file to DESCRIPTION
  R/pkg/DESCRIPTION
Due: language-matters

linting
  R/pkg/R/DataFrame.R
  R/pkg/R/backports.R
Due: language-matters

more linting
  R/pkg/R/backports.R
Due: language-matters

try a test
  R/pkg/tests/fulltests/test_sparkSQL.R
Due: language-matters

change collate order
  R/pkg/DESCRIPTION
Due: language-matters

more linting
  R/pkg/R/DataFrame.R
Due: language-matters

lint
  R/pkg/R/DataFrame.R
Due: language-matters

remove backports & re-write functionality manually
  R/pkg/DESCRIPTION
  R/pkg/R/DataFrame.R
  R/pkg/R/backports.R
Due: language-matters
