Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

CR fix
  python/pyspark/pandas/plot/matplotlib.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37527][SQL] Translate more standard aggregate functions for pushdown
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/Average.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/Corr.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/CovarPop.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/CovarSamp.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/StddevPop.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/StddevSamp.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/VarPop.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/aggregate/VarSamp.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushDownUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/H2Dialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Update code
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

[SPARK-35703][SQL] Relax constraint for bucket join and remove HashClusteredDistribution
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/DistributionSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/ShuffleSpecSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AQEUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/bucketing/DisableUnnecessaryBucketedScan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/ValidateRequirements.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/ShuffledJoin.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/objects.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingSymmetricHashJoinExec.scala
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q17.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q17.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q25.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q25.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q29.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q29.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q47.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q47.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q57.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q57.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q72.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q72.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q24.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q24.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q47.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q47.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q51a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q51a.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q57.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q57.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q64/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q64/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q72.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q72.sf100/simplified.txt
  sql/core/src/test/scala/org/apache/spark/sql/CachedTableSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/PlannerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/exchange/EnsureRequirementsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/BucketedReadSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingJoinSuite.scala
Due: language-matters

[SPARK-37496][SQL][FOLLOWUP] DataFrameWriter.saveAsTable should take write options in CTAS and RTAS
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2DataFrameSuite.scala
Due: language-matters

Add unit tests for new functions API
  python/pyspark/sql/tests/test_functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

doc addition
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fixed ArrayIndexOutOfBoundsException when reading nested columns from ORC files
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/orc/OrcArrayColumnVector.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/orc/OrcColumnVector.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/orc/OrcColumnVectorUtils.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/orc/OrcMapColumnVector.java
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/orc/OrcQuerySuite.scala
Due: language-matters

Inline annotations for pyspark.mllib.linalg.__init__.py
  python/pyspark/mllib/linalg/__init__.py
  python/pyspark/mllib/linalg/__init__.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Run Python linter
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37676][SQL] Support ANSI Aggregation Function: percentile_cont
  docs/sql-ref-ansi-compliance.md
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBase.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
  sql/core/src/test/resources/sql-tests/inputs/group-by.sql
  sql/core/src/test/resources/sql-tests/results/group-by.sql.out
Due: language-matters, provider-yamls, markdownlint

Removing unnecessary overloads
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Refactor column conversion
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add licence headers also to .pyi files (#20513)
  .pre-commit-config.yaml
Due: language-matters, sort-in-the-wild, pre-commit-descriptions, pre-commit-hook-names

Fix indentations
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/ParquetVectorUpdaterFactory.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedColumnReader.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedParquetRecordReader.java
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedPlainValuesReader.java
Due: language-matters

Check if input is int
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Run linter
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Re-gen Avro golden files by Spark 3.2.0
  external/avro/src/test/resources/before_1582_date_v3_2_0.avro
  external/avro/src/test/resources/before_1582_date_v3_2_2.avro
  external/avro/src/test/resources/before_1582_timestamp_micros_v3_2_0.avro
  external/avro/src/test/resources/before_1582_timestamp_micros_v3_2_2.avro
  external/avro/src/test/resources/before_1582_timestamp_millis_v3_2_0.avro
  external/avro/src/test/resources/before_1582_timestamp_millis_v3_2_2.avro
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
Due: language-matters

Re-gen Parquet golden files by Spark 3.2.0
  sql/core/src/test/resources/test-data/before_1582_date_v3_2_0.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_date_v3_2_2.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_int96_dict_v3_2_0.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_int96_dict_v3_2_2.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_int96_plain_v3_2_0.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_int96_plain_v3_2_2.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_micros_v3_2_0.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_micros_v3_2_2.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_millis_v3_2_0.snappy.parquet
  sql/core/src/test/resources/test-data/before_1582_timestamp_millis_v3_2_2.snappy.parquet
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRebaseDatetimeSuite.scala
Due: language-matters

[SPARK-37746][CORE] log4j2-defaults.properties is not working since log4j 2 is always initialized by default
  core/src/main/resources/org/apache/spark/log4j2-defaults.properties
  core/src/main/scala/org/apache/spark/internal/Logging.scala
Due: language-matters

Fix: pin pymongo < 4.0.0 (#20511)
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

SPARK-37754 the version of black in reformat-python is inconsistent to build_and_test.yml
  dev/reformat-python
Due: language-matters

Increase time limit for Helm chart unit tests (#20525)
  .github/workflows/ci.yml
Due: language-matters

Update connection object to ``cached_property`` in ``DatabricksHook`` (#20526)
  airflow/providers/databricks/hooks/databricks.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Remove ``execution_date`` label when get cleanup pods list (#20417)
  airflow/cli/commands/kubernetes_command.py
  tests/cli/commands/test_kubernetes_command.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37755][CORE] Optimize RocksDB configurations
  common/kvstore/src/main/java/org/apache/spark/util/kvstore/RocksDB.java
Due: language-matters

For review comment.
  sql/core/src/main/scala/org/apache/spark/sql/execution/metric/CustomMetrics.scala
Due: language-matters

setIndexBlockRestartInterval(8)
  common/kvstore/src/main/java/org/apache/spark/util/kvstore/RocksDB.java
Due: language-matters

[SPARK-37755][CORE] Optimize RocksDB KVStore configurations
  common/kvstore/src/main/java/org/apache/spark/util/kvstore/RocksDB.java
Due: language-matters

Support the utils for transform number format
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/NumberUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/NumberUtilsSuite.scala
Due: language-matters

Update sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/NumberUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/NumberUtils.scala
Due: language-matters

Update code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/NumberUtils.scala
Due: language-matters

[SPARK-37730][PYTHON] Replace use of MPLPlot._add_legend_handle with MPLPlot._append_legend_handles_labels
  python/pyspark/pandas/plot/matplotlib.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37756][PYTHON] Enable matplotlib test for pandas API on Spark
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-37760][BUILD] Upgrade SBT to 1.6.0
  dev/appveyor-install-dependencies.ps1
  project/build.properties
Due: language-matters

Fix the installing location
  .github/workflows/build_and_test.yml
Due: language-matters

For review comment.
  sql/core/src/test/scala/org/apache/spark/sql/execution/ui/SQLAppStatusListenerSuite.scala
Due: language-matters
