Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-48672][DOC] Update Jakarta Servlet reference in security page
  docs/security.md
Due: language-matters, provider-yamls, markdownlint

Update core/src/main/scala/org/apache/spark/internal/config/ConfigEntry.scala
  core/src/main/scala/org/apache/spark/internal/config/ConfigEntry.scala
Due: language-matters

wip
  connector/connect/common/pom.xml
  pom.xml
  project/SparkBuild.scala
  sql/api/pom.xml
  sql/api/src/main/protobuf/spark/connect/catalog.proto
  sql/api/src/main/protobuf/spark/connect/commands.proto
  sql/api/src/main/protobuf/spark/connect/common.proto
  sql/api/src/main/protobuf/spark/connect/example_plugins.proto
  sql/api/src/main/protobuf/spark/connect/expressions.proto
  sql/api/src/main/protobuf/spark/connect/relations.proto
  sql/api/src/main/protobuf/spark/connect/types.proto
Due: language-matters

[SPARK-48630][INFRA] Make `merge_spark_pr` keep the format of revert PR
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

[SPARK-48656][CORE] Do a length check and throw COLLECTION_SIZE_LIMIT_EXCEEDED error in `CartesianRDD.getPartitions`
  core/src/main/scala/org/apache/spark/errors/SparkCoreErrors.scala
  core/src/main/scala/org/apache/spark/rdd/CartesianRDD.scala
  core/src/test/scala/org/apache/spark/rdd/RDDSuite.scala
Due: language-matters

init
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix
  common/utils/src/main/scala/org/apache/spark/internal/Logging.scala
  common/utils/src/test/scala/org/apache/spark/util/StructuredLoggingSuite.scala
Due: language-matters

[SPARK-48490][CORE][TESTS][FOLLOWUP] Add some UT to the Windows paths scene
  common/utils/src/test/scala/org/apache/spark/util/PatternLoggingSuite.scala
  common/utils/src/test/scala/org/apache/spark/util/StructuredLoggingSuite.scala
Due: language-matters

Update test_udtf.py
  python/pyspark/sql/tests/test_udtf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48680][DOCS] Add char/varchar doc to language specific tables
  docs/sql-ref-datatypes.md
Due: language-matters, provider-yamls, markdownlint

refactoring
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/SQLConfSuite.scala
Due: language-matters

update
  python/pyspark/sql/tests/test_arrow_python_udf.py
  python/pyspark/sql/tests/test_udtf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix to_xml
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/StaxXmlGenerator.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLExpressionsSuite.scala
Due: language-matters

Minor improvement
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnStats.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/ColumnStatsSuite.scala
Due: language-matters

[SPARK-48659][SQL][TESTS] Unify v1 and v2 ALTER TABLE .. SET TBLPROPERTIES tests
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableSetTblPropertiesParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlterTableSetTblPropertiesSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/AlterTableSetTblPropertiesSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableSetTblPropertiesSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/AlterTableSetTblPropertiesSuite.scala
Due: language-matters

Add some comments
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/CollationSupportSuite.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

NonASCII results
  sql/core/benchmarks/CollationNonASCIIBenchmark-jdk21-results.txt
  sql/core/benchmarks/CollationNonASCIIBenchmark-results.txt
Due: language-matters

fix
  sql/core/src/main/scala/org/apache/spark/sql/MergeIntoWriter.scala
Due: language-matters

add test
  sql/core/src/test/scala/org/apache/spark/sql/connector/MergeIntoDataFrameSuite.scala
Due: language-matters

proto
  connector/connect/common/src/main/protobuf/spark/connect/expressions.proto
  python/pyspark/sql/connect/proto/expressions_pb2.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48490][CORE][FOLLOWUP] Properly process escape sequences
  common/utils/src/main/scala/org/apache/spark/internal/Logging.scala
  common/utils/src/test/scala/org/apache/spark/util/StructuredLoggingSuite.scala
Due: language-matters

Improve readability
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/ColumnTypeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/NullableColumnAccessorSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/NullableColumnBuilderSuite.scala
Due: language-matters

[SPARK-48662][SQL] Fix StructsToXml expression with collations
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/StaxXmlGenerator.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSQLExpressionsSuite.scala
Due: language-matters

fix some typos
  common/utils/src/main/resources/error/error-states.json
Due: language-matters

Update results
  sql/core/benchmarks/CollationNonASCIIBenchmark-jdk21-results.txt
  sql/core/benchmarks/CollationNonASCIIBenchmark-results.txt
Due: language-matters

R 4.4.0
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-48684][INFRA] Print related JIRA summary before proceeding merge
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Revert "Revert "[SPARK-48554][INFRA] Use R 4.4.0 in `windows` R GitHub Action Window job""
  .github/workflows/build_sparkr_window.yml
Due: language-matters

scalastyle
  common/unsafe/src/test/scala/org/apache/spark/unsafe/types/CollationFactorySuite.scala
Due: language-matters

[SPARK-47172][CORE] Add support for AES-GCM for RPC encryption
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthEngine.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/CtrTransportCipher.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/GcmTransportCipher.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/TransportCipher.java
  common/network-common/src/main/java/org/apache/spark/network/util/ByteBufferWriteableChannel.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthEngineSuite.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthIntegrationSuite.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/CtrAuthEngineSuite.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/GcmAuthEngineSuite.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/TransportCipherSuite.java
  docs/security.md
Due: language-matters, provider-yamls, markdownlint

initial
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JsonInferSchema.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
Due: language-matters

[SPARK-48675][SQL] Fix cache table with collated column
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnAccessor.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnStats.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnType.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/GenerateColumnAccessor.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/compression/compressionSchemes.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/ColumnStatsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/ColumnTypeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/ColumnarTestUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/NullableColumnAccessorSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/NullableColumnBuilderSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/compression/CompressionSchemeBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/compression/DictionaryEncodingSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/columnar/compression/RunLengthEncodingSuite.scala
Due: language-matters

change result into double
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JsonInferSchema.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
Due: language-matters

CollationSpecUTF8
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationFactory.java
Due: language-matters

renaming to ExecutionInfo;
  python/pyspark/sql/classic/dataframe.py
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/readwriter.py
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/metrics.py
  python/pyspark/sql/tests/connect/test_df_debug.py
  python/pyspark/sql/tests/test_dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Misc updates
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamingSymmetricHashJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/SymmetricHashJoinStateManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
Due: language-matters

[SPARK-48490][CORE][TESTS][FOLLOWUP] Add some UT for the Windows paths scene
  common/utils/src/test/scala/org/apache/spark/util/PatternLoggingSuite.scala
  common/utils/src/test/scala/org/apache/spark/util/StructuredLoggingSuite.scala
Due: language-matters

Address review feedback: remove shadowing and some branches
  core/src/main/scala/org/apache/spark/internal/config/ConfigEntry.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
