Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Update benchmark result
  sql/core/benchmarks/AggregateBenchmark-jdk11-results.txt
  sql/core/benchmarks/AggregateBenchmark-results.txt
Due: language-matters

Fix the count of df is zero.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Average.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

Add archive support for CREATE FUNCTION.
  sql/core/src/main/scala/org/apache/spark/sql/internal/SessionState.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveUDFSuite.scala
Due: language-matters

[SPARK-26164][SQL] Allow concurrent writers for writing dynamic partitions and bucket table
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroOutputWriter.scala
  mllib/src/main/scala/org/apache/spark/ml/source/libsvm/LibSVMRelation.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/BasicWriteStatsTracker.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatDataWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/OutputWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/WriteStatsTracker.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/csv/CsvOutputWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/json/JsonOutputWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcOutputWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetOutputWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/text/TextOutputWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileWriterFactory.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/DataFrameReaderWriterSuite.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/HiveFileFormat.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/orc/OrcFileFormat.scala
  sql/hive/src/test/scala/org/apache/spark/sql/sources/SimpleTextRelation.scala
Due: language-matters

[SPARK-35139][SQL] Support ANSI intervals as Arrow Column vectors
  sql/catalyst/src/main/java/org/apache/spark/sql/vectorized/ArrowColumnVector.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/util/ArrowUtilsSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/arrow/ArrowWriter.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/arrow/ArrowWriterSuite.scala
Due: language-matters

Update intervalExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/intervalExpressions.scala
Due: language-matters

refactoring & fix higher-order functions
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/functions/ScalarFunction.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/LookupCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2FunctionSuite.scala
Due: language-matters

refine
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/intervalExpressions.scala
Due: language-matters

remove unnecessary changes
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
Due: language-matters

[SPARK-35235][SQL][TEST] Add row-based hash map into aggregate benchmark
  sql/core/benchmarks/AggregateBenchmark-jdk11-results.txt
  sql/core/benchmarks/AggregateBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/AggregateBenchmark.scala
Due: language-matters

[DOC] Add JindoFS SDK in cloud integration documents
  docs/cloud-integration.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-35169][SQL] Fix wrong result of min ANSI interval division by -1
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/intervalExpressions.scala
  sql/core/src/test/resources/sql-tests/inputs/interval.sql
  sql/core/src/test/resources/sql-tests/results/ansi/interval.sql.out
  sql/core/src/test/resources/sql-tests/results/interval.sql.out
Due: language-matters

Standardize input validation error type on pandas
  python/pyspark/pandas/base.py
  python/pyspark/pandas/config.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/generic.py
  python/pyspark/pandas/groupby.py
  python/pyspark/pandas/indexes/base.py
  python/pyspark/pandas/indexes/multi.py
  python/pyspark/pandas/namespace.py
  python/pyspark/pandas/plot/core.py
  python/pyspark/pandas/series.py
  python/pyspark/pandas/strings.py
  python/pyspark/pandas/tests/indexes/test_base.py
  python/pyspark/pandas/tests/test_config.py
  python/pyspark/pandas/tests/test_dataframe.py
  python/pyspark/pandas/tests/test_groupby.py
  python/pyspark/pandas/tests/test_namespace.py
  python/pyspark/pandas/tests/test_ops_on_diff_frames.py
  python/pyspark/pandas/tests/test_series.py
  python/pyspark/pandas/tests/test_series_string.py
  python/pyspark/pandas/tests/test_utils.py
  python/pyspark/pandas/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Use CheckpointFileManager for checkpoint file manipulation.
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/CheckpointFileManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/ResolveWriteToStream.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamExecution.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamMetadata.scala
Due: language-matters

fix test failure
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/LookupFunctionsSuite.scala
Due: language-matters

Coalesce shuffle partition should handle empty input RDD
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/ShufflePartitionsUtil.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

[SPARK-34837][SQL][FOLLOWUP] Fix division by zero in the avg function over ANSI intervals
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Average.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

Use Pip 21.* to install airflow officially (#15513)
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  INSTALL
  LOCAL_VIRTUALENV.rst
  README.md
  UPDATING.md
  airflow/provider.yaml.schema.json
  airflow/providers/apache/beam/CHANGELOG.rst
  airflow/providers/apache/beam/README.md
  airflow/providers/apache/beam/provider.yaml
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/provider.yaml
  airflow/providers/microsoft/mssql/hooks/mssql.py
  dev/provider_packages/PROVIDER_INDEX_TEMPLATE.rst.jinja2
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow/installation.rst
  docs/apache-airflow/start/local.rst
  docs/apache-airflow/upgrade-check.rst
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_install_and_test_provider_packages.sh
  scripts/in_container/run_prepare_provider_documentation.sh
  scripts/in_container/run_prepare_provider_packages.sh
  setup.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
Due: lint-dockerfile, setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Add note for pyspark aarch64 user
  python/docs/source/getting_started/install.rst
Due: language-matters

[SPARK-33195][UI] Fix stages/stage UI page fails because of uri paramters encoded twice
  core/src/main/scala/org/apache/spark/status/api/v1/StagesResource.scala
  core/src/test/scala/org/apache/spark/status/api/v1/StagesResourceSuite.scala
Due: language-matters

remove SafeJsonSerializer
  sql/core/src/main/scala/org/apache/spark/sql/streaming/progress.scala
Due: language-matters

Fixes wrong limit for dask for python>3.7 (should be <3.7) (#15545)
  setup.py
Due: setup-order, setup-extra-packages, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

[SPARK-35228][SQL] Add expression ToHiveString for keep consistent between hive/spark format in df.show and transform
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/hiveStringExpression.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/StringExpressionsSuite.scala
Due: language-matters

revert testing code
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskShuffleMapOutputWriter.java
  core/src/main/scala/org/apache/spark/network/netty/NettyBlockTransferService.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
Due: language-matters

init
  common/network-common/src/main/java/org/apache/spark/network/corruption/Cause.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/BlockStoreClient.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/ExternalBlockStoreClient.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/protocol/BlockTransferMessage.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/protocol/CorruptionCause.java
  common/network-shuffle/src/main/java/org/apache/spark/network/shuffle/protocol/DiagnoseCorruption.java
  core/src/main/java/org/apache/spark/io/CountingWritableChannel.java
  core/src/main/java/org/apache/spark/shuffle/api/metadata/MapOutputCommitMessage.java
  core/src/main/java/org/apache/spark/shuffle/sort/BypassMergeSortShuffleWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/ShuffleExternalSorter.java
  core/src/main/java/org/apache/spark/shuffle/sort/UnsafeShuffleWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskShuffleMapOutputWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskSingleSpillMapOutputWriter.java
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/network/BlockDataManager.scala
  core/src/main/scala/org/apache/spark/network/netty/NettyBlockRpcServer.scala
  core/src/main/scala/org/apache/spark/network/netty/NettyBlockTransferService.scala
  core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala
  core/src/main/scala/org/apache/spark/shuffle/IndexShuffleBlockResolver.scala
  core/src/main/scala/org/apache/spark/storage/BlockId.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/DiskBlockObjectWriter.scala
  core/src/main/scala/org/apache/spark/storage/DiskStore.scala
  core/src/main/scala/org/apache/spark/storage/FileSegment.scala
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
  core/src/test/java/org/apache/spark/shuffle/sort/UnsafeShuffleWriterSuite.java
  core/src/test/scala/org/apache/spark/shuffle/sort/BypassMergeSortShuffleWriterSuite.scala
  core/src/test/scala/org/apache/spark/shuffle/sort/IndexShuffleBlockResolverSuite.scala
  core/src/test/scala/org/apache/spark/shuffle/sort/io/LocalDiskShuffleMapOutputWriterSuite.scala
Due: language-matters

Group exception messages in catalyst/util
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/ArrayBasedMapBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/SplitTest.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TypeUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

[SPARK-35239][SQL] Coalesce shuffle partition should handle empty input RDD
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/ShufflePartitionsUtil.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

[SPARK-35091][SPARK-35090][SQL] Support extract from ANSI Intervals
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/intervalExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/IntervalUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/IntervalExpressionsSuite.scala
  sql/core/src/test/resources/sql-tests/inputs/extract.sql
  sql/core/src/test/resources/sql-tests/results/extract.sql.out
Due: language-matters

[MINOR][DOCS][ML] Explicit return type of array_to_vector utility function
  python/pyspark/ml/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-35238][DOC] Add JindoFS SDK in cloud integration documents
  docs/cloud-integration.md
Due: language-matters, provider-yamls, markdownlint

revert testing code
  core/src/main/scala/org/apache/spark/shuffle/IndexShuffleBlockResolver.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
Due: language-matters

Fix typos
  python/docs/source/getting_started/install.rst
Due: language-matters

SPARK-35244: invoke should throw the original exception
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/objects/objects.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/ObjectExpressionsSuite.scala
Due: language-matters

fix check
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/UnsupportedOperationChecker.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/UnsupportedOperationsSuite.scala
Due: language-matters

Add mask function.
  sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/expressions/ExpressionInfo.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/ColumnExpressionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/test/SQLTestData.scala
Due: language-matters

Update INTHEWILD.md (#15550)
  INTHEWILD.md
Due: language-matters, sort-in-the-wild, markdownlint

[SPARK-35150][ML] Accelerate fallback BLAS with dev.ludovic.netlib
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  docs/ml-linalg-guide.md
  graphx/pom.xml
  graphx/src/main/scala/org/apache/spark/graphx/lib/SVDPlusPlus.scala
  licenses-binary/LICENSE-blas.txt
  mllib-local/pom.xml
  mllib-local/src/jvm-vectorized/java/org/apache/spark/ml/linalg/VectorizedBLAS.java
  mllib-local/src/main/scala/org/apache/spark/ml/linalg/BLAS.scala
  mllib-local/src/test/scala/org/apache/spark/ml/linalg/BLASBenchmark.scala
  mllib/pom.xml
  mllib/src/main/scala/org/apache/spark/mllib/feature/Word2Vec.scala
  mllib/src/main/scala/org/apache/spark/mllib/linalg/ARPACK.scala
  mllib/src/main/scala/org/apache/spark/mllib/linalg/BLAS.scala
  mllib/src/main/scala/org/apache/spark/mllib/linalg/CholeskyDecomposition.scala
  mllib/src/main/scala/org/apache/spark/mllib/linalg/EigenValueDecomposition.scala
  mllib/src/main/scala/org/apache/spark/mllib/linalg/LAPACK.scala
  mllib/src/main/scala/org/apache/spark/mllib/linalg/Matrices.scala
  mllib/src/main/scala/org/apache/spark/mllib/optimization/NNLS.scala
  mllib/src/main/scala/org/apache/spark/mllib/recommendation/MatrixFactorizationModel.scala
  mllib/src/main/scala/org/apache/spark/mllib/stat/KernelDensity.scala
  mllib/src/main/scala/org/apache/spark/mllib/tree/model/treeEnsembleModels.scala
  mllib/src/main/scala/org/apache/spark/mllib/util/SVMDataGenerator.scala
  mllib/src/test/scala/org/apache/spark/mllib/linalg/BLASSuite.scala
  pom.xml
  project/SparkBuild.scala
  python/pyspark/ml/recommendation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-apache-license, provider-yamls, markdownlint, mypy, pylint, flake8

Add Connection Documentation for Providers (#15499)
  airflow/providers/amazon/aws/transfers/mysql_to_s3.py
  airflow/providers/google/cloud/transfers/bigquery_to_mysql.py
  airflow/providers/google/cloud/transfers/mysql_to_gcs.py
  airflow/providers/mysql/hooks/mysql.py
  airflow/providers/mysql/operators/mysql.py
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/s3_to_mysql.py
  airflow/providers/mysql/transfers/trino_to_mysql.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
  airflow/providers/neo4j/hooks/neo4j.py
  airflow/providers/neo4j/operators/neo4j.py
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/operators/slack.py
  airflow/providers/tableau/hooks/tableau.py
  airflow/providers/tableau/operators/tableau_refresh_workbook.py
  airflow/providers/tableau/sensors/tableau_job_status.py
  docs/apache-airflow-providers-mysql/connections/mysql.rst
  docs/apache-airflow-providers-neo4j/connections/neo4j.rst
  docs/apache-airflow-providers-slack/connections/slack.rst
  docs/apache-airflow-providers-slack/index.rst
  docs/apache-airflow-providers-tableau/connections/tableau.rst
  docs/apache-airflow-providers-tableau/index.rst
  docs/spelling_wordlist.txt
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, mypy, pylint, flake8

Add Connection Documentation for Popular Providers (#15393)
  airflow/providers/apache/spark/hooks/spark_jdbc.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/apache/spark/operators/spark_jdbc.py
  airflow/providers/apache/spark/operators/spark_submit.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  airflow/providers/cncf/kubernetes/sensors/spark_kubernetes.py
  airflow/providers/docker/hooks/docker.py
  airflow/providers/docker/operators/docker.py
  airflow/providers/docker/operators/docker_swarm.py
  airflow/providers/imap/hooks/imap.py
  airflow/providers/imap/sensors/imap_attachment.py
  airflow/providers/mongo/hooks/mongo.py
  airflow/providers/mongo/sensors/mongo.py
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/postgres/operators/postgres.py
  docs/apache-airflow-providers-apache-spark/connections/spark.rst
  docs/apache-airflow-providers-cncf-kubernetes/connections/kubernetes.rst
  docs/apache-airflow-providers-docker/connections/docker.rst
  docs/apache-airflow-providers-docker/index.rst
  docs/apache-airflow-providers-imap/connections/imap.rst
  docs/apache-airflow-providers-imap/index.rst
  docs/apache-airflow-providers-mongo/connections/mongo.rst
  docs/apache-airflow-providers-mongo/index.rst
  docs/apache-airflow-providers-postgres/connections/postgres.rst
  docs/spelling_wordlist.txt
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, mypy, pylint, flake8
