Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

add a ticket
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/common/ProtoUtils.scala
Due: language-matters

address comments
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/common/ProtoUtils.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectStreamHandler.scala
Due: language-matters

address comments
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/common/ProtoUtils.scala
Due: language-matters

special internal field metadata should not be leaked to catalogs
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/package.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/createDataSourceTables.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/MetadataColumnSuite.scala
Due: language-matters

Revert "Revert "Revert "Try ammonite fix"""
  resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile
Due: lint-dockerfile, language-matters

simplify testing config
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/SimpleSparkConnectService.scala
  core/src/main/scala/org/apache/spark/SparkContext.scala
Due: language-matters

[SPARK-43124][SQL] Dataset.show() projects CommandResults locally
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters

init
  python/pyspark/ml/tests/connect/test_parity_torch_distributor.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

remove type
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

[SPARK-43120][SS] Add support for tracking pinned blocks memory usage for RocksDB state store
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDB.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreProvider.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreIntegrationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBSuite.scala
Due: language-matters

[SPARK-43125][CONNECT][SERVER] Fix Connect Server Can't Handle Exception With Null Message
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
Due: language-matters

mark two Hive UDF expressions as stateful
  sql/hive/src/main/scala/org/apache/spark/sql/hive/hiveUDFs.scala
Due: language-matters

revert LocalProject
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/basicPhysicalOperators.scala
Due: language-matters

convert to LocalRelation in getRows
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

[SPARK-41674][SQL] Runtime filter should supports multi level shuffle join side as filter creation side
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InjectRuntimeFilter.scala
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q24a.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q24a.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q24b.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q24b.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q37.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q37.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q82.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q82.sf100/simplified.txt
  sql/core/src/test/scala/org/apache/spark/sql/InjectRuntimeFilterSuite.scala
Due: language-matters

[SPARK-35723] set k8s pod memory separately
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/Config.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStep.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/BasicExecutorFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicDriverFeatureStepSuite.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/BasicExecutorFeatureStepSuite.scala
Due: language-matters

update BucketedReadSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/BucketedReadSuite.scala
Due: language-matters

Bug fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Expression.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/WholeStageCodegenExec.scala
Due: language-matters

respond to code review comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultColumns.scala
  sql/core/src/test/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultColumnsSuite.scala
Due: language-matters

respond to code review comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveDefaultColumns.scala
Due: language-matters

streaming scala spark connect
  connector/connect/bin/spark-connect-scala-client-classpath
  connector/connect/client/jvm/src/main/java/org/apache/spark/sql/streaming/Trigger.java
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/Dataset.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/execution/streaming/Triggers.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamReader.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQuery.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryStatus.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/progress.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

change schema type to string
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/group.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add spark connect for applyInPandasWithState
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/group.py
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/catalog_pb2.pyi
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/proto/common_pb2.pyi
  python/pyspark/sql/connect/proto/example_plugins_pb2.pyi
  python/pyspark/sql/connect/proto/expressions_pb2.pyi
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
  python/pyspark/sql/connect/proto/types_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

proto change
  python/pyspark/sql/connect/proto/relations_pb2.pyi
Due: language-matters

remove unused code
  python/pyspark/sql/connect/group.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

format
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  python/pyspark/sql/connect/group.py
  python/pyspark/sql/connect/plan.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add test file
  dev/sparktestsupport/modules.py
  python/pyspark/sql/tests/connect/test_parity_pandas_grouped_map_with_state.py
  python/pyspark/sql/tests/pandas/test_pandas_grouped_map_with_state.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add versionchanged
  python/pyspark/sql/pandas/group_ops.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

remove unsupported group function test
  python/pyspark/sql/tests/connect/test_connect_basic.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43130][SQL] Move InternalType to PhysicalDataType and refactor to use PhysicalDataType whenever makes sense.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/ScalaReflection.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/ApproxCountDistinctForIntervals.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/ApproximatePercentile.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/AbstractDataType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/BinaryType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/BooleanType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/ByteType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/CharType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DateType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DayTimeIntervalType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DecimalType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/DoubleType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/FloatType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/IntegerType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/LongType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/ShortType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/TimestampNTZType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/TimestampType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/VarcharType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/YearMonthIntervalType.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnAccessor.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/ColumnType.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/compression/CompressibleColumnAccessor.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/compression/CompressibleColumnBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/compression/CompressionScheme.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/columnar/compression/compressionSchemes.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetRowConverter.scala
Due: language-matters

formatting
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

a few more fixes
  connector/connect/client/jvm/src/main/java/org/apache/spark/sql/streaming/Trigger.java
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/Dataset.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQuery.scala
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryStatus.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/streaming/StreamingQuerySuite.scala
Due: language-matters

done
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  python/pyspark/sql/connect/client.py
  python/pyspark/sql/connect/streaming/query.py
  python/pyspark/sql/tests/connect/streaming/test_parity_streaming.py
  python/pyspark/sql/tests/streaming/test_streaming.py
  sql/core/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryManager.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

minor
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/client.py
  python/pyspark/sql/connect/streaming/query.py
  python/pyspark/sql/tests/connect/streaming/test_parity_streaming.py
  python/pyspark/sql/tests/streaming/test_streaming.py
  sql/core/src/main/scala/org/apache/spark/sql/streaming/StreamingQueryManager.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Revert "Another possible fix"
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/BroadcastNestedLoopJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/HashJoin.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/JoinCodegenSupport.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/ShuffledHashJoinExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/SortMergeJoinExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

Update tests
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

remove debugging statements
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

Possible fix
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/JoinCodegenSupport.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
