Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

ODP-version update
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Due: language-matters

Fix Upper, Lower, InitCap
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationSupport.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

only do comparison without collations in dataTypeUtils
  sql/api/src/main/scala/org/apache/spark/sql/types/DataType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/types/DataTypeUtils.scala
Due: language-matters

[SPARK-47863][SQL] Fix startsWith & endsWith collation-aware implementation for ICU
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationSupport.java
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/CollationSupportSuite.java
Due: language-matters

[SPARK-46810][DOCS][FOLLOWUP] Make file links clickable
  common/utils/src/main/resources/error/README.md
Due: language-matters, markdownlint

init
  sql/core/src/main/scala/org/apache/spark/sql/execution/limit.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/RowQueue.scala
Due: language-matters

Add new CollationBenchmark results
  sql/core/benchmarks/CollationBenchmark-jdk21-results.txt
  sql/core/benchmarks/CollationBenchmark-results.txt
  sql/core/benchmarks/CollationNonASCIIBenchmark-jdk21-results.txt
  sql/core/benchmarks/CollationNonASCIIBenchmark-results.txt
Due: language-matters

address comments & simplify
  sql/core/src/main/scala/org/apache/spark/sql/execution/limit.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/RowQueue.scala
Due: language-matters

Change foreach(...) -> foreach {...} for code to look more idiomatic
  sql/core/benchmarks/CollationBenchmark-jdk21-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/CollationBenchmark.scala
Due: language-matters

Rename benchmark functions in a more sensible way
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/CollationBenchmark.scala
Due: language-matters

[SPARK-47763][CONNECT][TESTS] Enable local-cluster tests with pyspark-connect package
  .github/workflows/build_python_connect.yml
  python/packaging/connect/setup.py
  python/pyspark/resource/tests/test_connect_resources.py
  python/pyspark/sql/tests/connect/client/test_artifact.py
  python/pyspark/sql/tests/connect/test_resources.py
  python/pyspark/sql/tests/test_resources.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

[SPARK-47885][PYTHON][CONNECT] Make pyspark.resource compatible with pyspark-connect
  python/pyspark/resource/profile.py
  python/pyspark/resource/requests.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

Rework
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CollationTypeCasts.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

init
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
Due: language-matters

Add tests and fix codegen
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationSupport.java
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/CollationSupportSuite.java
Due: language-matters

[SPARK-47765][SQL][FOLLOWUP] Disable SET COLLATION when collations are disabled
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkSqlParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/SQLConfSuite.scala
Due: language-matters

Address comments
  core/src/main/scala/org/apache/spark/shuffle/IndexShuffleBlockResolver.scala
  core/src/main/scala/org/apache/spark/shuffle/MigratableResolver.scala
  core/src/main/scala/org/apache/spark/shuffle/sort/SortShuffleManager.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/CacheManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SessionState.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/test/TestHive.scala
Due: language-matters

Remove unnecessary changes
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SessionState.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/test/TestHive.scala
Due: language-matters

align error terminology with SPARK-46810
  docs/css/custom.css
  docs/sql-error-conditions.md
  docs/util/build-error-docs.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

generate error docs from main jekyll build
  docs/_plugins/build_api_docs.rb
Due: language-matters, provider-yamls

fmt
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: language-matters

[SPARK-47886][SQL][DOCS][TESTS] Postgres: Add tests and doc for Postgres special numeric values
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/PostgresIntegrationSuite.scala
  docs/sql-data-sources-jdbc.md
Due: language-matters, provider-yamls, markdownlint

python deps are now required for main docs build
  docs/README.md
Due: language-matters, provider-yamls, markdownlint

break out jekyll build options into bullet points
  docs/README.md
Due: language-matters, provider-yamls, markdownlint

typo fix
  docs/util/build-error-docs.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, mypy, pylint, flake8

add intro prose to error conditions page
  docs/sql-error-conditions.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-47416][SQL] Add new functions to CollationBenchmark
  sql/core/benchmarks/CollationBenchmark-jdk21-results.txt
  sql/core/benchmarks/CollationBenchmark-results.txt
  sql/core/benchmarks/CollationNonASCIIBenchmark-jdk21-results.txt
  sql/core/benchmarks/CollationNonASCIIBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/CollationBenchmark.scala
Due: language-matters

Remove unused import
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CollationTypeCasts.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
Due: language-matters

[SPARK-47418][SQL] Add hand-crafted implementations for lowercase unicode-aware contains, startsWith and endsWith and optimize UTF8_BINARY_LCASE
  common/unsafe/src/main/java/org/apache/spark/sql/catalyst/util/CollationSupport.java
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/CollationSupportSuite.java
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/UTF8StringSuite.java
Due: language-matters

[SPARK-47726][DOC] Document push-based shuffle metrics
  docs/monitoring.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-47360][SQL] Collation support: Overlay, FormatString, Length, BitLength, OctetLength, SoundEx, Luhncheck
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CollationTypeCasts.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/encoders/EncoderUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
Due: language-matters

[SPARK-47627][SQL] Add SQL MERGE syntax to enable schema evolution
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
  docs/sql-ref-ansi-compliance.md
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseLexer.g4
  sql/api/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/PullupCorrelatedPredicatesSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/ReplaceNullWithFalseInPredicateSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/MergeIntoWriter.scala
  sql/core/src/test/resources/sql-tests/results/ansi/keywords.sql.out
  sql/core/src/test/resources/sql-tests/results/keywords.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
Due: language-matters, provider-yamls, markdownlint

Made tests more formal
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
Due: language-matters

Removed rule where nested variant types were prohibited in from_json
  common/utils/src/main/resources/error/error-conditions.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExprUtils.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
Due: language-matters

Removed unnecessary code
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
Due: language-matters

make alias names consistent for tests
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/ProtoToParsedPlanTestSuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteWithExpression.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

move assertion
  connector/connect/common/src/test/resources/query-tests/explain-results/function_count_if.explain
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/With.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteWithExpression.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/RewriteWithExpressionSuite.scala
Due: language-matters

initial
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/VariantSuite.scala
Due: language-matters
