Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-openapi, lint-dockerfile, isort, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$

update the decription helper method
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcUtils.scala
Due: language-matters

Revert "[SPARK-32436][CORE] Remove unused HighlyCompressedMapStatus.numNonEmptyBlocks"
  core/src/main/scala/org/apache/spark/scheduler/MapStatus.scala
Due: language-matters

fix
  core/src/main/scala/org/apache/spark/scheduler/MapStatus.scala
Due: language-matters

add the code change to update prunned col in the desc
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcUtils.scala
Due: language-matters

Add a test to FileBasedDataSourceSuite
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: language-matters

Add a test to AvroSuite
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
Due: language-matters

[SPARK-XXX][CORE] Improve MapStatus deserialization speed with RoaringBitmap 0.9.0
  core/benchmarks/MapStatusesSerDeserBenchmark-jdk11-results.txt
  core/benchmarks/MapStatusesSerDeserBenchmark-results.txt
  core/src/main/scala/org/apache/spark/scheduler/MapStatus.scala
  pom.xml
Due: language-matters

[SPARK-32422][SQL][TESTS] Use python3 executable instead of python3.6 in IntegratedUDFTestUtils
  sql/core/src/test/scala/org/apache/spark/sql/IntegratedUDFTestUtils.scala
Due: language-matters

Update Sources
  docs/sql-data-sources-generic-options.md
  examples/src/main/java/org/apache/spark/examples/sql/JavaSQLDataSourceExample.java
  examples/src/main/python/sql/datasource.py
  examples/src/main/r/RSparkSQLExample.R
  examples/src/main/scala/org/apache/spark/examples/sql/SQLDataSourceExample.scala
  python/pyspark/sql/readwriter.py
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PartitioningAwareFileIndex.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedAfterFilter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedBeforeFilter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedDateFilter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/PathGlobFilter.scala
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Revert "Bump mysqlclient to 2.0.1 (#9987)" (#9997)
  setup.py
Due: isort, setup-order, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32426][SQL] ui shows sql after variable substitution
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkExecuteStatementOperation.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLDriver.scala
Due: language-matters

Fix newline
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/PathFilterStrategy.scala
Due: language-matters

Remove new lines
  python/pyspark/sql/readwriter.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix Linting
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PartitioningAwareFileIndex.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedAfterFilter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedBeforeFilter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedDateFilter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/PathFilterFactory.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/PathFilterStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/PathFilterStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/PathGlobFilter.scala
Due: language-matters

Fix Linting
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedBeforeFilter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/pathfilters/ModifiedDateFilter.scala
Due: language-matters

Fix tests
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: language-matters

Final Linting Updates
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: language-matters

Removing empty python line:
  examples/src/main/python/sql/datasource.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32437][CORE] Improve MapStatus deserialization speed with RoaringBitmap 0.9.0
  core/benchmarks/MapStatusesSerDeserBenchmark-jdk11-results.txt
  core/benchmarks/MapStatusesSerDeserBenchmark-results.txt
  core/src/main/scala/org/apache/spark/scheduler/MapStatus.scala
  pom.xml
Due: language-matters

[SPARK-32434][CORE] Support Scala 2.13 in AbstractCommandBuilder and load-spark-env scripts
  bin/load-spark-env.cmd
  bin/load-spark-env.sh
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
Due: shellcheck, language-matters, bat-tests

Remove unnecessary environment variable from CI workflow (#9998)
  .github/workflows/ci.yml
Due: yamllint, language-matters

[SPARK-32436][CORE] Initialize numNonEmptyBlocks in HighlyCompressedMapStatus.readExternal
  core/src/main/scala/org/apache/spark/scheduler/MapStatus.scala
Due: language-matters

Fix typo in api_connexion/openapi/v1.yaml (#9986)
  airflow/api_connexion/openapi/v1.yaml
Due: yamllint, lint-openapi, language-matters

[SPARK-32438][CORE][TESTS] Use HashMap.withDefaultValue in RDDSuite
  core/src/test/scala/org/apache/spark/rdd/RDDSuite.scala
Due: language-matters

Avoid sharing session with RenderedTaskInstanceFields write and delete (#9993)
  airflow/models/taskinstance.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32437][CORE][FOLLOWUP] Update dependency manifest for RoaringBitmap 0.9.0
  dev/deps/spark-deps-hadoop-2.7-hive-1.2
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
Due: language-matters

Adds separate scheduled-only workflow to cancel duplicates (#9999)
  .github/workflows/cancel_duplicate_workflows.yml
Due: yamllint, language-matters

Fix typos in README.md (#10000)
  README.md
Due: language-matters

Add missing x-openapi-router-controller to DAG Run endpoint (#9945)
  .pre-commit-config.yaml
  airflow/api_connexion/openapi/v1.yaml
  scripts/ci/openapi/client_codegen_diff.sh
  scripts/ci/speccy_rules/connexion.yml
Due: yamllint, shellcheck, lint-openapi, language-matters, bat-tests

initial commit
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/DataSourceSuite.scala
Due: language-matters

Updates the slack WebClient call to use the instance variable - token (#9995)
  airflow/providers/slack/hooks/slack.py
  tests/providers/slack/hooks/test_slack.py
Due: isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Fix cron schedule on cancelling workflow (#10002)
  .github/workflows/cancel_duplicate_workflows.yml
Due: yamllint, language-matters

Override DB2 dialect
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DB2Dialect.scala
Due: language-matters

Override Derby dialect
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/DerbyDialect.scala
Due: language-matters

Override MS SQL Server dialect
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MsSqlServerDialect.scala
Due: language-matters

Override Teradata dialect
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/TeradataDialect.scala
Due: language-matters

[SPARK-32440][CORE][TESTS] Make BlockManagerSuite to be robust from both Scala object size difference
  core/src/test/scala/org/apache/spark/storage/BlockManagerSuite.scala
Due: language-matters
