Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-47146][CORE][3.5] Possible thread leak when doing sort merge join
  core/src/main/java/org/apache/spark/util/collection/unsafe/sort/UnsafeSorterSpillReader.java
  sql/core/src/test/scala/org/apache/spark/sql/JoinSuite.scala
Due: language-matters

[SPARK-47247][SQL] Use smaller target size when coalescing partitions with exploding joins
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/CoalesceShufflePartitions.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

[SPARK-47280][SQL] Remove timezone limitation for ORACLE TIMESTAMP WITH TIMEZONE
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/DockerJDBCIntegrationSuite.scala
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/OracleIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/OracleDialect.scala
Due: language-matters

[SPARK-47277][3.5] PySpark util function assertDataFrameEqual should not support streaming DF
  python/pyspark/sql/tests/test_utils.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Address comments.
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/HasPartitionStatistics.java
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryBaseTable.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

[SPARK-47293][CORE] Build batchSchema with sparkSchema instead of append one by one
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedParquetRecordReader.java
Due: language-matters

Add ConvertCommandResultToLocalRelation rule
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ConvertCommandResultToLocalRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CommandResult.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkOptimizer.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters

[SPARK-47294][SQL] OptimizeSkewInRebalanceRepartitions should support ProjectExec(_,ShuffleQueryStageExec)
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/OptimizeSkewInRebalancePartitions.scala
Due: language-matters

SPARK-47217 : Fixing tests and code to try and resolve ambiguity in self join conditions
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/test/java/test/org/apache/spark/sql/JavaDataFrameSuite.java
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAsOfJoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSelfJoinSuite.scala
Due: language-matters

test
  core/src/test/scala/org/apache/spark/deploy/master/ResourceProfilesMaxCoresSuite.scala
Due: language-matters

try2
  core/src/test/scala/org/apache/spark/deploy/master/ResourceProfilesMaxCoresSuite.scala
  core/src/test/scala/org/apache/spark/deploy/master/ResourceProfilesSuite.scala
Due: language-matters

fix
  python/pyspark/errors/error_classes.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix up
  core/src/test/scala/org/apache/spark/deploy/master/MasterSuiteBase.scala
  core/src/test/scala/org/apache/spark/deploy/master/ResourceProfilesSuite.scala
Due: language-matters

[SPARK-46835][SQL][COLLATIONS] Join support for non-binary collations
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/collations.sql.out
  sql/core/src/test/resources/sql-tests/inputs/collations.sql
  sql/core/src/test/resources/sql-tests/results/collations.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

remove redundant override createTable
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryPartitionTableCatalog.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryRowLevelOperationTableCatalog.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTableCatalog.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryTableWithV2FilterCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCTableCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/LocalScanSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/TestV2SessionCatalogBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V1ReadFallbackSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/test/DataStreamTableAPISuite.scala
Due: language-matters

No need to call "reset"
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
Due: language-matters

fix rule order issues for ExtractGenerator
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions-unsupported-generator-error-class.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/GeneratorFunctionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryCompilationErrorsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-47298][BUILD] Upgrade `mysql-connector-j` to `8.3.0` and `mariadb-java-client` to `2.7.12`
  pom.xml
Due: language-matters

Move a stat test
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/StatisticsCollectionSuite.scala
Due: language-matters

[SPARK-47299][PYTHON][DOCS] Use the same `versions.json` in the dropdown of different versions of PySpark documents
  python/docs/source/conf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Move an array test
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameComplexTypeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

SPARK-47217 : Fix unused import issue
  sql/core/src/test/java/test/org/apache/spark/sql/JavaDataFrameSuite.java
Due: language-matters

Introduce with_origin decorator
  python/pyspark/errors/utils.py
  python/pyspark/sql/column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

comments
  python/pyspark/resource/profile.py
  python/pyspark/sql/connect/resource/profile.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

comments
  python/pyspark/sql/connect/resource/profile.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Distribute more tests
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameComplexTypeSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameJoinSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/DataSourceSuite.scala
Due: language-matters

Fix docs and incorporate changes
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions-collation-mismatch-error-class.md
  docs/sql-error-conditions-datatype-mismatch-error-class.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TypeCoercion.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
Due: language-matters, provider-yamls, markdownlint

another try
  core/src/test/scala/org/apache/spark/deploy/master/ResourceProfilesSuite.scala
Due: language-matters

Fix tests in CollationSuite
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TypeCoercion.scala
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

Move show tests
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameShowSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

fix
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkOptimizer.scala
Due: language-matters

[SPARK-47301][SQL][TESTS] Fix flaky ParquetIOSuite
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetIOSuite.scala
Due: language-matters

Rename incorrect logger name
  core/src/main/java/org/apache/spark/util/collection/unsafe/sort/UnsafeSorterSpillReader.java
Due: language-matters

Fix CrossValidatorSuite test and styling
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions-inconsistent-behavior-cross-version-error-class.md
  docs/sql-error-conditions.md
  mllib/src/test/scala/org/apache/spark/ml/tuning/CrossValidatorSuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
Due: language-matters, provider-yamls, markdownlint

more test fixes
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: language-matters, markdownlint

fix the test
  core/src/test/scala/org/apache/spark/deploy/master/MasterSuiteBase.scala
Due: language-matters

Revert trigger changes
  .github/workflows/build_main.yml
  .github/workflows/build_maven_java21_macos14.yml
Due: language-matters

improve
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetIOSuite.scala
Due: language-matters
