Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

Add
  pom.xml
Due: language-matters

SLF4JBridgeHandler
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnClusterSuite.scala
Due: language-matters

Add to testsWhichShouldRunInTheirOwnDedicatedJvm
  project/SparkBuild.scala
Due: language-matters

Update sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2.scala
Due: language-matters

[SPARK-42040][SQL] SPJ: Introduce a new API for V2 input partition to report partition statistics
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/HasPartitionStatistics.java
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryBaseTable.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

Add slf4j-api-2.0.12.jar first
  bin/spark-class
Due: language-matters

fix
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/functions/builtin.py
  python/pyspark/sql/connect/plan.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47610][CORE] Always set `io.netty.tryReflectionSetAccessible=true`
  docs/index.md
  launcher/src/main/java/org/apache/spark/launcher/JavaModuleOptions.java
  pom.xml
  project/SparkBuild.scala
  python/docs/source/getting_started/install.rst
  python/run-tests.py
  sql/hive/pom.xml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

[SPARK-47611][SQL] Cleanup dead code in MySQLDialect.getCatalystType
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/MySQLIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
Due: language-matters

Add log4j-api-* first
  bin/spark-class
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
Due: language-matters

Simplify
  pom.xml
  project/SparkBuild.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnClusterSuite.scala
Due: language-matters

Adjusted comments
  python/docs/source/user_guide/sql/type_conversions.rst
  python/pyspark/sql/tests/connect/test_connect_creation.py
  python/pyspark/sql/tests/test_creation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Arrange code placement
  python/pyspark/sql/tests/test_creation.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

use RuntimeReplaceable with StaticInvoke
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantEvaluator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/VariantFunctionSuite.scala
Due: language-matters

[SPARK-47611][SQL] Cleanup dead code in MySQLDialect.getCatalystType
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

[SPARK-46575][SQL][FOLLOWUP] Add back `HiveThriftServer2.startWithContext(SQLContext)` method for compatibility
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2.scala
Due: language-matters

add VariantEvaluatorSuite
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantEvaluatorSuite.scala
Due: language-matters

Only change for one spill file
  core/src/main/java/org/apache/spark/shuffle/sort/ShuffleExternalSorter.java
Due: language-matters

slf4j-api-
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
Due: language-matters

Update common/utils/src/main/resources/error/error-classes.json
  common/utils/src/main/resources/error/error-classes.json
Due: language-matters

[SPARK-47614][CORE] Rename `JavaModuleOptions` to `JVMRuntimeOptions`
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/main/scala/org/apache/spark/deploy/rest/StandaloneRestServer.scala
  launcher/src/main/java/org/apache/spark/launcher/JVMRuntimeOptions.java
  launcher/src/main/java/org/apache/spark/launcher/SparkSubmitCommandBuilder.java
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveExternalCatalogVersionsSuite.scala
Due: language-matters

Fixed map-group-by test
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

refactored normalizer function
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/ArrayBasedMapBuilder.scala
Due: language-matters

[SPARK-47491][CORE] Add `slf4j-api` jar to the class path first before the others of `jars` directory
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/YarnClusterSuite.scala
Due: language-matters

[SPARK-47611][SQL] Cleanup dead code in MySQLDialect.getCatalystType
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/MySQLIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/MySQLDialect.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

Solve whitespace scala style problem
  sql/core/src/test/scala/org/apache/spark/sql/CollationStringExpressionsSuite.scala
Due: language-matters

mima again
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
Due: language-matters

update doc
  docs/sql-error-conditions-failed-read-file-error-class.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-47616][SQL] Add User Document for Mapping Spark SQL Data Types from MySQL
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/MySQLIntegrationSuite.scala
  docs/sql-data-sources-jdbc.md
Due: language-matters, provider-yamls, markdownlint

squash
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
  python/pyspark/tests/test_worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47616][SQL] Add User Document for Mapping Spark SQL Data Types from MySQL
  connector/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/MySQLIntegrationSuite.scala
Due: language-matters

fix since
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2.scala
Due: language-matters

Add tests to UTF8StringWithCollationSuite
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/UTF8StringWithCollationSuite.java
Due: language-matters

fix it
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/test/scala/org/apache/spark/deploy/rest/StandaloneRestSubmitSuite.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/Client.scala
Due: language-matters

[SPARK-47430][SQL] Support GROUP BY for MapType
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExprUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeGenerator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InsertMapSortInGroupingExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/NormalizeFloatingNumbers.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/LogicalPlan.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/OptimizerSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-46575][SQL][FOLLOWUP] Correct @since annotation for HiveThriftServer2.startWithContext(SQLContext, exitonError)
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2.scala
Due: language-matters

[SPARK-47563][SQL] Add map normalization on creation
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/ArrayBasedMapBuilder.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/ArrayBasedMapBuilderSuite.scala
Due: language-matters

improve
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionEvalUtils.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantEvaluatorSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionEvalUtilsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/VariantFunctionSuite.scala
Due: language-matters

add comment for VariantExpressionEvalUtils
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionEvalUtils.scala
Due: language-matters
