Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-34080][ML][PYTHON][FOLLOW-UP] Update score function in UnivariateFeatureSelector document
  docs/ml-features.md
  mllib/src/main/scala/org/apache/spark/ml/feature/ChiSqSelector.scala
  mllib/src/main/scala/org/apache/spark/ml/feature/UnivariateFeatureSelector.scala
  python/pyspark/ml/feature.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

[SPARK-20977][CORE] NPE in CollectionAccumulator
  core/src/main/scala/org/apache/spark/util/AccumulatorV2.scala
Due: language-matters

Gauge to Counter
  core/src/main/scala/org/apache/spark/ExecutorAllocationManager.scala
  core/src/main/scala/org/apache/spark/scheduler/dynalloc/ExecutorMonitor.scala
  core/src/test/scala/org/apache/spark/ExecutorAllocationManagerSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/dynalloc/ExecutorMonitorSuite.scala
Due: language-matters

executor loss reason metrics are added
  core/src/main/scala/org/apache/spark/ExecutorAllocationManager.scala
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/ExecutorLossReason.scala
  core/src/main/scala/org/apache/spark/scheduler/dynalloc/ExecutorMonitor.scala
  core/src/test/scala/org/apache/spark/ExecutorAllocationManagerSuite.scala
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/DecommissionSuite.scala
Due: language-matters

increase timeout for decommissioning with dynamic allocation, relax assert to expect 1 gracefully decommissoned
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/DecommissionSuite.scala
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/KubernetesSuite.scala
Due: language-matters

extending k8s tests with the driver/executor logs when pattern not found
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/KubernetesSuite.scala
Due: language-matters

[SPARK-34104][SPARK-34105][CORE][K8S] Maximum decommissioning time & allow decommissioning for excludes
  core/src/main/scala/org/apache/spark/ExecutorAllocationClient.scala
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/main/scala/org/apache/spark/scheduler/HealthTracker.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/test/scala/org/apache/spark/scheduler/HealthTrackerSuite.scala
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/DecommissionSuite.scala
  resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/k8s/integrationtest/KubernetesSuite.scala
Due: language-matters

[SPARK-34238][SQL][FOLLOW_UP] SHOW PARTITIONS Keep consistence with other `SHOW` command
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolvePartitionSpec.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
Due: language-matters

[SPARK-34311][SQL] PostgresDialect can't treat arrays of some types
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/PostgresIntegrationSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/PostgresDialect.scala
Due: language-matters

Remove errors/package
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/errors/package.scala
Due: language-matters

[SPARK-34240][SQL] Unify output of `SHOW TBLPROPERTIES` clause's output attribute's schema and ExprID
  docs/sql-migration-guide.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/resources/sql-tests/results/show-tblproperties.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveCommandSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-34137][SQL] Update suquery's stats when build LogicalPlan's stats
  sql/core/src/main/scala/org/apache/spark/sql/execution/QueryExecution.scala
  sql/core/src/test/resources/sql-tests/inputs/explain-cbo.sql
  sql/core/src/test/resources/sql-tests/results/explain-cbo.sql.out
Due: language-matters

[SPARK-33995][SQL] Expose make_interval as a Scala function
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/java/test/org/apache/spark/sql/JavaDateFunctionsSuite.java
  sql/core/src/test/scala/org/apache/spark/sql/DateFunctionsSuite.scala
Due: language-matters

[SPARK-31816][SQL][DOCS] Added high level description about JDBC connection providers for users/developers
  docs/sql-data-sources-jdbc.md
  examples/src/main/resources/META-INF/services/org.apache.spark.sql.jdbc.JdbcConnectionProvider
  examples/src/main/scala/org/apache/spark/examples/sql/jdbc/ExampleJdbcConnectionProvider.scala
  sql/core/src/main/scala/org/apache/spark/sql/jdbc/README.md
Due: language-matters, provider-yamls, markdownlint

Update code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/BoundAttribute.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
Due: language-matters

strip shuffle if numParts==0
  sql/core/src/main/scala/org/apache/spark/sql/execution/limit.scala
Due: language-matters

add test for takeOrderedAndProjectSuite
  sql/core/src/test/scala/org/apache/spark/sql/execution/TakeOrderedAndProjectSuite.scala
Due: language-matters

Change the expression in the migration guide.
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

Modify the migration guide.
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

use ParallelCollectionRDD
  sql/core/src/main/scala/org/apache/spark/sql/execution/limit.scala
Due: language-matters

[SPARK-34347][SQL] CatalogImpl.uncacheTable should invalidate in cascade for temp views
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/SessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
  sql/core/src/test/scala/org/apache/spark/sql/CachedTableSuite.scala
Due: language-matters

Document configuration for email backend credentials. (#14006)
  airflow/providers/amazon/aws/utils/emailer.py
  docs/apache-airflow/howto/email-config.rst
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, mypy, pylint, flake8

[SPARK-34404][SQL] Add new Avro datasource options to control datetime rebasing in read
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroDataToCatalyst.scala
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroDeserializer.scala
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroFileFormat.scala
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroOptions.scala
  external/avro/src/main/scala/org/apache/spark/sql/v2/avro/AvroPartitionReaderFactory.scala
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSerdeSuite.scala
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
Due: language-matters

[SPARK-34234][SQL] Remove TreeNodeException that didn't work
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/errors/package.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/BoundAttribute.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/higherOrderFunctions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleExecutor.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/OptimizerStructuralIntegrityCheckerSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/OptimizerSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/trees/RuleExecutorSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ExpandExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/QueryStageExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/HashAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/ObjectHashAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/SortAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/commands.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/ShuffleExchangeExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/statefulOperators.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/ReferenceSort.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/WholeStageCodegenSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/sources/BucketedReadSuite.scala
Due: language-matters

Revert "[SPARK-34209][SQL] Delegate table name validation to the session catalog"
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/LookupCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
Due: language-matters

[MINOR][SQL] OptimizeMetadataOnlyQuery should only apply for deterministic filters
  sql/core/src/main/scala/org/apache/spark/sql/execution/OptimizeMetadataOnlyQuery.scala
Due: language-matters

Add test.
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCSuite.scala
Due: language-matters

Preserve partitions
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TruncatableTable.java
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/InMemoryPartitionTable.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/TableCatalogSuite.scala
Due: language-matters

Fix the AttributeError with text field in TelegramOperator (#13990)
  airflow/providers/telegram/operators/telegram.py
  tests/providers/telegram/operators/test_telegram.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Fix conflict
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
Due: language-matters

Fix docs for Google Cloud Secret Manager backend (#14164)
  docs/apache-airflow-providers-google/secrets-backends/google-cloud-secret-manager-backend.rst
Due: language-matters, provider-yamls

Add param to CloudDataTransferServiceOperator (#14118)
  airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Fixes to dataproc operators and hook (#14086)
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/hooks/test_dataproc.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Check partitions existence after v1 TRUNCATE TABLE
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v1/TruncateTableSuite.scala
Due: language-matters

Tiny doc fixes after releasing backports (#14173)
  dev/README_RELEASE_BACKPORT_PROVIDER_PACKAGES.md
Due: language-matters, markdownlint

dependants -> dependents
  docs/sql-ref-syntax-ddl-drop-table.md
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
Due: language-matters, provider-yamls, markdownlint

Address Chao Sun's review comment
  docs/sql-ref-syntax-ddl-alter-view.md
Due: language-matters, provider-yamls, markdownlint

Address Wenchen's review comment
  docs/sql-ref-syntax-ddl-alter-table.md
Due: language-matters, provider-yamls, markdownlint

Log migrations info in consistent way (#14158)
  airflow/migrations/versions/82b7c48c147f_remove_can_read_permission_on_config_.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
