Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Remove mlflow and sklearn from Python 3.8
  .github/workflows/build_and_test.yml
Due: language-matters

update UT
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/ShowTablesSuite.scala
Due: language-matters

Update code
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroSerializer.scala
Due: language-matters

Add JIRA link
  .github/workflows/build_and_test.yml
Due: language-matters

Update .github/workflows/build_and_test.yml
  .github/workflows/build_and_test.yml
Due: language-matters

Revert write -> overwrite
  python/pyspark/pandas/frame.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

setting timezone to None for NTZ type
  python/pyspark/sql/pandas/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

AbstractCommandBuilder#getEffectiveConfig
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
Due: language-matters

remove unused import
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
Due: language-matters

upgrade to 6.20.3
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  sql/core/pom.xml
Due: language-matters

[SPARK-36175][SQL] Support TimestampNTZ in Avro data source
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroDeserializer.scala
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroSerializer.scala
  external/avro/src/main/scala/org/apache/spark/sql/avro/SchemaConverters.scala
  external/avro/src/test/scala/org/apache/spark/sql/avro/AvroLogicalTypeSuite.scala
Due: language-matters

deprecate dummy trigger rule infavor of always (#17144)
  UPDATING.md
  airflow/models/baseoperator.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  airflow/utils/trigger_rule.py
  docs/apache-airflow/concepts/dags.rst
  tests/models/test_baseoperator.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
  tests/utils/test_trigger_rule.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

Address PR comments
  python/pyspark/sql/observation.py
  sql/core/src/main/scala/org/apache/spark/sql/Observation.scala
  sql/core/src/test/java/test/org/apache/spark/sql/JavaDatasetSuite.java
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-36098][CORE] Group exception messages in core/storage
  core/src/main/scala/org/apache/spark/errors/SparkCoreErrors.scala
  core/src/main/scala/org/apache/spark/storage/BlockId.scala
  core/src/main/scala/org/apache/spark/storage/BlockInfoManager.scala
  core/src/main/scala/org/apache/spark/storage/BlockManager.scala
  core/src/main/scala/org/apache/spark/storage/BlockManagerDecommissioner.scala
  core/src/main/scala/org/apache/spark/storage/BlockManagerMaster.scala
  core/src/main/scala/org/apache/spark/storage/BlockSavedOnDecommissionedBlockManagerException.scala
  core/src/main/scala/org/apache/spark/storage/DiskBlockManager.scala
  core/src/main/scala/org/apache/spark/storage/DiskBlockObjectWriter.scala
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
Due: language-matters

[SPARK-36326][SQL] Use computeIfAbsent to simplify the process of put a absent value into Map
  common/unsafe/src/main/java/org/apache/spark/unsafe/memory/HeapMemoryAllocator.java
  launcher/src/main/java/org/apache/spark/launcher/AbstractCommandBuilder.java
Due: language-matters

Support UDT for Pandas/Spark conversion with Arrow support Enabled
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/pandas/serializers.py
  python/pyspark/sql/pandas/types.py
  python/pyspark/sql/tests/test_arrow.py
  python/pyspark/worker.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExecSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

udt
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/pandas/serializers.py
  python/pyspark/sql/pandas/types.py
  python/pyspark/sql/tests/test_arrow.py
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

comment for DataType without UDT
  python/pyspark/sql/pandas/serializers.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

put _has_udt along with _has_nulltype
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

refactor
  python/pyspark/sql/pandas/serializers.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Cleaning
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExecSuite.scala
Due: language-matters

refactor
  python/pyspark/sql/pandas/conversion.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

pylint
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/pandas/serializers.py
  python/pyspark/sql/pandas/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

comment
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExec.scala
Due: language-matters

fix pylint
  python/pyspark/sql/pandas/serializers.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

cleaning, revert pandas_udf related code
  python/pyspark/sql/pandas/types.py
  python/pyspark/worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

complete impl of _has_udt
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/pandas/serializers.py
  python/pyspark/sql/types.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

rename pdt to padt
  python/pyspark/sql/pandas/serializers.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Remove type hints for internal funcs
  python/pyspark/sql/pandas/serializers.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

rephrase
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExec.scala
Due: language-matters

Fix docs link for using SQLite as Metadata DB (#17308)
  airflow/configuration.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Grammar and clarity pass on documentation (#17318)
  docs/apache-airflow/index.rst
  docs/apache-airflow/logging-monitoring/check-health.rst
  docs/apache-airflow/logging-monitoring/errors.rst
  docs/apache-airflow/logging-monitoring/metrics.rst
  docs/apache-airflow/start/index.rst
  docs/apache-airflow/timezone.rst
Due: language-matters, provider-yamls

simplify JDBC aggregate pushdown
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Count.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/CountStar.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Max.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Min.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/expressions/Sum.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSourceStrategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRDD.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRelation.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/PushDownUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/jdbc/JDBCScanBuilder.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Fix race condition with dagrun callbacks (#16741)
  airflow/jobs/scheduler_job.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Remove DAG refresh buttons (#17263)
  UPDATING.md
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  docs/apache-airflow/security/access-control.rst
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_tasks.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

uodate
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q5.sf100/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q5.sf100/simplified.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q5/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q5/simplified.txt
Due: language-matters

Update UISuite.scala
  core/src/test/scala/org/apache/spark/ui/UISuite.scala
Due: language-matters

Fix V1 datasources
  external/avro/src/main/scala/org/apache/spark/sql/avro/AvroUtils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/csv/CSVFileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/json/JsonFileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/orc/OrcFileFormat.scala
Due: language-matters

Add a test
  sql/core/src/test/scala/org/apache/spark/sql/FileBasedDataSourceSuite.scala
Due: language-matters

[SPARK-36347][SS] Upgrade the RocksDB version to 6.20.3
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
  sql/core/pom.xml
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
