Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-37594][SQL] Make UT SPARK-34399 more stable
  sql/core/src/test/scala/org/apache/spark/sql/execution/metric/SQLMetricsSuite.scala
Due: language-matters

[SPARK-37582][SPARK-37583] CONTAINS, STARTSWITH, ENDSWITH should support binary type
  common/unsafe/src/main/java/org/apache/spark/unsafe/array/ByteArrayMethods.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/StringExpressionsSuite.scala
Due: language-matters

update
  sql/core/src/test/resources/sql-tests/inputs/string-functions.sql
  sql/core/src/test/resources/sql-tests/results/ansi/string-functions.sql.out
  sql/core/src/test/resources/sql-tests/results/string-functions.sql.out
Due: language-matters

SPARK-37596 add the struct support in the DropDuplicate
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

init
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
Due: language-matters

Fix mypy for cli package (#19912)
  airflow/cli/commands/cheat_sheet_command.py
  airflow/cli/commands/info_command.py
  airflow/cli/simple_table.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix mypy checks for api_connexion (#19911)
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/schemas/dag_schema.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix the space
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameSuite.scala
Due: language-matters

[SPARK-37451][SQL] Fix cast string type to decimal type if spark.sql.legacy.allowNegativeScaleOfDecimal is enabled
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Decimal.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/DecimalSuite.scala
Due: language-matters

init
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/JoinOptimizationSuite.scala
Due: language-matters

Fix "Expected token SEMI but got Token(RPAREN,)"
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Decimal.scala
Due: language-matters

Update sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownTopN.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownTopN.java
Due: language-matters

Fix TriggerDagRunOperator extra link (#19410)
  airflow/operators/trigger_dagrun.py
  tests/operators/test_trigger_dagrun.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Update Sphinx and Sphinx-AutoAPI (#20079)
  airflow/models/dag.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/cloud/utils/mlengine_prediction_summary.py
  airflow/providers/google/common/utils/id_token_credentials.py
  airflow/sensors/base.py
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow/executor/kubernetes.rst
  docs/conf.py
  docs/exts/docs_build/docs_builder.py
  docs/exts/docs_build/run_patched_sphinx.py
  docs/exts/exampleinclude.py
  docs/spelling_wordlist.txt
  setup.py
Due: setup-order, setup-extra-packages, build-providers-dependencies, update-extras, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, mypy, pylint, flake8

[SPARK-37584][SQL] New SQL function: map_contains_key
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/FunctionRegistry.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CollectionExpressionsSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/inputs/map.sql
  sql/core/src/test/resources/sql-tests/results/ansi/map.sql.out
  sql/core/src/test/resources/sql-tests/results/map.sql.out
Due: language-matters, markdownlint

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownLimit.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/DataSourceScanExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/jdbc/JDBCV2Suite.scala
Due: language-matters

Adding a unit test
  core/src/test/scala/org/apache/spark/api/python/PythonHadoopUtilSuite.scala
Due: language-matters

Revert "CI - OpenID Connect authorication to AWS (#19894)" (#20173)
  .github/workflows/ci.yml
Due: language-matters

Organize EC2 classes in Amazon provider (#20157)
  airflow/providers/amazon/aws/operators/ec2.py
  airflow/providers/amazon/aws/operators/ec2_start_instance.py
  airflow/providers/amazon/aws/operators/ec2_stop_instance.py
  airflow/providers/amazon/aws/sensors/ec2.py
  airflow/providers/amazon/aws/sensors/ec2_instance_state.py
  airflow/providers/amazon/provider.yaml
  dev/provider_packages/prepare_provider_packages.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/operators/test_ec2.py
  tests/providers/amazon/aws/operators/test_ec2_start_instance.py
  tests/providers/amazon/aws/sensors/test_ec2.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, airflow-providers-available, mypy, pylint, flake8

Initial implementation of GCM
  sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/expressions/ExpressionImplUtils.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/misc.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: language-matters

[SPARK-37451][3.1][SQL] Fix cast string type to decimal type if spark.sql.legacy.allowNegativeScaleOfDecimal is enabled
  sql/catalyst/src/main/scala/org/apache/spark/sql/types/Decimal.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/types/DecimalSuite.scala
Due: language-matters

initial commit
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: language-matters

Fix ClassCastException: ArrayType cannot be cast to StructType.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasing.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/SchemaPruningSuite.scala
Due: language-matters

Mypy fixes to DagRun, TaskInstance, and db utils (#20163)
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/utils/db.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Log provider import errors as debug warnings (#20172)
  airflow/providers_manager.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37569][SQL] Don't mark nested view fields as nullable
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SQLViewTestSuite.scala
Due: language-matters

Update contributing guide to use typed session arg (#20181)
  CONTRIBUTING.rst
Due: update-extras, language-matters

[SPARK-37602][CORE] Add config property to set default Spark listeners
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/test/scala/org/apache/spark/scheduler/SparkListenerSuite.scala
  docs/configuration.md
Due: language-matters, provider-yamls, markdownlint

For review comment.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/NestedColumnAliasing.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/SchemaPruningSuite.scala
Due: language-matters

Update IsolatedClientLoader.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
Due: language-matters

Update SQLMetricsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/metric/SQLMetricsSuite.scala
Due: language-matters

Update code
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownTopN.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2ScanRelationPushDown.scala
Due: language-matters

Update code
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
Due: language-matters

fix reuse bug.
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/Exchange.scala
Due: language-matters

add UT
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
Due: language-matters

[SPARK-37573][SQL] IsolatedClientLoader should fallback to related version, not always hadoop-2.7.4
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/IsolatedClientLoader.scala
Due: language-matters

group this error message and define it in QueryExecutionErrors
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/InsertIntoHiveTable.scala
Due: language-matters

[SPARK-36850][SQL][FOLLOWUP] Code clean up
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
Due: language-matters

config
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
Due: language-matters

Change the behavior of emptyValueInRead parameter in CSVOptions
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/UnivocityParser.scala
  sql/core/src/test/resources/test-data/cars-empty-value.csv
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
Due: language-matters
