Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-45589][PYTHON][DOCS] Supplementary exception class
  python/docs/source/reference/pyspark.errors.rst
Due: language-matters

fix docs
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Apply suggestions from code review
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/ShowTablesSuite.scala
Due: language-matters

Fix flake in Protobuf test
  connector/protobuf/src/test/scala/org/apache/spark/sql/protobuf/ProtobufCatalystDataConversionSuite.scala
Due: language-matters

linter fix
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/StreamingForeachBatchHelper.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/SparkConnectSessionHodlerSuite.scala
Due: language-matters

[SPARK-33393][SQL] Support SHOW TABLE EXTENDED in v2
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/ShowTablesSuite.scala
Due: language-matters

fix vsh
  mllib/src/main/scala/org/apache/spark/ml/feature/StringIndexer.scala
Due: language-matters

[SPARK-45585][TEST] Fix time format and redirection issues in SparkSubmit tests
  core/src/test/scala/org/apache/spark/deploy/SparkSubmitTestUtils.scala
  repl/src/test/scala/org/apache/spark/repl/SparkShellSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
Due: language-matters

Update sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TimeTravelSpec.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TimeTravelSpec.scala
Due: language-matters

Add ignoreNullable
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45543][SQL] WindowGroupLimit causes bug if window expressions exists non-rank function.
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InferWindowGroupLimit.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameWindowFunctionsSuite.scala
Due: language-matters

[SPARK-45586][SQL] Reduce compiler latency for plans with large expression trees
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TypeCoercion.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/timeZoneAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/EquivalentExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/expressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
Due: language-matters

Update sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
Due: language-matters

[SPARK-45507][SQL] Correctness fix for nested correlated scalar subqueries with COUNT aggregates
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/subquery.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/subquery/scalar-subquery/nested-scalar-subquery-count-bug.sql.out
  sql/core/src/test/resources/sql-tests/inputs/subquery/scalar-subquery/nested-scalar-subquery-count-bug.sql
  sql/core/src/test/resources/sql-tests/results/subquery/scalar-subquery/nested-scalar-subquery-count-bug.sql.out
Due: language-matters

[SPARK-45596][CONNECT] Use java.lang.ref.Cleaner instead of org.apache.spark.sql.connect.client.util.Cleaner
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/ClientDatasetSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/SQLImplicitsTestSuite.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/SparkResult.scala
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/util/Cleaner.scala
Due: language-matters

Update code
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/InferWindowGroupLimit.scala
Due: language-matters

[SPARK-45555][PS] Returning a debuggable object for failed assertion
  python/pyspark/errors/exceptions/base.py
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

versionadded
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaContinuousStream.scala
  core/src/main/scala/org/apache/spark/deploy/master/Master.scala
  core/src/main/scala/org/apache/spark/deploy/rest/RestSubmissionClient.scala
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/resource/ResourceProfile.scala
  core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/StandaloneSchedulerBackend.scala
  core/src/main/scala/org/apache/spark/storage/ShuffleBlockFetcherIterator.scala
  core/src/main/scala/org/apache/spark/ui/PagedTable.scala
  core/src/test/scala/org/apache/spark/HeartbeatReceiverSuite.scala
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
  core/src/test/scala/org/apache/spark/internal/plugin/PluginContainerSuite.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsAllocator.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ExecutorRunnable.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/YarnAllocator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/interface.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/codegen/CodeGenerator.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/tables.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCOptions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CacheTableExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Utils.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileDataSourceV2.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowCreateTableExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBFileManager.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ui/ExecutionPage.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamReader.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveExternalCatalog.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveMetastoreCatalog.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/HiveOptions.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSchemaInferenceSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/StatisticsSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/command/ShowCreateTableSuite.scala
Due: language-matters

[SPARK-45554][PYTHON] Introduce flexible parameter to assertSchemaEqual
  python/pyspark/testing/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45562][SQL][FOLLOW-UP] XML: Make 'rowTag' option check case insensitive
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/xml/XmlOptions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/xml/XmlFileFormat.scala
Due: language-matters

restore the original exception from data source
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/DataSource.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2Suite.scala
Due: language-matters

Revert "[SPARK-45546][BUILD][FOLLOW-UP] Remove snapshot repo mistakenly added"
  pom.xml
Due: language-matters

Revert "[SPARK-45546][BUILD][INFRA] Make `publish-snapshot` support `package` first then `deploy`"
  .github/workflows/publish_snapshot.yml
  dev/create-release/release-build.sh
  pom.xml
Due: language-matters, shellcheck, bats-tests

[SPARK-45603][INFRA] merge_spark_pr shall notice us about GITHUB_OAUTH_KEY expiry
  dev/merge_spark_pr.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

[SPARK-45553][PS] Deprecate `assertPandasOnSparkEqual`
  python/pyspark/testing/pandasutils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][CONNECT] Fix a typo in org.apache.spark.sql.connect.client.ArtifactManager
  connector/connect/common/src/main/scala/org/apache/spark/sql/connect/client/ArtifactManager.scala
Due: language-matters

[SPARK-45588][PROTOBUF][CONNECT][MINOR] Scaladoc improvement for StreamingForeachBatchHelper
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/StreamingForeachBatchHelper.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/SparkConnectSessionHodlerSuite.scala
  connector/protobuf/src/test/scala/org/apache/spark/sql/protobuf/ProtobufCatalystDataConversionSuite.scala
Due: language-matters

[SPARK-45220][PYTHON][DOCS] Refine docstring of DataFrame.join
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Regen error docs
  connector/protobuf/src/test/scala/org/apache/spark/sql/protobuf/ProtobufSerdeSuite.scala
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
  docs/sql-error-conditions.md
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-45569][SQL] Assign name to the error _LEGACY_ERROR_TEMP_2153
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoderSuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-45569][SQL] Assign name to the error _LEGACY_ERROR_TEMP_2152
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters, provider-yamls, markdownlint

fix tests
  sql/core/src/test/scala/org/apache/spark/sql/DatasetSuite.scala
Due: language-matters

revert unnecessary changes
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoder.scala
Due: language-matters

fix tests
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoderSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/encoders/RowEncoderSuite.scala
Due: language-matters

revert back to the original format
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
