Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-41375][SS] Avoid empty latest KafkaSourceOffset
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaMicroBatchStream.scala
  connector/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaSource.scala
Due: language-matters

[SPARK-41373][SQL][ERROR] Rename CAST_WITH_FUN_SUGGESTION to CAST_WITH_FUNC_SUGGESTION
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/Cast.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastSuiteBase.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/CastWithAnsiOnSuite.scala
Due: language-matters

fix typos
  docs/cloud-integration.md
  docs/graphx-programming-guide.md
  docs/ml-linalg-guide.md
  docs/mllib-data-types.md
  docs/mllib-frequent-pattern-mining.md
  docs/sql-data-sources-orc.md
  docs/sql-distributed-sql-engine-spark-sql-cli.md
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

fix typos
  python/pyspark/ml/tuning.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/groupby.py
  python/pyspark/pandas/spark/accessors.py
  python/pyspark/pandas/supported_api_gen.py
  python/pyspark/rdd.py
  python/pyspark/sql/catalog.py
  python/pyspark/sql/connect/function_builder.py
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/functions.py
  python/pyspark/sql/session.py
  python/pyspark/sql/streaming/query.py
  python/pyspark/sql/streaming/readwriter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add UNSPECIFIED enum
  core/src/main/protobuf/org/apache/spark/status/protobuf/store_types.proto
Due: language-matters

use int64 for date
  core/src/main/protobuf/org/apache/spark/status/protobuf/store_types.proto
  core/src/main/scala/org/apache/spark/status/protobuf/JobDataWrapperSerializer.scala
Due: language-matters

use int64 for IDs
  core/src/main/protobuf/org/apache/spark/status/protobuf/store_types.proto
  core/src/main/scala/org/apache/spark/status/protobuf/JobDataWrapperSerializer.scala
Due: language-matters

rename as live
  core/src/main/scala/org/apache/spark/deploy/history/FsHistoryProvider.scala
  core/src/main/scala/org/apache/spark/status/AppStatusStore.scala
  core/src/main/scala/org/apache/spark/status/KVUtils.scala
Due: language-matters

[MINOR][DOC] Fix typo under python directory
  python/pyspark/ml/tuning.py
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/groupby.py
  python/pyspark/pandas/spark/accessors.py
  python/pyspark/pandas/supported_api_gen.py
  python/pyspark/rdd.py
  python/pyspark/sql/catalog.py
  python/pyspark/sql/connect/function_builder.py
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/functions.py
  python/pyspark/sql/session.py
  python/pyspark/sql/streaming/query.py
  python/pyspark/sql/streaming/readwriter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Generate spark-version-info.properties using Powershell
  build/spark-build-info.ps1
  core/pom.xml
Due: language-matters

[MINOR][DOC] Fix typo in md files under docs directory
  docs/cloud-integration.md
  docs/graphx-programming-guide.md
  docs/ml-linalg-guide.md
  docs/mllib-data-types.md
  docs/mllib-frequent-pattern-mining.md
  docs/sql-data-sources-orc.md
  docs/sql-distributed-sql-engine-spark-sql-cli.md
  docs/sql-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-41376][CORE] Executor netty direct memory check should respect spark.shuffle.io.preferDirectBufs
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
Due: language-matters

[SPARK-41313][SPARK-3900][SPARK-21138] Combine fixes for and
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala
Due: language-matters

refined codegen function
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters

[SPARK-41136][K8S][FOLLOW-ON] Adjust graceful shutdown time of ExecutorPodsSnapshotsStoreImpl according to hadoop config
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsSnapshotsStoreImpl.scala
Due: language-matters

fix
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Suport Col Stats in DS v2
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/stats/ColumnStatistics.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/stats/Histogram.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/stats/HistogramBin.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/stats/Statistics.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Relation.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryBaseTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileScan.scala
  sql/core/src/test/java/test/org/apache/spark/sql/connector/JavaReportStatisticsDataSource.java
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2Suite.scala
Due: language-matters

[SPARK-41363][CONNECT][PYTHON] Implement normal functions
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41305][CONNECT] Improve Documentation for Command proto
  connector/connect/src/main/protobuf/spark/connect/commands.proto
  python/pyspark/sql/connect/proto/commands_pb2.pyi
Due: language-matters

Update python/pyspark/sql/tests/connect/test_connect_function.py
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41351][CONNECT] Column should support != operator
  dev/sparktestsupport/modules.py
  python/pyspark/sql/connect/column.py
  python/pyspark/sql/tests/connect/test_connect_column.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41350][SQL] Allow simple name access of join hidden columns after subquery alias
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/package.scala
  sql/core/src/test/resources/sql-tests/inputs/natural-join.sql
  sql/core/src/test/resources/sql-tests/inputs/using-join.sql
  sql/core/src/test/resources/sql-tests/results/natural-join.sql.out
  sql/core/src/test/resources/sql-tests/results/using-join.sql.out
Due: language-matters

fix mima
  project/MimaExcludes.scala
Due: language-matters

Apply suggestions from code review
  python/pyspark/sql/connect/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

address
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
Due: language-matters

[SPARK-41379][SS] Provide cloned spark session in DataFrame in user function for foreachBatch sink in PySpark
  python/pyspark/sql/tests/streaming/test_streaming.py
  python/pyspark/sql/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-41346][CONNECT][PYTHON][FOLLOWUP] test_connect_function` cleanup
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

fix tests
  core/src/test/scala/org/apache/spark/storage/BlockManagerSuite.scala
Due: language-matters

[SPARK-40379][K8S] Propagate decommission executor loss reason in K8s
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
Due: language-matters

[SPARK-40379][K8S][FOLLOWUP] Fix scalastyle failure
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
Due: language-matters

[SPARK-41151][FOLLOW-UP][SQL] Keep built-in file _metadata fields nullable value consistent
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormat.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileSourceStrategy.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/FileMetadataStructSuite.scala
Due: language-matters

[SPARK-41358][SQL] Refactor `ColumnVectorUtils#populate` method to use `PhysicalDataType` instead of `DataType`
  sql/core/src/main/java/org/apache/spark/sql/execution/vectorized/ColumnVectorUtils.java
Due: language-matters

[SPARK-41384][CONNECT] Should use SQLExpression for str arguments in Projection
  connector/connect/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
  python/pyspark/sql/connect/dataframe.py
  python/pyspark/sql/connect/plan.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update
  connector/connect/src/test/scala/org/apache/spark/sql/connect/planner/SparkConnectProtoSuite.scala
Due: language-matters

[SPARK-41385][K8S] Replace deprecated `.newInstance()` in K8s module
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/submit/KubernetesDriverBuilder.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesExecutorBuilder.scala
Due: language-matters

address comments
  project/MimaExcludes.scala
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/Statistics.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsReportStatistics.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/colstats/ColumnStatistics.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/colstats/Histogram.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/colstats/HistogramBin.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Relation.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryBaseTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/FileScan.scala
  sql/core/src/test/java/test/org/apache/spark/sql/connector/JavaReportStatisticsDataSource.java
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2Suite.scala
Due: language-matters

[SPARK-41379][SS][PYTHON] Provide cloned spark session in DataFrame in user function for foreachBatch sink in PySpark
  python/pyspark/sql/tests/streaming/test_streaming.py
  python/pyspark/sql/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
