Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[MINOR][DOCS] backport #35561: fixed invalid tags in running-on-kubernetes.md causing rendering issues
  docs/running-on-kubernetes.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-38243][PYTHON][ML] Fix pyspark.ml.LogisticRegression.getThreshold error message logic
  python/pyspark/ml/classification.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[MINOR][DOCS][3.2] Fixed closing tags in running-on-kubernetes.md
  docs/running-on-kubernetes.md
Due: language-matters, provider-yamls, markdownlint

Fix consistency issues parsing JSON NaN and Infinity values
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonParsingOptionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonSuite.scala
Due: language-matters

Allow operator with ClusteredDistribution to require full clustering keys
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/ShuffleSpecSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamExecution.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/exchange/EnsureRequirementsSuite.scala
Due: language-matters

Rewrite the logic to make it disable by default
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/ShuffleSpecSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamExecution.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/exchange/EnsureRequirementsSuite.scala
Due: language-matters

Change logic in HashPartitioning.satisfies0
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/physical/partitioning.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/StreamExecution.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

[SPARK-38246][CORE][SQL][SS][WEBUI] Refactor `KVUtils` and add UTs related to RocksDB
  core/src/main/scala/org/apache/spark/deploy/history/FsHistoryProvider.scala
  core/src/main/scala/org/apache/spark/status/KVUtils.scala
  core/src/test/scala/org/apache/spark/deploy/history/HistoryServerDiskManagerSuite.scala
  core/src/test/scala/org/apache/spark/status/AppStatusListenerSuite.scala
  core/src/test/scala/org/apache/spark/status/AppStatusStoreSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/ui/StreamingQueryStatusListenerSuite.scala
Due: language-matters

Make df.sparkSession return the session that created DataFrame when SQLContext is used.
  python/pyspark/sql/dataframe.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add a comment
  core/src/main/scala/org/apache/spark/internal/io/FileCommitProtocol.scala
Due: language-matters

Revert "[SPARK-38244][K8S][BUILD] Upgrade kubernetes-client to 5.12.1"
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

[SPARK-37154][PYTHON] Inline hints for pyspark.rdd
  python/pyspark/_typing.pyi
  python/pyspark/conf.py
  python/pyspark/context.py
  python/pyspark/rdd.py
  python/pyspark/rdd.pyi
  python/pyspark/serializers.py
  python/pyspark/sql/_typing.pyi
  python/pyspark/sql/pandas/_typing/__init__.pyi
  python/pyspark/tests/typing/test_rdd.yml
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Inline type hints for pyspark.mllib.util
  python/pyspark/mllib/common.py
  python/pyspark/mllib/util.py
  python/pyspark/mllib/util.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-37428][PYTHON][MLLIB] Inline type hints for pyspark.mllib.util
  python/pyspark/mllib/common.py
  python/pyspark/mllib/util.py
  python/pyspark/mllib/util.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Inline typehints for pyspark.mllib.tree
  python/pyspark/mllib/tree.py
  python/pyspark/mllib/tree.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Inline typehints for pyspark.mllib.feature
  python/pyspark/mllib/feature.py
  python/pyspark/mllib/feature.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-38175][CORE][FOLLOWUP] Remove `urlPattern` from `HistoryAppStatusStore#replaceLogUrls` method signature
  core/src/main/scala/org/apache/spark/deploy/history/HistoryAppStatusStore.scala
Due: language-matters

[SPARK-38249][CORE][GRAPHX] Cleanup unused private methods/fields
  core/src/main/scala/org/apache/spark/deploy/master/Master.scala
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/rdd/NewHadoopRDD.scala
  core/src/main/scala/org/apache/spark/resource/ResourceUtils.scala
  graphx/src/main/scala/org/apache/spark/graphx/impl/GraphImpl.scala
Due: language-matters

[MINOR][DOCS] fix default value in history server
  docs/monitoring.md
Due: language-matters, provider-yamls, markdownlint

Add timestampDiff()
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
Due: language-matters

update migration guide
  docs/core-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

add a unit test for allowNonNumericNumbers = false
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonParsingOptionsSuite.scala
Due: language-matters

[MINOR][DOCS] fix default value of history server
  docs/monitoring.md
Due: language-matters, provider-yamls, markdownlint

upgrade org.scalatestplus:mockito to 3.2.11.0
  pom.xml
Due: language-matters

upgrade rocksdb to pom.xml
  pom.xml
Due: language-matters

change abs
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/arithmetic.scala
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-modified/q53/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-modified/q63/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-modified/q89/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q47/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q53/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q57/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q63/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v1_4/q89/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q47/explain.txt
  sql/core/src/test/resources/tpcds-plan-stability/approved-plans-v2_7/q57/explain.txt
Due: language-matters

remove deps of commons-net
  core/pom.xml
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

Fix review comments
  docs/README.md
Due: language-matters, provider-yamls, markdownlint

fix
  core/src/test/scala/org/apache/spark/storage/BlockManagerDecommissionIntegrationSuite.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/core/src/test/scala/org/apache/spark/sql/internal/ExecutorSideSQLConfSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FlatMapGroupsWithStateSuite.scala
Due: language-matters

Add missing R packages from base image
  .github/workflows/build_and_test.yml
Due: language-matters

test with google guava version 30.0-jre
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

[SPARK-37090][BUILD] Upgrade `libthrift` to 0.16.0 to avoid security vulnerabilities
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/auth/KerberosSaslHelper.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/auth/PlainSaslHelper.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/auth/TSetIpAddressProcessor.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/thrift/ThriftBinaryCLIService.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/thrift/ThriftCLIService.java
  sql/hive/src/main/java/org/apache/thrift/transport/TFramedTransport.java
Due: language-matters

nit
  mllib/src/main/scala/org/apache/spark/mllib/clustering/KMeansModel.scala
Due: language-matters

update comments
  core/src/main/scala/org/apache/spark/ExecutorAllocationClient.scala
Due: language-matters

merge conf
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

[SPARK-38261][INFRA] Add missing R packages from base image
  .github/workflows/build_and_test.yml
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
