Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, shellcheck, lint-openapi, lint-dockerfile, isort, setup-order, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, check-integrations, check-apache-license, airflow-config-yaml, mypy, pylint, pylint-tests, flake8, bat-tests, stylelint

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

shellcheck:
  name: Check Shell scripts syntax correctness
  language: docker_image
  entry: koalaman/shellcheck:stable -x -a

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  require_serial: true
  entry: ./scripts/ci/pre_commit_check_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false
  require_serial: true

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false
  require_serial: true

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false
  require_serial: true

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false
  require_serial: true

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit_update_extras.sh
  language: system
  pass_filenames: false
  require_serial: true

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsitent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

base-operator:
  language: pygrep
  name: Make sure BaseOperator[Link] is imported from airflow.models outside of core
  entry: from airflow\.models\.baseoperator import.* BaseOperator
  pass_filenames: true

provide-create-sessions:
  language: pygrep
  name: To avoid import cycles make sure provide_session and create_session are imported from airflow.utils.session
  entry: from airflow\.utils\.db import.* (provide_session|create_session)
  pass_filenames: true

incorrect-use-of-LoggingMixin:
  language: pygrep
  name: Make sure LoggingMixin is not used alone
  entry: LoggingMixin\(\)
  pass_filenames: true

Disable schema ordering (#9471)
  airflow/api_connexion/schemas/dag_run_schema.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add __init__ method to Variable class (#9470)
  airflow/models/variable.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add unit tests for OracleOperator (#9469)
  tests/providers/oracle/operators/__init__.py
  tests/providers/oracle/operators/test_oracle.py
  tests/test_project_structure.py
Due: isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint-tests, flake8

[SPARK-31905][SS] Add compatibility tests for streaming state store format
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/commits/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/metadata
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/offsets/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/state/0/0/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/state/0/1/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/state/0/2/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/state/0/3/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-common-functions/state/0/4/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/commits/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/metadata
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/offsets/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/state/0/0/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/state/0/1/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/state/0/2/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/state/0/3/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-deduplicate/state/0/4/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/commits/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/metadata
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/offsets/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/state/0/0/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/state/0/1/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/state/0/2/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/state/0/3/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-statistical-functions/state/0/4/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/commits/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/metadata
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/offsets/0
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/state/0/0/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/state/0/1/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/state/0/2/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/state/0/3/1.delta
  sql/core/src/test/resources/structured-streaming/checkpoint-version-2.4.5-for-compatibility-test-sum-decimal/state/0/4/1.delta
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingStateStoreFormatCompatibilitySuite.scala
Due: language-matters

update dev/create-release/known_translations
  dev/create-release/known_translations
Due: language-matters

[SPARK-32034][SQL][2.4] Port HIVE-14817: Shutdown the SessionManager timeoutChecker thread properly upon shutdown
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/session/SessionManager.java
Due: language-matters

Move out weekday from airflow.contrib (#9388)
  UPDATING.md
  airflow/contrib/utils/weekday.py
  airflow/sensors/weekday_sensor.py
  airflow/utils/weekday.py
  tests/sensors/test_weekday_sensor.py
  tests/utils/test_weekday.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Add AWS ECS system test (#8888)
  airflow/providers/amazon/aws/example_dags/example_ecs_fargate.py
  tests/providers/amazon/aws/operators/test_ecs_system.py
  tests/test_utils/amazon_system_helpers.py
Due: isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Simplify DateTimeUtils.cleanLegacyTimestampStr
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/UnivocityParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
Due: language-matters

Copy an example from previous comment
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
Due: language-matters

Don‘t add new rule
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/PushCNFPredicateThroughFileScan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkOptimizer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PruneFileSourcePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/HiveSessionStateBuilder.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/PruneHiveTablePartitions.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/execution/PushCNFPredicateThroughHiveTableScan.scala
Due: language-matters

Update PruneFileSourcePartitions.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/PruneFileSourcePartitions.scala
Due: language-matters

[SPARK-32049][SQL]Upgrade oracle JDBC driver to the latest
  external/docker-integration-tests/pom.xml
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/OracleIntegrationSuite.scala
  pom.xml
Due: language-matters

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/DDLSuite.scala
Due: language-matters

use catalogfunction
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/v2ResolutionPlans.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
Due: language-matters

Extract common code from Hour, Minute, Second and SecondWithFraction
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
Due: language-matters

Pylint fixes and deprecation of rare used methods in Connection (#9419)
  UPDATING.md
  airflow/hooks/base_hook.py
  airflow/models/connection.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  scripts/ci/pylint_todo.txt
  tests/models/test_connection.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/livy/hooks/test_livy.py
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/providers/google/cloud/operators/test_cloud_sql.py
Due: isort, build-providers-dependencies, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, pylint-tests, flake8

Extract common code to GetDateField
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
Due: language-matters

[SPARK-32038][SQL] NormalizeFloatingNumbers should also work on distinct aggregate
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/AggUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameAggregateSuite.scala
Due: language-matters

Extract common code from DayWeek to GetDateField
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala
Due: language-matters

[MINOR][SQL] Add `IS [NOT] NULL` examples to ArrayFilter/ArrayExists
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/higherOrderFunctions.scala
Due: language-matters

[SPARK-32031][SQL] Fix the wrong references of the PartialMerge/Final AggregateExpression
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/interfaces.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/BaseAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/HashAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/ObjectHashAggregateExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/aggregate/SortAggregateExec.scala
Due: language-matters

doc for TemporalSequenceImpl
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
Due: language-matters

unify getreader
  core/src/main/scala/org/apache/spark/MapOutputTracker.scala
  core/src/main/scala/org/apache/spark/rdd/CoGroupedRDD.scala
  core/src/main/scala/org/apache/spark/rdd/ShuffledRDD.scala
  core/src/main/scala/org/apache/spark/rdd/SubtractedRDD.scala
  core/src/main/scala/org/apache/spark/shuffle/ShuffleManager.scala
  core/src/main/scala/org/apache/spark/shuffle/sort/SortShuffleManager.scala
  core/src/test/scala/org/apache/spark/MapOutputTrackerSuite.scala
  core/src/test/scala/org/apache/spark/ShuffleSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/CustomShuffledRDD.scala
  core/src/test/scala/org/apache/spark/shuffle/BlockStoreShuffleReaderSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/ShuffledRowRDD.scala
Due: language-matters

revert param endMapIndex
  core/src/main/scala/org/apache/spark/MapOutputTracker.scala
Due: language-matters

Remove redundant code from breeze initialization (#9375)
  scripts/ci/libraries/_initialization.sh
Due: shellcheck, language-matters, bat-tests

Fix csv type inference
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/CSVInferSchema.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/csv/CSVInferSchemaSuite.scala
  sql/core/src/test/resources/test-data/mixed-types1.csv
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
Due: language-matters

[SPARK-32058][BUILD] Use Apache Hadoop 3.2.0 dependency by default
  dev/create-release/release-build.sh
  pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
Due: shellcheck, language-matters, bat-tests

[SPARK-32044][SS][2.4] Kakfa continuous processing print mislead initial offset
  external/kafka-0-10-sql/src/main/scala/org/apache/spark/sql/kafka010/KafkaContinuousReader.scala
Due: language-matters

Use hadoop-3.2 in PRbuilder by default
  dev/run-tests.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Remove unused recurse_tasks function (#9465)
  airflow/www/utils.py
Due: isort, pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Register map output metadata upon committing shuffle map tasks.
  core/pom.xml
  core/src/main/java/org/apache/spark/shuffle/api/ShuffleDriverComponents.java
  core/src/main/java/org/apache/spark/shuffle/api/metadata/ShuffleOutputTracker.java
  core/src/main/java/org/apache/spark/shuffle/sort/BypassMergeSortShuffleWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/UnsafeShuffleWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskShuffleOutputTracker.java
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskSingleSpillMapOutputWriter.java
  core/src/main/scala/org/apache/spark/ContextCleaner.scala
  core/src/main/scala/org/apache/spark/Dependency.scala
  core/src/main/scala/org/apache/spark/MapOutputTracker.scala
  core/src/main/scala/org/apache/spark/SparkContext.scala
  core/src/main/scala/org/apache/spark/scheduler/DAGScheduler.scala
  core/src/main/scala/org/apache/spark/scheduler/MapTaskResult.scala
  core/src/main/scala/org/apache/spark/scheduler/ShuffleMapTask.scala
  core/src/main/scala/org/apache/spark/shuffle/ShuffleWriteProcessor.scala
  core/src/main/scala/org/apache/spark/shuffle/ShuffleWriter.scala
  core/src/main/scala/org/apache/spark/shuffle/sort/SortShuffleWriter.scala
  core/src/main/scala/org/apache/spark/storage/BlockManagerSlaveEndpoint.scala
  core/src/test/java/org/apache/spark/shuffle/sort/UnsafeShuffleWriterSuite.java
  core/src/test/scala/org/apache/spark/InternalAccumulatorSuite.scala
  core/src/test/scala/org/apache/spark/MapOutputTrackerSuite.scala
  core/src/test/scala/org/apache/spark/MapStatusesSerDeserBenchmark.scala
  core/src/test/scala/org/apache/spark/ShuffleSuite.scala
  core/src/test/scala/org/apache/spark/shuffle/sort/BypassMergeSortShuffleWriterSuite.scala
  pom.xml
Due: language-matters

Add a mock version for tests.
  core/src/main/java/org/apache/spark/shuffle/api/metadata/ShuffleOutputTracker.java
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskShuffleOutputTracker.java
  core/src/test/scala/org/apache/spark/ShuffleStoragePluginSuite.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncBackupMapOutputMetadata.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncBackupMapOutputWriter.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncBackupShuffleDataIO.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncBackupShuffleDriverComponents.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncBackupShuffleExecutorComponents.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncBackupShuffleOutputTracker.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncShuffleBlockBackupManager.scala
Due: language-matters

Update manifests
  dev/deps/spark-deps-hadoop-2.7-hive-1.2
  dev/deps/spark-deps-hadoop-2.7-hive-2.3
  dev/deps/spark-deps-hadoop-3.2-hive-2.3
Due: language-matters

Add a test for specifically checking map output registration and backup
  core/src/test/scala/org/apache/spark/ShuffleStoragePluginSuite.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncBackupShuffleOutputTracker.scala
  core/src/test/scala/org/apache/spark/shuffle/io/plugin/MockAsyncShuffleBlockBackupManager.scala
Due: language-matters

Return map output commit message from single spill writer
  core/src/main/java/org/apache/spark/shuffle/api/SingleSpillShuffleMapOutputWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/UnsafeShuffleWriter.java
  core/src/main/java/org/apache/spark/shuffle/sort/io/LocalDiskSingleSpillMapOutputWriter.java
Due: language-matters

init
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
Due: language-matters

add ut
  sql/core/src/test/scala/org/apache/spark/sql/SparkSessionBuilderSuite.scala
Due: language-matters

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$| ^backport_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  mypy: any of: \.py$, but not: ^dev|^backport_packages
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^scripts/.*\.py$|^dev|^backport_packages|^kubernetes_tests
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  bat-tests: any of: ^breeze$|^breeze-complete$|\.sh$|\.bash$
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
