Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

[SPARK-34945] Fix Javadoc for classes in catalyst module
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/CustomTaskMetric.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/SupportsAtomicPartitionManagement.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/SupportsPartitionManagement.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableProvider.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/Batch.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/InputPartition.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/PartitionReader.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/PartitionReaderFactory.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownFilters.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownRequiredColumns.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsReportPartitioning.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsReportStatistics.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/partitioning/Distribution.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/partitioning/Partitioning.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/ContinuousPartitionReader.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/ContinuousStream.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/Offset.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/PartitionOffset.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/ReadAllAvailable.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/SparkDataStream.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/SupportsAdmissionControl.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/BatchWrite.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/DataWriter.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/DataWriterFactory.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/LogicalWriteInfo.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/WriteBuilder.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/WriterCommitMessage.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/streaming/StreamingDataWriterFactory.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/streaming/StreamingWrite.java
  sql/catalyst/src/main/java/org/apache/spark/sql/streaming/GroupStateTimeout.java
  sql/catalyst/src/main/java/org/apache/spark/sql/vectorized/ColumnVector.java
Due: language-matters

follow comment
  docs/sql-ref-syntax-qry-select-groupby.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/grouping.scala
  sql/core/src/test/resources/sql-tests/inputs/group-analytics.sql
  sql/core/src/test/resources/sql-tests/results/group-analytics.sql.out
Due: language-matters, provider-yamls, markdownlint

Add dependencies in remote shuffle service pom to solve class not found issue
  remote-shuffle-service/pom.xml
Due: language-matters

simple config option to speed up catalog loading
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/InMemoryCatalog.scala
Due: language-matters

updating formatting to stay within 100 chars
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/TimeWindow.scala
Due: language-matters

fix year in CONTRIBUTING.rst (#15166)
  CONTRIBUTING.rst
Due: update-extras, language-matters

Add missing license headers
  remote-shuffle-service/kubernetes.yml
  remote-shuffle-service/src/main/java/org/apache/spark/remoteshuffle/handlers/ChannelFutureCloseListener.java
  remote-shuffle-service/src/main/java/org/apache/spark/remoteshuffle/handlers/ChannelIdleCheck.java
  remote-shuffle-service/src/test/java/org/apache/spark/remoteshuffle/metadata/ServerSequenceServiceRegistryTest.java
  remote-shuffle-service/src/test/java/org/apache/spark/remoteshuffle/util/ServerHostAndPortTest.java
Due: language-matters

A bunch of template_fields_renderers additions (#15130)
  airflow/operators/generic_transfer.py
  airflow/operators/sql.py
  airflow/operators/trigger_dagrun.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/emr_create_job_flow.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/operators/sns.py
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  airflow/providers/amazon/aws/transfers/mysql_to_s3.py
  airflow/providers/grpc/operators/grpc.py
  airflow/providers/microsoft/azure/operators/azure_container_instances.py
  airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  airflow/providers/microsoft/winrm/operators/winrm.py
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
  airflow/providers/oracle/transfers/oracle_to_oracle.py
  airflow/providers/singularity/operators/singularity.py
  airflow/providers/snowflake/transfers/snowflake_to_slack.py
  airflow/providers/ssh/operators/ssh.py
  airflow/www/utils.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

AWS: Do not log info when SSM & SecretsManager secret not found (#15120)
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
Due: build-providers-dependencies, pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, airflow-providers-available, mypy, pylint, flake8

Minor Helm Chart doc enhancements (#15124)
  docs/helm-chart/index.rst
  docs/helm-chart/quick-start.rst
Due: language-matters, provider-yamls

Store inventories in GitHub Action cache (#15109)
  .github/workflows/ci.yml
  docs/exts/docs_build/fetch_inventories.py
  scripts/ci/docs/ci_docs_prepare.sh
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, shellcheck, bats-tests, provider-yamls, mypy, pylint, flake8

Add core-operators label to boring cyborg automation (#15167)
  .github/boring-cyborg.yml
Due: language-matters

Fix documentation error in `git_sync_template.yaml` (#13197)
  airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml
Due: language-matters

Fix document.Remove duplicate paragraph, add some comments in code.
  docs/sql-data-sources-csv.md
  examples/src/main/java/org/apache/spark/examples/sql/JavaSQLDataSourceExample.java
  examples/src/main/python/sql/datasource.py
  examples/src/main/scala/org/apache/spark/examples/sql/SQLDataSourceExample.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, mypy, pylint, flake8

Remove unused Scala imports.
  examples/src/main/scala/org/apache/spark/examples/sql/SQLDataSourceExample.scala
Due: language-matters

Deactivate trigger, refresh, and delete controls on dag detail view. (#14144)
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
Due: pydevd, dont-use-safe-filter, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Add Guidelines about releasing Providers (#15168)
  dev/PROJECT_GUIDELINES.md
Due: language-matters, markdownlint

Close issues that are pending response from the issue author (#15170)
  .github/workflows/stale.yml
Due: language-matters

initial commit
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/Command.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/commands.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/views.scala
Due: language-matters

remove transient
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
Due: language-matters

Fix.
  examples/src/main/scala/org/apache/spark/examples/sql/SQLDataSourceExample.scala
Due: language-matters

[SPARK-34948][K8S] Add ownerReference to executor configmap to fix leakages
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsAllocator.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackendSuite.scala
Due: language-matters

fix isStreaming flag when optimize logical plan
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/OptimizeMetadataOnlyQuery.scala
Due: language-matters

[SPARK-34945][DOC] Fix Javadoc for classes in catalyst module
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/CustomTaskMetric.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/SupportsAtomicPartitionManagement.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/SupportsPartitionManagement.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableProvider.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/Batch.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/InputPartition.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/PartitionReader.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/PartitionReaderFactory.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownFilters.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsPushDownRequiredColumns.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsReportPartitioning.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/SupportsReportStatistics.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/partitioning/Distribution.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/partitioning/Partitioning.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/ContinuousPartitionReader.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/ContinuousStream.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/Offset.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/PartitionOffset.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/ReadAllAvailable.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/SparkDataStream.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/read/streaming/SupportsAdmissionControl.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/BatchWrite.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/DataWriter.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/DataWriterFactory.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/LogicalWriteInfo.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/WriteBuilder.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/WriterCommitMessage.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/streaming/StreamingDataWriterFactory.java
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/write/streaming/StreamingWrite.java
  sql/catalyst/src/main/java/org/apache/spark/sql/streaming/GroupStateTimeout.java
  sql/catalyst/src/main/java/org/apache/spark/sql/vectorized/ColumnVector.java
Due: language-matters

Do not reregister BlockManager with Executor is shutting down
  core/src/main/scala/org/apache/spark/executor/Executor.scala
  core/src/test/scala/org/apache/spark/executor/ExecutorSuite.scala
Due: language-matters

Use warn log level.
  core/src/main/scala/org/apache/spark/MapOutputTracker.scala
Due: language-matters

Restore base lineage backend (#14146)
  airflow/lineage/__init__.py
  airflow/lineage/backend.py
  docs/apache-airflow/lineage.rst
  tests/lineage/test_lineage.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, mypy, pylint, flake8

Increase timeout for building the docs (#15157)
  docs/exts/docs_build/code_utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, mypy, pylint, flake8

ints
  sql/core/src/main/java/org/apache/spark/sql/execution/datasources/parquet/VectorizedColumnReader.java
Due: language-matters

[SPARK-34934] Synchronize access to `MetricsSystem#getSourcesByName`
  core/src/main/scala/org/apache/spark/metrics/MetricsSystem.scala
Due: language-matters

Merges prepare/test provider packages into two jobs (#15152)
  .github/workflows/ci.yml
Due: language-matters

Finish quarantine for test_should_force_kill_process (#15081)
  tests/utils/test_process_utils.py
Due: pydevd, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-34821][INFRA] Set up a workflow for developers to run benchmark in their fork
  .github/workflows/benchmark.yml
  core/src/test/scala/org/apache/spark/benchmark/BenchmarkBase.scala
  core/src/test/scala/org/apache/spark/benchmark/Benchmarks.scala
  core/src/test/scala/org/apache/spark/rdd/CoalescedRDDBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/ExternalAppendOnlyUnsafeRowArrayBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/SubExprEliminationBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/SqlBasedBenchmark.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonBenchmark.scala
Due: language-matters

Add documentation create/update community providers (#15061)
  docs/apache-airflow-providers/howto/create-update-providers.rst
  docs/apache-airflow-providers/index.rst
Due: language-matters, provider-yamls

Fix indentation
  core/src/test/scala/org/apache/spark/executor/ExecutorSuite.scala
Due: language-matters

throw fetch failure exception when unable to deserialize map statuses.
  core/src/main/scala/org/apache/spark/MapOutputTracker.scala
  core/src/test/scala/org/apache/spark/MapOutputTrackerSuite.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
