Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Revert "docker dep"
  dev/infra/Dockerfile
Due: lint-dockerfile, language-matters

Revert "add dep"
  .github/workflows/build_python_connect.yml
  dev/requirements.txt
Due: language-matters

switch away from parameterized
  python/pyspark/sql/tests/connect/client/test_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

lint
  python/pyspark/sql/tests/connect/client/test_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
Due: language-matters

update
  python/pyspark/sql/tests/connect/client/test_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Revert "Fix"
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
Due: language-matters

use returns
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
Due: language-matters

add test
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
Due: language-matters

[SPARK-45988][SPARK-45989][PYTHON] Fix typehints to handle `list` GenericAlias in Python 3.11+
  python/pyspark/pandas/typedef/typehints.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update genjavadoc to 0.19
  project/SparkBuild.scala
Due: language-matters

Improve SQLQuerySuite test output
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

only for test
  connector/connect/client/jvm/pom.xml
Due: language-matters

[SPARK-48056][CONNECT][PYTHON] Re-execute plan if a SESSION_NOT_FOUND error is raised and no partial response was received
  python/pyspark/sql/connect/client/reattach.py
  python/pyspark/sql/tests/connect/client/test_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update
  common/utils/src/main/java/org/apache/spark/internal/Logger.java
  common/utils/src/test/java/org/apache/spark/util/LoggerSuiteBase.java
  common/utils/src/test/java/org/apache/spark/util/PatternLoggerSuite.java
  common/utils/src/test/java/org/apache/spark/util/StructuredLoggerSuite.java
Due: language-matters

[SPARK-48072][SQL][TESTS] Improve SQLQuerySuite test output - use `===` instead of `sameElements` for Arrays
  sql/core/src/test/scala/org/apache/spark/sql/SQLQuerySuite.scala
Due: language-matters

[SPARK-48081] Fix ClassCastException in NTile.checkInputDataTypes() when argument is non-foldable or of wrong type
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
Due: language-matters

exclude scala.collection.Seq at java side
  dev/checkstyle.xml
  pom.xml
  project/plugins.sbt
  sql/core/src/test/java/test/org/apache/spark/sql/JavaDataFrameSuite.java
Due: language-matters

[SPARK-48079][BUILD] Upgrade maven-install/deploy-plugin to 3.1.2
  pom.xml
Due: language-matters

Revert "[SPARK-48081] Fix ClassCastException in NTile.checkInputDataTypes() when argument is non-foldable or of wrong type"
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
Due: language-matters

test expectation updates
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
Due: language-matters

ODP-1095 Critical CVE fixes patch (#6)
  common/unsafe/src/test/scala/org/apache/spark/unsafe/types/UTF8StringPropertyCheckSuite.scala
  common/utils/src/main/scala/org/apache/spark/util/MavenUtils.scala
  core/pom.xml
  core/src/main/scala/org/apache/spark/internal/config/package.scala
  core/src/test/scala/org/apache/spark/deploy/IvyTestUtils.scala
  dev/deps/spark-deps-hadoop-2-hive-2.3
  dev/deps/spark-deps-hadoop-3-hive-2.3
  dev/run-tests.py
  docs/core-migration-guide.md
  pom.xml
  resource-managers/yarn/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/CLIService.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/session/HiveSessionImpl.java
  sql/hive-thriftserver/src/main/java/org/apache/hive/service/cli/session/HiveSessionImplwithUGI.java
  sql/hive/pom.xml
  sql/hive/src/test/scala/org/apache/spark/sql/hive/test/TestHive.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, provider-yamls, markdownlint, flake8

[SPARK-47035][SS][CONNECT] Protocol for Client-Side Listener
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47035][SS][CONNECT][FOLLOWUP] Additional protobuf change to client side listener
  connector/connect/common/src/main/protobuf/spark/connect/base.proto
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  python/pyspark/sql/connect/proto/base_pb2.py
  python/pyspark/sql/connect/proto/base_pb2.pyi
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-46873][SS] Do not recreate new StreamingQueryManager for the same Spark Session
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/session.py
  python/pyspark/sql/tests/streaming/test_streaming.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47174][CONNECT][SS][1/2] Server side SparkConnectListenerBusListener for Client side streaming query listener
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectStreamingQueryListenerHandler.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SessionHolder.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectListenerBusListener.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/SparkConnectListenerBusListenerSuite.scala
Due: language-matters

[SPARK-47233][CONNECT][SS][2/2] Client & Server logic for Client side streaming query listener
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectListenerBusListener.scala
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/streaming/query.py
  python/pyspark/sql/connect/streaming/readwriter.py
  python/pyspark/sql/tests/connect/streaming/test_parity_listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

initial
  common/variant/src/main/java/org/apache/spark/types/variant/VariantUtil.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/VariantEndToEndSuite.scala
Due: language-matters

test update
  python/pyspark/sql/tests/connect/streaming/test_parity_listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47877][SS][CONNECT] Speed up test_parity_listener
  python/pyspark/sql/tests/streaming/test_streaming_listener.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-48067][SQL] Fix variant default columns
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/literals.scala
  sql/core/src/test/scala/org/apache/spark/sql/VariantSuite.scala
Due: language-matters

i guess this is it?
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/config/Connect.scala
Due: language-matters

[SPARK-48081][SQL][3.5] Fix ClassCastException in NTile.checkInputDataTypes() when argument is non-foldable or of wrong type
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/windowExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/AnalysisErrorSuite.scala
Due: language-matters

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
