Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

Improve performance by directly calling methods for UTF8_BINARY_COLLATION_ID
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

Improve collatedIndexOf
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
Due: language-matters

Remove repeated code for getting collationId
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

[SPARK-46840][SQL][TESTS] Add `CollationBenchmark`
  sql/core/benchmarks/CollationBenchmark-jdk21-results.txt
  sql/core/benchmarks/CollationBenchmark-results.txt
  sql/core/src/test/scala/org/apache/spark/sql/execution/benchmark/CollationBenchmark.scala
Due: language-matters

Incorporate changes
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CollationTypeCasts.scala
Due: language-matters

Fix error
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
Due: language-matters

Revert unnecessary changes
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

Change var to val in StringType
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
Due: language-matters

Simplify code gen
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/stringExpressions.scala
Due: language-matters

Fix import style
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CollationTypeCasts.scala
Due: language-matters

Change to address Bhuwan's comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateEncoder.scala
Due: language-matters

[SPARK-47659][CORE][TESTS] Improve `*LoggingSuite*`
  common/utils/src/test/scala/org/apache/spark/util/PatternLoggingSuite.scala
  common/utils/src/test/scala/org/apache/spark/util/StructuredLoggingSuite.scala
Due: language-matters

Misc fix
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateEncoder.scala
Due: language-matters

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/variant/variantExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/variant/VariantExpressionSuite.scala
Due: language-matters

Enable `spark.metrics.appStatusSource.enabled` by default
  core/src/main/scala/org/apache/spark/internal/config/Status.scala
  docs/monitoring.md
Due: language-matters, provider-yamls, markdownlint

resolve comments
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessor.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateInitialStateSuite.scala
Due: language-matters

review comments
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/config/Connect.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ConnectProgressExecutionListener.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/execution/ExecuteGrpcResponseSender.scala
  core/src/main/scala/org/apache/spark/deploy/SparkSubmit.scala
  python/docs/source/reference/pyspark.sql/spark_session.rst
  python/pyspark/shell.py
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/connect/shell/progress.py
  python/pyspark/sql/tests/connect/shell/test_progress.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

scala style
  sql/api/src/main/scala/org/apache/spark/sql/streaming/StatefulProcessor.scala
Due: language-matters

improve docstring
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateInitialStateSuite.scala
Due: language-matters

nits
  sql/core/src/test/scala/org/apache/spark/sql/streaming/TransformWithStateInitialStateSuite.scala
Due: language-matters

[SPARK-47674][CORE] Enable `spark.metrics.appStatusSource.enabled` by default
  core/src/main/scala/org/apache/spark/internal/config/Status.scala
  docs/monitoring.md
Due: language-matters, provider-yamls, markdownlint

lint
  python/pyspark/shell.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-47675][BUILD][K8S] Remove `aws.java.sdk.v2.version` property in pom.xml
  pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
Due: language-matters

Revert explicit flag addition
  sql/api/src/main/scala/org/apache/spark/sql/types/StringType.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CollationTypeCasts.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/TypeCoercion.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collationExpressions.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/collations.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/CollationSuite.scala
Due: language-matters

Revert "[SPARK-47675][BUILD][K8S] Remove `aws.java.sdk.v2.version` property in pom.xml"
  pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
Due: language-matters

Upgrade to 2.23.19
  pom.xml
Due: language-matters

Misc updates to support negative float/double values
  common/utils/src/main/resources/error/error-classes.json
  docs/sql-error-conditions.md
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateEncoder.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/StateStoreErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateStoreSuite.scala
Due: language-matters, provider-yamls, markdownlint

Fix comments
  sql/core/src/main/scala/org/apache/spark/sql/execution/streaming/state/RocksDBStateEncoder.scala
Due: language-matters

[SPARK-47675][K8S][TESTS] Use AWS SDK v2 `2.23.19` in K8s IT
  pom.xml
Due: language-matters

[SPARK-47318] Updating Crypto docs
  common/network-common/src/main/java/org/apache/spark/network/crypto/README.md
Due: language-matters, markdownlint

[SPARK-47318] Updating documentation for AuthEngine KEX change
  common/network-common/src/main/java/org/apache/spark/network/crypto/README.md
  docs/security.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-47318][Security] Adds HKDF round to AuthEngine key derivation
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthEngine.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthEngineSuite.java
Due: language-matters

[SPARK-47318] Adding a flag to support old AuthEngine protocol
  common/network-common/src/main/java/org/apache/spark/network/crypto/AuthEngine.java
  common/network-common/src/main/java/org/apache/spark/network/crypto/README.md
  common/network-common/src/main/java/org/apache/spark/network/util/TransportConf.java
  common/network-common/src/test/java/org/apache/spark/network/crypto/AuthEngineSuite.java
  docs/security.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-47676][BUILD] Clean up the removed `VersionsSuite` references
  project/SparkBuild.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/package.scala
Due: language-matters

extract assertNonEmptyPaths
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameReader.scala
Due: language-matters

[SPARK-47643][SS][PYTHON] Add pyspark test for python streaming source
  dev/sparktestsupport/modules.py
  python/pyspark/sql/tests/test_python_streaming_datasource.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
