Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

lint-openapi:
  name: Lint OpenAPI using openapi-spec-validator
  entry: openapi-spec-validator --schema 3.0.0
  language: python
  additional_dependencies:
  - openapi-spec-validator

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  pass_filenames: true

setup-order:
  name: Check order of dependencies in setup.py and setup.cfg
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_order_setup.py
  additional_dependencies:
  - rich

setup-extra-packages:
  name: Checks setup extra packages
  description: Checks if all the libraries in setup.py are listed in extra-packages-ref.rst file
  language: python
  pass_filenames: false
  entry: ./scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  additional_dependencies:
  - rich==9.2.0

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false

update-local-yml-file:
  name: Update mounts in the local yml file
  entry: ./scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  language: system
  pass_filenames: false

update-setup-cfg-file:
  name: Update setup.cfg file with all licenses
  entry: ./scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  language: system
  pass_filenames: false

build-providers-dependencies:
  name: Build cross-dependencies for providers packages
  entry: ./scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  language: system
  pass_filenames: false

update-extras:
  name: Update extras in documentation
  entry: ./scripts/ci/pre_commit/pre_commit_insert_extras.py
  language: python
  pass_filenames: false

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

dont-use-safe-filter:
  language: pygrep
  name: Don't use safe in templates
  description: the Safe filter is error-prone, use Markup() in code instead
  entry: \|\s*safe
  pass_filenames: true

no-providers-in-core-examples:
  language: pygrep
  name: No providers imports in core example DAGs
  description: The core example DAGs have no dependencies other than core Airflow
  entry: ^\s*from airflow\.providers.*
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Airflow style is to use absolute imports only
  entry: ^\s*from\s+\.
  pass_filenames: true

language-matters:
  language: pygrep
  name: Check for language that we do not accept as community
  description: Please use "deny_list" or "allow_list"  instead.
  entry: (?i)(black|white)[_-]?list
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsistent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

update
  core/src/main/resources/error/error-classes.json
  project/MimaExcludes.scala
Due: language-matters

[SPARK-43185][BUILD] Inline `hadoop-client` related properties in `pom.xml`
  common/network-yarn/pom.xml
  connector/kafka-0-10-assembly/pom.xml
  connector/kafka-0-10-token-provider/pom.xml
  connector/kinesis-asl-assembly/pom.xml
  core/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  pom.xml
  resource-managers/yarn/pom.xml
  sql/hive/pom.xml
Due: language-matters

Fix more tests
  sql/core/src/test/resources/sql-tests/results/udaf/udaf-group-by.sql.out
Due: language-matters

update pyspark test
  core/src/main/resources/error/error-classes.json
  python/pyspark/tests/test_taskcontext.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

restore register
  python/pyspark/sql/connect/udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

update test
  core/src/test/scala/org/apache/spark/scheduler/TaskSetManagerSuite.scala
Due: language-matters

[SPARK-43387][SQL] Provide a human readable error code for _LEGACY_ERROR_TEMP_1168.
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/numeric.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/numeric.sql.out
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
Due: language-matters

Fix case of suggested list from multiple tables
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/join.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/udf/postgreSQL/udf-join.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/join.sql.out
  sql/core/src/test/resources/sql-tests/results/udf/postgreSQL/udf-join.sql.out
Due: language-matters

Clarify comment for nested column prefixes
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/StringUtils.scala
Due: language-matters

cmt
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/streaming/query.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43337][UI][3.3] Asc/desc arrow icons for sorting column does not get displayed in the table column
  core/src/main/resources/org/apache/spark/ui/static/jquery.dataTables.1.10.25.min.css
Due: language-matters

[SPARK-43340][CORE] Handle missing stack-trace field in eventlogs
  core/src/main/scala/org/apache/spark/util/JsonProtocol.scala
  core/src/test/scala/org/apache/spark/util/JsonProtocolSuite.scala
Due: language-matters

Adress PR reviews
  core/src/main/scala/org/apache/spark/util/JsonProtocol.scala
Due: language-matters

Revert "[SPARK-39006][K8S] Show a directional error message for executor PVC dynamic allocation failure"
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/k8s/features/MountVolumesFeatureStep.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/deploy/k8s/features/MountVolumesFeatureStepSuite.scala
Due: language-matters

[SPARK-43286] Removing unused AES_SALTED_MAGIC errors and tests
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
Due: language-matters

minor
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
Due: language-matters

foreachbatch spark connect
  connector/connect/common/src/main/protobuf/spark/connect/commands.proto
  connector/connect/common/src/main/protobuf/spark/connect/relations.proto
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/sql/connect/plan.py
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/commands_pb2.pyi
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/connect/streaming/readwriter.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

add streaming_worker.py
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectService.scala
  core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala
  core/src/main/scala/org/apache/spark/api/python/StreamingPythonRunner.scala
  python/pyspark/tests/streaming_worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

python proto
  python/pyspark/sql/connect/proto/commands_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.py
  python/pyspark/sql/connect/proto/relations_pb2.pyi
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

sort errors properly, add sqlstate
  core/src/main/resources/error/error-classes.json
  sql/core/src/test/resources/sql-tests/analyzer-results/postgreSQL/numeric.sql.out
  sql/core/src/test/resources/sql-tests/results/postgreSQL/numeric.sql.out
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
Due: language-matters

[SPARK-43374][INFRA] Move protobuf-java to BSD 3-clause group and update the license copy
  LICENSE-binary
  licenses-binary/LICENSE-protobuf.txt
Due: language-matters, check-apache-license

[SPARK-43377][SQL] Enable `spark.sql.thriftServer.interruptOnCancel` by default
  docs/sql-migration-guide.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters, provider-yamls, markdownlint

restore register
  python/pyspark/sql/udf.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

ProblemFilters.exclude
  project/MimaExcludes.scala
Due: language-matters

format import
  common/utils/src/main/scala/org/apache/spark/ErrorClassesJSONReader.scala
Due: language-matters

Fix issue SPARK-42842 Signed-off-by: Liang Yan <ckgppl_yan@sina.cn>
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/RegexpExpressionsSuite.scala
  sql/core/src/test/resources/sql-tests/results/regexp-functions.sql.out
Due: language-matters

merge into REGEX_GROUP_INDEX. Signed-off-by: Liang Yan <ckgppl_yan@sina.cn>
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/RegexpExpressionsSuite.scala
  sql/core/src/test/resources/sql-tests/results/regexp-functions.sql.out
Due: language-matters

Idle connection should not be closed when closeIdleConnection is disabled
  common/network-common/src/main/java/org/apache/spark/network/server/TransportChannelHandler.java
Due: language-matters

[SPARK-43315][CONNECT][PYTHON][SS] Migrate remaining errors from DataFrame(Reader|Writer) into error class
  python/pyspark/errors/error_classes.py
  python/pyspark/sql/connect/readwriter.py
  python/pyspark/sql/readwriter.py
  python/pyspark/sql/streaming/readwriter.py
  python/pyspark/sql/tests/streaming/test_streaming_foreach.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43390][SQL] DSv2 allows CTAS/RTAS to reserve schema nullability
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableCatalog.java
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteToDataSourceV2Exec.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DatasourceV2SQLBase.scala
Due: language-matters

[SPARK-43376][SQL] Improve reuse subquery with table cache
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/InsertAdaptiveSparkPlan.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/ReuseAdaptiveSubquery.scala
  sql/core/src/test/scala/org/apache/spark/sql/CachedTableSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SubquerySuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: language-matters

[SPARK-42842][SQL] Merge the error class _LEGACY_ERROR_TEMP_2006 into REGEX_GROUP_INDEX
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/regexpExpressions.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/RegexpExpressionsSuite.scala
  sql/core/src/test/resources/sql-tests/results/regexp-functions.sql.out
Due: language-matters

[SPARK-43394][BUILD] Upgrade maven to 3.8.8
  dev/appveyor-install-dependencies.ps1
  docs/building-spark.md
  pom.xml
Due: language-matters, provider-yamls, markdownlint

[SPARK-43395][BUILD] Exclude macOS tar extended metadata in make-distribution.sh
  dev/make-distribution.sh
Due: language-matters, shellcheck, bats-tests

remove blank
  docs/core-migration-guide.md
Due: language-matters, provider-yamls, markdownlint

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh
