Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-44045][SQL][TESTS] Mark `WholeStageCodegenSparkSubmitSuite` as `ExtendedSQLTest`
  sql/core/src/test/scala/org/apache/spark/sql/execution/WholeStageCodegenSparkSubmitSuite.scala
Due: language-matters

[SPARK-43684][SPARK-43685][SPARK-43686][SPARK-43691][CONNECT][PS] Fix `(NullOps|NumOps).(eq|ne)` for Spark Connect
  python/pyspark/pandas/data_type_ops/base.py
  python/pyspark/pandas/data_type_ops/binary_ops.py
  python/pyspark/pandas/data_type_ops/categorical_ops.py
  python/pyspark/pandas/data_type_ops/datetime_ops.py
  python/pyspark/pandas/data_type_ops/null_ops.py
  python/pyspark/pandas/data_type_ops/num_ops.py
  python/pyspark/pandas/data_type_ops/string_ops.py
  python/pyspark/pandas/data_type_ops/timedelta_ops.py
  python/pyspark/pandas/tests/connect/data_type_ops/test_parity_null_ops.py
  python/pyspark/pandas/tests/connect/data_type_ops/test_parity_num_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_null_ops.py
  python/pyspark/sql/utils.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-42298][SQL] Assign name to _LEGACY_ERROR_TEMP_2132
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/json/JacksonParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/BadRecordException.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/FailureSafeParser.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/JsonExpressionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/CsvFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/JsonFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/errors/QueryExecutionErrorsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/json/JsonSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
Due: language-matters

[SPARK-43380][SQL] Fix conversion of Avro logical timestamp type to Long
  connector/avro/src/main/scala/org/apache/spark/sql/avro/AvroDeserializer.scala
  connector/avro/src/test/scala/org/apache/spark/sql/avro/AvroSuite.scala
Due: language-matters

[SPARK-43617][PS][CONNECT] Enable `pyspark.pandas.spark.functions.product` in Spark Connect
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/pandas/spark/functions.py
  python/pyspark/pandas/tests/connect/computation/test_parity_compute.py
  python/pyspark/pandas/tests/connect/groupby/test_parity_stat.py
  python/pyspark/pandas/tests/connect/series/test_parity_stat.py
  python/pyspark/pandas/tests/connect/test_parity_generic_functions.py
  python/pyspark/pandas/tests/connect/test_parity_stats.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-32559][SQL] Fix the trim logic did't handle ASCII control characters correctly
  common/unsafe/src/main/java/org/apache/spark/unsafe/types/UTF8String.java
  common/unsafe/src/test/java/org/apache/spark/unsafe/types/UTF8StringSuite.java
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/DateTimeUtilsSuite.scala
Due: language-matters

[SPARK-44016][CONNECT] Prevent processing of artifacts that contain invalid paths (absolute, parent, sibling, nephew)
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/SparkConnectArtifactManager.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/artifact/util/ArtifactUtils.scala
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/service/SparkConnectAddArtifactsHandler.scala
  connector/connect/server/src/test/scala/org/apache/spark/sql/connect/service/AddArtifactsHandlerSuite.scala
Due: language-matters

[SPARK-43529][SQL][FOLLOWUP] Code cleanup in UnresolvedTableSpec and related plans
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveTableSpec.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Util.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/CreateTablePartitioningValidationSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriterV2.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V2CommandsCaseSensitivitySuite.scala
Due: language-matters

[SPARK-44038][DOCS][K8S] Update YuniKorn docs with v1.3
  docs/running-on-kubernetes.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-43529][SQL] Support general constant expressions as CREATE/REPLACE TABLE OPTIONS values
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveTableSpec.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/rules/RuleIdCollection.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Util.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryCompilationErrors.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/analysis/CreateTablePartitioningValidationSuite.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriter.scala
  sql/core/src/main/scala/org/apache/spark/sql/DataFrameWriterV2.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkSqlParser.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/CatalogImpl.scala
  sql/core/src/main/scala/org/apache/spark/sql/streaming/DataStreamWriter.scala
  sql/core/src/test/scala/org/apache/spark/sql/TableOptionsConstantFoldingSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/V2CommandsCaseSensitivitySuite.scala
Due: language-matters

[SPARK-44028][BUILD] Upgrade Apache `commons-io` to 2.13.0
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

[SPARK-43888][CONNECT][FOLLOW-UP] Spark Connect client should depend on common-utils explicitly
  connector/connect/client/jvm/pom.xml
Due: language-matters

[SPARK-43798][SQL][PYTHON] Support Python user-defined table functions
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/connect/client/CheckConnectJvmClientCompatibility.scala
  core/src/main/scala/org/apache/spark/api/python/PythonRunner.scala
  dev/sparktestsupport/modules.py
  python/docs/source/reference/pyspark.sql/core_classes.rst
  python/docs/source/reference/pyspark.sql/functions.rst
  python/docs/source/reference/pyspark.sql/spark_session.rst
  python/docs/source/reference/pyspark.sql/udtf.rst
  python/pyspark/rdd.py
  python/pyspark/sql/__init__.py
  python/pyspark/sql/_typing.pyi
  python/pyspark/sql/connect/session.py
  python/pyspark/sql/context.py
  python/pyspark/sql/functions.py
  python/pyspark/sql/session.py
  python/pyspark/sql/tests/connect/test_connect_basic.py
  python/pyspark/sql/tests/test_udtf.py
  python/pyspark/sql/udtf.py
  python/pyspark/worker.py
  sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/expressions/ExpressionInfo.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/PythonUDF.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/PlanHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/pythonLogicalOperators.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreePatterns.scala
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
  sql/core/src/main/scala/org/apache/spark/sql/UDTFRegistration.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkOptimizer.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkStrategies.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/BatchEvalPythonExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/BatchEvalPythonUDTFExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/ExtractPythonUDFs.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/python/UserDefinedPythonFunction.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/BaseSessionStateBuilder.scala
  sql/core/src/main/scala/org/apache/spark/sql/internal/SessionState.scala
  sql/core/src/test/scala/org/apache/spark/sql/IntegratedUDFTestUtils.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/python/PythonUDTFSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44036][CONNECT][PS] Cleanup & consolidate tickets to simplify the tasks
  python/pyspark/pandas/series.py
  python/pyspark/pandas/tests/connect/frame/test_parity_spark.py
  python/pyspark/pandas/tests/connect/groupby/test_parity_groupby.py
  python/pyspark/pandas/tests/connect/groupby/test_parity_split_apply.py
  python/pyspark/pandas/tests/connect/indexes/test_parity_timedelta.py
  python/pyspark/pandas/tests/connect/series/test_parity_series.py
  python/pyspark/pandas/tests/connect/test_parity_ops_on_diff_frames_slow.py
  python/pyspark/pandas/tests/connect/test_parity_reshape.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43798][PYTHON][FOLLOW-UP] Sets the batch size as 1 to send individual group
  python/pyspark/worker.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43885][SQL] DataSource V2: Handle MERGE commands for delta-based sources
  core/src/main/resources/error/README.md
  core/src/main/resources/error/error-classes.json
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteRowLevelCommand.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteUpdateTable.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/MergeRows.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/errors/QueryExecutionErrors.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MergeRowsExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DeleteFromTableSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DeltaBasedMergeIntoTableSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DeltaBasedMergeIntoTableUpdateAsDeleteAndInsertSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/MergeIntoTableSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/RowLevelOperationSuiteBase.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/AlignAssignmentsSuiteBase.scala
Due: language-matters, markdownlint

[SPARK-44023][SQL][TESTS] Add `System.gc` at `beforeEach` in `PruneFileSourcePartitionsSuite`
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/v2/AlterTableRenamePartitionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/PruneFileSourcePartitionsSuite.scala
Due: language-matters

[SPARK-44031][BUILD] Upgrade silencer to 1.7.13
  pom.xml
  project/SparkBuild.scala
Due: language-matters

[SPARK-43398][CORE] Executor timeout should be max of idle shuffle and rdd timeout
  core/src/main/scala/org/apache/spark/scheduler/dynalloc/ExecutorMonitor.scala
  core/src/test/scala/org/apache/spark/scheduler/dynalloc/ExecutorMonitorSuite.scala
Due: language-matters

[SPARK-43934][SQL][PYTHON][CONNECT] Add regexp_* functions to Scala and Python
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_count.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_extract_all.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_extract_all_with_regex_group_index.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_extract_all_without_regex_group_index.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_instr.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_instr_with_regex_group_index.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_instr_without_regex_group_index.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_like.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_regexp_substr.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_rlike.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_count.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_count.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_extract_all.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_extract_all.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_extract_all_with_regex_group_index.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_extract_all_with_regex_group_index.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_extract_all_without_regex_group_index.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_extract_all_without_regex_group_index.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_instr.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_instr.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_instr_with_regex_group_index.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_instr_with_regex_group_index.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_instr_without_regex_group_index.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_instr_without_regex_group_index.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_like.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_like.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_substr.json
  connector/connect/common/src/test/resources/query-tests/queries/function_regexp_substr.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_rlike.json
  connector/connect/common/src/test/resources/query-tests/queries/function_rlike.proto.bin
  python/docs/source/reference/pyspark.sql/functions.rst
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/StringFunctionsSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44035][PS][CONNECT][TESTS] Split `pyspark.pandas.tests.connect.test_parity_ops_on_diff_frames_slow`
  dev/sparktestsupport/modules.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/__init__.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_align.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_basic_slow.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_cov_corrwith.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_dot_frame.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_dot_series.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_index.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_series.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_setitem_frame.py
  python/pyspark/pandas/tests/connect/diff_frames_ops/test_parity_setitem_series.py
  python/pyspark/pandas/tests/diff_frames_ops/__init__.py
  python/pyspark/pandas/tests/diff_frames_ops/test_align.py
  python/pyspark/pandas/tests/diff_frames_ops/test_basic_slow.py
  python/pyspark/pandas/tests/diff_frames_ops/test_cov_corrwith.py
  python/pyspark/pandas/tests/diff_frames_ops/test_dot_frame.py
  python/pyspark/pandas/tests/diff_frames_ops/test_dot_series.py
  python/pyspark/pandas/tests/diff_frames_ops/test_index.py
  python/pyspark/pandas/tests/diff_frames_ops/test_series.py
  python/pyspark/pandas/tests/diff_frames_ops/test_setitem_frame.py
  python/pyspark/pandas/tests/diff_frames_ops/test_setitem_series.py
  python/pyspark/pandas/tests/test_ops_on_diff_frames_slow.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43932][SQL][PYTHON][CONNECT] Add `current` like functions to Scala and Python
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_curdate.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_current_catalog.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_current_database.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_current_schema.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_current_timezone.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_current_user.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_user.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_curdate.json
  connector/connect/common/src/test/resources/query-tests/queries/function_curdate.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_current_catalog.json
  connector/connect/common/src/test/resources/query-tests/queries/function_current_catalog.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_current_database.json
  connector/connect/common/src/test/resources/query-tests/queries/function_current_database.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_current_schema.json
  connector/connect/common/src/test/resources/query-tests/queries/function_current_schema.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_current_timezone.json
  connector/connect/common/src/test/resources/query-tests/queries/function_current_timezone.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_current_user.json
  connector/connect/common/src/test/resources/query-tests/queries/function_current_user.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_user.json
  connector/connect/common/src/test/resources/query-tests/queries/function_user.proto.bin
  python/docs/source/reference/pyspark.sql/functions.rst
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/DateFunctionsSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-39979][SQL][FOLLOW-UP] Make `spark.sql.execution.arrow.useLargeVarTypes` as an internal configuration
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
Due: language-matters

[SPARK-43645][SPARK-43622][PS][CONNECT] Enable `pyspark.pandas.spark.functions.{var, stddev}` in Spark Connect
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/pandas/spark/functions.py
  python/pyspark/pandas/tests/connect/frame/test_parity_constructor.py
  python/pyspark/pandas/tests/connect/groupby/test_parity_missing_data.py
  python/pyspark/pandas/tests/connect/groupby/test_parity_stat.py
  python/pyspark/pandas/tests/connect/test_parity_generic_functions.py
  python/pyspark/pandas/tests/connect/test_parity_stats.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44047][CONNECT][BUILD] Upgrade google guava for connect from 31.0.1-jre to 32.0.1-jre
  pom.xml
Due: language-matters

[SPARK-44055][CORE] Remove redundant `override` functions from `CheckpointRDD`
  core/src/main/scala/org/apache/spark/rdd/CheckpointRDD.scala
Due: language-matters

[SPARK-43663][CONNECT][PS] Enable `SeriesParityTests.test_compare`
  python/pyspark/pandas/frame.py
  python/pyspark/pandas/tests/connect/series/test_parity_compute.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43981][PYTHON][ML] Basic saving / loading implementation for ML on spark connect
  mllib/src/main/scala/org/apache/spark/ml/python/MLUtil.scala
  python/pyspark/ml/torch/distributor.py
  python/pyspark/ml/util.py
  python/pyspark/mlv2/classification.py
  python/pyspark/mlv2/evaluation.py
  python/pyspark/mlv2/feature.py
  python/pyspark/mlv2/io_utils.py
  python/pyspark/mlv2/summarizer.py
  python/pyspark/mlv2/tests/connect/test_parity_classification.py
  python/pyspark/mlv2/tests/test_classification.py
  python/pyspark/mlv2/tests/test_feature.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44053][BUILD] Update ORC to 1.8.4
  dev/deps/spark-deps-hadoop-3-hive-2.3
  pom.xml
Due: language-matters

[SPARK-44021][SQL] Add spark.sql.files.maxPartitionNum
  docs/sql-performance-tuning.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FilePartition.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/FileSourceStrategySuite.scala
Due: language-matters, provider-yamls, markdownlint

[SPARK-44048][DOCS] Remove sql-migration-old.md
  docs/_data/menu-sql.yaml
  docs/sql-migration-old.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-43937][CONNECT][PYTHON] Add ifnull,isnotnull,equal_null,nullif,nvl,nvl2 to Scala and Python
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/client/jvm/src/test/scala/org/apache/spark/sql/PlanGenerationTestSuite.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_equal_null.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_ifnull.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_isnotnull.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_nullif.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_nvl.explain
  connector/connect/common/src/test/resources/query-tests/explain-results/function_nvl2.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_equal_null.json
  connector/connect/common/src/test/resources/query-tests/queries/function_equal_null.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_ifnull.json
  connector/connect/common/src/test/resources/query-tests/queries/function_ifnull.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_isnotnull.json
  connector/connect/common/src/test/resources/query-tests/queries/function_isnotnull.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_nullif.json
  connector/connect/common/src/test/resources/query-tests/queries/function_nullif.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_nvl.json
  connector/connect/common/src/test/resources/query-tests/queries/function_nvl.proto.bin
  connector/connect/common/src/test/resources/query-tests/queries/function_nvl2.json
  connector/connect/common/src/test/resources/query-tests/queries/function_nvl2.proto.bin
  python/docs/source/reference/pyspark.sql/functions.rst
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DataFrameFunctionsSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-44072][DOCS] Update insert table docs for incorrect sql example
  docs/sql-ref-syntax-dml-insert-table.md
Due: language-matters, provider-yamls, markdownlint

[SPARK-43975][SQL] DataSource V2: Handle UPDATE commands for group-based sources
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteUpdateTable.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/planning/patterns.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/connector/catalog/InMemoryBaseTable.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/GroupBasedRowLevelOperationScanPlanning.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/RowLevelOperationRuntimeGroupFiltering.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/GroupBasedUpdateTableSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/UpdateTableSuiteBase.scala
Due: language-matters

[SPARK-44051][TESTS][PS][CONNECT] Split `pyspark.pandas.tests.connect.data_type_ops.test_parity_num_ops`
  dev/sparktestsupport/modules.py
  python/pyspark/pandas/tests/connect/data_type_ops/test_parity_num_arithmetic.py
  python/pyspark/pandas/tests/connect/data_type_ops/test_parity_num_reverse.py
  python/pyspark/pandas/tests/data_type_ops/test_num_arithmetic.py
  python/pyspark/pandas/tests/data_type_ops/test_num_ops.py
  python/pyspark/pandas/tests/data_type_ops/test_num_reverse.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43627][SPARK-43626][PS][CONNECT] Enable `pyspark.pandas.spark.functions.{kurt, skew}` in Spark Connect
  connector/connect/server/src/main/scala/org/apache/spark/sql/connect/planner/SparkConnectPlanner.scala
  python/pyspark/pandas/spark/functions.py
  python/pyspark/pandas/tests/connect/test_parity_expanding.py
  python/pyspark/pandas/tests/connect/test_parity_generic_functions.py
  python/pyspark/pandas/tests/connect/test_parity_rolling.py
  python/pyspark/pandas/tests/connect/test_parity_stats.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-43941][PYTHON][TESTS][FOLLOWUP] Doctest clean up
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-42750][SQL][FOLLOWUP] Add INSERT OVERWRITE BY NAME statement
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLInsertTestSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/HiveSQLInsertTestSuite.scala
Due: language-matters
