Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-openapi, lint-dockerfile, setup-order, setup-extra-packages, update-breeze-file, update-local-yml-file, update-setup-cfg-file, build-providers-dependencies, update-extras, pydevd, dont-use-safe-filter, no-providers-in-core-examples, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, restrict-start_date, check-integrations, check-apache-license, airflow-config-yaml, sort-in-the-wild, helm-lint, shellcheck, bats-tests, stylelint, provider-yamls, mermaid, pre-commit-descriptions, pre-commit-hook-names, airflow-providers-available, markdownlint, json-schema, mypy, pylint, flake8, bats-in-container-tests

Path conditions:
  lint-openapi: any of: ^airflow/api_connexion/openapi/
  lint-dockerfile: any of: Dockerfile.*$
  setup-order: any of: ^setup.py$|^setup.cfg$
  setup-extra-packages: any of: ^setup.py$|^docs/apache-airflow/extra-packages-ref.rst$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  update-local-yml-file: any of: ^scripts/ci/libraries/_local_mounts.sh$|s^scripts/ci/docker_compose/local.yml"
  update-setup-cfg-file: any of: ^setup.cfg$
  build-providers-dependencies: any of: ^airflow/providers/.*\.py$|^tests/providers/.*\.py$
  update-extras: any of: ^setup.py$|^INSTALL$|^CONTRIBUTING.rst$
  pydevd: any of: \.py$
  dont-use-safe-filter: any of: \.html$
  no-providers-in-core-examples: any of: ^airflow/example_dags/.*\.py$
  no-relative-imports: any of: \.py$, but not: ^tests/
  language-matters: any file but: (?x) ^airflow/providers/apache/cassandra/hooks/cassandra.py$| ^airflow/providers/apache/hive/operators/hive_stats.py$| ^airflow/providers/apache/hive/.*PROVIDER_CHANGES_*| ^airflow/providers/apache/hive/.*README.md$| ^tests/providers/apache/cassandra/hooks/test_cassandra.py$| ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$| ^CHANGELOG.txt$

  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^dev/provider_packages/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$
)
  provide-create-sessions: any of: \.py$
  incorrect-use-of-LoggingMixin: any of: \.py$
  daysago-import-check: any of: \.py$
  restrict-start_date: any of: \.*example_dags.*.py$
  check-integrations: any of: ^common/_common_values.sh$|^breeze-complete$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  airflow-config-yaml: any of: config.yml$|default_airflow.cfg$|default.cfg$
  sort-in-the-wild: any of: ^.pre-commit-config.yaml$|^INTHEWILD.md$
  helm-lint: any of: ^chart
  shellcheck: any of: ^breeze$|^breeze-complete$|\.sh$|^hooks/build$|^hooks/push$|\.bash$|\.bats$
  bats-tests: (any of: ^breeze$|^breeze-complete$|^tests/bats/breeze) or (any of: \.sh$|\.bash$|\.bats$, but not: ^tests/bats/in_container|^scripts/in_container|^tests/bats/breeze)
  stylelint: any of: ^airflow/www/.*\.(css|scss|sass)$
  provider-yamls: any of: provider.yaml$|scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py$|^docs/
  mermaid: any of: \.mermaid$
  pre-commit-descriptions: any of: ^.pre-commit-config.yaml$|^STATIC_CODE_CHECKS.rst|^breeze-complete$
  pre-commit-hook-names: any of: ^.pre-commit-config.yaml$
  airflow-providers-available: any of: setup.py|^airflow/providers/.*.py
  markdownlint: any of: \.(md|mdown|markdown)$ and \.(md|markdown|mdown)$
  json-schema: ((((any of: (?x) ^airflow/provider.yaml.schema.json$| ^airflow/config_templates/config.yml.schema.json$| ^airflow/serialization/schema.json$
) or (any of: scripts/ci/kubernetes/nodeport.yaml)) or (any of: scripts/ci/docker-compose/.+.yml)) or (any of: chart/values.yaml$)) or (any of: airflow/config_templates/config.yml$)
  mypy: ((any of: \.py$, but not: ^dev|^provider_packages|^chart|^docs) or (any of: ^chart/.*\.py$)) or (any of: ^docs/.*\.py$, but not: rtd-deprecation)
  pylint: (any of: \.py$, but not: ^scripts/.*\.py$|^dev|^provider_packages|^chart) or (any of: ^chart/.*\.py$)
  flake8: any of: \.py$
  bats-in-container-tests: any of: ^tests/bats/in_container/.*.bats$|^scripts/in_container/.*sh

[SPARK-45168][PYTHON][FOLLOWUP] Add migration guide for Pandas minimum version upgrade
  python/docs/source/migration_guide/pyspark_upgrade.rst
Due: language-matters

[SPARK-45078][SQL] Fix `array_insert` ImplicitCastInputTypes not work
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/core/src/test/resources/sql-tests/analyzer-results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/analyzer-results/array.sql.out
  sql/core/src/test/resources/sql-tests/inputs/array.sql
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
Due: language-matters

[SPARK-45180][PS] Remove boolean inputs for `inclusive` parameter from `Series.between`
  python/docs/source/migration_guide/pyspark_upgrade.rst
  python/pyspark/pandas/series.py
  python/pyspark/pandas/tests/series/test_compute.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45187][CORE] Fix WorkerPage to use the same pattern for `logPage` query parameters
  core/src/main/scala/org/apache/spark/deploy/worker/ui/WorkerPage.scala
Due: language-matters

Update other places
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
  python/pyspark/pandas/sql_formatter.py
  python/pyspark/sql/session.py
  sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45167][CONNECT][PYTHON] Python client must call `release_all`
  python/pyspark/sql/connect/client/core.py
  python/pyspark/sql/connect/client/reattach.py
  python/pyspark/sql/tests/connect/client/test_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45078][SQL] Fix `array_insert` ImplicitCastInputTypes not work
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/collectionOperations.scala
  sql/core/src/test/resources/sql-tests/inputs/array.sql
  sql/core/src/test/resources/sql-tests/results/ansi/array.sql.out
  sql/core/src/test/resources/sql-tests/results/array.sql.out
Due: language-matters

investigate root cause sbt
  build/sbt-launch-1.9.6.jar
  project/build.properties
Due: language-matters

investigate root cause sbt
  project/plugins.sbt
Due: language-matters

[SPARK-45187][CORE] Fix `WorkerPage` to use the same pattern for `logPage` urls
  core/src/main/scala/org/apache/spark/deploy/worker/ui/WorkerPage.scala
Due: language-matters

Reformat
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/SparkSession.scala
Due: language-matters

[SPARK-45034][SQL] Support deterministic mode function
  connector/connect/client/jvm/src/main/scala/org/apache/spark/sql/functions.scala
  connector/connect/common/src/test/resources/query-tests/explain-results/function_mode.explain
  connector/connect/common/src/test/resources/query-tests/queries/function_mode.json
  connector/connect/common/src/test/resources/query-tests/queries/function_mode.proto.bin
  python/pyspark/sql/connect/functions.py
  python/pyspark/sql/functions.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/aggregate/Mode.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/resources/sql-functions/sql-expression-schema.md
  sql/core/src/test/resources/sql-tests/analyzer-results/group-by.sql.out
  sql/core/src/test/resources/sql-tests/inputs/group-by.sql
  sql/core/src/test/resources/sql-tests/results/group-by.sql.out
  sql/core/src/test/scala/org/apache/spark/sql/DatasetAggregatorSuite.scala
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, markdownlint, mypy, pylint, flake8

optimize listStatus with PathFilter and nits
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/Client.scala
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/config.scala
  resource-managers/yarn/src/test/scala/org/apache/spark/deploy/yarn/ClientSuite.scala
Due: language-matters

python lint error fix
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/dsl/package.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/TransposeWindowSuite.scala
Due: language-matters

fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
Due: language-matters

fix linter
  python/pyspark/pandas/plot/matplotlib.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

adjust constructors
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/PullOutNondeterministic.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
Due: language-matters

ee
  python/docs/source/migration_guide/pyspark_upgrade.rst
Due: language-matters

restore the chnage
  python/pyspark/pandas/tests/computation/test_compute.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

move test
  dev/sparktestsupport/modules.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, flake8

Use lighter threading Rlock, and use the existing eventually utility
  python/pyspark/sql/connect/client/reattach.py
  python/pyspark/sql/tests/connect/client/test_client.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

Added tracking jira for StructType schema parsing error in test_connect_function
  python/pyspark/sql/tests/connect/test_connect_function.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

investigate root cause sbt
  build/sbt-launch-1.9.6.jar
Due: language-matters

[SPARK-45184][SQL][DOCS][TESTS] Remove orphaned error class documents
  core/src/test/scala/org/apache/spark/SparkThrowableSuite.scala
  docs/sql-error-conditions-incompatible-data-to-table-error-class.md
  docs/sql-error-conditions-unsupported-temp-view-operation-error-class.md
Due: language-matters, provider-yamls, markdownlint

update
  python/pyspark/ml/tests/connect/test_legacy_mode_classification.py
  python/pyspark/ml/tests/connect/test_legacy_mode_feature.py
  python/pyspark/ml/tests/connect/test_legacy_mode_pipeline.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

init
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

test scala 2.13
  .github/workflows/build_and_test.yml
Due: language-matters

[SPARK-45192][UI] Fix overdue lineInterpolate parameter for graphviz edge
  core/src/main/resources/org/apache/spark/ui/static/spark-dag-viz.js
  sql/core/src/main/resources/org/apache/spark/sql/execution/ui/static/spark-sql-viz.js
Due: language-matters

add sort_array
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

investigate root cause sbt
  build/sbt-launch-1.9.6.jar
  build/sbt-launch-lib.bash
  project/plugins.sbt
Due: language-matters, shellcheck, bats-tests

fix order
  python/pyspark/sql/functions.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8

[SPARK-45189][SQL] Creating UnresolvedRelation from TableIdentifier should include the catalog field
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/unresolved.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/PlanParserSuite.scala
Due: language-matters

[SPARK-45179][DOCS][FOLLOWUP] Add migration guide for Numpy minimum version upgrade
  python/docs/source/migration_guide/pyspark_upgrade.rst
Due: language-matters

fix
  python/pyspark/pandas/tests/computation/test_compute.py
  python/pyspark/pandas/tests/connect/computation/test_parity_compute.py
Due: pydevd, no-relative-imports, language-matters, consistent-pylint, base-operator, provide-create-sessions, incorrect-use-of-LoggingMixin, daysago-import-check, mypy, pylint, flake8
