Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, check-apache-license, mypy, pylint, pylint-tests, flake8, airflow-config-yaml

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$

[SPARK-30507][SQL] TableCalalog reserved properties shoudn't be changed via options or tblpropeties
  docs/sql-migration-guide.md
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveCatalogs.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Util.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/command/ddl.scala
  sql/core/src/test/scala/org/apache/spark/sql/connector/DataSourceV2SQLSuite.scala
Due: none

[SPARK-30524][SQL] Disable OptimizeSkewedJoin rule when introducing additional shuffle
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/AdaptiveSparkPlanExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/adaptive/OptimizeSkewedJoin.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/joins/SortMergeJoinExec.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/adaptive/AdaptiveQueryExecSuite.scala
Due: none

change executor to use DEFAULT profile rather then UNKNOWN
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
Due: none

tmp
  sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBase.g4
  sql/catalyst/src/main/java/org/apache/spark/sql/connector/catalog/TableCatalog.java
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/catalog/interface.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateTableExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DescribeNamespaceExec.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/V2SessionCatalog.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveClientImpl.scala
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveShim.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
Due: none

[AIRFLOW-6568] Add Emacs related files to .gitignore (#7175)
  .gitignore
Due: none

[AIRFLOW-XXXX] Move email configuration from the concept page (#7189)
  docs/concepts.rst
  docs/howto/email-config.rst
  docs/howto/index.rst
Due: none

Implement using match expression
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
Due: none

addressed review comment
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
Due: none

Add codegenid to the scope of the node name for WholeStageCodegenExec nodes
  sql/core/src/main/scala/org/apache/spark/sql/execution/SparkPlan.scala
Due: none

Typos.
  docs/web-ui.md
Due: none

added documentation
  docs/img/AllStagesPageDetail4.png
  docs/img/AllStagesPageDetail5.png
  docs/img/JobPageDetail2.png
  docs/web-ui.md
Due: none

[AIRFLOW-5501] Make default `in_cluster` value in KubernetesPodOperator respect config (#6124)
  airflow/contrib/operators/kubernetes_pod_operator.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Add a test
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
Due: none

[SPARK-30512] Added a dedicated boss thread event loop to avoid delay in channel registration
  common/network-common/src/main/java/org/apache/spark/network/server/TransportServer.java
Due: none

Use checkAnswer() in the test
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
Due: none

Bug fix
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/csv/UnivocityParser.scala
Due: none

Refactor the test
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/csv/CSVSuite.scala
Due: none

Add classes to represent Java Regressors and RegressionModels
  python/pyspark/ml/regression.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Fix style
  python/pyspark/ml/regression.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[SPARK-29708][SQL][2.4] Correct aggregated values when grouping sets are duplicated
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/basicLogicalOperators.scala
  sql/core/src/test/resources/sql-tests/inputs/grouping_set.sql
  sql/core/src/test/resources/sql-tests/results/grouping_set.sql.out
Due: none

[SPARK-29950][K8S] Blacklist deleted executors in K8S with dynamic allocation
  core/src/main/scala/org/apache/spark/executor/CoarseGrainedExecutorBackend.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedClusterMessage.scala
  core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala
  core/src/test/scala/org/apache/spark/deploy/StandaloneDynamicAllocationSuite.scala
  core/src/test/scala/org/apache/spark/scheduler/CoarseGrainedSchedulerBackendSuite.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsAllocator.scala
  resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/k8s/KubernetesClusterSchedulerBackend.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/DeterministicExecutorPodsSnapshotsStore.scala
  resource-managers/kubernetes/core/src/test/scala/org/apache/spark/scheduler/cluster/k8s/ExecutorPodsAllocatorSuite.scala
Due: none

[AIRFLOW-3607] Only query DB once per DAG run for TriggerRuleDep (#4751)
  airflow/jobs/scheduler_job.py
  airflow/models/dagrun.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagrun.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

initial checkin
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveCatalogs.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/v2ResolutionPlans.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statements.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/v2Commands.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/connector/catalog/CatalogV2Util.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DataSourceV2Strategy.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/command/PlanResolutionSuite.scala
Due: none

[SPARK-30534][INFRA] Use mvn in `dev/scalastyle`
  dev/scalastyle
Due: none

Move test source into source
  pom.xml
Due: none

Update runtime configuration command.
  docs/configuration.md
Due: none

use flag
  core/src/test/scala/org/apache/spark/resource/ResourceProfileSuite.scala
  pom.xml
Due: none

clean up
  core/src/test/scala/org/apache/spark/resource/ResourceProfileSuite.scala
Due: none

fix merge
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/parser/DDLParserSuite.scala
Due: none

address comments
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
  sql/core/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveSessionCatalog.scala
Due: none

[SPARK-30534][INFRA] Use mvn in `dev/scalastyle`
  dev/scalastyle
  pom.xml
Due: none

[SPARK-30534][INFRA] Use mvn in `dev/scalastyle`
  dev/scalastyle
  external/docker-integration-tests/src/test/scala/org/apache/spark/sql/jdbc/OracleIntegrationSuite.scala
  pom.xml
Due: none

[MINOR][ML] Change DecisionTreeClassifier to FMClassifier in OneVsRest setWeightCol test
  mllib/src/test/scala/org/apache/spark/ml/classification/OneVsRestSuite.scala
  python/pyspark/ml/tests/test_algorithms.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Explicitly disable Arrow execution for the test of toPandas empty types
  python/pyspark/sql/tests/test_dataframe.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[SPARK-30499][SQL] Remove SQL config spark.sql.execution.pandas.respectSessionTimeZone
  python/pyspark/sql/pandas/conversion.py
  python/pyspark/sql/tests/test_arrow.py
  python/pyspark/sql/tests/test_pandas_udf_scalar.py
  sql/catalyst/src/main/scala/org/apache/spark/sql/internal/SQLConf.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/util/ArrowUtils.scala
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8
