Repository apache/spark: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, check-apache-license, mypy, pylint, pylint-tests, flake8, airflow-config-yaml

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml
  language: python
  additional_dependencies:
  - yamllint

lint-dockerfile:
  name: Lint dockerfile
  language: system
  entry: ./scripts/ci/pre_commit_lint_dockerfile.sh
  pass_filenames: true

isort:
  name: Run isort to sort imports
  language: python
  entry: isort
  additional_dependencies:
  - isort

setup-order:
  name: Checks for an order of dependencies in setup.py
  language: python
  pass_filenames: false
  require_serial: true
  entry: tests/test_order_setup.py

update-breeze-file:
  name: Update output of breeze command in BREEZE.rst
  entry: ./scripts/ci/pre_commit_breeze_cmd_line.sh
  language: system
  pass_filenames: false
  require_serial: true

pydevd:
  language: pygrep
  name: Check for pydevd debug statements accidentally left
  entry: pydevd.*settrace\(
  pass_filenames: true

consistent-pylint:
  language: pygrep
  name: Check for inconsitent pylint disable/enable without space
  entry: pylint:disable|pylint:enable
  pass_filenames: true

base-operator:
  language: pygrep
  name: Make sure BaseOperator[Link] is imported from airflow.models outside of core
  entry: from airflow\.models\.baseoperator import.* BaseOperator
  pass_filenames: true

provide-create-sessions:
  language: pygrep
  name: Make sure provide_session and create_session are imported from airflow.utils.session
  entry: from airflow\.utils\.db import.* (provide_session|create_session)
  pass_filenames: true

check-apache-license:
  name: Check if licenses are OK for Apache
  entry: ./scripts/ci/pre_commit_check_license.sh
  language: system
  pass_filenames: false
  require_serial: true

mypy:
  name: Run mypy
  language: system
  entry: ./scripts/ci/pre_commit_mypy.sh
  pass_filenames: true

pylint:
  name: Run pylint for main sources
  language: system
  entry: ./scripts/ci/pre_commit_pylint_main.sh
  pass_filenames: true
  require_serial: true

pylint-tests:
  name: Run pylint for tests
  language: system
  entry: ./scripts/ci/pre_commit_pylint_tests.sh
  pass_filenames: true
  require_serial: false

flake8:
  name: Run flake8
  language: system
  entry: ./scripts/ci/pre_commit_flake8.sh
  pass_filenames: true

airflow-config-yaml:
  name: Checks for consistency between config.yml and default_config.cfg
  language: python
  pass_filenames: false
  require_serial: false
  entry: scripts/ci/pre_commit_yaml_to_cfg.py
  additional_dependencies:
  - pyyaml

[SPARK-31859][SPARK-31861][FOLLOWUP] Fix typo in tests
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2Suites.scala
Due: none

[AIRFLOW-3607] Optimize dep checking when depends on past set and concurrency limit
  airflow/models/dagrun.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[SPARK-31867][SQL][FOLLOWUP] Check result differences for datetime formatting
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateFormatter.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/TimestampFormatterSuite.scala
Due: none

fix StackOverflowError in FileScanRDD
  sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/FileScanRDD.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/datasources/FileScanRDDSuite.scala
Due: none

style
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/util/TimestampFormatterSuite.scala
Due: none

style
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateFormatter.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
Due: none

Add a test to CliSuite
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
Due: none

submit to local
  python/pyspark/sql/functions.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[SPARK-31914][SQL][Test][test-hive1.2][test-java11] Apply SharedThriftServer to all ThriftServer related tests
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2Suites.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/JdbcConnectionUriSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SharedThriftServer.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SparkMetadataOperationSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SparkThriftServerProtocolVersionsSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerQueryTestSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/ThriftServerWithSparkContextSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/UISeleniumSuite.scala
Due: none

update
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2Suites.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/JdbcConnectionSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/JdbcConnectionUriSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SharedThriftServer.scala
Due: none

[SPARK-31910][SQL] Enable Java 8 time API in Thrift server
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLEnv.scala
  sql/hive-thriftserver/src/main/scala/org/apache/spark/sql/hive/thriftserver/SparkSQLSessionManager.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/CliSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2Suites.scala
Due: none

Add 'main' param to template_fields in DataprocSubmitPySparkJobOperator (#9154)
  airflow/providers/google/cloud/operators/dataproc.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

[AIRFLOW-5500] Fix the trigger_dag api in the case of nested subdags
  airflow/api/common/experimental/trigger_dag.py
  tests/api/common/experimental/test_trigger_dag.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

[MINOR][SS][DOCS] fileNameOnly parameter description re-unite
  docs/structured-streaming-programming-guide.md
Due: none

fix tests
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/HiveThriftServer2Suites.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/JdbcConnectionSuite.scala
  sql/hive-thriftserver/src/test/scala/org/apache/spark/sql/hive/thriftserver/SharedThriftServer.scala
Due: none

extend functions and use new functions
  docs/sql-migration-guide.md
  python/pyspark/sql/dataframe.py
  python/pyspark/sql/tests/test_dataframe.py
  sql/core/src/main/scala/org/apache/spark/sql/Column.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/core/src/test/scala/org/apache/spark/sql/DateFunctionsSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/SQLQueryTestSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/StatisticsCollectionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/MicroBatchExecutionSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/execution/streaming/sources/ForeachWriterSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/expressions/ExpressionInfoSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/EventTimeWatermarkSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FileStreamSinkSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/FlatMapGroupsWithStateSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingAggregationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingDeduplicationSuite.scala
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingJoinSuite.scala
  sql/hive/compatibility/src/test/scala/org/apache/spark/sql/hive/execution/HiveCompatibilitySuite.scala
  sql/hive/src/test/resources/ql/src/test/queries/clientpositive/timestamp_3.q
  sql/hive/src/test/resources/ql/src/test/queries/clientpositive/vectorized_casts.q
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveUDFSuite.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/SQLQuerySuite.scala
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

fix code style.etc
  sql/core/src/main/scala/org/apache/spark/sql/Column.scala
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/hive/src/test/resources/ql/src/test/queries/clientpositive/vectorized_casts.q
Due: none

Add 3.8 to the test matrices (#8836)
  .github/workflows/ci.yml
  BREEZE.rst
  Dockerfile.ci
  README.md
  airflow/__init__.py
  airflow/providers/google/cloud/hooks/text_to_speech.py
  breeze
  breeze-complete
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.8.txt
  requirements/setup-3.7.md5
  requirements/setup-3.8.md5
  setup.py
  tests/providers/apache/hive/operators/test_mssql_to_hive.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/operators/test_mssql_to_gcs.py
  tests/providers/microsoft/mssql/operators/test_mssql.py
  tests/test_core_to_contrib.py
Due: yamllint, lint-dockerfile, isort, setup-order, update-breeze-file, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, pylint-tests, flake8

fix code style
  sql/core/src/test/scala/org/apache/spark/sql/streaming/StreamingJoinSuite.scala
Due: none

Fix toPandas with Arrow enabled to show metrics in Query UI.
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: none

Fix typo. 'Depreciation' to 'deprecation'. (#9160)
  tests/providers/google/cloud/operators/test_dataproc.py
Due: isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint-tests, flake8

Fix typo
  resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/Client.scala
Due: none

[SPARK-31904][SQL] Fix case sensitive problem of char and varchar partition columns
  sql/hive/src/main/scala/org/apache/spark/sql/hive/client/HiveShim.scala
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveDDLSuite.scala
Due: none

fix doc format.etc
  docs/sql-migration-guide.md
  sql/core/src/main/scala/org/apache/spark/sql/functions.scala
  sql/hive/src/test/resources/ql/src/test/queries/clientpositive/vectorized_casts.q
Due: none

fix testcase error
  sql/core/src/test/resources/sql-tests/inputs/udf/udf-window.sql
  sql/core/src/test/resources/sql-tests/inputs/window.sql
Due: none

failed test case
  sql/core/src/test/resources/sql-tests/results/udf/udf-window.sql.out
  sql/core/src/test/resources/sql-tests/results/window.sql.out
Due: none

Preparing Spark release v3.0.0-rc3
  R/pkg/DESCRIPTION
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  docs/_config.yml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  python/pyspark/version.py
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Due: yamllint, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Preparing development version 3.0.1-SNAPSHOT
  R/pkg/DESCRIPTION
  assembly/pom.xml
  common/kvstore/pom.xml
  common/network-common/pom.xml
  common/network-shuffle/pom.xml
  common/network-yarn/pom.xml
  common/sketch/pom.xml
  common/tags/pom.xml
  common/unsafe/pom.xml
  core/pom.xml
  docs/_config.yml
  examples/pom.xml
  external/avro/pom.xml
  external/docker-integration-tests/pom.xml
  external/kafka-0-10-assembly/pom.xml
  external/kafka-0-10-sql/pom.xml
  external/kafka-0-10-token-provider/pom.xml
  external/kafka-0-10/pom.xml
  external/kinesis-asl-assembly/pom.xml
  external/kinesis-asl/pom.xml
  external/spark-ganglia-lgpl/pom.xml
  graphx/pom.xml
  hadoop-cloud/pom.xml
  launcher/pom.xml
  mllib-local/pom.xml
  mllib/pom.xml
  pom.xml
  python/pyspark/version.py
  repl/pom.xml
  resource-managers/kubernetes/core/pom.xml
  resource-managers/kubernetes/integration-tests/pom.xml
  resource-managers/mesos/pom.xml
  resource-managers/yarn/pom.xml
  sql/catalyst/pom.xml
  sql/core/pom.xml
  sql/hive-thriftserver/pom.xml
  sql/hive/pom.xml
  streaming/pom.xml
  tools/pom.xml
Due: yamllint, isort, pydevd, consistent-pylint, base-operator, provide-create-sessions, mypy, pylint, flake8

Push more predicates through join
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
Due: none

[AIRFLOW-XXXX] remove vestigial sentence fragment in changelog (#8864)
  CHANGELOG.txt
Due: none

push down extra preicates trough join
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/Optimizer.scala
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/PushPredicateThroughJoin.scala
Due: none

test cases from Yuming
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/optimizer/FilterPushdownSuite.scala
Due: none

[SPARK-31903][SQL][PYSPARK][2.4] Fix toPandas with Arrow enabled to show metrics in Query UI
  sql/core/src/main/scala/org/apache/spark/sql/Dataset.scala
Due: none

fix testcase error
  sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/datetimeExpressions.scala
  sql/catalyst/src/test/scala/org/apache/spark/sql/catalyst/expressions/DateExpressionsSuite.scala
  sql/hive/src/test/resources/ql/src/test/queries/clientpositive/decimal_1.q
  sql/hive/src/test/scala/org/apache/spark/sql/hive/execution/HiveQuerySuite.scala
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^.*init_git_sync\.template\.yaml$|^.*airflow\.template\.yaml$
  lint-dockerfile: any of: ^Dockerfile.*$
  isort: any of: \.py$, but not: ^airflow/_vendor/.*$|^build/.*$|^.tox/.*$|^venv/.*$
  setup-order: any of: ^setup.py$
  update-breeze-file: any of: ^BREEZE.rst$|^breeze$|^breeze-complete$
  pydevd: any of: \.py$
  consistent-pylint: any of: \.py$
  base-operator: (any of: \.py$, but not: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*$| ^airflow/contrib/.*$
) or (any of: (?x) ^airflow/gcp/.*$| ^airflow/hooks/.*$| ^airflow/operators/.*$| ^airflow/sensors/.*$| ^airflow/providers/.*\.py$| ^airflow/contrib/.*\.py$
)
  provide-create-sessions: any of: \.py$
  check-apache-license: any of: ^.*LICENSE.*$|^.*LICENCE.*$
  mypy: any of: \.py$, but not: ^airflow/_vendor/.*$
  pylint: any of: \.py$, but not: ^tests/.*\.py$|^airflow/_vendor/.*|^scripts/.*\.py$
  pylint-tests: any of: ^tests/.*\.py$
  flake8: any of: \.py$
  airflow-config-yaml: any of: ^airflow/config_templates/config.yml$|^airflow/config_templates/default_airflow.cfg$
